
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">CHEDD</h1>

   
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      
      <div class="govuk-tabs__panel" id="part-1">
        <h2 class="govuk-heading-l">Part 1 - Importer</h2>
        
   

        <div class="govuk-!-padding-bottom-4">
          <h3 class="govuk-heading-m">Baseline EU & ROW Single CHED - March 2024</h3>
        
          <p>Responsible UX: Kanisha</p>
        
        
          <p class='govuk-body'><a href="part1/0-index.html">Dashboard</a></p>
          <p class='govuk-body'><a href="part-1-chedd-single/01-ac-01-importing">What are you importing</a></p>
          <p class="govuk-body"><a href="part-1-chedd-single/01-no-check-answers">Notification hub</a></p>
          <p class="govuk-body"><a href="part-1-chedd-single/20-submitted-inspection-not-required.html">inspection-not-required-confirmation-panel</a></p>
          <p class="govuk-body"><a href="part-1-chedd-single/20-submitted-inspection-required-entry.html">inspection-required-confirmation-panel</a></p>
          <hr>
        </div>
     
     
      
    
     
 


 
{% endblock %}
