
{% extends "layout.html" %}

{% block pageTitle %}
Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
    
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Pig</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="/notification/vnet/protected/notifications/address-book">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row" id="confirmation-page">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">
          Your notification has been submitted
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br>
          <strong>
            <span id="reference-number">CHEDD.GB.2023.5501422</span>
                <span id="cved-version-number"> - V1</span>
          </strong>
        </div>
      </div>
      <input class="govuk-button govuk-button--secondary govuk-!-margin-right-1 govuk-!-margin-bottom-1" id="save-and-return-button-p" name="save-and-return-button-p" type="submit" value="Copy reference number" data-module="govuk-button">

      <h2 class="govuk-heading-m">What happens next</h2>
      <div class="govuk-warning-text govuk-!-margin-bottom-2">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          The Goods Vehicle Movement Service (GVMS) will notify the driver about all inspections needed for your goods.
        </strong>
      </div>
      <p class="govuk-body">The driver must check the GVMS if an inspection is required before they disembark.</p>

        <div>
          <a href="0-index-post-submit" class="govuk-link govuk-!-font-size-19" id="manage-notifications">
            Return to your dashboard
          </a>
        </div>
        <div>
          <form action="01-ched-type" method="post" id="homeForm">
          <input class="link-button" type="submit" name="new-notification" value="Create a new import notification">
          </form>
        </div>

      </form>

    </div>
  </div>
</main>






{% endblock %}
