
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl">Add no-show flag to desision hub</h1>
    
    <div class="govuk-!-margin-bottom-4 govuk-!-padding-4 govuk-!-width-one-third" style="background-color: #f6f6f6;">
          
      <p>Feb 2025</p>
      <p>UX: Tarik Johnston</p>
      
    </div>
    <p class="govuk-body"><a href="00-dashboard">00--Dashboard</a></p>
    <p class="govuk-body"><a href="02-Decision-hub">02-decision-hub</a></p>
    <p class="govuk-body"><a href="03-confirm-no-show">03-Confirm-no-show</a></p>
    <p class="govuk-body"><a href="04-decision-hub-no-show.html">04-Confirm-no-show</a></p>

   
    
  </div>
   
{% endblock %}
