
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<meta http-equiv="refresh" content="7; url='5-upload-error'" />

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
    <a href="review-1" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Plants</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="/notification/vnet/protected/notifications/address-book">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
</div>


<div class="govuk-!-padding-top-6" style="margin-bottom: 30px;">
    <span class="heading-tertiary">
        <span id="reference-number">DRAFT.GB.2021.1042077</span>
            <span> - CHEDPP</span>
    </span>
</div>



      

          
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="app-alert app-alert--info"><p class="govuk-body">Upload in progress...</p></div>
        <form action="/form-handler" method="post" novalidate="">

          

          

          <div class="govuk-form-group  govuk-!-margin-bottom-9">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                    Upload details for multiple commodities at the same time
                </h1>
              </legend>
            </fieldset>

            <p class="govuk-body">
              
              Download and fill in the <a href="/public/images/APHA_phytosanitary_certificate_csv_template.csv" class="govuk-link govuk-link--no-visited-state" title="CSV template">csv template</a>. There are instructions in the template to show you what you need to include.
              
            </p>
            <p class="govuk-body">
                Open the csv file in Excel or whatever you use to edit spreadsheets. When you have finished, save the file and select Comma Separated Values (.csv) as the file format.
            </p>

            

<div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    Upload your completed csv file
  </label>


  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
</div>


          </div>

          

  

  
    
  

<a href="upload-completed" role="button" draggable="false" class="govuk-button govuk-button--disabled" data-module="govuk-button">
  Uploading...
</a>


        </form>
        <ul class="govuk-list govuk-list">
          <li>
          <a href="commodity-list-summary" class="govuk-link govuk-link-no-visited-state">Skip</a> (Page reloads after 10 seconds)
          </li>
        </ul>
      </div>
    </div>

        </main>

	





          <input name="fromImporterReview" type="hidden" value="true">
            <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-review-button" name="save-and-review-button" type="submit" value="Save and review" data-module="govuk-button">
      </form>
    </div>
  </div>

{% endblock %}
