{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/index">IPAFFS prototypes</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Accessibility
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Accessibility</h1>
    <h2 class="govuk-heading-m">Responsive pages</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="accompanying-documents-added">Accompanying documents – with documents added</a></li>
      <li><a href="address-search">Address search</a></li>
      <li><a href="approved-establishment-search">Approved establishment search</a></li>
      <li><a href="transporter-search">Transporter search</a></li>
      <li><a href="transporter-added">Transporter added</a></li>
    </ul>
  </div>
</div>

{% endblock %}