
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Prototypes home</a>
     <a href="../../start" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs govuk-!-margin-left-2">XCHED home</a>
     <a href="../index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs govuk-!-margin-left-2">Transit override - home</a>
   
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl">Transit override </h1>


 
    <h2 class="govuk-heading-l">Version 1</h2>  

        <div class="govuk-!-margin-bottom-4 govuk-!-padding-4 govuk-!-width-one-third" style="background-color: #f6f6f6;">
          
          <p>May 2024</p>
          <p>UX: Graham Riley</p>
          
          <p><a href="https://app.mural.co/t/defra5166/m/defra5166/1710156798518/d975aa5a1354e3dd8849b05fef1b82f7f042a66f?wid=0-1710163233193" target="_blank">Mural board flow</a></p>
        </div>

        <p class='govuk-body'>This was initial ideation</p>

        <h3 class="govuk-heading-m">CHED P</h3>
        
        <p class='govuk-body'><a href="chedp/0-index">Start - dashboard</a></p>
        <p class='govuk-body'><a href="chedp/03-origin-import">Origin of the import</a> &ndash; added CTC question</p>
        <p class='govuk-body'><a href="chedp/06-about-consignment-cg">Main reason for importing</a> &ndash; removed MRN from internal market and transit options</a></p>
        <p class='govuk-body'><a href="chedp/18-review">Review</a> &ndash; added answer to CTC question. If answer is 'yes', then displays MRN too</a></p>
       
          






       



{% endblock %}
