<div class="navigation-links">
    <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>

    <div id="sign-out-section" class="information-banner">
      <p class="information-banner__content">
        <span>Percy-Inspector Tester</span>
        <span>|</span>
        <a class="govuk-link govuk-link--no-visited-state"
           id="address-book-link"
           href="/protected/notifications/address-book">
          Address book
        </a>
        <span>|</span>
        <a class="govuk-link govuk-link--no-visited-state"
           id="sign-out-link"
           href="/protected/logout">
          Sign out
        </a>
      </p>
    </div>
  </div>