<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
 <link href="/public/css/ipaffs.css" rel="stylesheet" type="text/css" />
 <link href="/public/css/pattern-library.css" rel="stylesheet" type="text/css" />
 <link href="/public/css/datepicker.min.css" rel="stylesheet" type="text/css" />
 <script src="/public/javascripts/datepicker.min.js"></script>
 <script src="/public/javascripts/datepicker.js"></script>
