
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototyping Kit
{% endblock %}

{% block content %}
<div class="navigation-links govuk-!-margin-bottom-9 govuk-!-margin-top-0">
  <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">Baselines and UCD ideas</h1>

    <!-- <form action="../index"><button type="submit" class="govuk-button" data-module="govuk-button">
      Theme work
    </button></form> -->

  <ul class="govuk-list govuk-!-margin-left-0">
    <li><a href="#baselines">Baselines</a></li>
    <li><a href="#ucd-ideas">UCD ideas</a></li>
  </ul>




<h2 class="govuk-heading-l" id="baselines">Baselines
</h2> 
  

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third" scope="col">CHED type</th>
      <th class="govuk-table__header" scope="col">Part</th>
      <th class="govuk-table__header" scope="col">Last updated</th>
      <th class="govuk-table__header" scope="col">Latest themes to be incorporated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
   
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-bottom-7">
        <h5>CHED P -  products of animal origin, germinal products or animal by-products</h5>
       <a href="chedp/start">CHED P baseline</a>
      </td>
      <td class="govuk-table__cell">Part 1</td>
      <td class="govuk-table__cell">
        June 2024
      </td>  
      <td class="govuk-table__cell">
        <ul>
          <li>CR37 retrospective cloning</li>
          <li>Single EU & ROW CHED P</li>
          <li>CUC foundation</li>
          <li>Transit override</li>
        </ul>           
      </td>  
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-bottom-7">
       <h5>CHED A - High risk food and feed of non-animal origin</h5>
       <a href="cheda/start">CHED A baseline</a>
      </td>
      <td class="govuk-table__cell">Part 1</td>
      <td class="govuk-table__cell">
        June 2024
      </td>  
      <td class="govuk-table__cell">
        <ul>
          <li>CR37 retrospective cloning</li>
          <li>Transit override</li>
        </ul>           
      </td>  
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-bottom-7">
       <h5>CHED PP - Plants, plant products and other objects</h5>
       <a href="chedpp/start">CHED PP baseline</a>
      </td>
      <td class="govuk-table__cell">Part 1</td>
      <td class="govuk-table__cell">
        June 2024
      </td>  
      <td class="govuk-table__cell">
        <ul>
          <li></li>
        </ul>           
      </td>  
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-bottom-7">
       <h5>CHED D - High risk food and feed of non-animal origin</h5>
       <a href="chedd/start">CHED D baseline</a>
      </td>
      <td class="govuk-table__cell">Part 1</td>
      <td class="govuk-table__cell">
        April 2024
      </td>  
      <td class="govuk-table__cell">
        <ul>
          <li>Single EU & ROW CHED D theme</li>
        </ul>           
      </td>  
    </tr>
    </tbody>
    </table>


  

   <hr>

<h2 class="govuk-heading-l" id="ucd-ideas">UCD ideas
</h2> 

<div class="govuk-!-padding-bottom-4">
 


  <p class='govuk-body'><a href="../x-ched/dashboard-results/0-index">Dashboard</a></p>
  
  <p class="govuk-body"><a href="../x-ched/dashboard-results/08-commodity-details-meat">CHED PP new commodity page</a></p>
  <p class="govuk-body"><a href="../x-ched/dashboard-results/17-01-merge-contact-nominated-contact-1">Merge contact & nominated contacts</a></p>
 
 



 
  <p class="govuk-body"><a href="../ux-ideas/new-notification-hub/07-check-answers">Notification hub</a></p>
  
  <hr>
</div>




   
{% endblock %}
