
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototyping Kit
{% endblock %}

{% block content %}
<div class="navigation-links govuk-!-margin-bottom-9 govuk-!-margin-top-0">
  <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
</div>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/index">
        Theme work
      </a>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="/baseline/index">
        Baselines
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/ux-ideas/index">
        UCD ideas 
      </a>
    </li>
   
  </ul>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl govuk-!-margin-top-5">Prototypes</span>
    <h1 class="govuk-heading-xl">Baselines</h1>






  

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third" scope="col">CHED type</th>
      <th class="govuk-table__header" scope="col">Part</th>
      <th class="govuk-table__header" scope="col">Last updated</th>
      <th class="govuk-table__header" scope="col">Themes included</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-bottom-7">
        <h5>GDPR cloning</h5>
       <a href="clone/start">Cloning</a>
      </td>
      <td class="govuk-table__cell">Part 1</td>
      <td class="govuk-table__cell">
        September 2024
      </td>  
      <td class="govuk-table__cell">
        <ul>
          <li>CHED P, CHED A & CHED PP</li>
         
        </ul>           
      </td> 
    </tr>  


    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-bottom-7">
        <h5>CHED P -  products of animal origin, germinal products or animal by-products</h5>
       <a href="chedp/start">CHED P baseline</a>
      </td>
      <td class="govuk-table__cell">Part 1</td>
      <td class="govuk-table__cell">
        September 2024
      </td>  
      <td class="govuk-table__cell">
        <ul>
          <li>GDPR cloning</li>
          <li>CR37 retrospective cloning</li>
          <li>CUC content improvements</li>
          <li>CUC foundation</li>
          <li>Single EU & ROW CHED P</li>
          <li>Transit override</li>
        </ul>           
      </td>  
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-bottom-7">
       <h5>CHED A - High risk food and feed of non-animal origin</h5>
       <a href="cheda/start">CHED A baseline</a>
      </td>
      <td class="govuk-table__cell">Part 1</td>
      <td class="govuk-table__cell">
        September 2024
      </td>  
      <td class="govuk-table__cell">
        <ul>
          <li>Single CHED-A</li>
          <li>CR37 retrospective cloning</li>
          <li>Transit override</li>
        </ul>           
      </td>  
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-bottom-7">
       <h5>CHED PP - Plants, plant products and other objects</h5>
       <a href="chedpp/start">CHED PP baseline</a>
      </td>
      <td class="govuk-table__cell">Part 1</td>
      <td class="govuk-table__cell">
        July 2024
      </td>  
      <td class="govuk-table__cell">
        <ul>
          <li>CUC content improvements</li>
          <li>CUC foundation</li>
          <li>Transit override</li>
        </ul>           
      </td>  
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-bottom-7">
       <h5>CHED D - High risk food and feed of non-animal origin</h5>
       <a href="chedd/start">CHED D baseline</a>
      </td>
      <td class="govuk-table__cell">Part 1</td>
      <td class="govuk-table__cell">
        April 2024
      </td>  
      <td class="govuk-table__cell">
        <ul>
          <li>Single EU & ROW CHED D theme</li>
          <li>CUC content improvements</li>
          <li>CUC foundation</li>
          <li>Transit override</li>
        </ul>           
      </td>  
    </tr>
    </tbody>
    </table>


  

   <hr>

<!-- <h2 class="govuk-heading-l" id="ucd-ideas">UCD ideas
</h2> 

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third" scope="col">CHED type / part</th>
      <th class="govuk-table__header" scope="col">Page links</th>
      <th class="govuk-table__header" scope="col">Priority</th>
      <th class="govuk-table__header" scope="col">Shown to POs ?</th>
      <th class="govuk-table__header" scope="col">Researched</th>
    </tr>
  </thead>


<tr class="govuk-table__row">
  <td class="">
    <h3 class="govuk-heading-m govuk-!-padding-top-2">Across all CHED types - Part 1</h3>
  </td>
  <td class="govuk-table__cell"><a href="../ux-ideas/dashboard/">Dashboard results variations</a>
  </td>
  <td class="govuk-table__cell">
    <strong class="govuk-tag govuk-tag--red"
      style="transition: font; font-size: 12.8px !important; line-height: 12.8px !important;">
      HIGH
    </strong>
  </td>
  <td class="govuk-table__cell">Yes
  </td>
  <td class="govuk-table__cell">Yes
  </td>
</tr>



<tr class="govuk-table__row">
  <td class="govuk-table__cell">
  </td>
  <td class="govuk-table__cell"><p class='govuk-body'><a href="../ux-ideas/new-notification-hub/00-notification-hub">Notification hub/ task list</a></p>
  </td>
  <td class="govuk-table__cell">
    <strong class="govuk-tag govuk-tag--red"
      style="transition: font; font-size: 12.8px !important; line-height: 12.8px !important;">
      HIGH
    </strong>
  </td>
  <td class="govuk-table__cell">Yes
  </td>
  <td class="govuk-table__cell">Yes 
  </td>
</tr>

<tr class="">
  <td class="govuk-!-padding-top-3" colspan="5">
    <h3 class="govuk-heading-m">CHED PP, P, D - Part 1</h3>
</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
  </td>
  <td class="govuk-table__cell"><p class='govuk-body'><a href="../ux-ideas/contacts/06-01-contact-nominated-1">Merge contact & nominated contacts</a></p>
  </td>
  <td class="govuk-table__cell">
    <strong class="govuk-tag govuk-tag--grey"
      style="transition: font; font-size: 12.8px !important; line-height: 12.8px !important;">
      LOW
    </strong>
  </td>
  <td class="govuk-table__cell">Yes
  </td>
  <td class="govuk-table__cell">Yes 
  </td>
</tr>

<tr class="">
  <td class="govuk-!-padding-top-3" colspan="5">
    <h3 class="govuk-heading-m">CHED P - Part 1</h3>
</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
  </td>
  <td class="govuk-table__cell"><p class="govuk-body"><a href="../ux-ideas/chedp-regulatory-requirements/index">Regulatory requirements options</a></p>
  </td>
  <td class="govuk-table__cell">
    <strong class="govuk-tag govuk-tag--red"
      style="transition: font; font-size: 12.8px !important; line-height: 12.8px !important;">
      HIGH
    </strong>
  </td>
  <td class="govuk-table__cell">No
  </td>
  <td class="govuk-table__cell">No 
  </td>
</tr>

<tr class="">
  <td class="govuk-!-padding-top-3" colspan="5">
    <h3 class="govuk-heading-m">CHED PP - Part 1</h3>
</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
  </td>
  <td class="govuk-table__cell"><p class="govuk-body"><a href="../ux-ideas/chedpp-commodity-page/02-03-commodity-details">Commodity details page</a></p>
  </td>
  <td class="govuk-table__cell">
    <strong class="govuk-tag govuk-tag--red"
      style="transition: font; font-size: 12.8px !important; line-height: 12.8px !important;">
      HIGH
    </strong>
  </td>
  <td class="govuk-table__cell">No
  </td>
  <td class="govuk-table__cell">No 
  </td>
</tr>

  </table> -->






   
{% endblock %}
