
{% extends "layout.html" %}

{% block pageTitle %}
Initial risk assessment  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
    
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Plants</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="/notification/vnet/protected/notifications/address-book">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row" id="confirmation-page">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner notification-banner--inspection-required govuk-!-margin-bottom-0" id="risk-assessment-banner" role="region" aria-labelledby="risk-assessment-banner-title" data-label="" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="risk-assessment-banner-title" style="text-align: center;">
              Initial risk assessment
            </h2>
        </div>
      </div>
      <div style="border-top: none;" class="govuk-panel govuk-!-margin-bottom-6 panel--inspection-required" id="inspection-may-be-required-confirmation-panel">
        <div class="govuk-panel__body">
          <div class="govuk-!-margin-bottom-2">Health inspection status</div>
          <div class="govuk-!-font-weight-bold govuk-!-margin-bottom-2">Go to place of destination</div>
        </div>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-1">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            CHED reference
          </dt>
          <dd class="govuk-summary-list__value">
            CHEDA.GB.2023.6244839
          </dd>
          <dd class="govuk-summary-list__actions">
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Copy
            </button>
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Customs declaration reference
          </dt>
          <dd class="govuk-summary-list__value">
            GBCHD2023.6244839
          </dd>
          <dd class="govuk-summary-list__actions">
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Copy
            </button>
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Customs document code
          </dt>
          <dd class="govuk-summary-list__value">
            C640
          </dd>
          <dd class="govuk-summary-list__actions">
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Copy
            </button>
          </dd>
        </div>
      </dl>      

      <div class="govuk-warning-text govuk-!-margin-bottom-1">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You must use the correct reference and code on the customs declaration or your consignment will be delayed.
        </strong>
      </div>
      <hr class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">

      <h2 class="govuk-heading-m">What you need to do</h2>
      <p class="govuk-body">Tell the transporter that this consignment must go directly to the place of destination on entry to Great Britain.</p>

      <p class="govuk-body">The animals or consignment may need to be inspected there. If so, the animals must stay at the place of destination for either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the time stated on the health certificate</li>
        <li>48 hours if no time is specified</li>
      </ul>   

      <h2 class="govuk-heading-m">How to view or amend this notification</h2>
      <p class="govuk-body">You can access or amend this notification from your dashboard.</p>

    
        <input name="crumb" type="hidden" value="Ydm23FlnF8m6O6Bvn3Cnlpdf3GEtj0PtCyCKshnEUqa">
        <input name="etag" type="hidden" value="&quot;000000000006F7C7&quot;">

        <div>
          <a href="0-index" class="govuk-link govuk-!-font-size-19" id="manage-notifications">
            Return to your dashboard
          </a>
        </div>
        <div>
          <form action="01-ched-type" method="post" id="homeForm">
          <input class="link-button" type="submit" name="new-notification" value="Create a new import notification">
          </form>
        </div>

      </form>

    </div>
  </div>
</main>






{% endblock %}
