
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> 
  </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
   

        <h3 class="govuk-heading-l">Landbridge - August 2023</h3>
        <h4 class="govuk-heading-s">Conforming goods</h4>
        <p class='govuk-body'><a href="conforming-goods/0-index">Start</a></p>
        <p><a href="conforming-goods/07-check-answers">Notification hub</a></p>

        <h4 class="govuk-heading-s">Non conforming goods</h4>
        <p class='govuk-body'><a href="non-conforming-goods/0-index">Start</a></p>
        <p><a href="non-conforming-goods/07-check-answers">Notification hub</a></p>

        <h4 class="govuk-heading-s">Confirmation pages</h4>
        <p><a href="/chedp/20-submitted-inspection-required-entry">Confirm - Inspection required on entry</a></p>
        <p><a href="/chedp/20-submitted-inspection-required-exit">Confirm - Inspection required on exit</a></p>
        <p><a href="/chedp-gvms-iteration-03/20-submitted-inspection-required-entry-and-exit">Confirm - Inspection required on entry and exit</a></p>
        <p><a href="/chedp/20-submitted-inspection-not-required">Confirm - Inspection not required</a></p>
      <h4 class="govuk-heading-s">Emails</h4>
      <p><a href="part1-landbridge-emails/override-sanitary-inspection-required-on-entry">Override sanitary inspection required on entry</a></p>
      <p><a href="part1-landbridge-emails/override-sanitary-inspection-required-on-exit">Override sanitary inspection required on exit</a></p>
      <p><a href="part1-landbridge-emails/sanitary-inspection-no-longer-required-on-entry">Sanitary inspection no longer required on entry</a></p>
      <p><a href="part1-landbridge-emails/sanitary-inspection-no-longer-required-on-exit">Sanitary inspection no longer required on exit</a></p>
      <p><a href="part1-landbridge-emails/sanitary-inspection-required-on-entry">Sanitary inspection required on entry</a></p>
      <p><a href="part1-landbridge-emails/sanitary-inspection-required-on-exit">Sanitary inspection required on exit</a></p>
     
      <hr>



  <h3>Part 2  - Landbridge  - August 2023</h3>
  
 
  <p><a href="/part-2/chedp-landbridge/01-decision-hub-inspection-required">Decision Hub – inspection required on entry screen</a></p>
  <p><a href="/part-2/chedp-landbridge/01-decision-hub-inspection-required-no">Decision Hub – no inspection required on entry screen</a></p>
  <p><a href="/part-2/chedp-landbridge/01-notification-overview">Notification Overview</a></p>
  <p><a href="/part-2/chedp-landbridge/00-ched-overview">CHED overview</a></p>

 <hr>
  <h3>Part 3 - Landbridge - Iteration 2 - User Research Wk Comm 16th October</h3>
  <h4>View of consignments</h4>
  <p><a href="/part-3/chedp-landbridge-iteration-02/dashboard">Dashboard</a></p>
  <h4>Seal check</h4>
  <p><a href="/part-3/chedp-landbridge-iteration-02/notification-seal-check-required">CHED overview - seal check required (notification banner)</a></p>
  <p><a href="/part-3/chedp-landbridge-iteration-02/override-seal-check">Override seal check</a></p>
  <p><a href="/part-3/chedp-landbridge-iteration-02/submitted-seal-check-overridden">Seal check overriden - success notification and no inspection required notification on CHED overview</a></p>
  <p><a href="/part-3/chedp-landbridge-iteration-02/notification-seal-check-overridden">Seal check overriden - no inspection required notification on CHED overview</a></p>
  <p><a href="/part-3/chedp-landbridge-iteration-02/notification-no-inspection-required">Override no inspection required to seal check required</a></p>
  <p><a href="/part-3/chedp-landbridge-iteration-02/submitted-no-inspection-required-overriden">No inspection required overriden - success notification and seal check required notification on CHED overview</a></p>
  <p><a href="/part-3/chedp-landbridge-iteration-02/notification-no-inspection-required-overriden">No inspection required overriden - seal check required notification on CHED overview</a></p>
  <p><a href="/part-3/chedp-landbridge-iteration-02/record-seal-check">Record seal check - satisfactory</a></p>
  <p><a href="/part-3/chedp-landbridge-iteration-02/notification-seal-check-submitted-satisfactory-yes">CHED overview - seal check satisfactory details (control tab) and control required (button)</a></p>
  <p><a href="/part-3/chedp-landbridge-iteration-02/seal-check-unsatisfactory/record-seal-check">Record seal check - unsatisfactory</a></p>
  <p><a href="/part-3/chedp-landbridge-iteration-02/seal-check-unsatisfactory/notification-seal-check-submitted-satisfactory-no">CHED overview - seal check unsatisfactory details (control tab) and control required (button)</a></p>
  <h4>Control</h4>
  <p><a href="/part-3/chedp-landbridge-iteration-02/record-control">Record control</a></p>
  <p><a href="/part-3/chedp-landbridge-iteration-02/notification-seal-check-submitted-satisfactory-yes-control-recorded">CHED overview - seal check and control details (control tab)</a></p>
  

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h3>Landbridge - Iteration 1 - User Research Wk Comm 2nd October</h3>
  <p><a href="/part-3/chedp-landbridge/record-control-01">Record control page - option 1</a></p>
  <p><a href="/part-3/chedp-landbridge/record-control-02">Record control page - option 2</a></p>
  <p><a href="/part-3/chedp-landbridge/notification-inspection-required-on-exit">CHED overview (notification and control tabs updated)</a></p>
  <h4>View of consignments</h4>
  <p><a href="/part-3/chedp-landbridge/dashboard-02">Dashboard with 1 alert only</a></p>
  <p><a href="/part-3/chedp-landbridge/exit-inspections">Consignments requiring exit inspection</a></p>
  <p><a href="/part-3/chedp-landbridge/exit-inspections-option-01">Enhanced version</a></p>
  <p>&nbsp;</p>
  <p><a href="/part-3/chedp-landbridge/dashboard">Dashboard with 2 alerts</a></p>
  <p><a href="/part-3/chedp-landbridge/my-alerts">My Alerts page</a></p>
  <p><a href="/part-3/chedp-landbridge/my-alerts-option-01">Enhanced version</a></p>
 
</div>


   
{% endblock %}
