
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
 
        

        <h3 class="govuk-heading-l">GVMS - Iteration 04 - Post completion of user research further updates</h3>
        <p class='govuk-body'><a href="iteration-04/0-index-inspection-status">Dashboard - iterated post research with inspection status tag</a></p>
        <p class='govuk-body'><a href="iteration-04/11-transport-to-bcp">Transport - GVMS question</a></p>
        <p class='govuk-body'><a href="iteration-04/18-review">Review</a></p>
        <p class='govuk-body'><a href="iteration-04/18-review-gvms-error">Review - GVMS error</a></p>
        <p class='govuk-body'><a href="iteration-04/20-submitted-gvms-yes">Confirmation - using GVMS</a></p>
        <p class='govuk-body'><a href="/x-ched/confirmation/20-submitted-inspection-not-required">Confirmation – no inspection</a></p>
        <p class='govuk-body'><a href="/x-ched/confirmation/20-submitted-inspection-required">Confirmation – inspection</a></p>                
        <hr>
        <h3 class="govuk-heading-m">GVMS - previous iterations</h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <h3 class="govuk-heading-m">GVMS - Iteration 03 - Post completion of user research 22 to 24 November 2023</h3>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-03/0-index-iterated-post-research">Dashboard - iterated post research with inspection status tag</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-03/0-index">Start - dashboard</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-03/11-transport-to-bcp">Transport to the Border Control Post</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-03/11-transport-to-bcp-error-GVMS-left-blank">Transport to the Border Control Post - error GVMS left blank</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-03/18-review">Review page</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-03/20-submitted-gvms-yes">Confirmation page - GVMS yes</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-03/20-submitted-inspection-not-required">Confirmation page - GVMS no</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-03/20-submitted-inspection-required-entry-and-exit">Confirmation page - Inspection required on entry and exit</a></p>                
        <hr>
        <h3 class="govuk-heading-m">GVMS - Iteration 02 - User research 22 November 2023 onwards</h3>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-02/0-index">Start - dashboard</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-02/11-transport-to-bcp">Transport to the Border Control Post</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-02/18-review">Review page</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-02/20-submitted-gvms-yes">Confirmation page - GVMS yes</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-02/20-submitted-inspection-not-required">Confirmation page - GVMS no</a></p>         
        <hr>
        <h3 class="govuk-heading-m">GVMS - Iteration 01 - User research to 21 November 2023</h3>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-01/0-index">Start - dashboard</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-01/11-transport-to-bcp">Transport to the Border Control Post</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-01/18-review">Review page</a></p>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-01/20-submitted-gvms-yes">Confirmation page</a></p>     
        <h4 class="govuk-heading-s">Alternative options explored</h4>
        <p class='govuk-body'><a href="/chedp/gvms/iteration-01/1-transport-to-bcp-option-02">Transport to the Border Control Post - option nested in radios</a></p>  
          </div>
        </details>
        
      <hr>
  
  <h3 class="govuk-heading-m">GVMS Part 2 - November 2023</h3>
  <p><a href="/part-2/chedp-landbridge/00-ched-overview-gvms">CHED overview with GVMS</a></p>
  <hr>

 

  <h3 class="govuk-heading-m">GVMS Part 3- November 2023</h3>
  <p><a href="/part-3/chedp-landbridge-iteration-02/ched-overview-gvms">CHED overview with GVMS</a></p>
  <hr>
 
</div>

</div>
   
{% endblock %}
