{% extends "layout.html" %}

{% block pageTitle %}
Catch certificate details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}



<div class="govuk-!-padding-top-6">
  <span class="heading-tertiary">
      <span id="reference-number">DRAFT.GB.2023.5925980</span>
          <span> - CHEDP</span>
  </span>
</div>
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row govuk-body" id="catch-certificates-page">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Description of the goods</span>
      <h1 class="govuk-heading-xl " id="page-primary-title">Catch certificate details</h1>
      <h2 class="govuk-heading-m">Commodity</h2>

      <div class="table-responsive">
        <table class="govuk-table commodity-overview" id="commodity-overview">
          <thead class="govuk-table__head">
          <tr>
            <th class="govuk-form-group commodity-code govuk-table__header">Commodity Code</th>
            <th class="govuk-form-group commodity-code govuk-table__header">Description</th>
            <th class="govuk-form-group commodity-code govuk-table__header">Species, type, class and family</th>
            <th class="govuk-form-group commodity-code govuk-table__header">Net weight (kg/units)</th>
            <th class="govuk-form-group commodity-code govuk-table__header">Number of units</th>
            <th class="govuk-form-group commodity-code govuk-table__header">Type of package</th>
            <th class="govuk-form-group commodity-code govuk-table__header">
              <span class="govuk-visually-hidden">Change links</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="govuk-table__cell">03044100</td>
            <td class="govuk-table__cell">Of Pacific salmon (Oncorhynchus nerka, Oncorhynchus gorbuscha, Oncorhynchus keta, Oncorhynchus tschawytscha, Oncorhynchus kisutch, Oncorhynchus masou and Oncorhynchus rhodurus), Atlantic salmon (Salmo salar) and Danube salmon (Hucho hucho)</td>
            <td class="govuk-table__cell">Hucho hucho, Farmed stock</td>
            <td class="govuk-table__cell">200</td>
            <td class="govuk-table__cell">40</td>
            <td class="govuk-table__cell">Box</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          <tr>
            <td class="govuk-table__cell">03044100</td>
            <td class="govuk-table__cell">Of Pacific salmon (Oncorhynchus nerka, Oncorhynchus gorbuscha, Oncorhynchus keta, Oncorhynchus tschawytscha, Oncorhynchus kisutch, Oncorhynchus masou and Oncorhynchus rhodurus), Atlantic salmon (Salmo salar) and Danube salmon (Hucho hucho)</td>
            <td class="govuk-table__cell">Oncorhynchus keta, Farmed stock</td>
            <td class="govuk-table__cell">400</td>
            <td class="govuk-table__cell">80</td>
            <td class="govuk-table__cell">Box</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          <tr>
            <td class="govuk-table__cell">03044100</td>
            <td class="govuk-table__cell">Of Pacific salmon (Oncorhynchus nerka, Oncorhynchus gorbuscha, Oncorhynchus keta, Oncorhynchus tschawytscha, Oncorhynchus kisutch, Oncorhynchus masou and Oncorhynchus rhodurus), Atlantic salmon (Salmo salar) and Danube salmon (Hucho hucho)</td>
            <td class="govuk-table__cell">Oncorhynchus rhodurus, Farmed stock</td>
            <td class="govuk-table__cell">300</td>
            <td class="govuk-table__cell">60</td>
            <td class="govuk-table__cell">Box</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          <tr>
            <td class="govuk-table__cell">03044100</td>
            <td class="govuk-table__cell">Of Pacific salmon (Oncorhynchus nerka, Oncorhynchus gorbuscha, Oncorhynchus keta, Oncorhynchus tschawytscha, Oncorhynchus kisutch, Oncorhynchus masou and Oncorhynchus rhodurus), Atlantic salmon (Salmo salar) and Danube salmon (Hucho hucho)</td>
            <td class="govuk-table__cell">Salmo salar, Farmed stock</td>
            <td class="govuk-table__cell">700</td>
            <td class="govuk-table__cell">40</td>
            <td class="govuk-table__cell">Box</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          <tr>
            <td class="govuk-table__cell">03044100</td>
            <td class="govuk-table__cell">Of Pacific salmon (Oncorhynchus nerka, Oncorhynchus gorbuscha, Oncorhynchus keta, Oncorhynchus tschawytscha, Oncorhynchus kisutch, Oncorhynchus masou and Oncorhynchus rhodurus), Atlantic salmon (Salmo salar) and Danube salmon (Hucho hucho)</td>
            <td class="govuk-table__cell">Hucho hucho, Wild stock</td>
            <td class="govuk-table__cell">1000</td>
            <td class="govuk-table__cell">55</td>
            <td class="govuk-table__cell">Box</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          <tr>
            <td class="govuk-table__cell">03044100</td>
            <td class="govuk-table__cell">Of Pacific salmon (Oncorhynchus nerka, Oncorhynchus gorbuscha, Oncorhynchus keta, Oncorhynchus tschawytscha, Oncorhynchus kisutch, Oncorhynchus masou and Oncorhynchus rhodurus), Atlantic salmon (Salmo salar) and Danube salmon (Hucho hucho)</td>
            <td class="govuk-table__cell">Oncorhynchus keta, Wild stock</td>
            <td class="govuk-table__cell">920</td>
            <td class="govuk-table__cell">60</td>
            <td class="govuk-table__cell">Box</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          <tr>
            <td class="govuk-table__cell">03044100</td>
            <td class="govuk-table__cell">Of Pacific salmon (Oncorhynchus nerka, Oncorhynchus gorbuscha, Oncorhynchus keta, Oncorhynchus tschawytscha, Oncorhynchus kisutch, Oncorhynchus masou and Oncorhynchus rhodurus), Atlantic salmon (Salmo salar) and Danube salmon (Hucho hucho)</td>
            <td class="govuk-table__cell">Oncorhynchus rhodurus, Wild stock</td>
            <td class="govuk-table__cell">400</td>
            <td class="govuk-table__cell">30</td>
            <td class="govuk-table__cell">Package</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          <tr>
            <td class="govuk-table__cell">03044100</td>
            <td class="govuk-table__cell">Of Pacific salmon (Oncorhynchus nerka, Oncorhynchus gorbuscha, Oncorhynchus keta, Oncorhynchus tschawytscha, Oncorhynchus kisutch, Oncorhynchus masou and Oncorhynchus rhodurus), Atlantic salmon (Salmo salar) and Danube salmon (Hucho hucho)</td>
            <td class="govuk-table__cell">Salmo salar, Wild stock</td>
            <td class="govuk-table__cell">500</td>
            <td class="govuk-table__cell">25</td>
            <td class="govuk-table__cell">Package</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          <tr>
            <td class="govuk-table__cell">03033200</td>
            <td class="govuk-table__cell">Plaice (Pleuronectes platessa)</td>
            <td class="govuk-table__cell">Pleuronectes platessa, Wild stock</td>
            <td class="govuk-table__cell">400</td>
            <td class="govuk-table__cell">30</td>
            <td class="govuk-table__cell">Package</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          <tr>
            <td class="govuk-table__cell">03033200</td>
            <td class="govuk-table__cell">Plaice (Pleuronectes platessa)</td>
            <td class="govuk-table__cell">Pleuronectes platessa, Farmed stock</td>
            <td class="govuk-table__cell">260</td>
            <td class="govuk-table__cell">15</td>
            <td class="govuk-table__cell">Package</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          <tr>
            <td class="govuk-table__cell">03024400</td>
            <td class="govuk-table__cell">Mackerel (Scomber scombrus, Scomber australasicus, Scomber japonicus)</td>
            <td class="govuk-table__cell">Scomber colias, Wild stock</td>
            <td class="govuk-table__cell">240</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Package</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          <tr>
            <td class="govuk-table__cell">03024400</td>
            <td class="govuk-table__cell">Mackerel (Scomber scombrus, Scomber australasicus, Scomber japonicus)</td>
            <td class="govuk-table__cell">Scomber scombrus, Wild stock</td>
            <td class="govuk-table__cell">640</td>
            <td class="govuk-table__cell">40</td>
            <td class="govuk-table__cell">Package</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          <tr>
            <td class="govuk-table__cell">03024400</td>
            <td class="govuk-table__cell">Mackerel (Scomber scombrus, Scomber australasicus, Scomber japonicus)</td>
            <td class="govuk-table__cell">Scomber spp, Wild stock</td>
            <td class="govuk-table__cell">580</td>
            <td class="govuk-table__cell">70</td>
            <td class="govuk-table__cell">Package</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details">Change</a></td>
          </tr>
          </tbody>
        </table>
      </div>

      <form method="POST">
        <input name="crumb" type="hidden" value="njAgVefijl-AGftvHVKuEzKjKTs9FMkpUSSg06ld1x6">
        <input name="etag" type="hidden" value="&quot;000000000547C2A1&quot;">

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Where appropriate, add catch certificate details for Of Pacific salmon (Oncorhynchus nerka, Oncorhynchus gorbuscha, Oncorhynchus keta, Oncorhynchus tschawytscha, Oncorhynchus kisutch, Oncorhynchus masou and Oncorhynchus rhodurus), Atlantic salmon (Salmo salar) and Danube salmon (Hucho hucho)</h2>
          <p class="govuk-!-margin-bottom-2">Catch certificate details</p>
          <div class="table-responsive">
            <table class="govuk-table catch-certificates-table" id="catch-certificates-table-03044100">
              <thead class="govuk-table__head">
              <tr>
                <th class="govuk-table__header">Species</th>
                <th class="govuk-table__header">Catch certificate number</th>
                <th class="govuk-table__header">Weight (kg)</th>
                <th class="govuk-table__header">
                  <span class="govuk-visually-hidden">Remove link</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-species-03044100">Species</label>
                  <select class="govuk-select govuk-form-control form-control-full-width " name="catch-certificate-species-03044100" id="catch-certificate-species-03044100">
                    <option value="350200">Hucho hucho</option>
                    <option value="67899">Oncorhynchus keta</option>
                    <option value="78600">Oncorhynchus rhodurus</option>
                    <option value="9700">Salmo salar</option>
                    <option value="290900">Hucho hucho</option>
                    <option value="85100">Oncorhynchus keta</option>
                    <option value="409999">Oncorhynchus rhodurus</option>
                    <option value="400700">Salmo salar</option>
                  </select>
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-number-03044100">Catch certificate number</label>
                  <input type="text" name="catch-certificate-number-03044100" id="catch-certificate-number-03044100" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-weight-03044100">Weight (kg)</label>
                  <input type="text" name="catch-certificate-weight-03044100" id="catch-certificate-weight-03044100" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="change govuk-table__cell"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="govuk-!-margin-top-2">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-visually-hidden">Add another button for Of Pacific salmon (Oncorhynchus nerka, Oncorhynchus gorbuscha, Oncorhynchus keta, Oncorhynchus tschawytscha, Oncorhynchus kisutch, Oncorhynchus masou and Oncorhynchus rhodurus), Atlantic salmon (Salmo salar) and Danube salmon (Hucho hucho)</legend>
              <input type="submit" name="add-03044100" id="add-03044100" value="Add another" class="link-button">
            </fieldset>
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Where appropriate, add catch certificate details for Plaice (Pleuronectes platessa)</h2>
          <p class="govuk-!-margin-bottom-2">Catch certificate details</p>
          <div class="table-responsive">
            <table class="govuk-table catch-certificates-table" id="catch-certificates-table-03033200">
              <thead class="govuk-table__head">
              <tr>
                <th class="govuk-table__header">Species</th>
                <th class="govuk-table__header">Catch certificate number</th>
                <th class="govuk-table__header">Weight (kg)</th>
                <th class="govuk-table__header">
                  <span class="govuk-visually-hidden">Remove link</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-species-03033200">Species</label>
                  <select class="govuk-select govuk-form-control form-control-full-width " name="catch-certificate-species-03033200" id="catch-certificate-species-03033200">
                    <option value="290773">Pleuronectes platessa</option>
                    <option value="440082">Pleuronectes platessa</option>
                  </select>
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-number-03033200">Catch certificate number</label>
                  <input type="text" name="catch-certificate-number-03033200" id="catch-certificate-number-03033200" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-weight-03033200">Weight (kg)</label>
                  <input type="text" name="catch-certificate-weight-03033200" id="catch-certificate-weight-03033200" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="change govuk-table__cell"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="govuk-!-margin-top-2">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-visually-hidden">Add another button for Plaice (Pleuronectes platessa)</legend>
              <input type="submit" name="add-03033200" id="add-03033200" value="Add another" class="link-button">
            </fieldset>
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Where appropriate, add catch certificate details for Mackerel (Scomber scombrus, Scomber australasicus, Scomber japonicus)</h2>
          <p class="govuk-!-margin-bottom-2">Catch certificate details</p>
          <div class="table-responsive">
            <table class="govuk-table catch-certificates-table" id="catch-certificates-table-03024400">
              <thead class="govuk-table__head">
              <tr>
                <th class="govuk-table__header">Species</th>
                <th class="govuk-table__header">Catch certificate number</th>
                <th class="govuk-table__header">Weight (kg)</th>
                <th class="govuk-table__header">
                  <span class="govuk-visually-hidden">Remove link</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-species-03024400">Species</label>
                  <select class="govuk-select govuk-form-control form-control-full-width " name="catch-certificate-species-03024400" id="catch-certificate-species-03024400">
                    <option value="57704">Scomber colias</option>
                    <option value="417002">Scomber scombrus</option>
                    <option value="357003">Scomber spp</option>
                  </select>
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-number-03024400">Catch certificate number</label>
                  <input type="text" name="catch-certificate-number-03024400" id="catch-certificate-number-03024400" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-weight-03024400">Weight (kg)</label>
                  <input type="text" name="catch-certificate-weight-03024400" id="catch-certificate-weight-03024400" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="change govuk-table__cell"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="govuk-!-margin-top-2">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-visually-hidden">Add another button for Mackerel (Scomber scombrus, Scomber australasicus, Scomber japonicus)</legend>
              <input type="submit" name="add-03024400" id="add-03024400" value="Add another" class="link-button">
            </fieldset>
          </div>
        <p class="govuk-!-margin-top-6">    <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-return-button" name="save-and-return-button" type="submit" value="Save and return to hub" data-module="govuk-button" data-prevent-double-click="true">
    <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="button-save-and-continue" name="button-save-and-continue" type="submit" value="Save and continue" data-module="govuk-button" data-prevent-double-click="true">
    </p><p class="govuk-body"><a class="govuk-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/overview">Cancel and return to hub</a></p>
<p></p>
      </form>
  </div>
  </div>
</main>
{% endblock %}
