{% extends "layout.html" %}

{% block pageTitle %}
Catch certificate details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}



<div class="govuk-!-padding-top-6">
  <span class="heading-tertiary">
      <span id="reference-number">DRAFT.GB.2023.5925980</span>
          <span> - CHEDP</span>
  </span>
</div>
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row govuk-body" id="catch-certificates-page">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-xl">Documents</span>
      <h1 class="govuk-heading-xl " id="page-primary-title">Add catch certificate details</h1>
      <p class="govuk-body">If you need to remove any catch certificates, you can do this on the <a href="09dd-iuu-docs-details-entered">IUU documents</a> page.</p>
</div>
</div>

      
<div class="govuk-grid-row govuk-body" >
  <div class="govuk-grid-column-full">
      <form method="POST" action="09e-iuu-confirmation">
        <input name="crumb" type="hidden" value="dccSgkNKLFTcXs5OWLw09h1VDTA3JgwfVBBEnKxoT6K">
        <input name="etag" type="hidden" value="&quot;000000000540AB3C&quot;">
        <span class="govuk-caption-m govuk-!-margin-bottom-0">Catch certificate 1 of 5</span>

        <div class="heading-with-change-link">
          <h3 class="govuk-heading-s" id="latest-health-certificate-heading">CC-42524 catch certifcate </h3>
            <form action="/decision/tst/protected/bip-notifications/CHEDP.GB.2023.5948132/overview" method="POST">
              <input name="crumb" type="hidden" value="ZUivo0owQQjIccnnldF_C2PBX42WUQQ8yQw1-b4T8eI">
              <input name="etag" type="hidden" value="&quot;00000000054245C8&quot;">
              <!-- <button type="submit" class="link-button" name="change-link" value="change-vet-documents" id="latest-health-certificate-change-link">Change
              </button> -->
            </form>
        </div>
        <div id="add-species" style="border-top: 1px solid grey;" class="govuk-!-margin-bottom-9 govuk-!-padding-top-3">
          <button type="submit" class="link-button" name="change-link" value="change-vet-documents" id="latest-health-certificate-change-link">Add species to this catch certificate
          </button>
        </div>

        <span class="govuk-caption-m govuk-!-margin-bottom-0">Catch certificate 2 of 5</span>

        <div class="heading-with-change-link">
          <h3 class="govuk-heading-s" id="latest-health-certificate-heading">CC-42524 catch certifcate </h3>
            <form action="/decision/tst/protected/bip-notifications/CHEDP.GB.2023.5948132/overview" method="POST">
              <input name="crumb" type="hidden" value="ZUivo0owQQjIccnnldF_C2PBX42WUQQ8yQw1-b4T8eI">
              <input name="etag" type="hidden" value="&quot;00000000054245C8&quot;">
              <!-- <button type="submit" class="link-button" name="change-link" value="change-vet-documents" id="latest-health-certificate-change-link">Change
              </button> -->
            </form>
        </div>
        <div id="add-species" style="border-top: 1px solid grey;" class="govuk-!-margin-bottom-9 govuk-!-padding-top-3">
          <button type="submit" class="link-button" name="change-link" value="change-vet-documents" id="latest-health-certificate-change-link">Add species to this catch certificate
          </button>
        </div>

        <span class="govuk-caption-m govuk-!-margin-bottom-0">Catch certificate 3 of 5</span>

        <div class="heading-with-change-link">
          <h3 class="govuk-heading-s" id="latest-health-certificate-heading">CC-42524 catch certifcate </h3>
            <form action="/decision/tst/protected/bip-notifications/CHEDP.GB.2023.5948132/overview" method="POST">
              <input name="crumb" type="hidden" value="ZUivo0owQQjIccnnldF_C2PBX42WUQQ8yQw1-b4T8eI">
              <input name="etag" type="hidden" value="&quot;00000000054245C8&quot;">
              <!-- <button type="submit" class="link-button" name="change-link" value="change-vet-documents" id="latest-health-certificate-change-link">Change
              </button> -->
            </form>
        </div>
        <div id="add-species" style="border-top: 1px solid grey;" class="govuk-!-margin-bottom-9 govuk-!-padding-top-3">
          <button type="submit" class="link-button" name="change-link" value="change-vet-documents" id="latest-health-certificate-change-link">Add species to this catch certificate
          </button>
        </div>

        <span class="govuk-caption-m govuk-!-margin-bottom-0">Catch certificate 4 of 5</span>

        <div class="heading-with-change-link">
          <h3 class="govuk-heading-s" id="latest-health-certificate-heading">CC-42524 catch certifcate </h3>
            <form action="/decision/tst/protected/bip-notifications/CHEDP.GB.2023.5948132/overview" method="POST">
              <input name="crumb" type="hidden" value="ZUivo0owQQjIccnnldF_C2PBX42WUQQ8yQw1-b4T8eI">
              <input name="etag" type="hidden" value="&quot;00000000054245C8&quot;">
              <!-- <button type="submit" class="link-button" name="change-link" value="change-vet-documents" id="latest-health-certificate-change-link">Change
              </button> -->
            </form>
        </div>
        <div id="add-species" style="border-top: 1px solid grey;" class="govuk-!-margin-bottom-9 govuk-!-padding-top-3">
          <button type="submit" class="link-button" name="change-link" value="change-vet-documents" id="latest-health-certificate-change-link">Add species to this catch certificate
          </button>
        </div>

        <span class="govuk-caption-m govuk-!-margin-bottom-0">Catch certificate 5 of 5</span>

        <div class="heading-with-change-link">
          <h3 class="govuk-heading-s" id="latest-health-certificate-heading">CC-42524 catch certifcate </h3>
            <form action="/decision/tst/protected/bip-notifications/CHEDP.GB.2023.5948132/overview" method="POST">
              <input name="crumb" type="hidden" value="ZUivo0owQQjIccnnldF_C2PBX42WUQQ8yQw1-b4T8eI">
              <input name="etag" type="hidden" value="&quot;00000000054245C8&quot;">
              <!-- <button type="submit" class="link-button" name="change-link" value="change-vet-documents" id="latest-health-certificate-change-link">Change
              </button> -->
            </form>
        </div>
        <div id="add-species" style="border-top: 1px solid grey;" class="govuk-!-margin-bottom-9 govuk-!-padding-top-3">
          <button type="submit" class="link-button" name="change-link" value="change-vet-documents" id="latest-health-certificate-change-link">Add species to this catch certificate
          </button>
        </div>
  
        <div id="accompanying-documents-table" class="additional-documents-table iuu-docs-table" >
          <div class="" >
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
  
  
          <div class="additional-documents__grid-row additional-documents__headers">
            <div class="additional-documents__grid-column-15 additional-documents__table-header">
              Commodity code
            </div>
            <div class="additional-documents__grid-column-35 additional-documents__table-header">
              Species, description
            </div>
            <div class="additional-documents__grid-column-20 additional-documents__table-header">
              Weight within catch certificate
            </div>
            <div class="additional-documents__grid-column-20 additional-documents__table-header">
              Total weight in catch certificate 
            </div>
          </div>
          <div class="additional-documents__grid-row additional-document-info">
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-type-heading-latest-health-cert">Commodity code
              </div>
              <div class="additional-documents__content-value" id="additional-document-type-value-latest-health-cert">
                03021120
              </div>
            </div>
            <div class="additional-documents__grid-column-35 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-reference-heading-latest-health-cert">Species, type
              </div>
              <div class="additional-documents__content-value" id="additional-document-reference-value-latest-health-cert">
                Oncorhynchus mykiss, Wild stock
              </div>
            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-date-heading-latest-health-cert">
                Weight within catch certificate
              </div>
              <div class="additional-documents__content-value" id="additional-document-date-value-latest-health-cert">
                270 kg
              </div>
            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-attachment-heading-latest-health-cert">
                Total weight in catch certificate
              </div>
              <div class="additional-documents__content-value" id="additional-document-attachment-value-latest-health-cert">
                  600 kg
              </div>
            </div>
          </div>
          <div class="additional-documents__grid-row additional-document-info">
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-type-heading-latest-health-cert">Commodity code
              </div>
              <div class="additional-documents__content-value" id="additional-document-type-value-latest-health-cert">
                03024400
              </div>
            </div>
            <div class="additional-documents__grid-column-35 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-reference-heading-latest-health-cert">Species, type
                
              </div>
              <div class="additional-documents__content-value" id="additional-document-reference-value-latest-health-cert">
                Scomber colias, Wild stock
              </div>
            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-date-heading-latest-health-cert">
                Weight within catch certificate
              </div>
              <div class="additional-documents__content-value" id="additional-document-date-value-latest-health-cert">
                200 kg
              </div>
          
            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-attachment-heading-latest-health-cert">
                Total weight in catch certificate
              </div>
              <div class="additional-documents__content-value" id="additional-document-attachment-value-latest-health-cert">
                  750 kg
              </div>
            </div>
          </div>
          <div class="additional-documents__grid-row additional-document-info">
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-type-heading-latest-health-cert">Commodity code
              </div>
              <div class="additional-documents__content-value" id="additional-document-type-value-latest-health-cert">
                03024400
              </div>
            </div>
            <div class="additional-documents__grid-column-35 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-reference-heading-latest-health-cert">Species, type
              </div>
              <div class="additional-documents__content-value" id="additional-document-reference-value-latest-health-cert">
                Scomber spp, Wild stock
              </div>
            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-date-heading-latest-health-cert">
                Weight within catch certificate
              </div>
              <div class="additional-documents__content-value" id="additional-document-date-value-latest-health-cert">
               180 kg
              </div>
          
            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-attachment-heading-latest-health-cert">
                Total weight in catch certificate
              </div>
              <div class="additional-documents__content-value" id="additional-document-attachment-value-latest-health-cert">
                  630 kg
              </div>
            </div>
          </div>
          <div class="additional-documents__grid-row additional-document-info">
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-type-heading-latest-health-cert">Commodity code
              </div>
              <div class="additional-documents__content-value" id="additional-document-type-value-latest-health-cert">
                03031490
              </div>
            </div>
            <div class="additional-documents__grid-column-35 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-reference-heading-latest-health-cert">Species, type
              </div>
              <div class="additional-documents__content-value" id="additional-document-reference-value-latest-health-cert">
                Oncorhynchus aguabonita
              </div>
            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-date-heading-latest-health-cert">
                Weight within catch certificate
              </div>
              <div class="additional-documents__content-value" id="additional-document-date-value-latest-health-cert">
                220 kg
              </div>
          
            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-attachment-heading-latest-health-cert">
                Total weight in catch certificate
              </div>
              <div class="additional-documents__content-value" id="additional-document-attachment-value-latest-health-cert">
                  400 kg
              </div>
            </div>
          </div>
  
  </div>
  </div>
  </div>
  </div>




          <h2 class="govuk-heading-m govuk-!-margin-top-0">03032300 - Tilapia (Oreochromis|spp.)</h2>
          
          <div class="table-responsive">
            <table class="govuk-table catch-certificates-table" id="catch-certificates-table-03032300">
              <thead class="govuk-table__head">
              <tr>
                <th class="govuk-table__header">Species</th>
                <th class="govuk-table__header">Catch certificate number</th>
                <th class="govuk-table__header">Flag state of the vessel</th>
                <th class="govuk-table__header">Weight (kg)</th>
                <th class="govuk-table__header">
                  <span class="govuk-visually-hidden">Remove link</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-species-03032300">Species</label>
                  <select class="govuk-select govuk-form-control form-control-full-width " name="catch-certificate-species-03032300" id="catch-certificate-species-03032300">
                    <option value="393882">03032300 - Oreochromis mossambicus</option>
                    <option value="433190">03032300 - Oreochromis spp</option>
                    
                  </select>
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-number-03032300">Catch certificate number</label>
                  <input type="text" name="catch-certificate-number-03032300" id="catch-certificate-number-03032300" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-flag-03031300">Flag state</label>
                  <input type="text" name="catch-certificate-flag-03031300" id="catch-certificate-flag-03031300" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-weight-03032300">Weight (kg)</label>
                  <input type="text" name="catch-certificate-weight-03032300" id="catch-certificate-weight-03032300" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="change govuk-table__cell"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="govuk-!-margin-top-2">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-visually-hidden">Add another button for Tilapia (Oreochromis|spp.)</legend>
              <input type="submit" name="add-03032300" id="add-03032300" value="Add another" class="link-button">
            </fieldset>
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-8">03021110 - Oncorhynchus apache or Oncorhynchus chrysogaster</h2>
          
          <div class="table-responsive">
            <table class="govuk-table catch-certificates-table" id="catch-certificates-table-03021110">
              <thead class="govuk-table__head">
              <tr>
                <th class="govuk-table__header">Species</th>
                <th class="govuk-table__header">Catch certificate number</th>
                <th class="govuk-table__header">Flag state of the vessel</th>
                <th class="govuk-table__header">Weight (kg)</th>
                <th class="govuk-table__header">
                  <span class="govuk-visually-hidden">Remove link</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-species-03021110">Species</label>
                  <select class="govuk-select govuk-form-control form-control-full-width " name="catch-certificate-species-03021110" id="catch-certificate-species-03021110">
                    <option value="238188">Oncorhynchus chrysogaster</option>
                    <option value="36797">Oncorhynchus apache</option>
                  </select>
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-number-03021110">Catch certificate number</label>
                  <input type="text" name="catch-certificate-number-03021110" id="catch-certificate-number-03021110" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-flag-03031300">Flag state</label>
                  <input type="text" name="catch-certificate-flag-03031300" id="catch-certificate-flag-03031300" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-weight-03021110">Weight (kg)</label>
                  <input type="text" name="catch-certificate-weight-03021110" id="catch-certificate-weight-03021110" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="change govuk-table__cell"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="govuk-!-margin-top-2">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-visually-hidden">Add another button for Of the species Oncorhynchus apache or Oncorhynchus chrysogaster</legend>
              <input type="submit" name="add-03021110" id="add-03021110" value="Add another" class="link-button">
            </fieldset>
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-8">03031300 - Atlantic salmon (Salmo salar) and Danube salmon (Hucho hucho)</h2>
          
          <div class="table-responsive">
            <table class="govuk-table catch-certificates-table" id="catch-certificates-table-03031300">
              <thead class="govuk-table__head">
              <tr>
                <th class="govuk-table__header">Species</th>
                <th class="govuk-table__header">Catch certificate number</th>
                <th class="govuk-table__header">Flag state of the vessel</th>
                <th class="govuk-table__header">Weight (kg)</th>
                <th class="govuk-table__header">
                  <span class="govuk-visually-hidden">Remove link</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-species-03031300">Species</label>
                  <select class="govuk-select govuk-form-control form-control-full-width " name="catch-certificate-species-03031300" id="catch-certificate-species-03031300">
                    <option value="305679">Salmo salar</option>
                    <option value="152291">Hucho hucho</option>
                  </select>
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-number-03031300">Catch certificate number</label>
                  <input type="text" name="catch-certificate-number-03031300" id="catch-certificate-number-03031300" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-flag-03031300">Flag state</label>
                  <input type="text" name="catch-certificate-flag-03031300" id="catch-certificate-flag-03031300" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
                <td class="govuk-table__cell">
                  <label class="govuk-visually-hidden" for="catch-certificate-weight-03031300">Weight (kg)</label>
                  <input type="text" name="catch-certificate-weight-03031300" id="catch-certificate-weight-03031300" class="govuk-input govuk-form-control form-control-full-width ">
                </td>
               
              </tr>
              </tbody>
            </table>
          </div>
          <div class="govuk-!-margin-top-2">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-visually-hidden">Add another button for Atlantic salmon (Salmo salar) and Danube salmon (Hucho hucho)</legend>
              <input type="submit" name="add-03031300" id="add-03031300" value="Add another" class="link-button">
            </fieldset>
          </div>
        <p class="govuk-!-margin-top-9">   
          
          <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-return-button-p" name="save-and-return-button-p" type="submit" value="Save and continue" data-module="govuk-button">
          <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4 govuk-button--secondary" id="button-save-and-continue-p" name="button-save-and-continue-p" type="submit" value="Save and return to task list" data-module="govuk-button">
          <p class="govuk-body"><a class="govuk-link" href="07-check-answers">Cancel and return to task list</a></p>
<p></p>
      </form>
  </div>
  </div>
</main>
{% endblock %}
