
{% extends "layout.html" %}

{% block pageTitle %}
Illegal, unreported and unregulated (IUU) fishing documents  – Import and export applications – GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}



<div class="govuk-!-padding-top-6">
  <span class="heading-tertiary">
      <span id="reference-number">DRAFT.GB.2023.5925980</span>
          <span> - CHEDP</span>
  </span>
</div>


<main class="govuk-main-wrapper" id="main-content">
  <!-- <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
      <div class="govuk-notification-banner govuk-notification-banner--success" id="banner" role="region" aria-labelledby="banner-title" data-label="" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="banner-title">
              Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-body">
              1 row removed
            </p>
        </div>
      </div>
  </div> -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl " id="page-primary-title">Illegal, unreported and unregulated (IUU) fishing documents</h1>
      <div class="govuk-!-margin-bottom-9">
      <p class="govuk-body">Make sure you upload all required IUU documents or the consignment may be rejected.</p>
      
      <p class="govuk-body">For help with required documents, check the guidance on <a href="https://www.gov.uk/guidance/importing-or-moving-fish-to-the-uk" target="_blank">importing or moving fish into the UK (opens in new tab)</a>.</p>
         
      
      <div class="govuk-inset-text">
        <p class="govuk-body govuk-!-margin-bottom-1">The documents must be:</p>
        <ul>
         <li> smaller than 10MB</li>
          
          <li>a DOC, PDF, XLS, JPEG, PNG or GIF file</li>
         </ul>  
         <p id="guide-text">Inform us if your <a href="09g-inform" name="">consignment has more than a 100 documents</a>.</p>
        </div> 
       </div>  
       </div>
       </div>  
       
       <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"> 
          
      <form action="/iuu-doc-route-entered" method="POST">
        <input name="crumb" type="hidden" value="LY9uwrq9nmbnVpWYiHKtz_BBwrKdY7h6NmE1knMJVmy">
        <input name="etag" type="hidden" value="&quot;00000000053B49DD&quot;">
         


        <div class="govuk-!-margin-bottom-9 additional-documents-table" id="catch-cert-table">
             
  
              
          
              <div class="govuk-!-margin-bottom-9 additional-documents-table" id="additional-documents-table1">
                <div class="additional-documents__caption govuk-heading-m" id="add-additional-documents-header">
                  Catch certificates
                </div>
              <p class="govuk-body">
                Required if the country exporting the fish matches the catching vessel’s flag state.
                </p>
              
  
              <p class="govuk-heading-s" id="additional-documents-number-of-documents-message">Showing 5 catch certificates</p>
  
            <div class="additional-documents__grid-row additional-documents__headers">
              <div class="additional-documents__grid-column-15 additional-documents__table-header">
                Catch certificate reference
              </div>
              <div class="additional-documents__grid-column-15 additional-documents__table-header">
                Flag state of vessel
              </div>
              <div class="additional-documents__grid-column-doc-date additional-documents__table-header">
                Date of issue
                <div class="additional-documents__date-of-issue-hint">
                  <span class="additional-documents__date-of-issue-hint__day">Day</span>
                  <span class="additional-documents__date-of-issue-hint__month">Month</span>
                  <span class="additional-documents__date-of-issue-hint__year">Year</span>
                </div>
              </div>
              <div class="additional-documents__grid-column-20 additional-documents__table-header">
                Attachments 
              </div>
            </div>
  
              <div class="additional-documents__grid-row additional-document-info">
                <div class="additional-documents__grid-column-25 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-type-heading-0">Catch certificate reference</div>
                  <div class="additional-documents__content-value" id="additional-document-type-value-0">
                    CC-3490834
                  </div>
                </div>
                <div class="additional-documents__grid-column-15 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-reference-heading-0">Flag state of vessel</div>
                  <div class="additional-documents__content-value" id="additional-document-reference-value-0">
                    Spain
                  </div>
                </div>
                <div class="additional-documents__grid-column-doc-date additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-date-heading-0">
                    Date of issue
                      <div class="additional-documents__date-of-issue-hint">
                        <span class="additional-documents__date-of-issue-hint__day">Day</span>
                        <span class="additional-documents__date-of-issue-hint__month">Month</span>
                        <span class="additional-documents__date-of-issue-hint__year">Year</span>
                      </div>
                  </div>
                  <div class="additional-documents__content-value" id="additional-document-date-value-0">
                    1 September 2023
                  </div>
              
                </div>
                <div class="additional-documents__grid-column-20 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-attachment-heading-0">
                    Attachments 
                  </div>
                  <div class="additional-documents__content-value" id="additional-document-attachment-value-0">
                      <a rel="noopener noreferrer" title="catch cert details- cur(1).png" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5981718/attachment/6d3abef9-e243-4bd3-9ab9-810c4f0de85d" class="govuk-link ellipsis" id="attachment-view-6d3abef9-e243-4bd3-9ab9-810c4f0de85d" target="_blank" aria-label="View catch cert details- cur(1).png">
                        CC-3490834.pdf
                      </a>
                  </div>
                </div>
              </div>
              <div class="additional-documents__grid-row additional-documents__content-links">
                      <div class="additional-documents__grid-column-20">
                        <button type="submit" class="link-button text-align-left" id="remove-attachment-6d3abef9-e243-4bd3-9ab9-810c4f0de85d" name="remove-attachment" value="6d3abef9-e243-4bd3-9ab9-810c4f0de85d" aria-label="Remove attachment catch cert details- cur(1).png">
                          Remove attachment
                        </button>
                      </div>
                      <div class="additional-documents__grid-column-20">
                        <a class="govuk-link link-button" href="/upload/tst/protected/upload/DRAFT.GB.2023.5981718/0/notification/delete-row">
                          Remove row
                        </a>
                      </div>
              </div>
              <div class="additional-documents__grid-row additional-document-info">
                <div class="additional-documents__grid-column-25 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-type-heading-1">Catch certificate reference</div>
                  <div class="additional-documents__content-value" id="additional-document-type-value-1">
                    CC-3490835
                  </div>
                </div>
                <div class="additional-documents__grid-column-15 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-reference-heading-1">Flag state of vessel</div>
                  <div class="additional-documents__content-value" id="additional-document-reference-value-1">
                    Spain
                  </div>
                </div>
                <div class="additional-documents__grid-column-doc-date additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-date-heading-1">
                    Date of issue
                      <div class="additional-documents__date-of-issue-hint">
                        <span class="additional-documents__date-of-issue-hint__day">Day</span>
                        <span class="additional-documents__date-of-issue-hint__month">Month</span>
                        <span class="additional-documents__date-of-issue-hint__year">Year</span>
                      </div>
                  </div>
                  <div class="additional-documents__content-value" id="additional-document-date-value-1">
                    1 September 2023
                  </div>
              
                </div>
                <div class="additional-documents__grid-column-20 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-attachment-heading-1">
                    Attachments 
                  </div>
                  <div class="additional-documents__content-value" id="additional-document-attachment-value-1">
                      <a rel="noopener noreferrer" title="catch cert details- cur.png" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5981718/attachment/8b0bd680-f21c-4328-a747-3758ed45b0c9" class="govuk-link ellipsis" id="attachment-view-8b0bd680-f21c-4328-a747-3758ed45b0c9" target="_blank" aria-label="View catch cert details- cur.png">
                        CC-3490835.pdf
                      </a>
                  </div>
                </div>
              </div>
              <div class="additional-documents__grid-row additional-documents__content-links">
                      <div class="additional-documents__grid-column-20">
                        <button type="submit" class="link-button text-align-left" id="remove-attachment-8b0bd680-f21c-4328-a747-3758ed45b0c9" name="remove-attachment" value="8b0bd680-f21c-4328-a747-3758ed45b0c9" aria-label="Remove attachment catch cert details- cur.png">
                          Remove attachment
                        </button>
                      </div>
                      <div class="additional-documents__grid-column-20">
                        <a class="govuk-link link-button" href="/upload/tst/protected/upload/DRAFT.GB.2023.5981718/1/notification/delete-row">
                          Remove row
                        </a>
                      </div>
              </div>
              <div class="additional-documents__grid-row additional-document-info">
                <div class="additional-documents__grid-column-25 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-type-heading-2">Catch certificate reference</div>
                  <div class="additional-documents__content-value" id="additional-document-type-value-2">
                      CC-349086 
                  </div>
                </div>
                <div class="additional-documents__grid-column-15 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-reference-heading-2">Flag state of vessel</div>
                  <div class="additional-documents__content-value" id="additional-document-reference-value-2">
                    Spain
                  </div>
                </div>
                <div class="additional-documents__grid-column-doc-date additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-date-heading-2">
                    Date of issue
                      <div class="additional-documents__date-of-issue-hint">
                        <span class="additional-documents__date-of-issue-hint__day">Day</span>
                        <span class="additional-documents__date-of-issue-hint__month">Month</span>
                        <span class="additional-documents__date-of-issue-hint__year">Year</span>
                      </div>
                  </div>
                  <div class="additional-documents__content-value" id="additional-document-date-value-2">
                    1 September 2023
                  </div>
              
                </div>
                <div class="additional-documents__grid-column-20 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-attachment-heading-2">
                    Attachments 
                  </div>
                  <div class="additional-documents__content-value" id="additional-document-attachment-value-2">
                      <a rel="noopener noreferrer" title="catch cert details- cur(2).png" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5981718/attachment/2d8b38b6-6c5f-4ac8-94bb-754bfb1f574f" class="govuk-link ellipsis" id="attachment-view-2d8b38b6-6c5f-4ac8-94bb-754bfb1f574f" target="_blank" aria-label="View catch cert details- cur(2).png">
                        CC-3490836.pdf
                      </a>
                  </div>
                </div>
              </div>
              <div class="additional-documents__grid-row additional-documents__content-links">
                      <div class="additional-documents__grid-column-20">
                        <button type="submit" class="link-button text-align-left" id="remove-attachment-2d8b38b6-6c5f-4ac8-94bb-754bfb1f574f" name="remove-attachment" value="2d8b38b6-6c5f-4ac8-94bb-754bfb1f574f" aria-label="Remove attachment catch cert details- cur(2).png">
                          Remove attachment
                        </button>
                      </div>
                      <div class="additional-documents__grid-column-20">
                        <a class="govuk-link link-button" href="/upload/tst/protected/upload/DRAFT.GB.2023.5981718/2/notification/delete-row">
                          Remove row
                        </a>
                      </div>
              </div>
              <div class="additional-documents__grid-row additional-document-info">
                <div class="additional-documents__grid-column-25 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-type-heading-3">Catch certificate reference</div>
                  <div class="additional-documents__content-value" id="additional-document-type-value-3">
                       CC-3490837
                  </div>
                </div>
                <div class="additional-documents__grid-column-15 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-reference-heading-3">Flag state of vessel</div>
                  <div class="additional-documents__content-value" id="additional-document-reference-value-3">
                   Romania
                  </div>
                </div>
                <div class="additional-documents__grid-column-doc-date additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-date-heading-3">
                    Date of issue
                      <div class="additional-documents__date-of-issue-hint">
                        <span class="additional-documents__date-of-issue-hint__day">Day</span>
                        <span class="additional-documents__date-of-issue-hint__month">Month</span>
                        <span class="additional-documents__date-of-issue-hint__year">Year</span>
                      </div>
                  </div>
                  <div class="additional-documents__content-value" id="additional-document-date-value-3">
                    1 September 2023
                  </div>
              
                </div>
                <div class="additional-documents__grid-column-20 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-attachment-heading-3">
                    Attachments 
                  </div>
                  <div class="additional-documents__content-value" id="additional-document-attachment-value-3">
                      <a rel="noopener noreferrer" title="catch cert details- cur(3).png" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5981718/attachment/4f7bf33c-6c5a-4fc4-8e77-39607db2e996" class="govuk-link ellipsis" id="attachment-view-4f7bf33c-6c5a-4fc4-8e77-39607db2e996" target="_blank" aria-label="View catch cert details- cur(3).png">
                        CC-3490837.pdf
                      </a>
                  </div>
                </div>
              </div>
              <div class="additional-documents__grid-row additional-documents__content-links">
                      <div class="additional-documents__grid-column-20">
                        <button type="submit" class="link-button text-align-left" id="remove-attachment-4f7bf33c-6c5a-4fc4-8e77-39607db2e996" name="remove-attachment" value="4f7bf33c-6c5a-4fc4-8e77-39607db2e996" aria-label="Remove attachment catch cert details- cur(3).png">
                          Remove attachment
                        </button>
                      </div>
                      <div class="additional-documents__grid-column-20">
                        <a class="govuk-link link-button" href="/upload/tst/protected/upload/DRAFT.GB.2023.5981718/3/notification/delete-row">
                          Remove row
                        </a>
                      </div>
              </div>
              <div class="additional-documents__grid-row additional-document-info">
                <div class="additional-documents__grid-column-25 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-type-heading-4">Catch certificate reference</div>
                  <div class="additional-documents__content-value" id="additional-document-type-value-4">
                    CC-3490838
                  </div>
                </div>
                <div class="additional-documents__grid-column-15 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-reference-heading-4">Flag state of vessel</div>
                  <div class="additional-documents__content-value" id="additional-document-reference-value-4">
                    Portugal
                  </div>
                </div>
                <div class="additional-documents__grid-column-doc-date additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-date-heading-4">
                    Date of issue
                      <div class="additional-documents__date-of-issue-hint">
                        <span class="additional-documents__date-of-issue-hint__day">Day</span>
                        <span class="additional-documents__date-of-issue-hint__month">Month</span>
                        <span class="additional-documents__date-of-issue-hint__year">Year</span>
                      </div>
                  </div>
                  <div class="additional-documents__content-value" id="additional-document-date-value-4">
                    1 September 2023
                  </div>
              
                </div>
                <div class="additional-documents__grid-column-20 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-attachment-heading-4">
                    Attachments 
                  </div>
                  <div class="additional-documents__content-value" id="additional-document-attachment-value-4">
                      <a rel="noopener noreferrer" title="catch cert details- cur(4).png" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5981718/attachment/626b9f47-937b-4cd5-a218-34d3c99949fc" class="govuk-link ellipsis" id="attachment-view-626b9f47-937b-4cd5-a218-34d3c99949fc" target="_blank" aria-label="View catch cert details- cur(4).png">
                        CC-3490838.pdf
                      </a>
                  </div>
                </div>
              </div>
              <div class="additional-documents__grid-row additional-documents__content-links">
                      <div class="additional-documents__grid-column-20">
                        <button type="submit" class="link-button text-align-left" id="remove-attachment-626b9f47-937b-4cd5-a218-34d3c99949fc" name="remove-attachment" value="626b9f47-937b-4cd5-a218-34d3c99949fc" aria-label="Remove attachment catch cert details- cur(4).png">
                          Remove attachment
                        </button>
                      </div>
                      <div class="additional-documents__grid-column-20">
                        <a class="govuk-link link-button" href="/upload/tst/protected/upload/DRAFT.GB.2023.5981718/4/notification/delete-row">
                          Remove row
                        </a>
                      </div>
              </div>
              <button type="submit" class="link-button additional-documents__add-another-document" id="button-add-additional-document" name="iuuDocType" value="Catch certificates">
                Add a document
            </button>

            <button type="submit" class="link-button additional-documents__add-another-document" id="button-add-multiple-documents" name="iuuDocType" value="Catch certificates">
              Add multiple documents
            </button>
          </div>



        <div class="govuk-!-margin-bottom-9 additional-documents-table" id="additional-documents-table">
          <div class="additional-documents__caption govuk-heading-m" id="add-additional-documents-header">
            Processing statements
          </div>
          <p class="govuk-hint">
            Required for fish processed in a different country to the catching vessel’s flag state.
          </p>

          
      
<!-- 
        <p class="govuk-heading-s" id="additional-documents-number-of-documents-message">Showing 0 additional documents</p> -->

      <!-- <div class="additional-documents__grid-row additional-documents__headers">
        <div class="additional-documents__grid-column-15 additional-documents__table-header">
          Document type
        </div>
        <div class="additional-documents__grid-column-15 additional-documents__table-header">
          Document reference
        </div>
        <div class="additional-documents__grid-column-doc-date additional-documents__table-header">
          Date of issue
          <div class="additional-documents__date-of-issue-hint">
            <span class="additional-documents__date-of-issue-hint__day">Day</span>
            <span class="additional-documents__date-of-issue-hint__month">Month</span>
            <span class="additional-documents__date-of-issue-hint__year">Year</span>
          </div>
        </div>
        <div class="additional-documents__grid-column-20 additional-documents__table-header">
          Attachments 
        </div>
      </div> -->

         <div class="additional-documents__grid-row additional-documents__add-document">
         <!-- <div class="additional-documents__grid-column-15">
              <div class="govuk-form-group govuk-!-margin-bottom-0 ">
              
              
              
                
             
                <select class="ipaffs-document-type govuk-!-margin-top-3" id="document-type" name="document-type" aria-label="Document type">
                    <option value="">Select document type</option>
                    <option value="veterinaryHealthCertificate">Veterinary health certificate</option>
                    <option value="airWaybill">Air waybill</option>
                    <option value="billOfLading">Bill of lading</option>
                    <option value="catchCertificate">Catch certificate</option>
                    <option value="commercialInvoice">Commercial invoice</option>
                    <option value="customsDeclaration">Customs declaration</option>
                    <option value="importPermit">Import permit</option>
                    <option value="laboratorySamplingResultsForAflatoxin">Laboratory Sampling results for Aflatoxin (Reg 2019/1793)</option>
                    <option value="letterOfAuthority">Letter of authority (Directive 2008/61/EC)</option>
                    <option value="processingStatement">Processing statement</option>
                    <option value="proofOfStorage">Proof of storage</option>
                    <option value="railwayBill">Railway bill</option>
                    <option value="seaWaybill">Sea waybill</option>
                    <option value="other">Other</option>
                </select>
              </div>
          </div>
          <div class="additional-documents__grid-column-15">
            <div class="govuk-form-group govuk-!-margin-bottom-0 ">
            
            
                
            
              <input class="govuk-input  " id="document-reference" name="document-reference" type="text" value="" aria-label="Document reference">
            </div>
          </div>
          <div class="additional-documents__grid-column-doc-date">
            <div class="govuk-form-group govuk-!-margin-bottom-0 ">
              <fieldset class="govuk-fieldset" role="group">
                  <legend class="govuk-fieldset__legend govuk-visually-hidden">
                    
                    Document issue date
                    
                  </legend>
            
            
            
                <div class="govuk-date-input date-input--picker short-date-input" id="document-issue-date" data-module="accessible-datepicker">
                  <div class="govuk-date-input__item date-input-day">
                    <div class="govuk-form-group">
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-day" id="document-issue-date-day" name="document-issue-date-day" type="text" value="" inputmode="numeric" maxlength="2" aria-label="Day">
                    </div>
                  </div>
                  <div class="govuk-date-input__item date-input-month">
                    <div class="govuk-form-group">
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-month" id="document-issue-date-month" name="document-issue-date-month" type="text" value="" inputmode="numeric" maxlength="2" aria-label="Month">
                    </div>
                  </div>
                  <div class="govuk-date-input__item date-input-year">
                    <div class="govuk-form-group">
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4 date-picker-year" id="document-issue-date-year" name="document-issue-date-year" type="text" value="" inputmode="numeric" maxlength="4" aria-label="Year">
                    </div>
                  </div>
                <div class="date-picker__container date-picker__container--icon defra-datepicker">
                 <button class="date-picker__reveal__icon" type="button"><span class="sr-only">Choose date</span>
                    <svg aria-hidden="true" role="img">
                      <use href="#calendar"></use>
                    </svg></button> 
                  <div class="date-picker__dialog date-picker__dialog--hidden" role="dialog" aria-modal="true" tabindex="-1">
                    <div class="date-picker__header govuk-clearfix"><button type="button"
                        class="date-picker__button__previous-month">Previous month</button>
                      <h2 id="date-picker-label-68" class="date-picker__heading" aria-live="assertive" aria-atomic="true">August 2023</h2>
                      <button type="button" class="date-picker__button__next-month">Next month</button>
                    </div>
                    <table class="date-picker__date-table" role="presentation" aria-labelledby="date-picker-label-68">
                      <thead>
                        <tr>
                          <th scope="col" abbr="Sunday" aria-label="Sunday">Su</th>
                          <th scope="col" abbr="Monday" aria-label="Monday">Mo</th>
                          <th scope="col" abbr="Tuesday" aria-label="Tuesday">Tu</th>
                          <th scope="col" abbr="Wednesday" aria-label="Wednesday">We</th>
                          <th scope="col" abbr="Thursday" aria-label="Thursday">Th</th>
                          <th scope="col" abbr="Friday" aria-label="Friday">Fr</th>
                          <th scope="col" abbr="Saturday" aria-label="Saturday">Sa</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table><button class="date-picker__button__close" type="button" value="close">Cancel</button>
                    <p class="aria-live-message sr-only" aria-live="assertive"></p>
                  </div>
                  </div>
                  </div>
                  </fieldset>
            </div>
          </div>
          <div class="additional-documents__grid-column-20 additional-documents__add-document-attachment">
            <button type="submit" class="link-button no-wrap" id="add-attachment" name="add-attachment" value="">
              Add attachment
            </button>
          </div>-->
        </div> 
        <input name="is-additional-document-row-shown" type="hidden" value="true">
        <button type="submit" class="link-button additional-documents__add-another-document" id="button-add-additional-document" name="iuuDocType" value="Processing statements">
          Add a document
      </button>

      <button type="submit" class="link-button additional-documents__add-another-document" id="button-add-multiple-documents" name="iuuDocType" value="Processing statements">
        Add multiple documents
      </button>
    </div>



    <div class="govuk-!-margin-bottom-9 additional-documents-table" id="additional-documents-table">
      <div class="additional-documents__caption govuk-heading-m" id="add-additional-documents-header">
        Storage statements
      </div>
      <p class="govuk-hint">
        Required for fish stored in a different country to the processing country or catching vessel’s flag state.
      </p>

      
  
<!-- 
    <p class="govuk-heading-s" id="additional-documents-number-of-documents-message">Showing 0 additional documents</p> -->

  <!-- <div class="additional-documents__grid-row additional-documents__headers">
    <div class="additional-documents__grid-column-15 additional-documents__table-header">
      Document type
    </div>
    <div class="additional-documents__grid-column-15 additional-documents__table-header">
      Document reference
    </div>
    <div class="additional-documents__grid-column-doc-date additional-documents__table-header">
      Date of issue
      <div class="additional-documents__date-of-issue-hint">
        <span class="additional-documents__date-of-issue-hint__day">Day</span>
        <span class="additional-documents__date-of-issue-hint__month">Month</span>
        <span class="additional-documents__date-of-issue-hint__year">Year</span>
      </div>
    </div>
    <div class="additional-documents__grid-column-20 additional-documents__table-header">
      Attachments 
    </div>
  </div> -->

     <div class="additional-documents__grid-row additional-documents__add-document">
     <!-- <div class="additional-documents__grid-column-15">
          <div class="govuk-form-group govuk-!-margin-bottom-0 ">
          
          
          
            
         
            <select class="ipaffs-document-type govuk-!-margin-top-3" id="document-type" name="document-type" aria-label="Document type">
                <option value="">Select document type</option>
                <option value="veterinaryHealthCertificate">Veterinary health certificate</option>
                <option value="airWaybill">Air waybill</option>
                <option value="billOfLading">Bill of lading</option>
                <option value="catchCertificate">Catch certificate</option>
                <option value="commercialInvoice">Commercial invoice</option>
                <option value="customsDeclaration">Customs declaration</option>
                <option value="importPermit">Import permit</option>
                <option value="laboratorySamplingResultsForAflatoxin">Laboratory Sampling results for Aflatoxin (Reg 2019/1793)</option>
                <option value="letterOfAuthority">Letter of authority (Directive 2008/61/EC)</option>
                <option value="processingStatement">Processing statement</option>
                <option value="proofOfStorage">Proof of storage</option>
                <option value="railwayBill">Railway bill</option>
                <option value="seaWaybill">Sea waybill</option>
                <option value="other">Other</option>
            </select>
          </div>
      </div>
      <div class="additional-documents__grid-column-15">
        <div class="govuk-form-group govuk-!-margin-bottom-0 ">
        
        
            
        
          <input class="govuk-input  " id="document-reference" name="document-reference" type="text" value="" aria-label="Document reference">
        </div>
      </div>
      <div class="additional-documents__grid-column-doc-date">
        <div class="govuk-form-group govuk-!-margin-bottom-0 ">
          <fieldset class="govuk-fieldset" role="group">
              <legend class="govuk-fieldset__legend govuk-visually-hidden">
                
                Document issue date
                
              </legend>
        
        
        
            <div class="govuk-date-input date-input--picker short-date-input" id="document-issue-date" data-module="accessible-datepicker">
              <div class="govuk-date-input__item date-input-day">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-day" id="document-issue-date-day" name="document-issue-date-day" type="text" value="" inputmode="numeric" maxlength="2" aria-label="Day">
                </div>
              </div>
              <div class="govuk-date-input__item date-input-month">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-month" id="document-issue-date-month" name="document-issue-date-month" type="text" value="" inputmode="numeric" maxlength="2" aria-label="Month">
                </div>
              </div>
              <div class="govuk-date-input__item date-input-year">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4 date-picker-year" id="document-issue-date-year" name="document-issue-date-year" type="text" value="" inputmode="numeric" maxlength="4" aria-label="Year">
                </div>
              </div>
            <div class="date-picker__container date-picker__container--icon defra-datepicker">
             <button class="date-picker__reveal__icon" type="button"><span class="sr-only">Choose date</span>
                <svg aria-hidden="true" role="img">
                  <use href="#calendar"></use>
                </svg></button> 
              <div class="date-picker__dialog date-picker__dialog--hidden" role="dialog" aria-modal="true" tabindex="-1">
                <div class="date-picker__header govuk-clearfix"><button type="button"
                    class="date-picker__button__previous-month">Previous month</button>
                  <h2 id="date-picker-label-68" class="date-picker__heading" aria-live="assertive" aria-atomic="true">August 2023</h2>
                  <button type="button" class="date-picker__button__next-month">Next month</button>
                </div>
                <table class="date-picker__date-table" role="presentation" aria-labelledby="date-picker-label-68">
                  <thead>
                    <tr>
                      <th scope="col" abbr="Sunday" aria-label="Sunday">Su</th>
                      <th scope="col" abbr="Monday" aria-label="Monday">Mo</th>
                      <th scope="col" abbr="Tuesday" aria-label="Tuesday">Tu</th>
                      <th scope="col" abbr="Wednesday" aria-label="Wednesday">We</th>
                      <th scope="col" abbr="Thursday" aria-label="Thursday">Th</th>
                      <th scope="col" abbr="Friday" aria-label="Friday">Fr</th>
                      <th scope="col" abbr="Saturday" aria-label="Saturday">Sa</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table><button class="date-picker__button__close" type="button" value="close">Cancel</button>
                <p class="aria-live-message sr-only" aria-live="assertive"></p>
              </div>
              </div>
              </div>
              </fieldset>
        </div>
      </div>
      <div class="additional-documents__grid-column-20 additional-documents__add-document-attachment">
        <button type="submit" class="link-button no-wrap" id="add-attachment" name="add-attachment" value="">
          Add attachment
        </button>
      </div>-->
    </div> 
    <input name="is-additional-document-row-shown" type="hidden" value="true">
    <button type="submit" class="link-button additional-documents__add-another-document" id="button-add-additional-document" name="iuuDocType" value="Storage statements">
      Add a document
  </button>

  <button type="submit" class="link-button additional-documents__add-another-document" id="button-add-multiple-documents" name="iuuDocType" value="Storage statements">
    Add multiple documents
  </button>
</div>

          
        <input name="current-page-number" type="hidden" value="1">

        <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-return-button-p" name="iuuDocType" type="submit" value="Save and continue" data-module="govuk-button">
        <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4 govuk-button--secondary" id="button-save-and-continue-p" name="iiuuDocType" type="submit" value="Save and return to task list" data-module="govuk-button">
        <p class="govuk-body"><a class="govuk-link" href="07-check-answers">Cancel and return to task list</a></p>
      </form>
    </div>
  </div>
</main>
{% endblock %}
