
{% extends "layout.html" %}

{% block pageTitle %}
Review your notification  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
    <a href="07-check-answers" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  <div class="navigation-links__divider">|</div>
  <div class="govuk-breadcrumbs breadcrumbs--next-to-back">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="0-index">Dashboard</a>
      </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="07-check-answers">Notification Hub</a>
          </li>
    </ol>
  </div>  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Plants</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="/notification/vnet/protected/notifications/address-book">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
</div>



  <div class="govuk-!-padding-top-6 govuk-!-margin-bottom-3">
    <span class="heading-tertiary">
        <span id="reference-number">DRAFT.GB.2023.5925980</span>
            <span> - CHEDP</span>
    </span>
  </div>


  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  
  
        <h1 class="govuk-heading-xl " id="page-primary-title">Review your notification</h1>
  
  
        <div class="audit-flag">
          <div id="last-submission-date">Submitted on: </div>
          <div id="submitted-by">Submitted by: </div>
          <div id="last-updated-date">Last updated: 31 August 2023, 16:08</div>
          <div id="last-updated-by">Last updated by: Andrew Inspector-Tester</div>
        </div>
  
  
  
  
  
  
  
            <h2 class="govuk-heading-m">About the consignment</h2>
            
            
            <div class="table-responsive">
              <table class="govuk-table presentation-table review-table" id="review-table-about-notification" role="presentation">
                <tbody>
                  <tr class="presentation-table__section">
                    <td class="govuk-table__header">What are you importing?</td>
                    <td class="govuk-table__cell" id="importing">Products of animal origin</td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                    <tr class="presentation-table__section">
                      <td class="govuk-table__header">Add a reference number for this consignment</td>
                      <td class="govuk-table__cell" id="local-reference-number">millie-IUU-03</td>
                      <td class="govuk-table__cell change">
                            <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/consignment/page-2?fromImporterReview=true" class="govuk-link" id="country-of-origin-change-link">
                              Change
                            </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="govuk-table__header">Country of origin</td>
                      <td class="govuk-table__cell" id="country-of-origin">Montenegro</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr>
                      <td class="govuk-table__header">Country from where consigned</td>
                      <td class="govuk-table__cell">Montenegro</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr>
                      <td class="govuk-table__header">Region code</td>
                      <td class="govuk-table__cell" id="region-of-consignment-value">
                        
                      </td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr>
                      <td class="govuk-table__header">
                        Does this consignment conform to regulatory requirements?
                      </td>
                      <td class="govuk-table__cell">Yes</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
            
                  <tr class="presentation-table__section ">
                    <td class="govuk-table__header">What is the purpose of the consignment?</td>
                    <td class="govuk-table__cell" id="purpose-of-consignment-value">
                        For internal market
                              </td>
                    <td class="govuk-table__cell change">
                          <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/consignment/page-5?fromImporterReview=true" class="govuk-link" id="consignment-purpose-change-link">
                            Change
                          </a>
                    </td>
                  </tr>
                      <tr>
                        <td class="govuk-table__header">Purpose in the internal market</td>
                        <td>Human Consumption</td>
                        <td></td>
                      </tr>
                </tbody>
              </table>
            </div>
            
            <div class="govuk-grid-row">
                <h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-grid-column-one-half">Description of the goods</h2>
            </div>
            
                <div class="table-responsive">
                  <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0" id="review-table-commodity-attributes-0" role="presentation">
                    <tbody class="govuk-table__head">
                      <tr id="03044100/expired" class="presentation-table__section ">
                        <td class="govuk-table__header">Commodity code</td>
                        <td class="govuk-table__cell">03044100   </td>
                        <td class="govuk-table__cell change">
                              <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details?fromImporterReview=true" class="govuk-link" id="commodity-change-link-0">Change</a>
                        </td>
                      </tr>
                    <tr class="presentation-table__row--no-border">
                      <td class="govuk-table__header">Type of commodity</td>
                      <td class="govuk-table__cell">Farmed stock</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr></tr>
                    </tbody>
                  </table>
                </div>
                  <div class="table-responsive">
                    <table class="govuk-table review-table" id="review-table-consignment-0" role="presentation">
                      <thead class="govuk-table__head">
                        <tr>
                          <td class="govuk-table__header species">
                            Species
                          </td>
                          <td class="govuk-table__header govuk-table__header--numeric weight">
                            Net weight
                          </td>
                          <td class="govuk-table__header govuk-table__header--numeric packages">
                            Packages
                          </td>
                          <td class="govuk-table__header package-type">Package type</td>
                        </tr>
                      </thead>
                      <tbody>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Hucho hucho
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              200 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              40
                            </td>
                            <td class="govuk-table__cell">Box</td>
                          </tr>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Oncorhynchus keta
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              400 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              80
                            </td>
                            <td class="govuk-table__cell">Box</td>
                          </tr>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Oncorhynchus rhodurus
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              300 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              60
                            </td>
                            <td class="govuk-table__cell">Box</td>
                          </tr>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Salmo salar
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              700 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              40
                            </td>
                            <td class="govuk-table__cell">Box</td>
                          </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td class="govuk-table__header">
                            Subtotal
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            1600 kg/units
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            220
                          </td>
                          <td class="govuk-table__cell"></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                    <div class="table-responsive">
                      <table class="govuk-table review-table govuk-!-margin-bottom-0 table--no-borders data-table-catch-certificates-heading">
                        <tbody>
                        <tr>
                          <td class="govuk-table__header" id="03044100-catch-cert-heading">
                            03044100 catch certificate details
                          </td>
                          <td class="govuk-table__cell change">
                            <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/catch-certificates?fromImporterReview=true" class="govuk-link" id="03044100-catch-cert-change-link">Change</a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="table-responsive">
                      <table class="govuk-table presentation-table data-table data-table-catch-certificates">
                        <thead class="govuk-table__head">
                        <tr>
                          <th class="govuk-table__header species">Species</th>
                          <th class="govuk-table__header govuk-table__header--numeric weight">Catch certificate number</th>
                          <th class="govuk-table__header govuk-table__header--numeric packages">Weight (kg)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td id="350200-name-0" class="govuk-table__cell govuk-form-group">Hucho hucho</td>
                        <td id="350200-catch-certificate-number-0" class="govuk-table__cell govuk-table__cell--numeric">CC-45095349</td>
                        <td id="350200-catch-certificate-weight-0" class="govuk-table__cell govuk-table__cell--numeric">300</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
            
                <div class="table-responsive">
                  <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0" id="review-table-commodity-attributes-1" role="presentation">
                    <tbody class="govuk-table__head">
                      <tr id="03033200/expired" class="presentation-table__row--no-border ">
                        <td class="govuk-table__header">Commodity code</td>
                        <td class="govuk-table__cell">03033200   </td>
                        <td class="govuk-table__cell change">
                              <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details?fromImporterReview=true" class="govuk-link" id="commodity-change-link-1">Change</a>
                        </td>
                      </tr>
                    <tr class="presentation-table__row--no-border">
                      <td class="govuk-table__header">Type of commodity</td>
                      <td class="govuk-table__cell">Wild stock</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr></tr>
                    </tbody>
                  </table>
                </div>
                  <div class="table-responsive">
                    <table class="govuk-table review-table" id="review-table-consignment-1" role="presentation">
                      <thead class="govuk-table__head">
                        <tr>
                          <td class="govuk-table__header species">
                            Species
                          </td>
                          <td class="govuk-table__header govuk-table__header--numeric weight">
                            Net weight
                          </td>
                          <td class="govuk-table__header govuk-table__header--numeric packages">
                            Packages
                          </td>
                          <td class="govuk-table__header package-type">Package type</td>
                        </tr>
                      </thead>
                      <tbody>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Pleuronectes platessa
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              400 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              30
                            </td>
                            <td class="govuk-table__cell">Package</td>
                          </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td class="govuk-table__header">
                            Subtotal
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            400 kg/units
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            30
                          </td>
                          <td class="govuk-table__cell"></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                    <div class="table-responsive">
                      <table class="govuk-table review-table govuk-!-margin-bottom-0 table--no-borders data-table-catch-certificates-heading">
                        <tbody>
                        <tr>
                          <td class="govuk-table__header" id="03033200-catch-cert-heading">
                            03033200 catch certificate details
                          </td>
                          <td class="govuk-table__cell change">
                            <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/catch-certificates?fromImporterReview=true" class="govuk-link" id="03033200-catch-cert-change-link">Change</a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="table-responsive">
                      <table class="govuk-table presentation-table data-table data-table-catch-certificates">
                        <thead class="govuk-table__head">
                        <tr>
                          <th class="govuk-table__header species">Species</th>
                          <th class="govuk-table__header govuk-table__header--numeric weight">Catch certificate number</th>
                          <th class="govuk-table__header govuk-table__header--numeric packages">Weight (kg)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="divider-bottom">
                        <td id="290773-name-0" class="govuk-table__cell govuk-form-group">Pleuronectes platessa</td>
                        <td id="290773-catch-certificate-number-0" class="govuk-table__cell govuk-table__cell--numeric">CC-33948HAHH</td>
                        <td id="290773-catch-certificate-weight-0" class="govuk-table__cell govuk-table__cell--numeric">200</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
            
                <div class="table-responsive">
                  <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0" id="review-table-commodity-attributes-2" role="presentation">
                    <tbody class="govuk-table__head">
                      <tr id="03024400/expired" class="presentation-table__row--no-border ">
                        <td class="govuk-table__header">Commodity code</td>
                        <td class="govuk-table__cell">03024400   </td>
                        <td class="govuk-table__cell change">
                              <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details?fromImporterReview=true" class="govuk-link" id="commodity-change-link-2">Change</a>
                        </td>
                      </tr>
                    <tr class="presentation-table__row--no-border">
                      <td class="govuk-table__header">Type of commodity</td>
                      <td class="govuk-table__cell">Wild stock</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr></tr>
                    </tbody>
                  </table>
                </div>
                  <div class="table-responsive">
                    <table class="govuk-table review-table" id="review-table-consignment-2" role="presentation">
                      <thead class="govuk-table__head">
                        <tr>
                          <td class="govuk-table__header species">
                            Species
                          </td>
                          <td class="govuk-table__header govuk-table__header--numeric weight">
                            Net weight
                          </td>
                          <td class="govuk-table__header govuk-table__header--numeric packages">
                            Packages
                          </td>
                          <td class="govuk-table__header package-type">Package type</td>
                        </tr>
                      </thead>
                      <tbody>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Scomber colias
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              240 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              10
                            </td>
                            <td class="govuk-table__cell">Package</td>
                          </tr>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Scomber scombrus
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              640 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              40
                            </td>
                            <td class="govuk-table__cell">Package</td>
                          </tr>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Scomber spp
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              580 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              70
                            </td>
                            <td class="govuk-table__cell">Package</td>
                          </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td class="govuk-table__header">
                            Subtotal
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            1460 kg/units
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            120
                          </td>
                          <td class="govuk-table__cell"></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                    <div class="table-responsive">
                      <table class="govuk-table review-table govuk-!-margin-bottom-0 table--no-borders data-table-catch-certificates-heading">
                        <tbody>
                        <tr>
                          <td class="govuk-table__header" id="03024400-catch-cert-heading">
                            03024400 catch certificate details
                          </td>
                          <td class="govuk-table__cell change">
                            <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/catch-certificates?fromImporterReview=true" class="govuk-link" id="03024400-catch-cert-change-link">Change</a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="table-responsive">
                      <table class="govuk-table presentation-table data-table data-table-catch-certificates">
                        <thead class="govuk-table__head">
                        <tr>
                          <th class="govuk-table__header species">Species</th>
                          <th class="govuk-table__header govuk-table__header--numeric weight">Catch certificate number</th>
                          <th class="govuk-table__header govuk-table__header--numeric packages">Weight (kg)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td id="57704-name-0" class="govuk-table__cell govuk-form-group">Scomber colias</td>
                        <td id="57704-catch-certificate-number-0" class="govuk-table__cell govuk-table__cell--numeric">CC-94398450</td>
                        <td id="57704-catch-certificate-weight-0" class="govuk-table__cell govuk-table__cell--numeric">350</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
            
                <div class="table-responsive">
                  <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0" id="review-table-commodity-attributes-3" role="presentation">
                    <tbody class="govuk-table__head">
                      <tr id="03044100/expired" class="presentation-table__row--no-border ">
                        <td class="govuk-table__header">Commodity code</td>
                        <td class="govuk-table__cell">03044100   </td>
                        <td class="govuk-table__cell change">
                              <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details?fromImporterReview=true" class="govuk-link" id="commodity-change-link-3">Change</a>
                        </td>
                      </tr>
                    <tr class="presentation-table__row--no-border">
                      <td class="govuk-table__header">Type of commodity</td>
                      <td class="govuk-table__cell">Wild stock</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr></tr>
                    </tbody>
                  </table>
                </div>
                  <div class="table-responsive">
                    <table class="govuk-table review-table" id="review-table-consignment-3" role="presentation">
                      <thead class="govuk-table__head">
                        <tr>
                          <td class="govuk-table__header species">
                            Species
                          </td>
                          <td class="govuk-table__header govuk-table__header--numeric weight">
                            Net weight
                          </td>
                          <td class="govuk-table__header govuk-table__header--numeric packages">
                            Packages
                          </td>
                          <td class="govuk-table__header package-type">Package type</td>
                        </tr>
                      </thead>
                      <tbody>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Hucho hucho
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              1000 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              55
                            </td>
                            <td class="govuk-table__cell">Box</td>
                          </tr>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Oncorhynchus keta
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              920 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              60
                            </td>
                            <td class="govuk-table__cell">Box</td>
                          </tr>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Oncorhynchus rhodurus
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              400 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              30
                            </td>
                            <td class="govuk-table__cell">Package</td>
                          </tr>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Salmo salar
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              500 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              25
                            </td>
                            <td class="govuk-table__cell">Package</td>
                          </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td class="govuk-table__header">
                            Subtotal
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            2820 kg/units
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            170
                          </td>
                          <td class="govuk-table__cell"></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
            
                <div class="table-responsive">
                  <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0" id="review-table-commodity-attributes-4" role="presentation">
                    <tbody class="govuk-table__head">
                      <tr id="03033200/expired" class="presentation-table__row--no-border ">
                        <td class="govuk-table__header">Commodity code</td>
                        <td class="govuk-table__cell">03033200   </td>
                        <td class="govuk-table__cell change">
                              <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/commodity/details?fromImporterReview=true" class="govuk-link" id="commodity-change-link-4">Change</a>
                        </td>
                      </tr>
                    <tr class="presentation-table__row--no-border">
                      <td class="govuk-table__header">Type of commodity</td>
                      <td class="govuk-table__cell">Farmed stock</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr></tr>
                    </tbody>
                  </table>
                </div>
                  <div class="table-responsive">
                    <table class="govuk-table review-table" id="review-table-consignment-4" role="presentation">
                      <thead class="govuk-table__head">
                        <tr>
                          <td class="govuk-table__header species">
                            Species
                          </td>
                          <td class="govuk-table__header govuk-table__header--numeric weight">
                            Net weight
                          </td>
                          <td class="govuk-table__header govuk-table__header--numeric packages">
                            Packages
                          </td>
                          <td class="govuk-table__header package-type">Package type</td>
                        </tr>
                      </thead>
                      <tbody>
                          <tr class="
                                     
                                     ">
                            <td class="govuk-table__cell">
                              Pleuronectes platessa
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                              260 kg/units
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                              15
                            </td>
                            <td class="govuk-table__cell">Package</td>
                          </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td class="govuk-table__header">
                            Subtotal
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            260 kg/units
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            15
                          </td>
                          <td class="govuk-table__cell"></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
            
            
            
            
            <div class="table-responsive govuk-!-margin-bottom-9">
              <table class="govuk-table presentation-table review-table" role="presentation" id="review-consignment-details-table">
                <tbody>
            
            
            
                  <tr class="presentation-table__row--no-border ">
                    <td class="govuk-table__header">Total net weight</td>
                    <td class="govuk-table__cell" colspan="2">
                      6540 kg/units
                    </td>
                  </tr>
            
                <tr>
                  <td class="govuk-table__header">Total packages</td>
                  <td class="govuk-table__cell" colspan="2">
                    555
                  </td>
                </tr>
            
            
                  <tr class="presentation-table__section
                          
                          ">
                    <td class="govuk-table__header">Total gross weight (kg/units)</td>
                    <td class="govuk-table__cell" id="gross-weight">8000 kg/units</td>
                      <td class="govuk-table__cell change">
                          <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/consignment/details?fromImporterReview=true" class="govuk-link" id="consignment-details-change-link-weight">
                            Change
                          </a>
                      </td>
                  </tr>
            
            
                  <tr class="">
                    <td class="govuk-table__header">Temperature</td>
                    <td class="govuk-table__cell" colspan="2">Chilled</td>
                  </tr>
            
            
            
                <tr class="presentation-table__section">
                  <td class="govuk-table__header">Will your goods be imported in shipping containers?</td>
                  <td class="govuk-table__cell" id="imported-in-containers" colspan="2">
                    No
                  </td>
                </tr>
            
                </tbody>
              </table>
            
              
              
              
              
            
            </div>
            
            <div class="heading-with-change-link">
              <h2 class="govuk-heading-m">Transport to the Border Control Post (BCP)</h2>
              <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/transport/before-bip?fromImporterReview=true" class="govuk-link" id="transport-to-bip-change-link">
                Change
              </a>
            </div>
            
            
            
            
            
            
            
            
            <div class="table-responsive govuk-!-margin-bottom-9">
              <table class="govuk-table review-table presentation-table" id="review-table-bip-details" role="presentation">
                <caption class="govuk-visually-hidden">Summary of transport to border control post</caption>
                <tbody>
                <tr class="">
                  <th scope="row" class="govuk-table__header">Border Control Post</th>
                  <td class="govuk-table__cell">Belfast Airport - GBBEL1</td>
                </tr>
                <tr class="">
                  <th scope="row" class="govuk-table__header">Means of transport to the BCP</th>
                  <td class="govuk-table__cell">Airplane</td>
                </tr>
                <tr class="">
                  <th scope="row" class="govuk-table__header">Identification</th>
                  <td class="govuk-table__cell">4322</td>
                </tr>
                <tr class="">
                  <th scope="row" class="govuk-table__header">Document</th>
                  <td class="govuk-table__cell">iuyuy</td>
                </tr>
                <tr class="">
                  <th scope="row" class="govuk-table__header">Estimated arrival date at BCP</th>
                  <td class="govuk-table__cell">2 September 2023</td>
                </tr>
                  <tr class="">
                    <th scope="row" class="govuk-table__header">Estimated arrival time at BCP</th>
                    <td class="govuk-table__cell">12:00</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            
            <div class="govuk-!-margin-bottom-9" id="accompanying-documents-section">
                <h2 class="govuk-heading-m" id="documents-section-heading">Documents</h2>
                <hr>
                <div class="table-responsive">
                  
                    
                    
                    
                  
                  <div class="heading-with-change-link">
                    <h3 class="govuk-heading-s" id="latest-health-certificate-heading">Latest health certificate</h3>
                        <a class="govuk-link" id="latest-health-certificate-change-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/documents/page-1?fromImporterReview=true">
                          Change
                        </a>
                  </div>
                  
                  <div class="table-responsive">
                    <table id="latest-health-certificate-table" aria-describedby="latest health certificate table" class="govuk-table presentation-table review-latest-health-certificate-table">
                      <thead class="govuk-table__head">
                        <tr>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document type</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document reference</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date of issue</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Attachments</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="presentation-table__section ">
                          <td class="govuk-table__cell" id="latest-health-document-type">
                            Veterinary health certificate
                          </td>
                          <td class="govuk-table__cell break-word" id="latest-health-document-reference">
                            4387942
                          </td>
                          <td class="govuk-table__cell" id="latest-health-document-issue-date">
                            29 August 2023
                          </td>
                          <td class="govuk-table__cell">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                    
                    
                    
                  
                  <div class="heading-with-change-link">
                      <h3 class="govuk-heading-s" id="additional-documents-sub-heading">Showing 3 additional documents</h3>
                        <a class="govuk-link" id="documents-change-link" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/documents/page-1?fromImporterReview=true">
                          Change
                        </a>
                  </div>
                  
                    <div class="table-responsive">
                      <table id="additional-documents-table" class="govuk-table presentation-table review-additional-documents-table">
                        <thead class="govuk-table__head">
                          <tr>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document type</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document reference</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date of issue</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Attachments</th>
                          </tr>
                        </thead>
                        <tbody>
                                <tr class="presentation-table__section ">
                                  <td class="govuk-table__cell" id="veterinary-document-type-1">
                                    Catch certificate
                                  </td>
                                  <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                                    CC-4387474
                                  </td>
                                  <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                                    29 August 2023
                                  </td>
                                  <td class="govuk-table__cell">
                                    <a class="govuk-link ellipsis" id="attachment-view-bb2b5432-8773-4409-abd3-4506071f6784" title="cert.pdf" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/attachment/bb2b5432-8773-4409-abd3-4506071f6784?source=review">
                                      cert.pdf
                                    </a>
                                  </td>
                                </tr>
                                <tr class="presentation-table__section ">
                                  <td class="govuk-table__cell" id="veterinary-document-type-2">
                                    Catch certificate
                                  </td>
                                  <td class="govuk-table__cell break-word" id="veterinary-document-reference-2">
                                    cc-3490834
                                  </td>
                                  <td class="govuk-table__cell" id="veterinary-document-issue-date-2">
                                    30 August 2023
                                  </td>
                                  <td class="govuk-table__cell">
                                    <a class="govuk-link ellipsis" id="attachment-view-108f3fbc-79f9-45e9-abc4-57406cbab70e" title="catch cert details- cur.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/attachment/108f3fbc-79f9-45e9-abc4-57406cbab70e?source=review">
                                      catch cert details- cur.png
                                    </a>
                                  </td>
                                </tr>
                                <tr class="presentation-table__section ">
                                  <td class="govuk-table__cell" id="veterinary-document-type-3">
                                    Catch certificate
                                  </td>
                                  <td class="govuk-table__cell break-word" id="veterinary-document-reference-3">
                                    cc-34908444
                                  </td>
                                  <td class="govuk-table__cell" id="veterinary-document-issue-date-3">
                                    31 August 2023
                                  </td>
                                  <td class="govuk-table__cell">
                                    <a class="govuk-link ellipsis" id="attachment-view-60a46c7c-8135-4452-858a-8816cb7d4bd1" title="004_catch cert.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/attachment/60a46c7c-8135-4452-858a-8816cb7d4bd1?source=review">
                                      004_catch cert.png
                                    </a>
                                  </td>
                                </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                  <div class="heading-with-change-link">
                    <h2 id="approved-establishment-header" class="govuk-heading-m">Approved establishment</h2>
                    <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/establishment-of-origin?fromImporterReview=true" class="govuk-link" id="establishment-of-origin-change-link">
                      Change
                    </a>
                  </div>
                <div class="table-responsive">
                  <table class="govuk-table presentation-table" id="review-table-approved-establishments">
                    <caption class="govuk-visually-hidden">
                      Approved establishment
                    </caption>
                    <thead class="govuk-table__head">
                      <tr>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Country</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Type</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter no-wrap">
                          Approval number
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
            </div>
            
            
            <h2 class="govuk-heading-m">Traders</h2>
            
            
            
            
            <div class="table-responsive govuk-!-margin-bottom-9">
              <table class="govuk-table presentation-table review-table" id="review-table-traders" role="presentation">
                <tbody>
                  <tr class="">
                    <td class="govuk-table__header govuk-!-width-one-half">Consignor or exporter</td>
                    <td class="govuk-table__cell" id="consignor">
                      TCConsignor<br>
                      TCAddressLine1, TCCity, TC12345, Turks and Caicos Islands, 12345678, TC@gmail.com
                    </td>
                    <td class="govuk-table__cell change">
                          <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/traders?fromImporterReview=true" class="govuk-link" id="traders-change-link">
                            Change
                          </a>
                    </td>
                  </tr>
                  <tr class="">
                    <td class="govuk-table__header govuk-!-width-one-half">Consignee</td>
                    <td class="govuk-table__cell" id="consignee">
                      Tee Inc<br>
                      177 Langport Avenue, Houston, 77889, United States of America, 8989900990, tww@teez.com
                    </td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="">
                    <td class="govuk-table__header govuk-!-width-one-half">Importer</td>
                    <td class="govuk-table__cell" id="importer">
                      Tee Inc<br>
                      177 Langport Avenue, Houston, 77889, United States of America, 8989900990, tww@teez.com</td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="">
                    <td class="govuk-table__header govuk-!-width-one-half">
                      Place of Destination
                    </td>
                    <td class="govuk-table__cell" id="final-destination">
                      Tee Inc<br>
                      177 Langport Avenue, Houston, 77889, United States of America, 8989900990, tww@teez.com
                    </td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                </tbody>
              </table>
            </div>
              <h2 class="govuk-heading-m">Organisation address</h2>
              
              <div class="table-responsive govuk-!-margin-bottom-9">
                <table class="govuk-table presentation-table review-table" id="review-table-organisation-address" role="presentation">
                  <tbody>
                    <tr>
                      <td class="govuk-table__header">Head office / branch address</td>
                      <td class="govuk-table__cell" id="organisation-branch-address-address">100, Cathcart, New Address Line2, Glasgow, GS09 3WQ</td>
                      <td class="govuk-table__cell change">
                            <a href="/notification/tst/protected/notifications/DRAFT.GB.2023.5965940/organisation-branch-address?fromImporterReview=true" class="govuk-link" id="organisation-branch-address-change-link">Change</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
  
          <form action="review" method="POST">
            <input class="govuk-button" type="submit" value="Save and continue" id="button-save-and-continue" data-prevent-double-click="true">
            <input name="crumb" type="hidden" value="njAgVefijl-AGftvHVKuEzKjKTs9FMkpUSSg06ld1x6">
            <input name="etag" type="hidden" value="&quot;000000000547C2DB&quot;">
          </form>
      </div>
    </div>
  </main>

{% endblock %}
