
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Andrew Inspector-Tester</span>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="address-book" href="/notification/tst/protected/notifications/address-book">
        Address book
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="blank-certificates-link" href="/decision/tst/protected/bip-notifications/CHEDs/blank">
        Blank CHEDs
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
  <a href="01-decision-hub" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
</div>

  <form action="07-decision" method="POST">
    <input name="crumb" type="hidden" value="ZXu3-G9T0eYRb0P3pwPknvFMnphp-uMc-v98aQwyCeU">
    <input name="etag" type="hidden" value="&quot;000000000540B70D&quot;">
    <table id="status-component" role="presentation" class="govuk-table govuk-!-margin-bottom-0">
      <tbody><tr class="divider-top divider-bottom govuk-table__row">
        <td class="govuk-table__cell">
            <strong class="govuk-tag tag tag--submitted status-label govuk-!-margin-right-2" id="Status-Label">New</strong>
              <button type="submit" class="link-button" name="setInProgress" value="IN_PROGRESS" id="set-in-progress">
                Save and set as in progress
              </button>
        </td>
      </tr>
    </tbody></table>
  

    <main class="govuk-main-wrapper" id="main-content">
      <div class="govuk-grid-row" id="lab-tests-to-be-performed-page">
          <div class="govuk-grid-column-full">
              <h1 class="govuk-heading-xl">
                <span class="heading-tertiary">
                  <span id="reference-number">CHEDP.GB.2023.5948132</span>
                    <span id="cved-version-number"> - V1</span>
                </span>
                <span id="page-primary-title">Laboratory tests</span>
              </h1>

              <div class="govuk-form-group">
                  <h2 class="govuk-heading-m">Review</h2>
              </div>
              <table class="govuk-table lab-test-table" id="LabTestsTable">
                  <thead class="govuk-table__head">
                      <tr>
                          <th scope="col" class="govuk-table__header">Test</th>
                          <th scope="col" class="govuk-table__header">Commodity code</th>
                          <th scope="col" class="govuk-table__header">Description</th>
                          <th scope="col" class="govuk-table__header">Species</th>
                          <th scope="col" class="govuk-table__header">Analysis type</th>
                          <th scope="col" class="govuk-table__header">Result</th>
                          <th scope="col" class="govuk-table__header"><span class="hidden">Remove</span></th>
                      </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                  <tr class="govuk-table__row" id="lab-tests-row-0">
                      <td class="govuk-table__cell">
                          <button type="submit" class="link-button" name="testResult" value="0" id="TestResult-0">
                              .AMINOGLYCOSIDE/AMINOSIDE
                          </button>
                      </td>
                      <td class="govuk-table__cell">03021120</td>
                      <td class="govuk-table__cell">Of the species Oncorhynchus mykiss, with heads and gills on, gutted, weighing more than 1,2kg each, or with heads off, gilled and gutted, weighing more than 1kg each</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell">Initial</td>
                      <td class="govuk-table__cell">Pending</td>
                      <td class="govuk-table__cell">
                          <button type="submit" class="link-button" name="remove-labTest" value="0" id="RemoveLabTest-0">
                              Remove
                          </button>
                      </td>
                  </tr>
                  </tbody>
              </table>
              <div>
                  <button type="submit" class="link-button" name="add-labTest" value="add" id="AddAnotherTest">
                      Add another test
                  </button>
              </div>
              <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-4">
                  <input class="govuk-button govuk-!-margin-right-1" id="button-save-and-return" name="save-button" type="submit" data-module="govuk-button" value="Save and return">
                      <input class="govuk-button govuk-!-margin-right-1" id="button-save-and-continue" name="save-button" type="submit" data-module="govuk-button" value="Save and continue">
              </div>
          </div>
      </div>
  </main>


</form>
 

{% endblock %}
