
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Prototypes home</a>
     <a href="../start" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs govuk-!-margin-left-2">XCHED home</a>
   
   
    </div> 
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl">CR37 - attaching electronic certificates afterwards</h1>

    <h2 class="govuk-heading-l">Latest version</h2>  

        <div class="govuk-!-margin-bottom-4 govuk-!-padding-4 govuk-!-width-one-third" style="background-color: #f6f6f6;">
          
          <p>July 2024</p>
          <p>UX: Millie Guest</p>
          
          <p><a href="https://app.mural.co/t/defra5166/m/kainossoftware4412/1715357607437/d14e2365e7ad3149fa2a06ba70c3bf1979d3ee94?sender=ue435e1ad5ba6d27993027455" target="_blank">Mural board flow</a></p>
        </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   <a href="latest/start" class="govuk-button">v7 - Final after dev start</a>
  </div>
 
</div>
<hr>

<h2>Previous versions</h2>
<p><a href="v6/start">Version Six</a> - Final before dev start - May 2024</p>
<p><a href="v5/start">Version Five</a> - UR round 4 - 7th May 2024</p>
<p><a href="v4/start">Version Four</a> - Not tested - reworked to V5 after CHEDA requested changes</p>
<p><a href="v3/start">Version Three</a> - UR round 3 - Rest of sessions April 10th 2024</p>
<p><a href="v2/start">Version Two</a> - UR round 3 - 1 session tested April 9th 2024</p>
<p><a href="v1/start">Version One</a> - UR round 2 -tested March 2024</p>

          
<h4>Design / UR boards</h4>
<p>
  <a href="https://app.mural.co/t/defra5166/m/defra5166/1708532853912/231651fa86bc8210e587ece065c89abf3b65bdb8?fromVisitorModal=true&sender=ue435e1ad5ba6d27993027455">2nd Design iteration</a>
  <br>
  
  <br>
 <a href="https://app.mural.co/t/kainossoftware4412/m/kainossoftware4412/1709720024621/3617abacdcf937eb90425d1a2427a71800b558cf?sender=ue435e1ad5ba6d27993027455">Round 2 UR</a><br>
   
  <br>
  <a href="https://app.mural.co/t/kainossoftware4412/m/kainossoftware4412/1705925124702/e3fcf1cdf6b394a84cf634a597fe29b342824224?sender=ue435e1ad5ba6d27993027455">Round 1 UR</a>  <br>
  
  <br>
  <a href="https://app.mural.co/t/kainossoftware4412/m/defra5166/1707903918245/15db71b780c979975a2dbd6fff9b0929ffb2b7d0?sender=ue435e1ad5ba6d27993027455">1st design iteration</a> <br>
  
  <br>
  <a href="https://app.mural.co/t/defra5166/m/defra5166/1702640913293/eeaca62d3fb55558537e3d806601d909337e74f4?wid=0-1707748589835&sender=ue435e1ad5ba6d27993027455">Design ideas</a> <br>
  </p>

       



{% endblock %}
