
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="navigation-links govuk-!-margin-bottom-9 govuk-!-margin-top-0">
  <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Prototypes</span>
      <h1 class="govuk-heading-xl">Baseline Emails </h1>
      
    
        
   

        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><a href="email-health-inspection-required">Email - health inspection - required</a></p>
          <p class="govuk-body"><a href="email-health-inspection-override-now-required">Email - health inspection - override to now required</a></p>
          <p class="govuk-body"><a href="email-health-inspection-override-no-longer-required">Email - health inspection - override to no longer required</a></p>
          <br>
          <p class="govuk-body"><a href="email-entry-health-inspection-required">Email - health inspection on entry - required</a></p>
          <p class="govuk-body"><a href="email-entry-health-inspection-override-now-required">Email - health inspection on entry - override to now required</a></p>
          <p class="govuk-body"><a href="email-entry-health-inspection-override-no-longer-required">Email - health inspection on entry - override to no longer required</a></p>
          <br>
          <p class="govuk-body"><a href="email-entry-seal-check-required">Email - seal check on entry - required</a></p>
          <p class="govuk-body"><a href="email-entry-seal-check-override-now-required">Email - seal check on entry - override to now required</a></p>
          <p class="govuk-body"><a href="email-entry-seal-check-override-no-longer-required">Email - seal check on entry - override to no longer required</a></p> 
          <br>
          <p class="govuk-body"><a href="email-exit-seal-check-required">Email - seal check on exit - required</a></p>
          <p class="govuk-body"><a href="email-exit-seal-check-override-now-required">Email - seal check on exit - override to now required</a></p>
          <p class="govuk-body"><a href="email-exit-seal-check-override-no-longer-required">Email - seal check on exit - override to no longer required</a></p> 

          <hr>
        </div>
     
     
      
    
     
 


 
{% endblock %}
