
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="navigation-links govuk-!-margin-bottom-9 govuk-!-margin-top-0">
  <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Prototypes</span>
      <h1 class="govuk-heading-xl">Baseline Emails and SMS</h1>
      
    
        
   

        <div class="govuk-!-padding-bottom-4">
          <h2>Emails</h2>
          <p class="govuk-body"><a href="email-health-inspection-required">Health inspection - required</a></p>
          <p class="govuk-body"><a href="email-health-inspection-override-now-required">Health inspection - override to now required</a></p>
          <p class="govuk-body"><a href="email-health-inspection-override-no-longer-required">Health inspection - override to no longer required</a></p>
          <br>
          <p class="govuk-body"><a href="email-entry-health-inspection-required">Health inspection on entry - required</a></p>
          <p class="govuk-body"><a href="email-entry-health-inspection-override-now-required">Health inspection on entry - override to now required</a></p>
          <p class="govuk-body"><a href="email-entry-health-inspection-override-no-longer-required">Health inspection on entry - override to no longer required</a></p>
          <br>
          <p class="govuk-body"><a href="email-entry-seal-check-required">Seal check on entry - required</a></p>
          <p class="govuk-body"><a href="email-entry-seal-check-override-now-required">Seal check on entry - override to now required</a></p>
          <p class="govuk-body"><a href="email-entry-seal-check-override-no-longer-required">Seal check on entry - override to no longer required</a></p> 
          <br>
          <p class="govuk-body"><a href="email-exit-seal-check-required">Seal check on exit - required</a></p>
          <p class="govuk-body"><a href="email-exit-seal-check-override-now-required">Seal check on exit - override to now required</a></p>
          <p class="govuk-body"><a href="email-exit-seal-check-override-no-longer-required">Seal check on exit - override to no longer required</a></p> 

          <hr>
          <h2>SMS</h2>
          <p class="govuk-body"><a href="sms-inspection-not-overidden.html">GVMS SMS - original risk assessment not overridden</a></p> 
          <p class="govuk-body"><a href="sms-inspection-overidden-changed-to-inspection-required.html">GVMS SMS -  Overridden - risk changed to inspection required</a></p> 
          <p class="govuk-body"><a href="sms-inspection-overidden-changed-to-no-inspection-required.html">GVMS SMS - Overridden - risk changed to no inspection required</a></p> 


        </div>
     
     
      
    
     
 


 
{% endblock %}
