.idea
public/css/*
public/stylesheets/*

/lib/extensions/*

node_modules/*
public/javascripts/application.js
public/stylesheets/application-ie8.css
public/stylesheets/application.css
public/stylesheets/unbranded-ie8.css
public/stylesheets/unbranded.css
public/javascripts/application.js
public/javascripts/datepicker-govscot.js
public/javascripts/gov_scot_datepicker.js
public/stylesheets/application-ie8.css
public/stylesheets/application.css
public/stylesheets/unbranded-ie8.css
public/stylesheets/unbranded.css
