.idea
public/css/*
public/stylesheets/*
public/javascripts/*

/lib/extensions/*

node_modules/*
public/stylesheets/application-ie8.css
public/stylesheets/application.css
public/stylesheets/unbranded-ie8.css
public/stylesheets/unbranded.css
public/javascripts/application.js
