{% extends "layout.html" %}

{% block pageTitle %}
Documents
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Hyseni </span>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="address-book" href="/notification/tst/protected/notifications/address-book">
        Address book
      </a>
      <span aria-hidden="true">|</span>
      
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
  <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  <div class="navigation-links__divider">|</div>
  <div class="govuk-breadcrumbs breadcrumbs--next-to-back">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link govuk" href="dashboard" id="navigation-dashboard-link">Dashboard</a>
      </li>
    </ol>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
 
  <h1 class="govuk-heading-xl " id="page-primary-title">Notification Hub</h1>

  <p class="govuk-body govuk-!-margin-bottom-8">
    These sections can be completed in any order. You can save your progress and return at any time.
  </p>

  <form action="chedd-overview" method="POST">

    <div class="table-responsive">
      <table class="govuk-table govuk-!-margin-bottom-8" id="prerequisites-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          About the consignment
        </caption>
        <tbody>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="01-03-origin-import" class="govuk-link" id="origin-of-the-import">
              Origin of the import
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag " id="origin-of-import">
              STARTED
            </strong>
          </td>
        </tr>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="02-03-purpose-page" class="govuk-link" id="origin-of-the-import">
              Main reason for importing the consignment
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag " id="origin-of-import">
              STARTED
            </strong>
          </td>
        </tr>
        <tr>
          
         
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="govuk-table govuk-!-margin-bottom-8" id="consignment-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          Description of the goods
        </caption>
        <tbody>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="02-04-weights-packaging" class="govuk-link" id="commodity-details-link">
              Commodity
            </a>
          </td>

          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        <tr>
          <td class="govuk-table__cell">
            <a href="02-05-additional-details" class="govuk-link">
              Additional details
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        <tr>
          
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="govuk-table govuk-!-margin-bottom-8" id="documents-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          Documents
        </caption>
        <tbody>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="03-00-documents" class="govuk-link">
              Accompanying documents
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="govuk-table govuk-!-margin-bottom-8" id="traders-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          Traders
        </caption>
        <tbody>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="04-01-addresses" class="govuk-link">
              Addresses
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="govuk-table govuk-!-margin-bottom-8" id="traders-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          Transport
        </caption>
        <tbody>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="05-00-transport-to-poe" class="govuk-link">
              Transport to the port of entry
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="govuk-table govuk-!-margin-bottom-8" id="contact-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          Contacts
        </caption>
        <tbody>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="06-01-contact.html" class="govuk-link">
              Contact details
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="06-02-nominated-contacts.html" class="govuk-link">
              Nominated contact (optional)
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="06-03-contact-address.html" class="govuk-link">
              Contact address for consignment
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="govuk-table govuk-!-margin-bottom-8" id="billing-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          Billing
        </caption>
        <tbody>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="07-00-billing-details" class="govuk-link">
              Billing details
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="govuk-table" id="review-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          Complete notification
        </caption>
        <tbody class="table__row--border-top">
       
        <tr>
          <td class="govuk-table__cell">
            <a href="08-00-review.html" class="govuk-link" id="review-link">
              Review and submit
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
</div>
</main>
{% endblock %}
