
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> 
  </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
   
    <h3 class="govuk-heading-l">EU & ROW Single CHED D - March 2024</h3>
        
    <p>Responsible UX: Kanisha</p>
   
   
      
        
   
        <div class="govuk-!-padding-bottom-4">
   
      
     
      
        <p class='govuk-body'><a href="0-index.html">Dashboard</a></p>
        <p class='govuk-body'><a href="00-check-answers.html">Notification hub</a></p>
        <p class="govuk-body"><a href="10-01c-submitted-using-gvms.html">confirmation submitted using GVMS</a></p>
        <p class='govuk-body'><a href="10-01a-submitted-inspection-not-required.html">Confirmation inspection not required</a></p>
        <p class='govuk-body'><a href="10-01b-submitted-inspection-required-entry.html">Confirmation inspection required</a></p>
 
        <hr>
        <div class="govuk-!-padding-bottom-4">
          <h3 class="govuk-heading-s">Part 2- EU & ROW Single CHED D - March 2024</h3>
          
          <p>Responsible UX: Kanisha</p>
          <p class='govuk-body'><a href="../Part-2-Single-chedd-2024/00-dashboard">Dashboard</a></p>
          <p class='govuk-body'><a href="../Part-2-Single-chedd-2024/02-decision-hub">Decision hub - ROW</a></p>
          <p class='govuk-body'><a href="../Part-2-Single-chedd-2024/02a-decision-hub-inspection-required">Decision hub - EU</a></p>
          <p class="govuk-body"><a href="../Part-2-Single-chedd-2024/02a-decision-hub-inspection-required.html">Decision hub inspection required</a></p>
          <p class='govuk-body'><a href="../Part-2-Single-chedd-2024/02b-decision-hub-no-inspection-required.html">Decision hub inspection not required</a></p>
          <p class='govuk-body'><a href="../Part-2-Single-chedd-2024/02c-decision-hub-inspection-inconclusive.html">Decision hub inspection inconclusive</a></p>
   

          <hr>
        <div class="govuk-!-padding-bottom-4">
            <h3 class="govuk-heading-s">Additional pages- EU & ROW Single CHED D - March 2024</h3>
            
            <p>Responsible UX: Kanisha</p>
            <p class='govuk-body'><a href="../single-chedd-additional-pages/01-part1-review-notification">Part 1 - Review notification</a></p>
            <p class='govuk-body'><a href="../single-chedd-additional-pages/02-part2-ched-overview">Part 2 - CHED Overview</a></p> 
            <p class='govuk-body'><a href="../single-chedd-additional-pages/03-part3-ched-overview.html">Part 3 - CHED Overview</a></p> 
          
         
            <hr>
            <div class="govuk-!-padding-bottom-4">
              <h3 class="govuk-heading-s">Legacy status pages- EU & ROW Single CHED D - March 2024</h3>
              
              <p>Responsible UX: Kanisha</p>
              <p class='govuk-body'><a href="../legacy-status-2024/0-index.html">Dashboard</a></p>
              <p class='govuk-body'><a href="../legacy-status-2024/01-01-amend-viewdetails">Amend - View details</a></p>
              <p class='govuk-body'><a href="../legacy-status-2024/01-02-amend-amend">Amend - Amend</a></p> 
              <p class='govuk-body'><a href="../legacy-status-2024/02-00-draft">Draft</a></p>    
              <p class='govuk-body'><a href="../legacy-status-2024/03-01-new-viewdetails">New - View details</a></p>  
              <p class='govuk-body'><a href="../legacy-status-2024/03-02-new-amend">New - Amend</a></p>  
              <p class='govuk-body'><a href="../legacy-status-2024/04-00-valid-viewdetails">Valid - View details</a></p>
              <p class='govuk-body'><a href="../legacy-status-2024/05-00-cancelled-viewdetails">Cancelled - View details</a></p>
              <p class='govuk-body'><a href="../legacy-status-2024/06-00-inprogress-viewdetails">In progress - View details</a></p>

            <hr>
        </div>
        
      </div>

      

      

        <div class="govuk-!-padding-bottom-4">
          <h3 class="govuk-heading-m">Single CHEDD - December 2023</h3>
        
          <p>Responsible UX: Kanisha</p>
        
         <p>Doesn't include GVMS changes in flow, but includes pages with GVMS content that can be swapped when both themes are played.</p>
        
          <p class='govuk-body'><a href="../part-1-chedd-single/0-index">Dashboard</a></p>
          <p class='govuk-body'><a href="../part-1-chedd-single/01-ac-01-importing">What are you importing</a></p>
          <p class="govuk-body"><a href="../part-1-chedd-single/01-no-check-answers">Notification hub</a></p>
          <p class="govuk-body"><a href="../part-1-chedd-single/20-submitted-inspection-not-required.html">inspection-not-required-confirmation-panel</a></p>
          <p class="govuk-body"><a href="../part-1-chedd-single/20-submitted-inspection-required-entry.html">inspection-required-confirmation-panel</a></p>
          <hr>
        </div>
     
     
      
    
     
 


 <!-- tabs end -->

</div>


</div>
   </div>
   </div>
{% endblock %}
