// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
body {
    //background-color: pink !important;
}

.commodity-details-commodity-wrapper {
    margin-bottom: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(177, 180, 182);
    border-image: initial;
    padding: 15px;
    padding-bottom: 0;
}

.commodity-header {
    font-size: 1.1875rem;
    line-height: 1.31579;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    display: block;
    padding: 0px 0px 10px;
}

.commodity-value {
    font-size: 1.1875rem;
    line-height: 1.31579;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    display: block;
    padding: 0px 0px 10px;
}

.cloning-grid-row {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(177, 180, 182);
}

// test review page
.commodity-header-column {
    font-size: 1.2rem;
    line-height: 1.2;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    display: block;
    padding: 0px 0px 5px;
}

.commodity-header-column-2 {
    font-size: 0.9rem;
    line-height: 1.2;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    display: block;
    padding: 0px 0px 5px;
}

.commodities-summary-csv {
    padding: 15px 10px 20px 0px;
    // padding-bottom: 20px;
    border-bottom: solid 1px #b1b4b6;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 30px;
    margin-inline-end: 0px;
}

.commodity-data-column {
    font-size: 1.2rem;
    line-height: 1.2;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    display: block;
    padding: 0px 0px 5px;
}

.commodity-data-column-2 {
    font-size: 0.9rem;
    line-height: 1.2;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    display: block;
    padding: 0px 0px 5px;
}

.divider-summary {
    //border-left: solid 1px #b1b4b6;
}

.packages-bg {
    //background-color: #f3f2f1;
    border-top: 1px solid rgb(233, 233, 233);
    padding: 20px 0 10px 0;
    ;
}

// new div notification
.notification-list__row {
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b1b4b6;
}

.notification-list__row:first-child {
    border-top: 1px solid #b1b4b6;
}

.notification-list__grid-row {
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.notification-list__grid-row:after {
    content: "";
    display: block;
    clear: both;
}

.notification-list__grid-column-20 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 7.5px;
}

@media (min-width: 48.0625em) {
    .notification-list__grid-column-20 {
        width: 20%;
        float: left;
    }
}

.notification-list__grid-column-25 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 7.5px;
}

@media (min-width: 48.0625em) {
    .notification-list__grid-column-25 {
        width: 25%;
        float: left;
    }
}

.notification-list__grid-column-30 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 7.5px;
}

@media (min-width: 48.0625em) {
    .notification-list__grid-column-30 {
        width: 30%;
        float: left;
    }
}

.notification-list__item {
    margin-bottom: 10px;
}

.notification-list__heading {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    white-space: nowrap;
}

@media print {
    .notification-list__heading {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .notification-list__heading {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .notification-list__heading {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.notification-list__value {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
}

@media print {
    .notification-list__value {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .notification-list__value {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .notification-list__value {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.notification-list__links {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

@media print {
    .notification-list__links {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .notification-list__links {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .notification-list__links {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.notification-list-summary_item {
    border-bottom: 1px solid #b1b4b6;
}

.notification-list-summary__row--padding-top div {
    padding-top: 5px;
}

.notification-list-summary__row--padding-top p {
    margin-bottom: 10px;
}

.notification-list-summary__heading {
    margin-bottom: 5px;
}

.wrap-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.tag {
    min-width: 8.7em;
    text-align: center;
}

.tag--training {
    background-color: #b10e1e !important;
}

.tag--draft,
.tag--to-do,
.tag--processing,
.tag--inspection-pending {
    background-color: #dee0e2;
    color: #0b0c0c;
}

.tag--reduced {
    background-color: #ffbf47;
}

.tag--amend,
.tag--modify {
    background-color: #ffbf47;
    color: #0b0c0c;
}

.tag--sms,
.tag--submitted,
.tag--controlled,
.tag--hmi-inspection {
    background-color: #0c60a3;
}

.tag--in-progress,
.tag--not-done {
    background-color: #f47738;
    color: #0b0c0c;
}

.tag--replaced,
.tag--no-inspection {
    background-color: #0b0c0c;
}

.tag--validated,
.tag--satisfactory {
    background-color: #10813e;
}

.tag--gms,
.tag--rejected,
.tag--expired,
.tag--mandatory,
.tag--not-satisfactory {
    background-color: #b10e1e;
}

.tag--cancelled,
.tag--inspection-not-required {
    background-color: #0b0c0c;
}

.tag--partially-rejected {
    background-color: #ffffff;
    color: #000000;
    border-color: #b10e1e;
    border-width: 5px;
    border-style: solid;
}

.tag--split-consignment {
    background-color: #ffffff;
    color: #000000;
    border-color: #f47738;
    border-width: 5px;
    border-style: solid;
}

.tag--inspection-required {
    background-color: #d32f7a;
    color: #ffffff;
}

.tag--inspection-inconclusive {
    background-color: #ffffff;
    color: #0b0c0c;
    border-color: #d32f7a;
    border-width: 5px;
    border-style: solid;
}