{% extends "layout.html" %}

{% block pageTitle %}
Notifcation hub – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}

<div class="govuk-!-padding-top-6">
  <span class="heading-tertiary">
      <span id="reference-number">DRAFT.GB.2023.5925980</span>
          <span> - CHEDP</span>
  </span>
</div>

<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl " id="page-primary-title">
        Complete your import notification</h1>

      <p class="govuk-body govuk-!-margin-bottom-8">
        These sections can be completed in any order. Completing optional questions may speed up checks.
      </p>

      <form action="overview-p" method="POST">

       
          
                <h2 class="govuk-heading-m">About</h2>
                <ul class="govuk-task-list">
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/03-origin-import" aria-describedby="before-you-start-1-status">Origin of the import</a>
                    </div>
                    <div class="govuk-task-list__status" id="before-you-start-1-status">
                      Completed
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/06-about-consignment-{{ data['conform-uk-regulations'] or "cg" }}" aria-describedby="before-you-start-2-status">Main reason for importing the consignment</a>
                    </div>
                    <div class="govuk-task-list__status" id="before-you-start-1-status">
                      Completed
                    </div>
                  </li>
                </ul>
                <h2 class="govuk-heading-m govuk-!-margin-top-5">Description of the goods</h2>
                <ul class="govuk-task-list">
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/08-commodity-details" aria-describedby="prepare-application-1-status">Add goods, weights and packaging</a>
                      <div id="application-details-3-hint" class="govuk-task-list__hint">
                        1 good added
                      </div>
                    </div>
                   
                    <div class="govuk-task-list__status" id="prepare-application-2-status">
                      {% if (data['08-commodity-details'] == "visited") %}
                        Completed
                      {% else %}
                      <strong class="govuk-tag-new govuk-tag--blue">
                        Incomplete
                      </strong>
                      {% endif %}
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/10-additional-details" aria-describedby="prepare-application-2-status">Additional details</a>
                    </div>
                    <div class="govuk-task-list__status" id="prepare-application-2-status">
                      <strong class="govuk-tag-new govuk-tag--blue">
                        Incomplete
                      </strong>
                    </div>
                  </li>
               
                </ul>
              
                <h2 class="govuk-heading-m govuk-!-margin-top-5">Documents</h2>
                <ul class="govuk-task-list">
                  {% if (data['risk-category'] != "low") %}
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/12-health-certificate" aria-describedby="prepare-application-1-status">Latest health certificate</a>
                      <div id="application-details-3-hint" class="govuk-task-list__hint">
                        No documents added
                      </div>
                    </div>
                   
                    <div class="govuk-task-list__status" id="prepare-application-2-status">
                      <strong class="govuk-tag-new govuk-tag--grey">
                        Not started
                      </strong>
                    </div>
                  </li>
                  {% endif %}
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/12-accompanying-docs" aria-describedby="prepare-application-2-status">Additional documents</a>
                      <div id="application-details-3-hint" class="govuk-task-list__hint">
                        No documents added
                      </div>
                    </div>
                    <div class="govuk-task-list__status" id="prepare-application-2-status">
                      <strong class="govuk-tag-new govuk-tag--grey">
                        Not started
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/13-approved-est" aria-describedby="prepare-application-2-status">Approved establishment of origin (where required)</a>
                    </div>
                    <div class="govuk-task-list__status" id="prepare-application-2-status">
                      <strong class="govuk-tag-new govuk-tag--grey">
                        Not started
                      </strong>
                    </div>
                  </li>
                </ul>
            
                <h2 class="govuk-heading-m govuk-!-margin-top-5">Traders</h2>
                <ul class="govuk-task-list">
                
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/14-addresses" aria-describedby="prepare-application-2-status">Addresses</a>
                    </div>
                    <div class="govuk-task-list__status" id="prepare-application-2-status">
                      <strong class="govuk-tag-new govuk-tag--grey">
                        Not started
                      </strong>
                    </div>
                  </li>
                </ul>
    
                <h2 class="govuk-heading-m govuk-!-margin-top-5">Transport</h2>
                <ul class="govuk-task-list">
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/11-transport-to-poe" aria-describedby="prepare-application-2-status">Transport to the port of entry</a>
                    </div>
                    <div class="govuk-task-list__status" id="prepare-application-2-status">
                      <strong class="govuk-tag-new govuk-tag--grey">
                        Not started
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/16-transport-after-bcp" aria-describedby="prepare-application-2-status">Transport after the Border Control Post (BCP)</a>
                    </div>
                    <div class="govuk-task-list__status" id="prepare-application-2-status">
                      <strong class="govuk-tag-new govuk-tag--grey">
                        Not started
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/15-transporter" aria-describedby="prepare-application-2-status">Transporter</a>
                    </div>
                    <div class="govuk-task-list__status" id="prepare-application-2-status">
                      <strong class="govuk-tag-new govuk-tag--grey">
                        Not started
                      </strong>
                    </div>
                  </li>
                </ul>

                <h2 class="govuk-heading-m govuk-!-margin-top-5">Contact</h2>
                <ul class="govuk-task-list">
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/17a-contact" aria-describedby="prepare-application-2-status">Contact details</a>
                    </div>
                    <div class="govuk-task-list__status" id="prepare-application-2-status">
                      <strong class="govuk-tag-new govuk-tag--grey">
                        Not started
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/17b-nominated-contacts" aria-describedby="prepare-application-2-status">Nominated contacts (optional)</a>
                    </div>
                    <div class="govuk-task-list__status" id="prepare-application-2-status">
                      <strong class="govuk-tag-new govuk-tag--grey">
                        Not started
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="/chedp/2023-12-single-chedp/17c-contact-consignment" aria-describedby="prepare-application-2-status">Contact address for consignment</a>
                    </div>
                    <div class="govuk-task-list__status" id="prepare-application-2-status">
                      <strong class="govuk-tag-new govuk-tag--grey">
                        Not started
                      </strong>
                    </div>
                  </li>
                </ul>

                <h2 class="govuk-heading-m govuk-!-margin-top-5">Complete</h2>
                <ul class="govuk-task-list">
                <li class="govuk-task-list__item">
                  <div class="govuk-task-list__name-and-hint">
                    <div>Review and submit</div>
                    
                  </div>
                  <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
                    Cannot submit yet
                  </div>
                </li>
              </ul>

      </form>
    </div>
  </div>
</main>
{% endblock %}
