
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">Cross CHED type themes</h1>

   
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#part-1">
            Part 1 - Importer
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-2">
            Part 2  - Inspector
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-3">
            Part 3 - Control
          </a>
        </li>
       
      </ul>
      <div class="govuk-tabs__panel" id="part-1">
        <h2 class="govuk-heading-l">Part 1 - Importer</h2>
        
   
        <div class="govuk-!-padding-bottom-4">
          <h3 class="govuk-heading-l">Goods Vehicle Movement Service (GVMS)</h3>
        
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Screen designs</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Screen</th>
                <th scope="col" class="govuk-table__header">All</th>
                <th scope="col" class="govuk-table__header">CHED P</th>
                <th scope="col" class="govuk-table__header">CHED A</th>
                <th scope="col" class="govuk-table__header">CHED D</th>
                <th scope="col" class="govuk-table__header">CHED PP</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Dashboard &ndash; inspection status tags</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-03/0-index-inspection-status">In review</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">About the consignment</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../chedp/06-about-consignment">Done</a></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/06-about-consignment">In progress</a></td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell"><a href="../chedpp/latest/01-ac-05-purpose">In progress</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Transport to the BCP</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-03/11-transport-to-bcp">In progress</a></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/11-transport-details">In progress</a></td>
                <td class="govuk-table__cell"><a href="../chedd/chedd-single-GVMS-work/poe-transport">In progress</a></td>
                <td class="govuk-table__cell"><a href="../chedpp/latest/05-tp-01-transport-to-bcp">In progress</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Transport to the BCP &ndash; error</th>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-03/11-transport-to-bcp">In progress</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Review</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-03/18-review">Done</a></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/18-review">In progress</a></td>
                <td class="govuk-table__cell"><a href="../chedd/chedd-single-GVMS-work/review">In progress</a></td>
                <td class="govuk-table__cell"><a href="../chedpp/latest/07-cn-01-review-manual">In progress</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Confirm &ndash; GVMS yes</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-03/20-submitted-gvms-yes">Done</a></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/20-submitted-gvms-yes">Done</a></td>
                <td class="govuk-table__cell">N/A<!--<a href="../chedd/chedd-single-GVMS-work/20-submitted-gvms-yes">In progress</a>--></td>
                <td class="govuk-table__cell"><a href="../chedpp/latest/08-sn-01-submitted">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Confirm &ndash; inspection required entry and exit</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-03/20-submitted-inspection-required-entry-and-exit">Done</a></td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">N/A</td>
              </tr>
            </tbody>
          </table>
          <h3 class="govuk-heading-m">Texts and emails</h3>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-2">Original – risk assessment i.e not overridden</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Channel</th>
                <th scope="col" class="govuk-table__header">All</th>
                <th scope="col" class="govuk-table__header">CHED P</th>
                <th scope="col" class="govuk-table__header">CHED A</th>
                <th scope="col" class="govuk-table__header">CHED D</th>
                <th scope="col" class="govuk-table__header">CHED PP</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email</th>
                <td class="govuk-table__cell"><a href="driver-messaging-emails-and-texts/email-inspection-not-overidden">In progress</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">SMS</th>
                <td class="govuk-table__cell"><a href="driver-messaging-emails-and-texts/sms-inspection-not-overidden">In progress</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-2">Overridden &ndash; risk changed to inspection required</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Channel</th>
                <th scope="col" class="govuk-table__header">All</th>
                <th scope="col" class="govuk-table__header">CHED P</th>
                <th scope="col" class="govuk-table__header">CHED A</th>
                <th scope="col" class="govuk-table__header">CHED D</th>
                <th scope="col" class="govuk-table__header">CHED PP</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email</th>
                <td class="govuk-table__cell"><a href="driver-messaging-emails-and-texts/email-inspection-overidden-changed-to-inspection-required">In progress</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">SMS</th>
                <td class="govuk-table__cell"><a href="driver-messaging-emails-and-texts/sms-inspection-overidden-changed-to-inspection-required">In progress</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-2">Overridden &ndash; risk changed to no inspection required</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Channel</th>
                <th scope="col" class="govuk-table__header">All</th>
                <th scope="col" class="govuk-table__header">CHED P</th>
                <th scope="col" class="govuk-table__header">CHED A</th>
                <th scope="col" class="govuk-table__header">CHED D</th>
                <th scope="col" class="govuk-table__header">CHED PP</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email</th>
                <td class="govuk-table__cell"><a href="driver-messaging-emails-and-texts/email-inspection-overidden-changed-to-no-inspection-required">In progress</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">SMS</th>
                <td class="govuk-table__cell"><a href="driver-messaging-emails-and-texts/sms-inspection-overidden-changed-to-no-inspection-required">In progress</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <div class="govuk-!-padding-bottom-4">
          <h3 class="govuk-heading-m">eCertification enhancements</h3>
        
          <p>Responsible UX: Bogdan and Millie</p>
          <p>Theme page: <a></a></p>
        
         
        
          <p class='govuk-body'><a href="e-cert-chedp/0-index">Dashboard</a></p>
          <p class='govuk-body'><a href="e-cert-chedp/01-ched-type">What are you importing</a></p>
          <p class="govuk-body"><a href="e-cert-chedp/07-check-answers-vhc">Notification hub</a></p>
          <hr>
        </div>

    
     
    
      
    
  
 


 <!-- tabs end -->

</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-2">
  <h2 class="govuk-heading-l">Part 2 -  Inspector</h2>
  <div class="govuk-!-padding-bottom-4">
    <h3 class="govuk-heading-m">Goods Vehicle Movement Service (GVMS)</h3>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Screen designs</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Design</th>
          <th scope="col" class="govuk-table__header">All</th>
          <th scope="col" class="govuk-table__header">CHED P</th>
          <th scope="col" class="govuk-table__header">CHED A</th>
          <th scope="col" class="govuk-table__header">CHED D</th>
          <th scope="col" class="govuk-table__header">CHED PP</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">CHED Overview with row for GVMS</th>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"><a href="../part-2/chedp-landbridge/00-ched-overview-gvms">Done</a></td>
          <td class="govuk-table__cell"><a href="../cheda/part-2/ched-overview">Done</a></td>
          <td class="govuk-table__cell"><a href="../chedd/chedd-single-GVMS-work/part2ched-overview">Done</a></td>
          <td class="govuk-table__cell">In progress</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">CHED Overview with row for Internal Market MRN</th>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"><a href="../part-2/chedp-landbridge/00-ched-overview-gvms">Done</a></td>
          <td class="govuk-table__cell"><a href="../cheda/part-2/ched-overview">In progress</a></td>
          <td class="govuk-table__cell"><a href="../chedd/chedd-single-GVMS-work/part2ched-overview">In progress</a></td>
          <td class="govuk-table__cell">In progress</td>
        </tr>
      </tbody>
    </table>
  </div>
  
 
  
</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-3">
  <h2 class="govuk-heading-l">Part 3 - Control</h2>
  <div class="govuk-!-padding-bottom-4">
    <h3 class="govuk-heading-m">Goods Vehicle Movement Service (GVMS)</h3>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Screen designs</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Design</th>
          <th scope="col" class="govuk-table__header">All</th>
          <th scope="col" class="govuk-table__header">CHED P</th>
          <th scope="col" class="govuk-table__header">CHED A</th>
          <th scope="col" class="govuk-table__header">CHED D</th>
          <th scope="col" class="govuk-table__header">CHED PP</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CHED Overview with row for GVMS</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a href="../part-3/chedp-landbridge-iteration-02/ched-overview-gvms">Done</a></td>
            <td class="govuk-table__cell"><a href="../cheda/part-3/ched-overview">In progress</a></td>
            <td class="govuk-table__cell">In progress</td>
            <td class="govuk-table__cell">In progress</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CHED Overview with row for Internal Market MRN</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a href="../part-3/chedp-landbridge-iteration-02/ched-overview-gvms">Done</a></td>
            <td class="govuk-table__cell"><a href="../cheda/part-3/ched-overview">In progress</a></td>
            <td class="govuk-table__cell">In progress</td>
            <td class="govuk-table__cell">In progress</td>
          </tr>
        </tr>
      </tbody>
    </table>
  </div>
 
 
</div>

</div>
   
{% endblock %}
