
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">Cross CHED type themes</h1>


    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#part-1">
            Part 1 - Importer
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-2">
            Part 2  - Inspector
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-3">
            Part 3 - Control
          </a>
        </li>

      </ul>
      <div class="govuk-tabs__panel" id="part-1">
        <h2 class="govuk-heading-l">Part 1 - Importer</h2>

        <div class="govuk-!-padding-bottom-4">

          <h3 class="govuk-heading-l">CR37 - attaching electronic certificates afterwards</h3>
          <p>February 2024</p>

          <table class="govuk-table">
            <!-- <caption class="govuk-table__caption govuk-table__caption--m">Journey</caption> -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Screen</th>
                <th scope="col" class="govuk-table__header">CHEDA</th>
                <th scope="col" class="govuk-table__header">CHEDP</th>
                <th scope="col" class="govuk-table__header">CHEDPP</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Dashboard</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/cheda/0-index">not fin</a><br>needs chedA + amend link</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedp/0-index">not fin</a><br>needs chedP + amend link</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedpp/0-index">Done</a><br></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Notification hub</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/cheda/07-notification">Done</a></td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedp/07-check-answers">not finished</a><br>redirects incorrectly</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedpp/01-no-check-answers">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Choice page</td>
                <td class="govuk-table__cell"><a href=""></a>N/A</td>
                <td class="govuk-table__cell"><a href=""></a>N/A</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedpp/01-ac-04-how-add-commodity">Done</a><br>needs copy</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">SPS cert doc page</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/cheda/13a-health-certificate">not fin</a><br>needs top button</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedp/12-health-certificate">not finished</a><br>needs top button</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedpp/03-do-01a-phyto">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Accompanying docs</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/cheda/13b-accompanying-docs">Done</a></td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedp/12-accompanying-docs">Done</a></td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedpp/03-do-01-documents">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Search for certificate</td>
                <td class="govuk-table__cell"><a href=""></a></td>
                <td class="govuk-table__cell"><a href=""></a></td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedpp/03a-certificate-reference">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Confirm correct cert</td>
                <td class="govuk-table__cell"><a href=""></a></td>
                <td class="govuk-table__cell"><a href=""></a></td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedpp/01-add-health-certificate">not finished</a><br>needs layout changes</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">SPS cert doc with cloning</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/cheda/13a-health-certificate">not finished</a><br>needs cloning part</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedp/12-health-certificate">not finished</a><br>needs cloning part</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedpp/03-do-01a-phyto-clone">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Accompanying docs with cloning</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/cheda/13b-accompanying-docs">Not finished</a><br>needs cloning part</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedp/12-accompanying-docs">Not finished</a><br>needs cloning part</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedpp/03-do-01-documents-clone">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Review with cloning</td>
                <td class="govuk-table__cell"><a href="">Not finished</a><br>needs cloning part</td>
                <td class="govuk-table__cell"><a href="">Not finished</a><br>needs cloning part</td>
                <td class="govuk-table__cell"><a href="ehc-phyto-clone/chedpp/07-cn-01-review-clone">Not finished</a><br>needs cloning part</td>
              </tr>
              </tbody>
              </table>


<hr>
          </div>

        <div class="govuk-!-padding-bottom-4">

          <h3 class="govuk-heading-l" id="cuc-theme">Common user charge</h3>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Adding and changing billing details</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Screen</th>
                <th scope="col" class="govuk-table__header">Add billing details</th>
                <th scope="col" class="govuk-table__header">Change billing details</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Add billing details</td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/01-add-billing-details?action=add">Done</a></td>
                <td class="govuk-table__cell">N/A</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Postcode lookup</td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/02-billing-postcode?action=add">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/02-billing-postcode?action=change">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Postcode lookup – error messages</td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/02-billing-postcode-errors?action=add">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/02-billing-postcode-errors?action=change">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Select address</td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/03-select-billing-address?action=add">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/03-select-billing-address?action=change">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Select address – error messages</td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/03-select-billing-address-errors?action=add">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/03-select-billing-address-errors?action=change">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Enter address manually</td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/03b-enter-billing-address?action=add">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/03b-enter-billing-address?action=change">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Enter address manually – error messages</td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/03b-enter-billing-address-errors?action=add">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/03b-enter-billing-address-errors?action=change">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Billing contact details</td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/04-billing-contact-details?action=add">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/04-billing-contact-details?action=change">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Billing contact details – error messages</td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/04-billing-contact-details-errors?action=add">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/04-billing-contact-details-errors?action=change">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Confirm billing details</td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/05-confirm-billing-details">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/billing-details/05-confirm-billing-details">Done</a></td>
              </tr>
            </tbody>
          </table>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Other notifciation journey screens</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Screen</th>
                <th scope="col" class="govuk-table__header">All</th>
                <th scope="col" class="govuk-table__header">CHED P</th>
                <th scope="col" class="govuk-table__header">CHED A</th>
                <th scope="col" class="govuk-table__header">CHED D</th>
                <th scope="col" class="govuk-table__header">CHED PP</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Notification hub<br><b>no Billing</b> section</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedp/01-no-check-answers-no-billing">Done</a></td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedd/01-no-check-answers-no-billing">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedpp/01-no-check-answers-no-billing">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Notification hub<br>
                <b>with Billing</b> section</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedp/01-no-check-answers">Done</a></td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedd/01-no-check-answers">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedpp/01-no-check-answers">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Review your notification</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedp/07-cn-01-review">Done</a></td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedd/07-cn-01-review">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedpp/07-cn-01-review">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Review your notification<br>
                <b>Error:</b> Add billing details</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedp/07-cn-01-review-error-add">Done</a></td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedd/07-cn-01-review-error-add">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedpp/07-cn-01-review-error-add">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Review your notification<br>
                <b>Error:</b> Confirm billing details</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedp/07-cn-01-review-error-confirm">Done</a></td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedd/07-cn-01-review-error-confirm">Done</a></td>
                <td class="govuk-table__cell"><a href="cuc/latest/chedpp/07-cn-01-review-error-confirm">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Confirmation</td>
                <td class="govuk-table__cell"><a href="cuc/latest/common/20-submitted-inspection-required">Done<br>P, D, PP</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
          Previous iterations:
          <ol class="govuk-list govuk-list--number">
            <li><a href="cuc/iteration-1/start">Iteration 1</a>
          </ol>
        </div>
        <div class="govuk-!-padding-bottom-4">
        <hr>
          <h3 class="govuk-heading-l">No match</h3>
          <p class="govuk-body">Note: Where there are no differences specific to a CHED, CHED P is used by default.</p>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Screen designs</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Screen</th>
                <th scope="col" class="govuk-table__header">All</th>
                <th scope="col" class="govuk-table__header">CHED P</th>
                <th scope="col" class="govuk-table__header">CHED A</th>
                <th scope="col" class="govuk-table__header">CHED D</th>
                <th scope="col" class="govuk-table__header">CHED PP</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Confirmation &ndash; inspection not required</th>
                <td class="govuk-table__cell"><a href="../x-ched/confirmation/no-match/20-submitted-inspection-not-required">Done<br>P, D, PP</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/20-submitted-inspection-not-required-no-match">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Confirmation &ndash; inspection required</th>
                <td class="govuk-table__cell"><a href="../x-ched/confirmation/no-match/20-submitted-inspection-required">Done<br>P, D, PP</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/20-submitted-inspection-required-no-match">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Confirmation &ndash; using GVMS</th>
                <td class="govuk-table__cell"><a href="../chedp-no-match/20-submitted-gvms-yes-no-match">Done P, D</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/20-submitted-gvms-yes-no-match">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">N/A<!--<a href="../chedpp/latest/08-sn-01-submitted">Done</a>--></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Dashboard - with alert</th>
                <td class="govuk-table__cell"><a href="../chedp-no-match/index-no-match">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Check notification details and customs declarations match</th>
                <td class="govuk-table__cell"><a href="../chedp-no-match/no-match-results">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Commodity details</th>
                <td class="govuk-table__cell"><a href="../chedp-no-match/commodity-details">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Commodity details - amend</th>
                <td class="govuk-table__cell"><a href="../chedp-no-match/commodity-details-amend">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Review - with alert</th>
                <td class="govuk-table__cell"><a href="../chedp-no-match/review">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Review amend - with alert</th>
                <td class="govuk-table__cell"><a href="../chedp-no-match/review-amend">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
          <h3 class="govuk-heading-m">Emails and SMS</h3>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-2">Sent on validation / detection of no match</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Channel</th>
                <th scope="col" class="govuk-table__header">All</th>
                <th scope="col" class="govuk-table__header">CHED P</th>
                <th scope="col" class="govuk-table__header">CHED A</th>
                <th scope="col" class="govuk-table__header">CHED D</th>
                <th scope="col" class="govuk-table__header">CHED PP</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email</th>
                <td class="govuk-table__cell"><a href="no-match-emails-and-sms/email-no-match">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">SMS</th>
                <td class="govuk-table__cell"><a href="no-match-emails-and-sms/sms-no-match">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <hr>
          <h3 class="govuk-heading-l">Goods Vehicle Movement Service (GVMS)</h3>
        
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Screen designs</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Screen</th>
                <th scope="col" class="govuk-table__header">All</th>
                <th scope="col" class="govuk-table__header">CHED P</th>
                <th scope="col" class="govuk-table__header">CHED A</th>
                <th scope="col" class="govuk-table__header">CHED D</th>
                <th scope="col" class="govuk-table__header">CHED PP</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Dashboard &ndash; inspection status tags</th>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-04/0-index-inspection-status">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">About the consignment</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-04/06-about-consignment">Done</a></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/06-about-consignment">Done</a></td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell"><a href="../chedpp/latest/01-ac-05-purpose">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Transport - GVMS question - without help text</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-04/11-transport-to-bcp">Done</a></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/11-transport-details">Done</a></td>
                <td class="govuk-table__cell"><a href="../chedd/chedd-single-GVMS-work/poe-transport">Done</a></td>
                <td class="govuk-table__cell"><a href="../chedpp/latest/05-tp-01-transport-to-bcp">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Transport - GVMS question - with help text</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-04/11-transport-to-bcp-gvms-with-help-text">Done</a></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/11-transport-details-gvms-with-help-text">Done</a></td>
                <td class="govuk-table__cell"><a href="../chedd/chedd-single-GVMS-work/poe-transport-gvms-with-help-text">Done</a></td>
                <td class="govuk-table__cell"><a href="../chedpp/latest/05-tp-01-transport-to-bcp-gvms-with-help-text">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Review</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-04/18-review">Done</a></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/18-review">Done</a></td>
                <td class="govuk-table__cell"><a href="../chedd/chedd-single-GVMS-work/review">Done</a></td>
                <td class="govuk-table__cell"><a href="../chedpp/latest/07-cn-01-review-manual">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Review &ndash; GVMS error</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-04/18-review-gvms-error">Done</a></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/18-review-gvms-error">Done</a></td>
                <td class="govuk-table__cell"><a href="../chedd/chedd-single-GVMS-work/review-gvms-error">Done</a></td>
                <td class="govuk-table__cell"><a href="../chedpp/latest/07-cn-01-review-manual-gvms-error">Done</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Confirmation &ndash; using GVMS</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../chedp-gvms-iteration-04/20-submitted-gvms-yes">Done</a></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/20-submitted-gvms-yes">Done</a></td>
                <td class="govuk-table__cell"><a href="../chedd/chedd-single-GVMS-work/20-submitted-gvms-yes">Done</a></td>
                <td class="govuk-table__cell">N/A<!--<a href="../chedpp/latest/08-sn-01-submitted">Done</a>--></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Confirmation &ndash; inspection not required</th>
                <td class="govuk-table__cell"><a href="../x-ched/confirmation/20-submitted-inspection-not-required">Done<br>P, D, PP</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/20-submitted-inspection-not-required">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Confirmation &ndash; inspection required</th>
                <td class="govuk-table__cell"><a href="../x-ched/confirmation/20-submitted-inspection-required">Done<br>P, D, PP</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="../cheda/create-cheda/20-submitted-inspection-required">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
          <h3 class="govuk-heading-m">Emails and SMS</h3>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-2">Original – risk assessment i.e not overridden</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Channel</th>
                <th scope="col" class="govuk-table__header">All</th>
                <th scope="col" class="govuk-table__header">CHED P</th>
                <th scope="col" class="govuk-table__header">CHED A</th>
                <th scope="col" class="govuk-table__header">CHED D</th>
                <th scope="col" class="govuk-table__header">CHED PP</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email</th>
                <td class="govuk-table__cell"><a href="driver-messaging-emails-and-texts/email-inspection-not-overidden">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">SMS</th>
                <td class="govuk-table__cell"><a href="driver-messaging-emails-and-texts/sms-inspection-not-overidden">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-2">Overridden &ndash; risk changed to inspection required</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Channel</th>
                <th scope="col" class="govuk-table__header">All</th>
                <th scope="col" class="govuk-table__header">CHED P</th>
                <th scope="col" class="govuk-table__header">CHED A</th>
                <th scope="col" class="govuk-table__header">CHED D</th>
                <th scope="col" class="govuk-table__header">CHED PP</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email</th>
                <td class="govuk-table__cell"><a href="driver-messaging-emails-and-texts/email-inspection-overidden-changed-to-inspection-required">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">SMS</th>
                <td class="govuk-table__cell"><a href="driver-messaging-emails-and-texts/sms-inspection-overidden-changed-to-inspection-required">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-2">Overridden &ndash; risk changed to no inspection required</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Channel</th>
                <th scope="col" class="govuk-table__header">All</th>
                <th scope="col" class="govuk-table__header">CHED P</th>
                <th scope="col" class="govuk-table__header">CHED A</th>
                <th scope="col" class="govuk-table__header">CHED D</th>
                <th scope="col" class="govuk-table__header">CHED PP</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email</th>
                <td class="govuk-table__cell"><a href="driver-messaging-emails-and-texts/email-inspection-overidden-changed-to-no-inspection-required">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">SMS</th>
                <td class="govuk-table__cell"><a href="driver-messaging-emails-and-texts/sms-inspection-overidden-changed-to-no-inspection-required">Done</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>

        <!--footer-->
        <div class="govuk-!-padding-bottom-4">
          <h3 class="govuk-heading-m">eCertification enhancements</h3>

          <p>Responsible UX: Bogdan and Millie</p>
          <p>Theme page: <a></a></p>



          <p class='govuk-body'><a href="e-cert-chedp/0-index">Dashboard</a></p>
          <p class='govuk-body'><a href="e-cert-chedp/01-ched-type">What are you importing</a></p>
          <p class="govuk-body"><a href="e-cert-chedp/07-check-answers-vhc">Notification hub</a></p>
          <hr>
        </div>










 <!-- tabs end -->

</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-2">
  <h2 class="govuk-heading-l">Part 2 -  Inspector</h2>
  <div class="govuk-!-padding-bottom-4">
    <h3 class="govuk-heading-m">No match - January 2024</h3>
    <p><a href="../part-2/no-match/dashboard">Dashboard - with alert</a></p>
    <p><a href="../part-2/no-match/no-match-results">Commodity details and customs declarations do not match</a></p>
    <hr>
  </div>
  <div class="govuk-!-padding-bottom-4">
    <h3 class="govuk-heading-m">Goods Vehicle Movement Service (GVMS)</h3>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Screen designs</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Design</th>
          <th scope="col" class="govuk-table__header">All</th>
          <th scope="col" class="govuk-table__header">CHED P</th>
          <th scope="col" class="govuk-table__header">CHED A</th>
          <th scope="col" class="govuk-table__header">CHED D</th>
          <th scope="col" class="govuk-table__header">CHED PP</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">CHED Overview</th>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"><a href="../part-2/chedp-landbridge/00-ched-overview-gvms">Done</a></td>
          <td class="govuk-table__cell"><a href="../cheda/part-2/ched-overview">Done</a></td>
          <td class="govuk-table__cell"><a href="../chedd/chedd-single-GVMS-work/part2ched-overview">Done</a></td>
          <td class="govuk-table__cell"><a href="../chedpp/part-2/ched-overview">Done</a></td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-3">
  <h2 class="govuk-heading-l">Part 3 - Control</h2>
  <div class="govuk-!-padding-bottom-4">
    <h3 class="govuk-heading-m">Goods Vehicle Movement Service (GVMS)</h3>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Screen designs</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Design</th>
          <th scope="col" class="govuk-table__header">All</th>
          <th scope="col" class="govuk-table__header">CHED P</th>
          <th scope="col" class="govuk-table__header">CHED A</th>
          <th scope="col" class="govuk-table__header">CHED D</th>
          <th scope="col" class="govuk-table__header">CHED PP</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CHED Overview</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a href="../part-3/chedp-landbridge-iteration-02/ched-overview-gvms">Done</a></td>
            <td class="govuk-table__cell"><a href="../cheda/part-3/ched-overview">Done</a></td>
            <td class="govuk-table__cell"><a href="https://app.axure.cloud/app/project/2vw320/preview/b24v5d" target="_blank">Done</a></td>
            <td class="govuk-table__cell"><a href="../chedpp/part-3/ched-overview">Done</a></td>
          </tr>
        </tr>
      </tbody>
    </table>
  </div>


</div>

</div>

{% endblock %}
