
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <h3 class="govuk-heading-l">No match - Iteration 05 - journey improvements to read only commodity details page</h3>
    <p class='govuk-body'>Previous iteration was following PO review on 11th Jan which came after completion of user research on 10th Jan and for PO review on 11th Jan</p>
      
<br>
   
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#part-1">
            Part 1 - Importer
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-2">
            Part 2  - Inspector
          </a>
        </li>
       
       
      </ul>
      <div class="govuk-tabs__panel" id="part-1">
       
        
   


    
     
      <div class="govuk-body govuk-!-padding-bottom-9">
        <h4 class="govuk-heading-s">On submission of CHED</h4>
        <p class='govuk-body'><a href="../chedp-no-match/20-submitted-inspection-required">Confirmation &ndash; inspection required</a></p>
        <p class='govuk-body'><a href="../chedp-no-match/20-submitted-inspection-not-required">Confirmation &ndash; inspection not required</a></p>
        <p class='govuk-body'><a href="../chedp-no-match/20-submitted-gvms-yes-no-match">Confirmation &ndash; using GVMS</a></p>
        <h4 class="govuk-heading-s">On validation / detection of no match</h4>
        <p class='govuk-body'><a href="../chedp-no-match/email-no-match">Email &ndash; no match</a></p>
        <!--<p class='govuk-body'><a href="../chedp-no-match/email-no-match-non-specific">Email - no match - non specific</a></p>-->
        <p class='govuk-body'><a href="../chedp-no-match/sms-no-match">SMS &ndash; no match</a></p>
        <p class='govuk-body'><a href="../chedp-no-match/index-no-match">Dashboard &ndash; with alert</a></p>
        <p class='govuk-body'><a href="../chedp-no-match/no-match-results">Check commodity details and customs declarations match</a></p>
        <p class='govuk-body'><a href="../chedp-no-match/commodity-details">Commodity details</a> &ndash; after clicking on link on email or no match results page</p>
        <p class='govuk-body'><a href="../chedp-no-match/commodity-details-amend">Commodity details amend</a> &ndash; after clicking 'Amend' on commodity details page</p>
        <p class='govuk-body'><a href="../chedp-no-match/review">Review &ndash; with alert</a> &ndash; after clicking 'View details' on a consignment</p>
        <p class='govuk-body'><a href="../chedp-no-match/review-amend">Review amend &ndash; with alert</a> &ndash; after clicking 'Amend' on review page</p>
     
      
   

    </div>
    
  
 


 <!-- tabs end -->

</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-2">
  
  
  <h3 class="govuk-heading-m">No match - January 2024</h3>
  <p><a href="/part-2/no-match/dashboard">Dashboard - with alert</a></p>
  <p><a href="/part-2/no-match/no-match-results">Commodity details and customs declarations do not match</a></p>
  <hr>
 
 
</div>

</div>
   
{% endblock %}
