{% extends "layouts/main.html" %}




{% set pageName="Home" %}




{% block content %}




<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">




    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}




    <h1 class="govuk-heading-xl">

      Neil's prototype

    </h1>




    <h2 class="govuk-heading-l"></h2>

    <a href="breakfast">Breakfast</a>




    <a href="testservice">Test service</a>




    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}

  </div>

</div>




{% endblock %}