
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
    <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Plants</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="#">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="#">
        Sign out
      </a>
    </p>
  </div>
</div>


<div class="govuk-!-padding-bottom-6 govuk-!-margin-top-6">
  <span class="heading-tertiary">DRAFT.GB.2024.6697492 - CHEPP</span>
  </div>


  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row" id="declaration-page">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl " id="page-primary-title">Declaration</h1>
  
  
        <p class="govuk-body">By clicking on the check box at the bottom of the page you are declaring that you
          have read and understood, accept and agree to the terms and conditions of the declaration.
        </p>
        <p class="govuk-body">Submission of the form will not be allowed until all fields have been completed and
          the check box has been ticked.
        </p>
        <h4 class="govuk-heading-s">For England and Wales</h4>
        <p class="govuk-body">The Animal and Plant Health Agency (APHA) will undertake control verification procedures on
          plants, plant products and other objects entering into England and Wales.
        </p>
        <p class="govuk-body">The APHA is an executive agency of the Department for Environment, Food &amp; Rural Affairs
          (DEFRA), which executes plant health policy in England and Wales under a Memorandum of Understanding with Defra
          and with the Welsh Government.
        </p>
        <p class="govuk-body">APHA Import Enforcement Policy Statement</p>
        <p class="govuk-body">The Plant Health and Seed Inspectorate (PHSI) and the Horticultural Marketing
          Inspectorate (HMI) are part of the APHA and follow the DEFRA
          <a rel="noopener noreferrer" target="_blank" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/470454/defra-enforcement-policy-statement-2015.pdf">enforcement policy</a>.
        </p>
        <h4 class="govuk-heading-s">For Scotland</h4>
        <p class="govuk-body">For plants, plant products and other objects entering into Scotland or destined for a
          Control Point registered in Scotland will be subject to control verification procedures by SASA.
        </p>
        <p class="govuk-body">SASA is a Division of the Scottish Government.</p>
        <h4 class="govuk-heading-s">Statement of terms and conditions for applications</h4>
        <p class="govuk-body">For the purposes of the declaration "APHA" refers to the HMI and the PHSI.</p>
        <ol class="govuk-list govuk-list--number">
          <li class="govuk-!-padding-bottom-2">
            No liability shall attach to the APHA/SASA for any delay in granting or failure to
            grant a finalised Common Health Entry Document (CHED), nor any delay in
            inspecting or failure to inspect, delayed or non-delivery of any document.
          </li>
          <li class="govuk-!-padding-bottom-2">
            The APHA/SASA shall be entitled to rely upon the accuracy of all documentation
            and information supplied by the operator responsible, for the inspection or for the
            issuance of a finalised CHED.
          </li>
          <li class="govuk-!-padding-bottom-2">
            No finalised CHED shall be used issued in respect of any plants, plant products
            or other objects except those to which it applies.
          </li>
          <li class="govuk-!-padding-bottom-2">
            Inspections will be carried out and finalised CHEDs will be issued only on the
            understanding that no liability shall attach to the APHA/SASA in any circumstance in
            respect of any inspection carried out or the issue of or contents of any CHED
            and that the APHA/SASA accepts no responsibility for any resulting loss however caused.
          </li>
          <li class="govuk-!-padding-bottom-2">
            The responsibility for charges incurred in such inspections must be borne by the
            operator responsible for the consignment. Including payment for official controls, as
            well as for re-dispatching consignments, quarantine or isolation of consignments, or
            costs of destruction and disposal where necessary.
          </li>
          <li class="govuk-!-padding-bottom-2">
            The APHA/SASA will not issue a finalised CHED in respect of plants, plant
            products or other objects, which in their opinion is incorrect or inaccurate.
          </li>
        </ol>
        <h4 class="govuk-heading-s">Imports enquiries</h4>
        <p class="govuk-body">APHA:</p>
        <p class="govuk-body">
          Animal and Plant Health Agency,<br>
          Foss House<br>
          Kings Pool, 1-2 Peasholme Green,<br>
          York, YO1 7PX.<br>
          Tel: 0300 1000 313<br>
          Email: phsi-importers@apha.gov.uk and PEACHenquiries@apha.gov.uk<br>
        </p>
        <p class="govuk-body">SASA:</p>
        <p class="govuk-body">Email: hort.marketing@gov.scot </p>
        <h4 class="govuk-heading-s">Data Protection Statement</h4>
        <p class="govuk-body">
          Defra is the data controller for personal data you give to the APHA/SASA or what is held about you.
          APHA/SASA use it in line with the Data Protection Act. For more information visit on
          <a rel="noopener noreferrer" target="_blank" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/897608/apha-privacy-notice.pdf">APHA’s</a>
          Privacy statement and
          <a rel="noopener noreferrer" target="_blank" href="https://www.sasa.gov.uk/content/privacy">SASA’s</a>
          Privacy statement.
        </p>
        <h4 class="govuk-heading-s">Legal Declarations</h4>
        <p class="govuk-body">
          "I/We hereby request APHA/SASA to arrange for the examination of the consignment(s) of plants, plant products
          and other objects listed above and for the issue of finalised CHEDs as prescribed by:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Regulation (EU) 2016/2031, (retained EU legislation)"</li>
          <li>Regulation (EU) 2017/625, (retained EU legislation)"</li>
          <li>Regulation (EU) 543/2011, (retained EU legislation)"</li>
          <li>Regulation (EU) 1333/2011, (retained EU legislation)"</li>
        </ul>
  
        <p class="govuk-body">
          I/We have read and accept the general conditions relating to the examination of consignments for import.
        </p>
  <p class="govuk-body">
        As my consignment is <a href="https://www.gov.uk/guidance/common-user-charge-rates-and-eligibility" class="govuk-link">in scope of the common user charge</a>, I confirm I have read and agree to comply with the <a href="https://www.gov.uk/government/publications/paying-the-common-user-charge-terms-and-conditions" class="govuk-link">common user charge payment terms and conditions</a>.
      </p>
  
        <form id="declaration" class="review-form" method="POST" action="10-01-submitted-initial">
  
          <div class="govuk-checkboxes ">
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-!-margin-top-3" id="declaration-agree" form="declaration" name="declaration-agree" type="checkbox" value="yes">
              <label class="govuk-label govuk-checkboxes__label govuk-!-padding-top-0" for="declaration-agree">
                I/We have read and understood the Conditions, Data Protection Statement and Legal Declarations
              </label>
            </div>
          </div>
          <input name="crumb" type="hidden" value="tl1ryYWLsmMjpDoCzKf6npVYEbm1XQI_HSsgIFvNfDl">
          <input name="etag" type="hidden" value="&quot;0000000006319F31&quot;">
          <input name="submissionDate" type="hidden" value="26 May 2024">
          <button class="govuk-button govuk-!-margin-top-7" id="accept-and-submit" type="submit" value="Submit notification" data-prevent-double-click="true">Submit notification</button>
        </form>
      </div>
    </div>
  </main>

{% endblock %}
