
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
    
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Hyseni</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="#">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="#">
        Sign out
      </a>
    </p>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row" id="confirmation-page">
    <div class="govuk-grid-column-two-thirds">
        <!--  IPAFFS Messaging enabled & high risk EU & has risk assessment  -->
        <!--  Risk decision partials  -->
          <!--  CHED-D, CHED-PP, CHED-P (Non Transit)  -->
            <div class="govuk-panel govuk-!-margin-bottom-6 panel--no-inspection-required" id="no-inspection-required-confirmation-panel">
              <h1 class="govuk-panel__title">
                Initial risk assessment
              </h1>
              <div class="govuk-panel__body">
                  <div>No inspection required</div>
              </div>
            </div>
            
            <div class="table-responsive">
              <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0" id="review-table-about-notification">
                <caption class="govuk-visually-hidden">
                  Customs declaration reference and document code table
                </caption>
                <tbody>
                <tr class="presentation-table__row--no-border ">
                  <th scope="row" class="govuk-table__header border-top-none">CHED reference</th>
                  <td class="govuk-table__cell border-top-none" id="reference-number">CHEDPP.GB.2024.6697492</td>
                  <td class="govuk-table__cell change border-top-none">
                    <button data-prevent-double-click="true" id="copy-notification-reference-number" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 copy-button" data-copy-value="CHEDPP.GB.2024.6697492">
                      Copy
                    </button>
                  </td>
                </tr>
                <tr class="presentation-table__section">
                  <th scope="row" class="govuk-table__header">Customs declaration reference</th>
                  <td class="govuk-table__cell" id="reference-number-customs">GBCHD2024.6697492</td>
                  <td class="govuk-table__cell change">
                    <button data-prevent-double-click="true" type="submit" id="copy-customs-declaration-reference-number" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 copy-button" data-copy-value="GBCHD2024.6697492">
                      Copy
                    </button>
                  </td>
                </tr>
                <tr class="presentation-table__row--no-border-bottom">
                  <th scope="row" class="govuk-table__header border-top-none">Customs document code</th>
                  <td class="govuk-table__cell border-top-none" id="reference-number-document">N851</td>
                  <td class="govuk-table__cell change border-top-none">
                    <button data-prevent-double-click="true" type="submit" id="copy-customs-doc-code" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 copy-button" data-copy-value="N851">
                      Copy
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  You must use the correct reference and code on the customs declaration or your consignment will be delayed.
                </strong>
              </div>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible section-break-margin">
            </div>
              <h2 id="what-you-need-to-do-next-heading" class="govuk-heading-m">What you
                need to do</h2>
              <p class="govuk-body">
                Tell the driver that this consignment does not require an inspection.
              </p>
            
            <p class="govuk-inset-text">
              Initial risk assessments can change.
            </p>
            
            <h2 id="what-happens-next-heading" class="govuk-heading-m">What happens
              next</h2>
              <p class="govuk-body">
                An inspector may update the risk assessment.
              </p>
            
              <p id="what-happens-next-body" class="govuk-body">
                If the risk assessment changes, we'll notify you and any nominated contacts by text message or email.
              </p>
              <h2 class="govuk-heading-m">How to view or amend this notification</h2>
        

        <p class="govuk-body" id="raise-another-cvedp">
          You can access or amend this notification from your dashboard.
        </p>
      <div class="govuk-body" id="exit-links">
        <div>
          <a href="0-index" class="link-button govuk-!-font-size-19" id="manage-notifications">
            Return to your dashboard
          </a>
        </div>
        <div>
          <a class="link-button" href="01-01-ched-type">
              Create a new notification
          </a>
        </div>
      </div>
    </div>
    </div>
  </main>






{% endblock %}
