
.ds_datepicker-3-fields {
  position: absolute !important;
  width: 100% !important;
  height: 0 !important;

  #invisible-date-input {
    visibility: hidden;
  }

  .ds_input__wrapper {
    height: 0 !important;
  }

  .js-calendar-button {
    margin-left: auto !important;
    min-height: 40px !important;
    min-width: 40px !important;

    .ds_icon {
      height: 25px !important;
      width: 25px !important;
    }
  }
}
