
{% extends "layout.html" %}

{% block pageTitle %}
Review your notification  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
  <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  <div class="navigation-links__divider">|</div>
  <div class="govuk-breadcrumbs breadcrumbs--next-to-back">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index-no-match">Dashboard</a>
      </li>
          <!--<li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="check-answers">Notification Hub</a>
          </li>-->
    </ol>
  </div>  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Plants</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="/notification/vnet/protected/notifications/address-book">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <p class="govuk-body govuk-!-width-three-quarters"><strong>The commodity details on this notification and your customs declaration do not match.  Check both and submit any changes.</strong></p>
          </div>
        </div>
      </div>

      <!--<div class="govuk-error-summary govuk-!-margin-top-0 govuk-!-margin-bottom-8" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <p style="color: #d4351c;"><strong>Check this notification and your customs declaration as they do not match, then submit any changes:</strong></p>
            <ul class="govuk-list govuk-list--bullet" style="color: #d4351c;">
              <li><a href="commodity-details" style="color: #d4351c;"><strong>Commodity code 020130 Boneless has a net weight of 3kgs entered on the customs declaration</strong></a></li>
            </ul>
          </div>
        </div>
      </div>-->
      


      <span class="heading-tertiary">
        <span id="reference-number">CHEDP.GB.2023.6244839</span>
      </span>
      <h1 class="govuk-heading-xl " id="page-primary-title">Check these commodity details and the customs declaration match</h1>
      <p class="govuk-body">Review and update either your commodity details below or the customs declaration to avoid a delay with this consignment.</p>

      <p class="govuk-body">The details that do not match are (one of the following):</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Commodity code</li>
        <li>Net weight</li>
        <li>Number of animals</li>
      </ul>

      <hr>
      <div class="heading-with-change-link">
        <h2 class="govuk-heading-m">Description of the goods</h2>
        <a href="commodity-details-amend" class="govuk-link" id="establishment-of-origin-change-link">
          Update commodity details
        </a>
      </div>   
      <div class="table-responsive">
        <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0" id="review-table-commodity-attributes-0" role="presentation">
          <tbody class="govuk-table__head">
            <tr id="020110/expired" class="presentation-table__section ">
          </tr><tr>
            <td class="govuk-table__header">Commodity code</td>
            <td class="govuk-table__cell">
              020110
              
            </td>
              <td class="govuk-table__cell change">
              </td>
          </tr>
              <tr class="presentation-table__row--no-border">
                <td class="govuk-table__header">Type of commodity</td>
                <td class="govuk-table__cell">Domestic</td>
                <td class="govuk-table__cell"></td>
              </tr>
          <tr></tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive">
        <table class="govuk-table review-table" id="review-table-consignment-0" role="presentation">
          <thead class="govuk-table__head">
            <tr>
              <td class="govuk-table__header species">
                Species
              </td>
              <td class="govuk-table__header govuk-table__header--numeric weight">
                Net weight
              </td>
              <td class="govuk-table__header govuk-table__header--numeric packages">
                Packages
              </td>
              <td class="govuk-table__header package-type">Package type</td>
            </tr>
          </thead>
          <tbody>
              <tr class="
                          
                          ">
                <td class="govuk-table__cell">
                  Bison bison
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                  1 kg/units
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  1
                </td>
                <td class="govuk-table__cell">Carton</td>
              </tr>
              <tr class="
                          
                          ">
                <td class="govuk-table__cell">
                  Bos taurus
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                  1 kg/units
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  1
                </td>
                <td class="govuk-table__cell">Carton</td>
              </tr>
              <tr class="
                          
                          ">
                <td class="govuk-table__cell">
                  Bubalus bubalis
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                  1 kg/units
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  1
                </td>
                <td class="govuk-table__cell">Carton</td>
              </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="govuk-table__header">
                Subtotal
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                3 kg/units
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                3
              </td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tfoot>
        </table>
      </div>
          
              <div class="table-responsive">
                <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0" id="review-table-commodity-attributes-1" role="presentation">
                  <tbody class="govuk-table__head">
                    <tr id="020120/expired" class="presentation-table__row--no-border ">
                  </tr><tr>
                    <td class="govuk-table__header">Commodity code</td>
                    <td class="govuk-table__cell">
                      020120
                      
                    </td>
                      <td class="govuk-table__cell change">
                      </td>
                  </tr>
                      <tr class="presentation-table__row--no-border">
                        <td class="govuk-table__header">Type of commodity</td>
                        <td class="govuk-table__cell">Domestic</td>
                        <td class="govuk-table__cell"></td>
                      </tr>
                  <tr></tr>
                  </tbody>
                </table>
              </div>
                <div class="table-responsive">
                  <table class="govuk-table review-table" id="review-table-consignment-1" role="presentation">
                    <thead class="govuk-table__head">
                      <tr>
                        <td class="govuk-table__header species">
                          Species
                        </td>
                        <td class="govuk-table__header govuk-table__header--numeric weight">
                          Net weight
                        </td>
                        <td class="govuk-table__header govuk-table__header--numeric packages">
                          Packages
                        </td>
                        <td class="govuk-table__header package-type">Package type</td>
                      </tr>
                    </thead>
                    <tbody>
                        <tr class="
                                   
                                   ">
                          <td class="govuk-table__cell">
                            Bison bison
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                            1 kg/units
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            1
                          </td>
                          <td class="govuk-table__cell">Carton</td>
                        </tr>
                        <tr class="
                                   
                                   ">
                          <td class="govuk-table__cell">
                            Bos taurus
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                            1 kg/units
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            1
                          </td>
                          <td class="govuk-table__cell">Carton</td>
                        </tr>
                        <tr class="
                                   
                                   ">
                          <td class="govuk-table__cell">
                            Bubalus bubalis
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                            1 kg/units
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            1
                          </td>
                          <td class="govuk-table__cell">Carton</td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="govuk-table__header">
                          Subtotal
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                          3 kg/units
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                          3
                        </td>
                        <td class="govuk-table__cell"></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
          
              <div class="table-responsive">
                <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0" id="review-table-commodity-attributes-2" role="presentation">
                  <tbody class="govuk-table__head">
                    <tr id="020130/expired" class="presentation-table__row--no-border ">
                  </tr><tr>
                    <td class="govuk-table__header">Commodity code</td>
                    <td class="govuk-table__cell">
                      020130
                      
                    </td>
                      <td class="govuk-table__cell change">
                      </td>
                  </tr>
                      <tr class="presentation-table__row--no-border">
                        <td class="govuk-table__header">Type of commodity</td>
                        <td class="govuk-table__cell">Domestic</td>
                        <td class="govuk-table__cell"></td>
                      </tr>
                  <tr></tr>
                  </tbody>
                </table>
              </div>
                <div class="table-responsive">
                  <table class="govuk-table review-table" id="review-table-consignment-2" role="presentation">
                    <thead class="govuk-table__head">
                      <tr>
                        <td class="govuk-table__header species">
                          Species
                        </td>
                        <td class="govuk-table__header govuk-table__header--numeric weight">
                          Net weight
                        </td>
                        <td class="govuk-table__header govuk-table__header--numeric packages">
                          Packages
                        </td>
                        <td class="govuk-table__header package-type">Package type</td>
                      </tr>
                    </thead>
                    <tbody>
                        <tr class="
                                   
                                   ">
                          <td class="govuk-table__cell">
                            Bison bison
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                            1.5 kg/units
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            1
                          </td>
                          <td class="govuk-table__cell">Carton</td>
                        </tr>
                        <tr class="
                                   
                                   ">
                          <td class="govuk-table__cell">
                            Bos taurus
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                            1 kg/units
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            1
                          </td>
                          <td class="govuk-table__cell">Carton</td>
                        </tr>
                        <tr class="
                                   
                                   ">
                          <td class="govuk-table__cell">
                            Bubalus bubalis
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                            1.5 kg/units
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            1
                          </td>
                          <td class="govuk-table__cell">Carton</td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="govuk-table__header">
                          Subtotal
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                          4 kg/units
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                          3
                        </td>
                        <td class="govuk-table__cell"></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
          
              <div class="table-responsive">
                <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0" id="review-table-commodity-attributes-3" role="presentation">
                  <tbody class="govuk-table__head">
                    <tr id="020210/expired" class="presentation-table__row--no-border ">
                  </tr><tr>
                    <td class="govuk-table__header">Commodity code</td>
                    <td class="govuk-table__cell">
                      020210
                      
                    </td>
                      <td class="govuk-table__cell change">
                      </td>
                  </tr>
                      <tr class="presentation-table__row--no-border">
                        <td class="govuk-table__header">Type of commodity</td>
                        <td class="govuk-table__cell">Domestic</td>
                        <td class="govuk-table__cell"></td>
                      </tr>
                  <tr></tr>
                  </tbody>
                </table>
              </div>
                <div class="table-responsive">
                  <table class="govuk-table review-table" id="review-table-consignment-3" role="presentation">
                    <thead class="govuk-table__head">
                      <tr>
                        <td class="govuk-table__header species">
                          Species
                        </td>
                        <td class="govuk-table__header govuk-table__header--numeric weight">
                          Net weight
                        </td>
                        <td class="govuk-table__header govuk-table__header--numeric packages">
                          Packages
                        </td>
                        <td class="govuk-table__header package-type">Package type</td>
                      </tr>
                    </thead>
                    <tbody>
                        <tr class="
                                   
                                   ">
                          <td class="govuk-table__cell">
                            Bison bison
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric consignment-net-weight">
                            1 kg/units
                          </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                            1
                          </td>
                          <td class="govuk-table__cell">Carton</td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="govuk-table__header">
                          Subtotal
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                          1 kg/units
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                          1
                        </td>
                        <td class="govuk-table__cell"></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
          
          <div class="table-responsive govuk-!-margin-bottom-9">
            <table class="govuk-table presentation-table review-table" role="presentation" id="review-consignment-details-table">
              <tbody>
          
          
                <tr class="presentation-table__row--no-border ">
                  <td class="govuk-table__header">Total net weight</td>
                  <td class="govuk-table__cell" colspan="2">
                    11 kg/units
                  </td>
                </tr>
          
                <tr>
                  <td class="govuk-table__header">Total packages</td>
                  <td class="govuk-table__cell" colspan="2">
                    10
                  </td>
                </tr>
          
          
                <tr class="
                        
                        ">
                  <td class="govuk-table__header" id="gross-weight-header">Total gross weight (kg/units)</td>
                  <td class="govuk-table__cell" id="gross-weight">12 kg/units</td>
                </tr>
          
              </tbody>
            </table> 
                   
          </div>   
          

    </div>
  </div>
</main>

{% endblock %}
