
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/index">IPAFFS prototypes</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../start">Single CHED-A</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Latest
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Single CHED-A</h1>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Version 2
        </dt>
        <dd class="govuk-summary-list__actions">
          <strong class="govuk-tag govuk-tag--blue">
            In progress
          </strong>
        </dd>
      </div>
    </dl>
    <div class="govuk-inset-text" style=" background-color:rgb(250, 246, 220);">
      <p>You need to use one of these commodity codes in the search commodities field:</p>
      <ul>
        <li>0103 for the pigs scenario</li>
        <li>01061900 for the dogs scenario</li>
      </ul>
    </div>
    <h2 class="govuk-heading-m">Part 1</h2>
    <ul class="govuk-list govuk-list--bullet">  
      <li><a href="part1/0-index">Dashboard</a></li>
      <li><a href="part1/00-notification-hub">Notification hub</a></li>
      <li><a href="part1/00b-notification-hub-with-billing">Notification hub – with Billing section</a></li>
      <li><a href="part1/02-08a-animal-identifiers-error">Animal identification details – with error message</a></li>
      <li><a href="part1/04-04a-permanent-address-error">Permanent addresses for these animals – with error message</a></li>
      <li><a href="part1/08-01-review">Review your notification</a></li>
      <li><a href="part1/08-01-review-with-data">Review your notification – with example data</a></li>
      <li><a href="part1/08-01a-review-with-errors">Review your notification – with error messages</a></li>
      <li><a href="part1/08-01b-review-with-billing">Review your notification – with Billing section</a></li>
      <li><a href="part1/09-01-declaration.html">Declaration</a></li>
      <li><a href="part1/10-01-submitted"> Confirmation - EU</a></li>
    </ul>

    
    <h2 class="govuk-heading-m">Part 2</h2>
    <ul class="govuk-list govuk-list--bullet">  
      <li><a href="part2/00-dashboard">Dashboard</a></li>
      <li><a href="part2/02c-decision-hub-inspection-inconclusive">Decision hub EU</a></li>
      <li><a href="part2/02-decision-hub">Decision hub RoW</a></li>
      <li><a href="part2/04-notification-overview">Notification overview</a></li>
    </ul>
    
    <h2 class="govuk-heading-m">Legacy status</h2>
    <ul class="govuk-list govuk-list--bullet">  
      <li><a href="legacystatus/0-index">Dashboard</a></li>
      <li><a href="legacystatus/01-review">Review</a></li>
      <li><a href="legacystatus/02-draft">Draft</a></li>
      <li><a href="legacystatus/03a-new-view-details">New - View details</a></li>
      <li><a href="legacystatus/03b-new-amend">New - Amend</a></li>
      <li><a href="legacystatus/04a-amend-view-details">Amend - View details</a></li>
      <li><a href="legacystatus/04b-amend-amend">Amend - Amend</a></li>
      <li><a href="legacystatus/05-valid-view-details">Valid - View details</a></li>
      <li><a href="legacystatus/06-cancelled-view-details">Cancelled - View details</a></li>
      <li><a href="legacystatus/07-inprogress-view-details">In progress - View details</a></li>
    </ul>
 
    <h2 class="govuk-heading-m">Transit override screen</h2>
    <ul class="govuk-list govuk-list--bullet">  
      <li><a href="transitoverridescreen/01-add-mrn">Add MRN - Draft</a></li>
      <li><a href="transitoverridescreen/01a-add-mrn-error">Add MRN error page - Draft</a></li>
      <li><a href="transitoverridescreen/02-add-mrn-review">Add MRN from review page</a></li>
    </ul>

    <h2 class="govuk-heading-m">Additional pages</h2>
    <ul class="govuk-list govuk-list--bullet">  
      <li><a href="additionalpages/part1-review-notificatiom">Part 1 Review Notification</a></li>
      <li><a href="additionalpages/part2-ched-overview">Part 2 CHED Overview</a></li>
      <li><a href="additionalpages/part3-ched-overview">Part 3 CHED Overview</a></li>
    </ul>
 
{% endblock %}
