
{% extends "layout.html" %}

{% block pageTitle %}
Review your notification  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
    <a href="07-check-answers" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  <div class="navigation-links__divider">|</div>
  <div class="govuk-breadcrumbs breadcrumbs--next-to-back">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="0-index">Dashboard</a>
      </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="07-check-answers">Notification Hub</a>
          </li>
    </ol>
  </div>  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Hyseni</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="/notification/vnet/protected/notifications/address-book">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
</div>




  <div class="govuk-!-padding-top-6 govuk-!-margin-bottom-3">
    <span class="heading-tertiary">
        <span id="reference-number">DRAFT.GB.2024.3476228</span>
            <span> - CHEDA</span>
    </span>
  </div>


  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
            
  
  
        <h1 class="govuk-heading-xl " id="page-primary-title">Review your notification</h1>
  
  
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="audit-flag govuk-!-margin-bottom-7">
  
              <div id="last-updated-date">Last updated 22 July 2024, 10:27</div>
              <div id="last-updated-by">by Percy Hyseni </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="audit-flag govuk-!-margin-bottom-2">
              <div id="last-submission-date">Submitted 22 July 2024, 18:13</div>
              <div id="submitted-by">by Percy Hyseni</div>
            </div>
          </div>
        </div>
  

        <div class="action-button-container govuk-!-margin-bottom-4 govuk-!-padding-bottom-0 govuk-!-margin-top-4">
        

          <form method="post" action="00-notification-hub" class="govuk-!-display-inline">
            <input name="crumb" type="hidden" value="jm6AwVDLyEA6HWbI6UoJqmUUElfMByggA-dk5xYlH7N">
            <input name="etag" type="hidden" value="&quot;000000000537DB03&quot;">
            <button type="submit" name="submit_param" value="Copy as new" class="govuk-button govuk-button--secondary button-small action-button govuk-!-margin-bottom-3" data-prevent-double-click="true">Copy as new</button>
          </form>
    

    
          <form action="#" method="post" class="govuk-!-display-inline">
            <input name="crumb" type="hidden" value="jm6AwVDLyEA6HWbI6UoJqmUUElfMByggA-dk5xYlH7N">
            <input name="etag" type="hidden" value="&quot;000000000537DB03&quot;">
            <button type="submit" name="amend" id="amend-certificate-CHEDPP.GB.2021.3476228" value="CHEDPP.GB.2021.3476228" class="govuk-button govuk-button--secondary button-small action-button govuk-!-margin-bottom-3" data-prevent-double-click="true">
              View CHED
            </button>
          </form>
    
          
      </div>




        <div class="govuk-grid-row">
          <h2 class="govuk-heading-l govuk-grid-column-one-half">Import reference numbers</h2>
        </div>
        <div class="table-responsive">
          <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0"
            id="review-table-about-notification">
            <caption class="govuk-visually-hidden">
              Customs declaration reference and document code table
            </caption>
            <tbody>
              <tr class="presentation-table__row--no-border ">
                <th scope="row" class="govuk-table__header border-top-none">CHED reference</th>
                <td class="govuk-table__cell border-top-none" id="reference-number">DRAFT.GB.2024.5501422</td>
                <td class="govuk-table__cell change border-top-none">
                  <button data-prevent-double-click="true" id="copy-notification-reference-number" type="submit"
                    class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 copy-button"
                    data-copy-value="DRAFT.GB.2024.1002950">
                    Copy
                  </button>
                </td>
              </tr>
              <tr class="presentation-table__section">
                <th scope="row" class="govuk-table__header">Reference for customs declaration</th>
                <td class="govuk-table__cell" id="reference-number-customs">GBCHD2024.5501422</td>
                <td class="govuk-table__cell change">
                  <button data-prevent-double-click="true" type="submit" id="copy-customs-declaration-reference-number"
                    class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 copy-button"
                    data-copy-value="GBCHD2024.1002950">
                    Copy
                  </button>
                </td>
              </tr>
              <tr class="presentation-table__row--no-border-bottom">
                <th scope="row" class="govuk-table__header border-top-none" style="border-top: none;">Customs document
                  code</th>
                <td class="govuk-table__cell border-top-none" id="reference-number-document" style="border-top: none;">
                  C640</td>
                <td class="govuk-table__cell change border-top-none" style="border-top: none;">
                  <button data-prevent-double-click="true" type="submit" id="copy-customs-doc-code"
                    class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 copy-button"
                    data-copy-value="C640">
                    Copy
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              You must use the correct reference and code on the customs declaration or your consignment will be delayed.
            </strong>
          </div>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible section-break-margin">
        </div>
  
        <h2 class="govuk-heading-l">About the consignment</h2>
 
        <div class="table-responsive">
          <table class="govuk-table presentation-table review-table" id="review-table-about-notification"
            role="presentation">
            <tbody>
              <tr class="presentation-table__section">
                <td class="govuk-table__header" id="importing-header">Import type</td>
                <td class="govuk-table__cell" id="importing">Live Animals</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="presentation-table__section">
                <td class="govuk-table__header">Country of origin</td>
                <td class="govuk-table__cell" id="country-of-origin">
                  {{ data['origin-country'] or "Argentina" }}
                </td>
                <td class="govuk-table__cell change">
                  <a href="01-03-origin-of-import?from-page=review" class="govuk-link" id="country-of-origin-change-link">
                  
                  </a>
                </td>
              </tr>
              <tr>
                <td class="govuk-table__header">Region of origin code</td>
                <td class="govuk-table__cell" id="region-of-consignment-value">
                  {% if data['region-code'] != "" %}
                  IN-{{ data['region-code'] }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr>
                <td class="govuk-table__header">Consignment reference number</td>
                <td class="govuk-table__cell">{{ data['local-reference-number'] }}</td>
              </tr>
  
              <tr class="presentation-table__section  ">
                <td class="govuk-table__header" id="purpose-of-consignment-header">
                  Main reason for importing the animals
                </td>
                <td class="govuk-table__cell" id="purpose-of-consignment-value">
                  For {{ data['purpose'] | lower or "internal market" }}
                </td>
                <td class="govuk-table__cell change">
                  <a href="01-04-reason-for-importing?from-page=review" class="govuk-link"
                    id="consignment-purpose-change-link">
                    
                  </a>
                </td>
              </tr>
              <tr class="">
                <td class="govuk-table__header" id="purpose-for-internal-market">
                  Purpose in the internal market
                </td>
                <td>{{ data['internal-market'] or "Commercial sale or change of ownership" }}</td>
                <td></td>
              </tr>
  
            </tbody>
          </table>
        </div>
  
        <div class="govuk-grid-row">
          <h2 class="govuk-heading-l govuk-!-margin-top-5 govuk-grid-column-one-half">Description of the goods</h2>
        </div>
  
  
        <div class="table-responsive">
          <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0" id="review-table-commodity-attributes-0" role="presentation">
            <tbody class="govuk-table__head">
              <tr id="05010000/expired" class="presentation-table__section ">
            </tr><tr>
              <td class="govuk-table__header">Commodity code</td>
              <td class="govuk-table__cell">
                0103
              </td>
                <td class="govuk-table__cell change">
                      <a href="02-03a-weights-packaging-added" class="govuk-link" id="commodity-change-link-0"></a>
                </td>
            </tr>
            <tr></tr>
            </tbody>
          </table>
        </div>
    
        <table class="govuk-table presentation-table data-table-commodities" id="review-table-consignment-0">
          <caption class="govuk-visually-hidden">Commodity details</caption>
          <thead>
            <tr class="govuk-table__head">
              <th scope="col" class="govuk-table__header species">Species</th>
              <th scope="col" class="govuk-table__header animals govuk-table__header--numeric">Number of
                animals
              </th>
              <th scope="col" class="govuk-table__header packages govuk-table__header--numeric">Number of
                packages
              </th>
            </tr>
          </thead>
          <tbody>
              <tr class="presentation-table__section">
                <td class="form-group govuk-table__cell  ">
                  Equus asinus
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                <td class=" govuk-table__cell govuk-table__cell--numeric">1</td>
              </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="govuk-table__header">Subtotal</td>
              <td class="govuk-table__cell--numeric govuk-table__cell">2</td>
              <td class="govuk-table__cell--numeric govuk-table__cell">1</td>
            </tr>
          </tfoot>
        </table>

        <table class="govuk-table presentation-table data-table-commodities govuk-!-margin-bottom-9" id="review-consignment-details-table">
          <thead class="govuk-table__head">
            <tr>
              <th class="govuk-table__header species" scope="col">
  
              </th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric animals">
                Number of animals
              </th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric packages">
                Number of packages
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="govuk-table__header govuk-!-width-one-third">Total</th>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third">
                4
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third">
                2
              </td>
            </tr>
          </tbody>
        </table>
   

        <div class="govuk-!-margin-bottom-9" id="animal-identification-details-section">
          <div class="heading-with-change-link">
            <h2 class="govuk-heading-m" id="animal-identification-details-heading">Animal identification details</h2>
            <a href="02-04-additional-details" class="govuk-link">
              
            </a>
          </div>
         
          <table class="govuk-table presentation-table review-table" id="animal-identification-details-table">

            <tbody>
              
              <tr class="presentation-table__section">
                <th scope="col" class="govuk-table__header">Sus scrofa domesticus identification details</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell change"></td>
              </tr>
              <tr class="presentation-table__row--no-border">
                <td colspan="3" class="govuk-table__cell govuk-!-padding-0">
                  <div id="identifiers-01" class="accordion-target ">
                    
                    <table class="govuk-table presentation-table data-table govuk-!-margin-bottom-0" aria-describedby="animalProduct-01">
                      <thead class="govuk-table__head">
                        <tr>
                          <th scope="col" class="govuk-table__header" id="animalProduct-01">Animal</th>
                          <th scope="col" class="govuk-table__header" id="earTag-01">Ear tag</th>
                          <!-- th scope="col" class="govuk-table__header" id="passport-01">Passport</th -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="govuk-table__cell govuk-!-width-one-quarter" headers="animalProduct-01">
                            Sus scrofa domesticus 1
                          </td>
                          <td class="govuk-table__cell govuk-!-width-one-quarter" headers="earTag-01">tag 1</td>
                          <!-- td class="govuk-table__cell govuk-!-width-one-quarter" headers="passport-01"></td -->
                        </tr>
                        <tr>
                          <td class="govuk-table__cell govuk-!-width-one-quarter" headers="animalProduct-01">
                            Sus scrofa domesticus 2
                          </td>
                          <td class="govuk-table__cell govuk-!-width-one-quarter" headers="earTag-01">tag 2</td>
                          <!-- td class="govuk-table__cell govuk-!-width-one-quarter" headers="passport-01"></td -->
                        </tr>
                        <tr>
                          <td class="govuk-table__cell govuk-!-width-one-quarter" headers="animalProduct-01">
                            Sus scrofa domesticus 3
                          </td>
                          <td class="govuk-table__cell govuk-!-width-one-quarter" headers="earTag-01">tag 3</td>
                          <!-- td class="govuk-table__cell govuk-!-width-one-quarter" headers="passport-01"></td -->
                        </tr>
                        <tr>
                          <td class="govuk-table__cell govuk-!-width-one-quarter" headers="animalProduct-01">
                            Sus scrofa domesticus 4
                          </td>
                          <td class="govuk-table__cell govuk-!-width-one-quarter" headers="earTag-01">tag 4</td>
                          <!-- td class="govuk-table__cell govuk-!-width-one-quarter" headers="passport-01"></td -->
                        </tr>
                        <tr>
                          <td class="govuk-table__cell govuk-!-width-one-quarter" style="border-bottom: 0" headers="animalProduct-01">
                            Sus scrofa domesticus 5
                          </td>
                          <td class="govuk-table__cell govuk-!-width-one-quarter" style="border-bottom: 0" headers="earTag-01">tag 5</td>
                          <!-- td class="govuk-table__cell govuk-!-width-one-quarter" headers="passport-01"></td -->
                        </tr>
                      </tbody>
                    </table>
                    
                  </div>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>



    
      <div class="govuk-!-margin-bottom-9" id="additional-details-section">
        <div class="heading-with-change-link">
          <h2 class="govuk-heading-m" id="additional-details-heading">Additional animal details</h2>
          <a href="02-04-additional-details" class="govuk-link">
            
          </a>
        </div>
        <table class="govuk-table presentation-table review-table" role="presentation" id="review-additional-details-table">
          <tbody>
            <tr class="">
              <td class="govuk-table__header">Certified for</td>
              <td class="govuk-table__cell" colspan="2">Approved bodies
                
              </td>
            </tr>
            <tr class="">
              <td class="govuk-table__header">Includes unweaned animals</td>
              <td class="govuk-table__cell" colspan="2">No</td>
            </tr>
          
          </tbody>
        </table>
      </div>



    
    <div class="govuk-!-margin-bottom-9" id="accompanying-documents-section">
      <h2 class="govuk-heading-l" id="documents-section-heading">Documents</h2>
      <!-- hr -->
      <div class="table-responsive">

        <div class="heading-with-change-link">
          <h3 class="govuk-heading-m" id="latest-health-certificate-heading">Latest health certificate</h3>
          <a class="govuk-link" id="latest-health-certificate-change-link" href="03-02-latest-health-cert?AReviewedVar=yes">
            
          </a>
        </div>

        <div class="table-responsive">
          <table id="latest-health-certificate-table" aria-describedby="latest health certificate table" class="govuk-table presentation-table review-latest-health-certificate-table">
            <thead class="govuk-table__head">
              <tr>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document type</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document reference</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date of issue</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Attachments</th>
              </tr>
            </thead>
            <tbody>
              <tr class="presentation-table__section ">
                <td class="govuk-table__cell" id="latest-health-document-type">
                  Veterinary health certificate <!-- span class="govuk-!-font-weight-bold">(cloned)</span -->
                </td>
                <td class="govuk-table__cell break-word" id="latest-health-document-reference">
                  FR140333
                </td>
                <td class="govuk-table__cell" id="latest-health-document-issue-date">
                  21 July 2024
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link ellipsis" id="attachment-view-4d3f24e1-2ef2-42e4-bf14-da0ab37f2353" title="docs page with docs.png" rel="noopener noreferrer" target="_blank" href="#">
                    FR140333.pdf
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>



        <div class="heading-with-change-link govuk-!-margin-top-9">
          <h3 class="govuk-heading-m" id="additional-documents-sub-heading">1 additional document</h3>
          <a class="govuk-link" id="documents-change-link" href="03-03-accompanying-documents?AReviewedVar=yes">
            
          </a>
        </div>

        <div class="table-responsive">
          <table id="additional-documents-table" class="govuk-table presentation-table review-additional-documents-table">
            <thead class="govuk-table__head">
              <tr>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document type</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document reference</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date of issue</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Attachments</th>
              </tr>
            </thead>
            <tbody>
              <tr class="presentation-table__section ">
                <td class="govuk-table__cell" id="veterinary-document-type-1">
                  Other
                </td>
                <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                  001-12345678
                </td>
                <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                  21 July 2024
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                    001-12345678.pdf
                  </a>
                </td>
              </tr>

              <!-- 
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>

                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="veterinary-document-type-1">
                              Bill of lading
                            </td>
                            <td class="govuk-table__cell break-word" id="veterinary-document-reference-1">
                              cc-3490834
                            </td>
                            <td class="govuk-table__cell" id="veterinary-document-issue-date-1">
                              19 February 2024
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link ellipsis" id="attachment-view-98daf9b1-6b8e-4e13-bbcc-eb3c005c436f" title="attach doc.png" rel="noopener noreferrer" target="_blank" href="/notification/tst/protected/notifications/DRAFT.GB.2024.6397131/attachment/98daf9b1-6b8e-4e13-bbcc-eb3c005c436f?source=review">
                                attach doc.png
                              </a>
                            </td>
                          </tr>
                          -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
        
          
     
 
    <h2 class="govuk-heading-l">Addresses</h2>
    <div class="heading-with-change-link govuk-!-margin-top-8">
      <h3 class="govuk-heading-m">Consignor or Exporter, Consignee, Importer and Place of Destination</h3>
      <a href="04-01-addresses?from-page=review" class="govuk-link" id="traders-change-link">
        
      </a>
    </div>
    <div class="table-responsive govuk-!-margin-bottom-9">
      <table class="govuk-table presentation-table review-table" id="review-table-traders" role="presentation">
        <tbody>
          <tr class="">
            <td class="govuk-table__header govuk-!-width-one-half">Consignor or exporter</td>
            <td class="govuk-table__cell" id="consignor">
              Produkty Mięsne Fm<br>
              San Martin 230, Piso 5 Dpto 8, Y0000HGH Villa Maria, Argentina
            </td>
           
          </tr>
          <tr class="">
            <td class="govuk-table__header govuk-!-width-one-half">Consignee</td>
            <td class="govuk-table__cell" id="consignee">
              ABC goods Ltd<br>
              112 Thiel Causeway, Apt. 388, Nevada, Grimesport, GM6 7BY, United Kingdom of Great Britain and Northern
              Ireland BHabc@gmail.com
            </td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="">
            <td class="govuk-table__header govuk-!-width-one-half">Importer</td>
            <td class="govuk-table__cell" id="importer">
              ABC goods Ltd<br>
              112 Thiel Causeway, Apt. 388, Nevada, Grimesport, GM6 7BY, United Kingdom of Great Britain and Northern
              Ireland BHabc@gmail.com</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="">
            <td class="govuk-table__header govuk-!-width-one-half">
              Place of destination
            </td>
            <td class="govuk-table__cell" id="final-destination">
              ABC goods Ltd<br>
              112 Thiel Causeway, Apt. 388, Nevada, Grimesport, GM6 7BY, United Kingdom of Great Britain and Northern
              Ireland BHabc@gmail.com BHabc@gmail.com
            </td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="presentation-table__section">
            <td class="govuk-table__header govuk-!-width-one-half">County Parish Holding number</td>
            <td class="govuk-table__cell" id="cph-number"></td>
            <td class="govuk-table__cell change">
              <a id="cph-number-change-link" href="04-03-cph-number" class="govuk-link"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="heading-with-change-link">
      <h3 class="govuk-heading-m" id="organisation-address-section-heading">Contact address for consignment</h3>
      <a href="06-03-contact-address?from-page=review" class="govuk-link" id="organisation-branch-address-change-link">
       
      </a>
    </div>
    <div class="table-responsive govuk-!-margin-bottom-9">
      <table class="govuk-table presentation-table review-table" id="review-table-organisation-address" role="presentation">
        <tbody>
          <tr>
            <td class="govuk-table__header" id="organisation-address-header">Contact address</td>
            <td class="govuk-table__cell" id="organisation-branch-address-address">
              
              Roselee Farm, Stockwell Road, Hertfordshire, AL9 8BH, 0044 1582 996774
              
            </td><td class="govuk-table__cell change">
            </td>
          </tr>
        </tbody>
      </table>
    </div>                 
                 
            

    <h2 class="govuk-heading-l">Transport</h2>
    <div class="heading-with-change-link">
      <h2 id="approved-establishment-header" class="govuk-heading-m">Transport to the BCP or Port of entry</h2>
      <a href="11-transport-to-poe" class="govuk-link" id="establishment-of-origin-change-link">
        
      </a>
    </div>
  

    <div class="table-responsive govuk-!-margin-bottom-9">
      <table class="govuk-table review-table presentation-table" id="review-table-bip-details">
        <caption class="govuk-visually-hidden">Summary of transport to border control post</caption>
        <tbody>
          <tr class="">
            <th scope="row" class="govuk-table__header">BCP or Port of entry</th>
            <td class="govuk-table__cell">HEATHROW (GBLHR)</td>
          </tr>
          <tr class="">
            <th scope="row" class="govuk-table__header">Means of transport to BCP or Port of entry</th>
            <td class="govuk-table__cell">Airplane</td>
          </tr>
          <tr class="">
            <th scope="row" class="govuk-table__header">Transport identification</th>
            <td class="govuk-table__cell">FL1234</td>
          </tr>
          <tr class="">
            <th scope="row" class="govuk-table__header">Using road trailers or containers?</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="">
            <th scope="row" class="govuk-table__header">Trailer or container number</th>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="">
            <th scope="row" class="govuk-table__header">Seal number</th>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="">
            <th scope="row" class="govuk-table__header">Official seal</th>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="">
            <th scope="row" class="govuk-table__header">Transport document reference</th>
            <td class="govuk-table__cell">AirWay bill</td>
          </tr>
          <tr class="">
            <th scope="row" class="govuk-table__header">Estimated arrival date at BCP or Port of entry</th>
            <td class="govuk-table__cell">24 July 2024</td>
          </tr>
          <!-- <tr class="">
            <th scope="row" class="govuk-table__header">Estimated arrival time at port of entry</th>
            <td class="govuk-table__cell">11:00</td>
          </tr> -->
          <tr>
            <th scope="row" class="govuk-table__header">Estimated arrival time at BCP</th>
            <td class="govuk-table__cell">
              <!--  days -->
               15:00
            </td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="heading-with-change-link">
      <h3 id="approved-establishment-header" class="govuk-heading-m">Goods movement services</h3>
      <a href="05-03-goods-movement-services?from-page=review" class="govuk-link" id="establishment-of-origin-change-link">
        
      </a>
    </div>
    <table class="govuk-table review-table presentation-table" id="review-table-bip-details" role="presentation" style="border-top: 0;">
      <caption class="govuk-visually-hidden">Summary of transport to the port of entry</caption>
      <tbody>
        <tr>
          <td class="govuk-table__header">Using the Common Transit Convention (CTC)</td>
          <td class="govuk-table__cell" id="region-of-consignment-value">
            No 
          </td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr>
          <td class="govuk-table__header">Movement Reference Number (MRN)</td>
          <td class="govuk-table__cell" id="region-of-consignment-value">
           
          </td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="">
          <th scope="row" class="govuk-table__header">Using the Goods Vehicle Movement Service (GVMS)</th>
          <td class="govuk-table__cell"> No</td>
        </tr>
      </tbody>
    </table>
 
    
    <div class="heading-with-change-link govuk-!-margin-top-9">
      <h2 class="govuk-heading-m">Transporter</h2>
      <a href="05-04-transporter?from-page=review" class="govuk-link" id="transporter-change-link"></a>
    </div>
    <div class="table-responsive govuk-!-margin-bottom-9">
      <table class="govuk-table presentation-table review-table" id="review-table-transporter" role="presentation">
        <tbody>
          <tr id="review-transporter-details" class="presentation-table__section ">
            <td class="govuk-table__header">Name</td>
            <td class="govuk-table__cell" id="transporter-name">CW COURIER SERVICES</td>
            <td class="govuk-table__cell change">
            </td>
          </tr>
          <tr>
            <td class="govuk-table__header">Type</td>
            <td class="govuk-table__cell" id="transporter-type">commercial transporter</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr>
            <td class="govuk-table__header">Address</td>
            <td class="govuk-table__cell" id="transporter-address">FAUVE, THE STREET, BIROBROOK, HALSTEAD, CO9 4BJ</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr>
            <td class="govuk-table__header">Country</td>
            <td class="govuk-table__cell" id="transporter-country">United Kingdom of Great Britain and Northern
              Ireland</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr>
            <td class="govuk-table__header">Approval number</td>
            <td class="govuk-table__cell" id="transporter-approval-number">UK/BURY/T1/00090182</td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="heading-with-change-link">
      <h2 class="govuk-heading-m">Countries the consignment will travel through</h2>
      <a href="05-06-route?from-page=review" class="govuk-link" id="route-change-link"></a>
    </div>
    <div class="table-responsive govuk-!-margin-bottom-9">
      <table class="govuk-table presentation-table review-table" id="review-table-route" role="presentation">
        <tbody>
          <tr id="review-route-details" class="presentation-table__section">
            <td class="govuk-table__header">Route</td>
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell change">

            </td>
          </tr>
        </tbody>
      </table>
    </div>  
           
  

              <table class="govuk-table presentation-table review-table" id="submission-table">
                <caption class="govuk-table__caption govuk-heading-m">
                  Submission information
                </caption>
                <tbody>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Notification submitted by</th>
                    <td class="govuk-table__cell" id="submitted-by-name">Mark Admin-Tester</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Submission date</th>
                    <td class="govuk-table__cell" id="submission-date"> 29 July 2024</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Submission time</th>
                    <td class="govuk-table__cell" id="submission-time">18:29</td>
                  </tr>
                </tbody>
              </table>

          
      </div>
    </div>
  </main>

{% endblock %}
