{% extends "layout.html" %}

{% block pageTitle %}
Catch certificate details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}



<div class="govuk-!-padding-top-6">
  <span class="heading-tertiary">
      <span id="reference-number">DRAFT.GB.2023.5925980</span>
          <span> - CHEDP</span>
  </span>
</div>
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row govuk-body" id="catch-certificates-page">
    <div class="govuk-grid-column-three-quarters">
      <!-- <div class="govuk-notification-banner govuk-notification-banner--success" id="upload-success-banner" role="region" aria-labelledby="upload-success-banner-title" data-label="" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="upload-success-banner-title">
              Note
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-body">
              5 catch certificate details added
            </p>
        </div>
      </div> -->
      <div class="govuk-notification-banner" id="missing-documents-info-banner">
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading" id="missing-documents-title">
              3 attachments are missing details 
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Attachment 3 of 5</li>
              <li>Attachment 4 of 5</li>
              <li>Attachment 5 of 5</li>
            </ul>
            
        </div>
      </div>
        <span class="govuk-caption-xl">Documents</span>
      <h1 class="govuk-heading-xl " id="page-primary-title">Manage catch certificates</h1>
     
</div>
</div>


<h2 class="govuk-heading-m">Catch certificates uploaded</h2>

<div class="govuk-grid-row govuk-body" >
  <div class="govuk-grid-column-full">
    <form method="POST" action="catchAttach-route"> 
        <input name="crumb" type="hidden" value="dccSgkNKLFTcXs5OWLw09h1VDTA3JgwfVBBEnKxoT6K">
        <input name="etag" type="hidden" value="&quot;000000000540AB3C&quot;">
        <span class="govuk-caption-m govuk-!-margin-bottom-0">Attachment 1 of 5</span>

        <div class="heading-with-change-link">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1" id="latest-health-certificate-heading"><a href="catch-cert.pdf" target="_blank">CC-43834843879.pdf <span style="font-weight: 400;">(opens in new tab)</span> </a></h3>
           
              <input name="crumb" type="hidden" value="ZUivo0owQQjIccnnldF_C2PBX42WUQQ8yQw1-b4T8eI">
              <input name="etag" type="hidden" value="&quot;00000000054245C8&quot;">
              <!-- <button type="submit" class="link-button" name="iuuCatchAttach" value="add-details" id="latest-health-certificate-change-link">View or amend details
              </button> -->
            
        </div>
        <p class="govuk-heading-s govuk-!-margin-top-0">Reference: <span style="font-weight: 400;">CC-439478473474HGP_99787</span></p>
        <div class="govuk-grid-row govuk-!-margin-top-0">
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body">Flag state: Portugal</p>
          </div>
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body">8 species added</p>
          </div>
          
        </div>
        <div id="add-species" style="border-bottom: 1px solid #b1b4b6;" class="govuk-!-padding-bottom-3 govuk-!-margin-top-0 govuk-!-margin-bottom-6">
         <span class="govuk-!-margin-right-4"><a href="09bb-multi-doc-details-catch">View or amend</a></span><a href="09h-remove-2">Remove</a>
        </div>
        
        <span class="govuk-caption-m govuk-!-margin-bottom-0">Attachment 2 of 5</span>
        <div class="heading-with-change-link">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1" id="latest-health-certificate-heading"><a href="catch-cert.pdf" target="_blank">CC-43834843880.pdf <span style="font-weight: 400;">(opens in new tab)</span> </a></h3>
        
           
        </div>
        <p class="govuk-heading-s govuk-!-margin-top-0">6 catch certificates</p>
        <div class="govuk-grid-row govuk-!-margin-top-0">
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body">Flag states: Spain, Portugal, Croatia</p>
          </div>
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body">19 species added</p>
          </div>
          
        </div>
        
        <div id="add-species" style="border-bottom: 1px solid #b1b4b6;" class="govuk-!-padding-bottom-3 govuk-!-margin-top-0 govuk-!-margin-bottom-6">
          <span class="govuk-!-margin-right-4"><a href="09bb-multi-doc-details-catch">View or amend</a></span><a href="09h-remove-2">Remove</a>
         </div>

     

        <span class="govuk-caption-m govuk-!-margin-bottom-0">Attachment 3 of 5</span>

        <div class="heading-with-change-link">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1" id="latest-health-certificate-heading"><a href="catch-cert.pdf" target="_blank">CC-43834843881.pdf <span style="font-weight: 400;">(opens in new tab)</span> </a></h3>
            
              <input name="crumb" type="hidden" value="ZUivo0owQQjIccnnldF_C2PBX42WUQQ8yQw1-b4T8eI">
              <input name="etag" type="hidden" value="&quot;00000000054245C8&quot;">
        </div>
        <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-4">
          <div class="govuk-grid-row ">
            <div class="govuk-grid-column-one-third">
              <label class="govuk-label govuk-!-margin-top-0" for="weight">
                Number of catch certificates in this attachment
              </label>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-input__wrapper"><input
                  class="govuk-input govuk-input--width-3 govuk-!-text-align-right govuk-!-margin-right-4" id="weight"
                  name="weight" type="text" spellcheck="false" value="1">
                <input class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" id="update" name="update"
                  type="submit" value="Update" data-module="govuk-button">
              </div>
            </div>
          </div>
        </div>
        <div id="add-species" style="border-bottom: 1px solid #b1b4b6;" class="govuk-!-padding-bottom-3 govuk-!-margin-top-0 govuk-!-margin-bottom-6">
          <span class="govuk-!-margin-right-4"><a href="09bb-multi-doc-details-catch">Add details</a></span><a href="09h-remove-2">Remove</a> 
         </div>

        <span class="govuk-caption-m govuk-!-margin-bottom-0">Attachment 4 of 5</span>

        <div class="heading-with-change-link">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1" id="latest-health-certificate-heading"><a href="catch-cert.pdf" target="_blank">CC-43834843881.pdf <span style="font-weight: 400;">(opens in new tab)</span> </a></h3>
            
              <input name="crumb" type="hidden" value="ZUivo0owQQjIccnnldF_C2PBX42WUQQ8yQw1-b4T8eI">
              <input name="etag" type="hidden" value="&quot;00000000054245C8&quot;">
        </div>
        <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-4">
          <div class="govuk-grid-row ">
            <div class="govuk-grid-column-one-third">
              <label class="govuk-label govuk-!-margin-top-0" for="weight">
                Number of catch certificates in this attachment
              </label>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-input__wrapper"><input
                  class="govuk-input govuk-input--width-3 govuk-!-text-align-right govuk-!-margin-right-4" id="weight"
                  name="weight" type="text" spellcheck="false" value="1">
                <input class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" id="update" name="update"
                  type="submit" value="Update" data-module="govuk-button">
              </div>
            </div>
          </div>
        </div>
        <div id="add-species" style="border-bottom: 1px solid #b1b4b6;" class="govuk-!-padding-bottom-3 govuk-!-margin-top-0 govuk-!-margin-bottom-6">
          <span class="govuk-!-margin-right-4"><a href="09bb-multi-doc-details-catch">Add details</a></span><a href="09h-remove-2">Remove</a> 
         </div>

         <span class="govuk-caption-m govuk-!-margin-bottom-0">Attachment 5 of 5</span>

         <div class="heading-with-change-link">
           <h3 class="govuk-heading-s govuk-!-margin-bottom-1" id="latest-health-certificate-heading"><a href="catch-cert.pdf" target="_blank">CC-43834843883.pdf <span style="font-weight: 400;">(opens in new tab)</span> </a></h3>
             
               <input name="crumb" type="hidden" value="ZUivo0owQQjIccnnldF_C2PBX42WUQQ8yQw1-b4T8eI">
               <input name="etag" type="hidden" value="&quot;00000000054245C8&quot;">
         </div>
         <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-4">
          <div class="govuk-grid-row ">
            <div class="govuk-grid-column-one-third">
              <label class="govuk-label govuk-!-margin-top-0" for="weight">
                Number of catch certificates in this attachment
              </label>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-input__wrapper"><input
                  class="govuk-input govuk-input--width-3 govuk-!-text-align-right govuk-!-margin-right-4" id="weight"
                  name="weight" type="text" spellcheck="false" value="1">
                <input class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" id="update" name="update"
                  type="submit" value="Update" data-module="govuk-button">
              </div>
            </div>
          </div>
        </div>
         <div id="add-species" style="border-bottom: 1px solid #b1b4b6;" class="govuk-!-padding-bottom-3 govuk-!-margin-top-0 govuk-!-margin-bottom-6">
          <span class="govuk-!-margin-right-4"><a href="09bb-multi-doc-details-catch">Add details</a></span><a href="09h-remove-2">Remove</a> 
         </div>

        <!-- <span class="govuk-caption-m govuk-!-margin-bottom-0">Attachment 5 of 5</span>

        <div class="heading-with-change-link">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1" id="latest-health-certificate-heading"><a href="catch-cert.pdf" target="_blank">CC-43834843879.pdf <span style="font-weight: 400;">(opens in new tab)</span> </a></h3>
            
              <input name="crumb" type="hidden" value="ZUivo0owQQjIccnnldF_C2PBX42WUQQ8yQw1-b4T8eI">
              <input name="etag" type="hidden" value="&quot;00000000054245C8&quot;">
              <button type="submit" class="link-button" name="iuuCatchAttach" value="add-details" id="latest-health-certificate-change-link">View or amend details
              </button>
            
        </div>
        <h2 class="govuk-heading-s govuk-!-margin-top-0">Catch certificate number: CC-439478473474HGP_99787</h2>
        <div class="govuk-grid-row govuk-!-margin-top-0">
          <div class="govuk-grid-column-one-third">
            <p class="govuk-body-s">Flag state: <br>Romania</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p class="govuk-body-s">Your species in catch certificates:<br>4 species</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p class="govuk-body-s">Consignment species net weight: <br>110kg</p>
          </div>
        </div>
        <div id="add-species" style="border-bottom: 1px solid #b1b4b6;" class="govuk-!-padding-bottom-3 govuk-!-margin-top-0 govuk-!-margin-bottom-7">
          <a href="#">Remove</a>
         </div> -->
  
      
        
         <div class="govuk-form-group govuk-!-margin-bottom-9">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Do you need to upload more catch certificates?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="iuuCatchAttach" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="iuuCatchAttach" type="radio" value="no-confirm">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  No 
                </label>
              </div>
             
            </div>
          </fieldset>
        </div>


        
        <p class="govuk-!-margin-top-9">   
          
          <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-return-button-p" name="save-and-return-button-p" type="submit" value="Save and return to hub" data-module="govuk-button">
          <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4 govuk-button" id="button-save-and-continue-p" name="button-save-and-continue-p" type="submit" value="Save and continue" data-module="govuk-button">
          <p class="govuk-body"><a class="govuk-link" href="07-check-answers">Cancel and return to hub</a></p>

      </form>
  </div>
  </div>
</main>
{% endblock %}
