{% extends "layout.html" %}

{% block pageTitle %}
Origin of the animal or product – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}







  <div class="govuk-grid-row" id="import-type-page">
    <div class="govuk-grid-column-full">
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            Please fix the following errors
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list govuk-!-margin-left-0">
              <li>
                <a href="#error">Your list has too many lines with errors. Please check it and try again.</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row" id="import-type-page">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl " id="page-primary-title">Replace overdue debtors list</h1>
      <form action="03-origin-import" method="post" id="homeForm">
        <div class="govuk-form-group govuk-form-group--error">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="more-detail">
              Overdue debtor organisation id list
            </label>
          </h1>
          <div id="more-detail-hint" class="govuk-hint">
            For each overdue debtor, put the organisation id on a separate line.
          </div>
          <p id="error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Your list has too many lines with errors. Please check it and try again.
          </p>
          <textarea class="govuk-textarea govuk-textarea--error" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint"></textarea>
        </div>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            If you continue, you will replace the current list.
          </strong>
        </div>

        <input class="govuk-button" id="button-save-and-continue" type="submit" value="Replace list" data-module="govuk-button">
        <p><a href="">Cancel</a></p>
      </form>
    </div>
  </div>


{% endblock %}
