
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/index">IPAFFS prototypes</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../start">Confirmation screens</a>
        </li>
       
      </ol>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <h1 class="govuk-heading-l">Confirmation Screens</h1>
    

  


   
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">CHED P Transits (AKA Landbridge)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Screens</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">GVMS</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Non GVMS</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Entry inspection not required<br>
            Exit inspection not required</td>
          <td class="govuk-table__cell"><a href="chedp/01-no-check-answers">Done</a></td>
          <td class="govuk-table__cell"><a href="confirmation/2-chedp-transit/2-non-gvms/1-submitted-entry-no-exit-no">Done</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Entry inspection required<br>
            Exit inspection not required</td>
          <td class="govuk-table__cell"><a href="confirmation/2-chedp-transit/1-gvms/1-submitted-entry-yesandno-exit-no">Done</a></td>
          <td class="govuk-table__cell"><a href="confirmation/2-chedp-transit/2-non-gvms/2-submitted-entry-yes-exit-no">Done</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Entry inspection not required<br>
          Exit inspection required</td>
          <td class="govuk-table__cell"><a href="chedp/01-no-check-answers">Done</a></td>
          <td class="govuk-table__cell"><a href="confirmation/2-chedp-transit/2-non-gvms/3-submitted-entry-no-exit-yes">Done</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Entry inspection required<br>
            Exit inspection required</td>
          <td class="govuk-table__cell"><a href="confirmation/2-chedp-transit/1-gvms/2-submitted-entry-yesandno-exit-yes">Done</a></td>
          <td class="govuk-table__cell"><a href="confirmation/2-chedp-transit/2-non-gvms/4-submitted-entry-yes-exit-yes">Done</a></td>
        </tr>
       
      </tbody>
    </table>

     
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">CHED D, A & PP</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">GVMS</th>
          <th scope="col" class="govuk-table__header">CHED D</th>
          <th scope="col" class="govuk-table__header">CHED A</th>
          <th scope="col" class="govuk-table__header">CHED PP</th>
          <th scope="col" class="govuk-table__header">CHED P<br>(non-transits)</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">GVMS page displays regardless of inspection status</td>
          <td class="govuk-table__cell"><a href="confirmation/3-ched-d-a-pp/1-gvms/1-chedd-check-gvms">Done</a></td>
          <td class="govuk-table__cell">N/A</td>
          <td class="govuk-table__cell">N/A</td>
          <td class="govuk-table__cell"><a href="confirmation/1-chedp-non-transit/1-gvms/1-check-gvms-ched-d-p">Done</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">No inspection required</td>
          <td class="govuk-table__cell">N/A</td>
          <td class="govuk-table__cell"><a href="confirmation/3-ched-d-a-pp/1-gvms/1a-cheda-go-to-place-of-destination">Done</a></td>
          <td class="govuk-table__cell"><a href="confirmation/3-ched-d-a-pp/">Done</a></td>
          <td class="govuk-table__cell">N/A</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Inspection required</td>
          <td class="govuk-table__cell">N/A</td>
          <td class="govuk-table__cell"><a href="confirmation/3-ched-d-a-pp/1-gvms/2a-cheda-inspection-required">Done</a></td>
          <td class="govuk-table__cell"><a href="confirmation/">Done</a></td>
          <td class="govuk-table__cell">N/A</td>
        </tr>
      </tbody>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Non GVMS</th>
          <th scope="col" class="govuk-table__header">CHED D</th>
          <th scope="col" class="govuk-table__header">CHED A</th>
          <th scope="col" class="govuk-table__header">CHED PP</th>
          <th scope="col" class="govuk-table__header">CHED P<br>(non-transits)</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
       
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">No inspection required</td>
          <td class="govuk-table__cell"><a href="confirmation/3-ched-d-a-pp/2-non-gvms/1-chedd-no-inspection">Done</a></td>
          <td class="govuk-table__cell"><a href="confirmation/3-ched-d-a-pp/2-non-gvms/1a-cheda-go-to-place-of-destination">Done</a></td>
          <td class="govuk-table__cell"><a href="confirmation/3-ched-d-a-pp/2-non-gvms/1b-chedpp-no-inspection">Done</a></td>
          <td class="govuk-table__cell"><a href="confirmation/1-chedp-non-transit/2-non-gvms/1-no-inspection">Done</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Inspection required</td>
          <td class="govuk-table__cell"><a href="confirmation/3-ched-d-a-pp/2-non-gvms/2-chedd-yes-inspection">Done</a></td>
          <td class="govuk-table__cell"><a href="confirmation/3-ched-d-a-pp/2-non-gvms/2a-cheda-inspection-required">Done</a></td>
          <td class="govuk-table__cell"><a href="confirmation/3-ched-d-a-pp/2-non-gvms/2b-chedpp-inspection-required">Done</a></td>
          <td class="govuk-table__cell"><a href="confirmation/1-chedp-non-transit/2-non-gvms/2-inspection-required">Done</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>  
{% endblock %}
