
{% extends "layout.html" %}

{% block pageTitle %}
Documents
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Andrew Inspector-Tester</span>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="address-book" href="/notification/tst/protected/notifications/address-book">
        Address book
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="blank-certificates-link" href="/decision/tst/protected/bip-notifications/CHEDs/blank">
        Blank CHEDs
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
  <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  <div class="navigation-links__divider">|</div>
  <div class="govuk-breadcrumbs breadcrumbs--next-to-back">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link govuk" href="dashboard" id="navigation-dashboard-link">Dashboard</a>
      </li>
    </ol>
  </div>
</div>

  <form action="hub" method="POST">
    <input name="crumb" type="hidden" value="ZXu3-G9T0eYRb0P3pwPknvFMnphp-uMc-v98aQwyCeU">
    <input name="etag" type="hidden" value="&quot;000000000540B70D&quot;">
    <table id="status-component" role="presentation" class="govuk-table govuk-!-margin-bottom-0">
      <tbody><tr class="divider-top divider-bottom govuk-table__row">
        <td class="govuk-table__cell">
            <strong class="govuk-tag tag tag--submitted status-label govuk-!-margin-right-2" id="Status-Label">New</strong>
              <button type="submit" class="link-button" name="setInProgress" value="IN_PROGRESS" id="set-in-progress">
                Save and set as in progress
              </button>
        </td>
      </tr>
    </tbody></table>
  </form>

 
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row" id="accompanying-documents-page">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="heading-tertiary govuk-!-margin-bottom-8">
          <span id="reference-number">CHEDD.GB.2023.5942898</span>
            <span id="cved-version-number"> - V1</span>
        </span>
        <span id="page-primary-title">Documents</span>
      </h1>
      <div id="accompanying-documents-table" class="additional-documents-table">
        <div class="govuk-grid-row  govuk-!-margin-bottom-8">
         
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-8">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Importer</h2>
            
            
              
            </details>
          </div>
        </div>
        
         
        
        <div class="additional-documents__grid-row additional-documents__headers">
          <div class="additional-documents__grid-column-20 additional-documents__table-header">
            Document type
          </div>
          <div class="additional-documents__grid-column-20 additional-documents__table-header">
            Document reference
          </div>
          <div class="additional-documents__grid-column-doc-date additional-documents__table-header">
            Date of issue
            <div class="additional-documents__date-of-issue-hint">
              <span class="additional-documents__date-of-issue-hint__day">Day</span>
              <span class="additional-documents__date-of-issue-hint__month">Month</span>
              <span class="additional-documents__date-of-issue-hint__year">Year</span>
            </div>
          </div>
          <div class="additional-documents__grid-column-20 additional-documents__table-header">
            Attachments 
          </div>
        </div>

          <div class="additional-documents__grid-row additional-documents__add-document">
            <div class="additional-documents__grid-column-20">
                <div class="govuk-form-group govuk-!-margin-bottom-0 ">
                  <select class="ipaffs-document-type govuk-!-margin-top-3" id="document-type" name="document-type" aria-label="Document type">
                      <option value="">Select document type</option>
                      <option value="veterinaryHealthCertificate">Health certificate</option>
                      <option value="airWaybill">Air waybill</option>
                      <option value="billOfLading">Bill of lading</option>
                      
                      <option value="commercialInvoice">Commercial invoice</option>
                      <option value="customsDeclaration">Customs declaration</option>
                      <option value="importPermit">Import permit</option>
                      <option value="laboratorySamplingResultsForAflatoxin">Laboratory Sampling results</option>
                      <option value="letterOfAuthority">Packing list</option>
                      <option value="processingStatement">Phytosanitary certificate</option>
                      <option value="proofOfStorage">Rail waybill</option>
                      <option value="railwayBill">Road consignment (CMR) note</option>
                      <option value="seaWaybill">Sea waybill</option>
                      <option value="other">Other</option>
                  </select>
                </div>
            </div>
            <div class="additional-documents__grid-column-20">
              <div class="govuk-form-group govuk-!-margin-bottom-0 ">
              
              
                  
              
                <input class="govuk-input  " id="document-reference" name="document-reference" type="text" value="" aria-label="Document reference">
              </div>
            </div>
            <div class="additional-documents__grid-column-doc-date">
              <div class="govuk-form-group govuk-!-margin-bottom-0 ">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-visually-hidden">
                      
                      Document issue date
                      
                    </legend>
              
              
              
                  <div class="govuk-date-input date-input--picker short-date-input" id="document-issue-date" data-module="accessible-datepicker">
                    <div class="govuk-date-input__item date-input-day">
                      <div class="govuk-form-group">
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-day" id="document-issue-date-day" name="document-issue-date-day" type="text" value="" inputmode="numeric" maxlength="2" aria-label="Day">
                      </div>
                    </div>
                    <div class="govuk-date-input__item date-input-month">
                      <div class="govuk-form-group">
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-month" id="document-issue-date-month" name="document-issue-date-month" type="text" value="" inputmode="numeric" maxlength="2" aria-label="Month">
                      </div>
                    </div>
                    <div class="govuk-date-input__item date-input-year">
                      <div class="govuk-form-group">
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4 date-picker-year" id="document-issue-date-year" name="document-issue-date-year" type="text" value="" inputmode="numeric" maxlength="4" aria-label="Year">
                      </div>
                    </div>
                  <div class="date-picker__container date-picker__container--icon defra-datepicker">
                   
                    <div class="date-picker__dialog date-picker__dialog--hidden" role="dialog" aria-modal="true" tabindex="-1">
                      <div class="date-picker__header govuk-clearfix"><button type="button"
                          class="date-picker__button__previous-month">Previous month</button>
                        <h2 id="date-picker-label-68" class="date-picker__heading" aria-live="assertive" aria-atomic="true">August 2023</h2>
                        <button type="button" class="date-picker__button__next-month">Next month</button>
                      </div>
                      <table class="date-picker__date-table" role="presentation" aria-labelledby="date-picker-label-68">
                        <thead>
                          <tr>
                            <th scope="col" abbr="Sunday" aria-label="Sunday">Su</th>
                            <th scope="col" abbr="Monday" aria-label="Monday">Mo</th>
                            <th scope="col" abbr="Tuesday" aria-label="Tuesday">Tu</th>
                            <th scope="col" abbr="Wednesday" aria-label="Wednesday">We</th>
                            <th scope="col" abbr="Thursday" aria-label="Thursday">Th</th>
                            <th scope="col" abbr="Friday" aria-label="Friday">Fr</th>
                            <th scope="col" abbr="Saturday" aria-label="Saturday">Sa</th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table><button class="date-picker__button__close" type="button" value="close">Cancel</button>
                      <p class="aria-live-message sr-only" aria-live="assertive"></p>
                    </div>
                    </div>
                    </div>
                    </fieldset>
              </div>
            </div>
            <div class="additional-documents__grid-column-20 additional-documents__add-document-attachment">
              <button type="submit" class="link-button no-wrap" id="add-attachment" name="add-attachment" value="">
                Add attachment
              </button>
            </div>
          </div>

          

          <div >
          <input name="is-additional-document-row-shown" type="hidden" value="true">
          <button type="submit" class="link-button additional-documents__add-another-document" id="button-add-additional-document" name="accDocRoutelink" value="Add documents">
              Add a document
          </button>

          </div>

          <div class="govuk-grid-row govuk-!-margin-top-8">
            <div class="govuk-grid-column-three-quarters">
              <h2 class="govuk-heading-l">Inspector</h2>
              
              
                
              </details>
            </div>
          </div>
          
           
          
          <div class="additional-documents__grid-row additional-documents__headers">
            <div class="additional-documents__grid-column-20 additional-documents__table-header">
              Document type
            </div>
            <div class="additional-documents__grid-column-20 additional-documents__table-header">
              Document reference
            </div>
            <div class="additional-documents__grid-column-doc-date additional-documents__table-header">
              Date of issue
              <div class="additional-documents__date-of-issue-hint">
                <span class="additional-documents__date-of-issue-hint__day">Day</span>
                <span class="additional-documents__date-of-issue-hint__month">Month</span>
                <span class="additional-documents__date-of-issue-hint__year">Year</span>
              </div>
            </div>
            <div class="additional-documents__grid-column-20 additional-documents__table-header">
              Attachments 
            </div>
          </div>
  
            <div class="additional-documents__grid-row additional-documents__add-document">
              <div class="additional-documents__grid-column-20">
                  <div class="govuk-form-group govuk-!-margin-bottom-0 ">
                    <select class="ipaffs-document-type govuk-!-margin-top-3" id="document-type" name="document-type" aria-label="Document type">
                        <option value="">Select document type</option>
                        <option value="veterinaryHealthCertificate">Health certificate</option>
                        <option value="airWaybill">Air waybill</option>
                        <option value="billOfLading">Bill of lading</option>
                        
                        <option value="commercialInvoice">Commercial invoice</option>
                        <option value="customsDeclaration">Customs declaration</option>
                        <option value="importPermit">Import permit</option>
                        <option value="laboratorySamplingResultsForAflatoxin">Laboratory Sampling results</option>
                        <option value="letterOfAuthority">Packing list</option>
                        <option value="processingStatement">Phytosanitary certificate</option>
                        <option value="proofOfStorage">Rail waybill</option>
                        <option value="railwayBill">Road consignment (CMR) note</option>
                        <option value="seaWaybill">Sea waybill</option>
                        <option value="other">Other</option>
                    </select>
                  </div>
              </div>
              <div class="additional-documents__grid-column-20">
                <div class="govuk-form-group govuk-!-margin-bottom-0 ">
                
                
                    
                
                  <input class="govuk-input  " id="document-reference" name="document-reference" type="text" value="" aria-label="Document reference">
                </div>
              </div>
              <div class="additional-documents__grid-column-doc-date">
                <div class="govuk-form-group govuk-!-margin-bottom-0 ">
                  <fieldset class="govuk-fieldset" role="group">
                      <legend class="govuk-fieldset__legend govuk-visually-hidden">
                        
                        Document issue date
                        
                      </legend>
                
                
                
                    <div class="govuk-date-input date-input--picker short-date-input" id="document-issue-date" data-module="accessible-datepicker">
                      <div class="govuk-date-input__item date-input-day">
                        <div class="govuk-form-group">
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-day" id="document-issue-date-day" name="document-issue-date-day" type="text" value="" inputmode="numeric" maxlength="2" aria-label="Day">
                        </div>
                      </div>
                      <div class="govuk-date-input__item date-input-month">
                        <div class="govuk-form-group">
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-month" id="document-issue-date-month" name="document-issue-date-month" type="text" value="" inputmode="numeric" maxlength="2" aria-label="Month">
                        </div>
                      </div>
                      <div class="govuk-date-input__item date-input-year">
                        <div class="govuk-form-group">
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4 date-picker-year" id="document-issue-date-year" name="document-issue-date-year" type="text" value="" inputmode="numeric" maxlength="4" aria-label="Year">
                        </div>
                      </div>
                    <div class="date-picker__container date-picker__container--icon defra-datepicker">
                     
                      <div class="date-picker__dialog date-picker__dialog--hidden" role="dialog" aria-modal="true" tabindex="-1">
                        <div class="date-picker__header govuk-clearfix"><button type="button"
                            class="date-picker__button__previous-month">Previous month</button>
                          <h2 id="date-picker-label-68" class="date-picker__heading" aria-live="assertive" aria-atomic="true">August 2023</h2>
                          <button type="button" class="date-picker__button__next-month">Next month</button>
                        </div>
                        <table class="date-picker__date-table" role="presentation" aria-labelledby="date-picker-label-68">
                          <thead>
                            <tr>
                              <th scope="col" abbr="Sunday" aria-label="Sunday">Su</th>
                              <th scope="col" abbr="Monday" aria-label="Monday">Mo</th>
                              <th scope="col" abbr="Tuesday" aria-label="Tuesday">Tu</th>
                              <th scope="col" abbr="Wednesday" aria-label="Wednesday">We</th>
                              <th scope="col" abbr="Thursday" aria-label="Thursday">Th</th>
                              <th scope="col" abbr="Friday" aria-label="Friday">Fr</th>
                              <th scope="col" abbr="Saturday" aria-label="Saturday">Sa</th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table><button class="date-picker__button__close" type="button" value="close">Cancel</button>
                        <p class="aria-live-message sr-only" aria-live="assertive"></p>
                      </div>
                      </div>
                      </div>
                      </fieldset>
                </div>
              </div>
              <div class="additional-documents__grid-column-20 additional-documents__add-document-attachment">
                <button type="submit" class="link-button no-wrap" id="add-attachment" name="add-attachment" value="">
                  Add attachment
                </button>
              </div>
            </div>


      </div>
    
        <button type="submit" class="link-button govuk-!-margin-bottom-8" id="button-add-additional-document" name="add-additional-document" value="">
          Add a document
        </button>
      </div>
      <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="button-save-and-return" name="save-button" type="submit" data-module="govuk-button" data-prevent-double-click="true" value="Save and return">
      <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="button-save-and-continue" name="save-button" type="submit" data-module="govuk-button" value="Save and continue" data-prevent-double-click="true/">
      <p class="govuk-body">
        <a class="govuk-link" href="02a-decision-hub-inspection-required">Cancel</a>
      </p>
    </div>
  </div>
</main>

{% endblock %}
