{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Prototypes</span>
      <h1 class="govuk-heading-xl">Baseline CHED PP </h1>
      
    
        
   

        <div class="govuk-!-padding-bottom-4">
          <h3 class="govuk-heading-m">May 2024</h3>
        
          <p>Responsible UX: Millie</p>
        
        
          <p class='govuk-body'><a href="part1/0-index.html">Dashboard</a></p>
          <p class="govuk-body"><a href="part1/00-notification-hub">Notification hub</a></p>
          <p class="govuk-body"><a href="part1/07-01-review-csv">Review page</a></p>
         
         
        
          <hr>
        </div>
     
     
      
    
     
 


 
{% endblock %}
