{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back.html" %}
{% endblock %}

{% block content %}



<div class="govuk-!-padding-top-6">
  <span class="heading-tertiary">
    <span id="reference-number">DRAFT.GB.2024.5501422 </span>
    <span> - CHEDA</span>
  </span>
</div>

<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row" id="species-page">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Description of the goods</span>
      <h1 class="govuk-heading-xl " id="page-primary-title">Commodity</h1>


      <!-- Commodity: Other -->
      <div class="table-responsive">
        <table class="govuk-table" id="commodity-table">
          <thead class="govuk-table__head">
            <tr>
              <th scope="col" class="govuk-table__header">Commodity code</th>
              <th scope="col" class="govuk-table__header">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="govuk-table__cell" id="commodity-code-value">{{ data['commodity-code'] or 0102 }}</td>
              <td class="govuk-table__cell">
                {% if data['commodity-code'] == "01061900" %}
                Other
                {% else %}
                Live bovine animals
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      {% if data['notification-hub'] == "visited" %}
      <form action="02-06-commodity-details" method="post">
      {% else %}
      <form action="01-04-reason-for-importing" method="post">
      {% endif %}

        {% if data['commodity-code'] != "01061900" %}
        <input name="commodity-selected-code" type="hidden" value="0102">
        <input name="commodityDetailsPage" type="hidden" value="">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="type-select">
            Type of commodity
          </label>
          <input type="hidden" id="typeButtonId">
          <select class="govuk-select commodity-type govuk-!-width-one-half" id="type-select" name="type-of-commodity">
            <option value="Domestic" {% if (data['type-of-commodity'] == "Domestic") %}selected{% endif %}>Domestic</option>
            <option value="Game" {% if (data['type-of-commodity'] == "Game") %}selected{% endif %}>Game</option>
          </select>
          <noscript>
            <input id="type-button" class="button" type="submit" name="typeButton" value="update">
          </noscript>
        </div>
        <input type="hidden" name="class" id="class-select-hidden" value="473099">
        {% endif %}


        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {% if data['commodity-code'] == "01061900" %}
        {{ govukCheckboxes({
            name: "species",
            values: data['species'],
            fieldset: {
              legend: {
                text: "Select species of commodity",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
                }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
              value: "Addax spp.",
              text: "Addax spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Aepyceros spp.",
              text: "Aepyceros spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Alcelaphus spp.",
              text: "Alcelaphus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Alces spp.",
              text: "Alces spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Ammodorcas spp.",
              text: "Ammodorcas spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Antidorcas spp.",
              text: "Antidorcas spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Antilocapra spp.",
              text: "Antilocapra spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Antilope spp.",
              text: "Antilope spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Axis-Hyelaphus spp.",
              text: "Axis-Hyelaphus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Blastocerus spp.",
              text: "Blastocerus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Boselaphus spp.",
              text: "Boselaphus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Callosciurus erythraeus",
              text: "Callosciurus erythraeus", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Canis familiaris",
              text: "Canis familiaris", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Capreolus spp.",
              text: "Capreolus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Catagonus spp.",
              text: "Catagonus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Cephalophus spp.",
              text: "Cephalophus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Ceratotherium spp.",
              text: "Ceratotherium spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Cervus-Rucervus spp.",
              text: "Cervus-Rucervus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Connochaetes spp.",
              text: "Connochaetes spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Dama spp.",
              text: "Dama spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Damaliscus spp. (including Beatragus)",
              text: "Damaliscus spp. (including Beatragus)", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Dicerorhinus spp.",
              text: "Dicerorhinus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Diceros spp.",
              text: "Diceros spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Dorcatragus spp.",
              text: "Dorcatragus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Elaphurus spp.",
              text: "Elaphurus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Elephas spp.",
              text: "Elephas spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Equus burchelli",
              text: "Equus burchelli", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Equus grevyi",
              text: "Equus grevyi", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Equus quagga",
              text: "Equus quagga", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Equus spp.",
              text: "Equus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Equus zebra",
              text: "Equus zebra", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Felis catus",
              text: "Felis catus", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Gazella spp.",
              text: "Gazella spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Giraffa spp.",
              text: "Giraffa spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Hemitragus spp.",
              text: "Hemitragus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Herpestes javanicus",
              text: "Herpestes javanicus", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Hexaprotodon-Choeropsis spp.",
              text: "Hexaprotodon-Choeropsis spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Hippocamelus spp.",
              text: "Hippocamelus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Hippopotamus spp.",
              text: "Hippopotamus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Hippotragus spp.",
              text: "Hippotragus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Hydropotes spp.",
              text: "Hydropotes spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Hyemoschus spp.",
              text: "Hyemoschus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Kobus spp.",
              text: "Kobus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Litocranius spp.",
              text: "Litocranius spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Loxodonta spp.",
              text: "Loxodonta spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Madogua spp.",
              text: "Madogua spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Mazama spp.",
              text: "Mazama spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Megamuntiacus spp.",
              text: "Megamuntiacus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Moschus spp.",
              text: "Moschus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Muntiacus reevesi",
              text: "Muntiacus reevesi", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Muntiacus spp.",
              text: "Muntiacus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Mustela putorius furio",
              text: "Mustela putorius furio", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Myocastor coypus",
              text: "Myocastor coypus", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Naemorhedus spp. (including Nemorhaedus and Capricornis)",
              text: "Naemorhedus spp. (including Nemorhaedus and Capricornis)", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Nasua nasua",
              text: "Nasua nasua", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Neotragus spp.",
              text: "Neotragus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Nyctereutes procyonoides",
              text: "Nyctereutes procyonoides", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Odocoileus spp.",
              text: "Odocoileus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Okapia spp.",
              text: "Okapia spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Ondatra zibethicus",
              text: "Ondatra zibethicus", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Oreamuos spp.",
              text: "Oreamuos spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Oreotragus spp.",
              text: "Oreotragus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Oryx spp.",
              text: "Oryx spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Other Carnivora",
              text: "Other Carnivora", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Other Lagomorpha",
              text: "Other Lagomorpha", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Other Rodentia",
              text: "Other Rodentia", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Ourebia spp.",
              text: "Ourebia spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Ozotoceros spp.",
              text: "Ozotoceros spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Patholops spp.",
              text: "Patholops spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Pecari-Tayassu spp.",
              text: "Pecari-Tayassu spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Pelea spp.",
              text: "Pelea spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Procapra spp.",
              text: "Procapra spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Procyon lotor",
              text: "Procyon lotor", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Pseudois spp.",
              text: "Pseudois spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Pseudoryx spp.",
              text: "Pseudoryx spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Pudu spp.",
              text: "Pudu spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Rangifer spp.",
              text: "Rangifer spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Raphicerus spp.",
              text: "Raphicerus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Redunca spp.",
              text: "Redunca spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Rhinoceros spp.",
              text: "Rhinoceros spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Rupicapra spp.",
              text: "Rupicapra spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Saiga spp.",
              text: "Saiga spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Sciurus carolinensis",
              text: "Sciurus carolinensis", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Sciurus niger",
              text: "Sciurus niger", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Sigmoceros-Alecelaphus spp.",
              text: "Sigmoceros-Alecelaphus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Sylvicapra spp.",
              text: "Sylvicapra spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Tamias sibiricus",
              text: "Tamias sibiricus", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Tapirus spp.",
              text: "Tapirus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Taurotragus spp.",
              text: "Taurotragus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Tetracerus spp.",
              text: "Tetracerus spp.", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Tragelaphus spp. (including Boocerus)",
              text: "Tragelaphus spp. (including Boocerus)", 
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Tragulus-Moschiola spp.",
              html: "Tragulus-Moschiola spp.",
              label: {
                classes: "govuk-label--s"
                }
              }
            ]
        }) }}
        {% else %}
        {{ govukCheckboxes({
            name: "species",
            values: data['species'],
            fieldset: {
              legend: {
                text: "Select species of commodity",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
                }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
              value: "Bison bison",
              text: "Bison bison",
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Bos taurus",
              text: "Bos taurus",
              label: {
                classes: "govuk-label--s"
                }
              },
              {
              value: "Bubalus bubalis",
              text: "Bubalus bubalis",
              label: {
                classes: "govuk-label--s"
                }
              }
            ]
        }) }}
        {% endif %}


        <div class="govuk-!-margin-top-6">
          <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="button-save-and-continue"
            type="submit" value="Save and continue" data-module="govuk-button">
          <input class="link-button" id="family-button" type="submit" name="familyButton" value="Add another commodity"
            data-module="govuk-button" formaction="02-01-commodity-tree-code-search?add-commodity=true">
          {% if data['add-species'] == "true" %}
          <p class="govuk-body">
            <a class="govuk-link" href="javascript:history.back()">Cancel</a>
          </p>
          {% endif %}
        </div>

        <input name="crumb" type="hidden" value="U71b9l39rEo3G3NiMprrccxYclb4_ZZVKf2AlP-Dv8n">
        <input name="commodityDetailsPage" type="hidden" value="">
        <input name="etag" type="hidden" value="&quot;0000000004D0A76E&quot;">
        <input name="complement-id" type="hidden" value="">
        <input name="commodity-selected-code" type="hidden" value="0102">
        <input name="type-id" type="hidden" value="16">
        <input name="class-id" type="hidden" value="473099">
        <input name="family-id" type="hidden" value="">
      </form>
    </div>
  </div>
</main>

{% endblock %}