{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back.html" %}
{% endblock %}

{% block content %}



<div class="govuk-!-padding-top-6">
  <span class="heading-tertiary">
    <span id="reference-number">DRAFT.GB.2024.5501422 </span>
    <span> - CHEDA</span>
  </span>
</div>


<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row" id="commodity-identifiers-page">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Description of the goods</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" id="page-primary-title">Enter animal identification details
      </h1>
      <div class="govuk-hint govuk-!-margin-bottom-4">Enter the identification details you have for the animal. You must enter these details into the notification before arrival at the port of entry.</div>

      <form action="02-07-additional-details" method="post">
        <div class="table-responsive">
          <table class="govuk-table commodity-overview" id="commodities-overview">
            <thead class="govuk-table__head">
              <tr>
                <th class="govuk-table__header commodity-code">
                  Commodity code
                </th>
                <th class="govuk-table__header commodity-description">
                  Description
                </th>
                <th class="govuk-table__header species">
                  Species and type
                </th>
                <th class="govuk-table__header">Number of animals</th>
                <td class="govuk-table__header">
                </td>
              </tr>
            </thead>
            <tbody>


              {% for specie in data['species'] %}
              <tr>
                <td class="form-group govuk-table__cell">
                  {{ data['commodity-code'] or "0102" }}
                </td>
                <td class="govuk-table__cell">
                  {% if data['commodity-code'] == "01061900" %}
                  Other
                  {% else %}
                  Live bovine animals
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {{ specie }}{% if (data['type-of-commodity'] == "Domestic" or data['type-of-commodity'] == "Game") %},
                  {{ data['type-of-commodity'] }}{% endif %}
                </td>
                <td class="govuk-table__cell">
                  5
                </td>
                <td class="change govuk-table__cell">
                  <input type="submit" name="action" value="Change" class="link-button" id="Change-0101-502501"
                    aria-label="Change quantities of Equus asinus" formaction="02-06-commodity-details">
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% for specie in data['species'] %}
        <h2 class="govuk-heading-m govuk-!-font-weight-regular govuk-!-margin-top-0" id="{{ specie }}">
          {{ specie }}{% if (data['type-of-commodity'] == "Domestic" or data['type-of-commodity'] == "Game") %}, {{
          data['type-of-commodity'] }}{% endif %}
          Identification details
        </h2>
        <div class="table-responsive">
          {% if data['commodity-code'] == "01061900" %}
          <table class="identifiers-table govuk-table govuk-!-margin-bottom-2" id="identifiers-table-1-502501">
            <thead class="govuk-table__head">
              <tr>
                <th scope="col" class="govuk-form-group govuk-table__header">Animal</th>
                <th scope="col" class="govuk-table__header" id="microchip-01">Microchip</th>
                <th scope="col" class="govuk-table__header" id="passport-01">Passport</th>
                <th scope="col" class="govuk-table__header" id="tattoo-01">Tattoo</th>
                <td class="govuk-form-group govuk-table__header"></td>
              </tr>
            </thead>
            <tbody>
              <tr id="species-01061900-129518-1">
                <td class="govuk-form-group govuk-table__cell govuk-!-width-one-quarter" id="01061900-129518-1">
                  {{ specie }} 1
                </td>
                      <td class="govuk-table__cell">{{ data['microchip-01'] }}</td>
                      <td class="govuk-table__cell">{{ data['passport-01'] }}</td>
                      <td class="govuk-table__cell">{{ data['tattoo-01'] }}</td>
                <td class="change govuk-table__cell">
                  <button type="button" name="remove-3-129518.identifiers-1" value="Remove" class="link-button" id="identifier-remove-3-129518.identifiers-1" aria-label="Remove identifier 3-129518.identifiers-1">
                    Remove
                  </button>
                </td>
              </tr>
              <tr id="species-01061900-129518-1">
                <td class="govuk-form-group govuk-table__cell govuk-!-width-one-quarter" id="01061900-129518-1">
                  {{ specie }} 2
                </td>
                      <td class="govuk-table__cell">{{ data['microchip-02'] }}</td>
                      <td class="govuk-table__cell">{{ data['passport-02'] }}</td>
                      <td class="govuk-table__cell">{{ data['tattoo-02'] }}</td>
                <td class="change govuk-table__cell">
                  <button type="button" name="remove-3-129518.identifiers-1" value="Remove" class="link-button" id="identifier-remove-3-129518.identifiers-1" aria-label="Remove identifier 3-129518.identifiers-1">
                    Remove
                  </button>
                </td>
              </tr>
              <tr id="species-01061900-129518-1">
                <td class="govuk-form-group govuk-table__cell govuk-!-width-one-quarter" id="01061900-129518-1">
                  {{ specie }} 3
                </td>
                      <td class="govuk-table__cell">{{ data['microchip-03'] }}</td>
                      <td class="govuk-table__cell">{{ data['passport-03'] }}</td>
                      <td class="govuk-table__cell">{{ data['tattoo-03'] }}</td>
                <td class="change govuk-table__cell">
                  <button type="button" name="remove-3-129518.identifiers-1" value="Remove" class="link-button" id="identifier-remove-3-129518.identifiers-1" aria-label="Remove identifier 3-129518.identifiers-1">
                    Remove
                  </button>
                </td>
              </tr>
              <tr id="species-01061900-129518-1">
                <td class="govuk-form-group govuk-table__cell govuk-!-width-one-quarter" id="01061900-129518-1">
                  {{ specie }} 4
                </td>
                      <td class="govuk-table__cell">{{ data['microchip-04'] }}</td>
                      <td class="govuk-table__cell">{{ data['passport-04'] }}</td>
                      <td class="govuk-table__cell">{{ data['tattoo-04'] }}</td>
                <td class="change govuk-table__cell">
                  <button type="button" name="remove-3-129518.identifiers-1" value="Remove" class="link-button" id="identifier-remove-3-129518.identifiers-1" aria-label="Remove identifier 3-129518.identifiers-1">
                    Remove
                  </button>
                </td>
              </tr>
              <tr class="input-row" id="3-129518-input-row">
                <td class="form-group govuk-table__cell govuk-!-width-one-quarter ">{{ specie }} 5</td>
                <td class="govuk-table__cell">
                  <input class="govuk-input  " id="3-129518.identifiers-1-microchip"
                    name="microchip-05" type="text" value=""
                    aria-label="3-129518.identifiers-1-microchip">
                </td>
                <td class="govuk-table__cell">
                  <input class="govuk-input  " id="3-129518.identifiers-1-passport"
                    name="passport-05" type="text" value=""
                    aria-label="3-129518.identifiers-1-passport">
                </td>
                <td class="govuk-table__cell">
                  <input class="govuk-input  " id="3-129518.identifiers-1-tattoo" name="tattoo-05"
                    type="text" value="" aria-label="3-129518.identifiers-1-tattoo">
                </td>
                <td class="govuk-table__cell change"><span class="govuk-visually-hidden">Remove link</span></td>
              </tr>
            </tbody>
          </table>
          {% else %}
          <table class="identifiers-table govuk-table govuk-!-margin-bottom-2" id="identifiers-table-1-25761">
            <thead class="govuk-table__head">
              <tr>
                <th scope="col" class="govuk-form-group govuk-table__header">Animal</th>
                <th scope="col" class="govuk-table__header" id="earTag-01">Ear tag</th>
                <th scope="col" class="govuk-table__header" id="passport-01">Passport</th>
                <td class="govuk-form-group govuk-table__header"></td>
              </tr>
            </thead>
            <tbody>
              <tr id="species-0102-25761-1">
                <td class="govuk-form-group govuk-table__cell govuk-!-width-one-quarter" id="0102-25761-1">
                  {{ specie }} 1
                </td>
                <td class="govuk-table__cell">{{ data['eartag-01'] }}</td>
                <td class="govuk-table__cell">{{ data['passport-01'] }}</td>
                <td class="change govuk-table__cell">
                  <button type="button" name="remove-1-25761.identifiers-1" value="Remove" class="link-button" id="identifier-remove-1-25761.identifiers-1" aria-label="Remove identifier 1-25761.identifiers-1">
                    Remove
                  </button>
                </td>
              </tr>
              <tr id="species-0102-25761-1">
                <td class="govuk-form-group govuk-table__cell govuk-!-width-one-quarter" id="0102-25761-1">
                  {{ specie }} 2
                </td>
                <td class="govuk-table__cell">{{ data['eartag-02'] }}</td>
                <td class="govuk-table__cell">{{ data['passport-02'] }}</td>
                <td class="change govuk-table__cell">
                  <button type="button" name="remove-1-25761.identifiers-1" value="Remove" class="link-button" id="identifier-remove-1-25761.identifiers-1" aria-label="Remove identifier 1-25761.identifiers-1">
                    Remove
                  </button>
                </td>
              </tr>
              <tr id="species-0102-25761-1">
                <td class="govuk-form-group govuk-table__cell govuk-!-width-one-quarter" id="0102-25761-1">
                  {{ specie }} 3
                </td>
                <td class="govuk-table__cell">{{ data['eartag-03'] }}</td>
                <td class="govuk-table__cell">{{ data['passport-03'] }}</td>
                <td class="change govuk-table__cell">
                  <button type="button" name="remove-1-25761.identifiers-1" value="Remove" class="link-button" id="identifier-remove-1-25761.identifiers-1" aria-label="Remove identifier 1-25761.identifiers-1">
                    Remove
                  </button>
                </td>
              </tr>
              <tr id="species-0102-25761-1">
                <td class="govuk-form-group govuk-table__cell govuk-!-width-one-quarter" id="0102-25761-1">
                  {{ specie }} 4
                </td>
                <td class="govuk-table__cell">{{ data['eartag-04'] }}</td>
                <td class="govuk-table__cell">{{ data['passport-04'] }}</td>
                <td class="change govuk-table__cell">
                  <button type="button" name="remove-1-25761.identifiers-1" value="Remove" class="link-button" id="identifier-remove-1-25761.identifiers-1" aria-label="Remove identifier 1-25761.identifiers-1">
                    Remove
                  </button>
                </td>
              </tr>
              <tr class="input-row" id="1-25761-input-row">
                <td class="form-group govuk-table__cell govuk-!-width-one-quarter ">{{ specie }} 5</td>
                <td class="govuk-table__cell">
                  <input class="govuk-input  " id="1-25761.identifiers-1-ear_tag" name="eartag-05"
                    type="text" value="" aria-label="1-25761.identifiers-1-ear_tag">
                </td>
                <td class="govuk-table__cell">
                  <input class="govuk-input  " id="1-25761.identifiers-1-passport" name="passport-05"
                    type="text" value="" aria-label="1-25761.identifiers-1-passport">
                </td>
                <td class="govuk-table__cell change"><span class="govuk-visually-hidden">Remove link</span></td>
              </tr>
            </tbody>
          </table>
          {% endif %}
        </div>
        <div>
          <fieldset class="no-border govuk-!-padding-0 govuk-!-margin-bottom-0">
            <legend class="govuk-visually-hidden">
              Add another button for
              {{ specie }}
            </legend>
            <input type="submit" name="add-1-502501.identifiers-1" id="add-1-502501.identifiers-1" value="Add another"
              class="link-button govuk-!-margin-bottom-8" formaction="02-08-animal-identifiers-6#{{ specie }}">
          </fieldset>
        </div>
        {% endfor %}
        <p class="govuk-!-margin-top-6">
          <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-return-button"
            name="save-and-return-button" type="submit" formaction="00-notification-hub" value="Save and return to hub"
            data-module="govuk-button">
          <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="button-save-and-continue"
            name="button-save-and-continue" type="submit" value="Save and continue" data-module="govuk-button">
        </p>
        <p class="govuk-body"><a class="govuk-link" href="00-notification-hub">Cancel and return to hub</a></p>
        <p></p>
        <input name="crumb" type="hidden" value="sjxurCjSxaOFoFkveWyEIvJKEAlMy8CB6mIsr8UrrgU">
        <input name="etag" type="hidden" value="&quot;0000000004C7A4E0&quot;">
      </form>
    </div>
  </div>
</main>
{% endblock %}