
{% extends "layout.html" %}

{% block pageTitle %}
Review your notification  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
  <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  <div class="navigation-links__divider">|</div>
  <div class="govuk-breadcrumbs breadcrumbs--next-to-back">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="0-index">Dashboard</a>
      </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="00-notification-hub">Notification Hub</a>
          </li>
    </ol>
  </div>  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Hyseni</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="/notification/vnet/protected/notifications/address-book">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
</div>



  <div class="govuk-!-padding-top-6 govuk-!-margin-bottom-3">
    <span class="heading-tertiary">
        <span id="reference-number">DRAFT.GB.2023.5925980</span>
            <span> - CHEDP</span>
    </span>
  </div>


  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
                
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" data-gtm-vis-first-on-screen10427495_18="49" data-gtm-vis-recent-on-screen10427495_18="4435" data-gtm-vis-total-visible-time10427495_18="100" data-gtm-vis-has-fired10427495_18="1">
                  <h2 class="govuk-error-summary__title" id="error-summary-title">
                      Some information needs to be updated
                  </h2>
                    <p class="govuk-body" id="error-summary-help-text">It was cloned from a previous health certificate. Some details are either missing or incorrect.</p>
                  <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                          <a class="" id="error-description-0" href="#partone/pointofentry">Add the port of entry</a>
                        </li>
                        <li>
                          <a class="" id="error-description-1" href="#partone/arrivaldate">Add the estimated arrival date at port of entry</a>
                        </li>
                        <li>
                          <a class="" id="error-description-2" href="#partone/arrivaltime">Add the estimated arrival time at port of entry</a>
                        </li>
                        <li>
                          <a class="" id="error-description-3" href="#partone/contactdetails">Enter your contact details</a>
                        </li>
                        <li>
                          <a class="" id="error-description-4" href="#partone/departuredate">Add the departure date from BCP</a>
                        </li>
                        <li>
                          <a class="" id="error-description-5" href="#partone/departuretime">Add the departure time from BCP</a>
                        </li>
                        <li>
                          <a class="" id="error-description-6" href="#partone/isgvmsroute">Select if using the Goods Vehicle Movement Service (GVMS)</a>
                        </li>
                        <li>
                          <a class="" id="error-description-7" href="#partone/meansoftransport">Means of transport after the BCP</a>
                        </li>
                        <li>
                          <a class="" id="error-description-8" href="#meansoftransportfromentrypoint/document">Add transport document</a>
                        </li>
                        <li>
                          <a class="" id="error-description-9" href="#personresponsible/address">Add the contact address for consignment</a>
                        </li>
                        <li>
                          <a class="" id="error-description-10" href="#partone/placeofdestination">What is the place of destination</a>
                        </li>
                        <li>
                          <a class="" id="error-description-11" href="#partone/providectcmrn">Select if using the Common Transit Convention (CTC)</a>
                        </li>
                    </ul>
                  </div>
                </div>
  
          <div class="govuk-notification-banner " id="clone-draft-information" role="region" aria-labelledby="clone-draft-information-title" data-label="" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="clone-draft-information-title">
                  Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content notification-banner__content--full-width">
                    <p class="govuk-notification-banner__heading" id="no-approved-establishments-heading">
                      We could not find any approved establishment details from the health certificate
                    </p>
                    <p class="govuk-body">You must add these details if they are required for your consignment.</p>
                    <p class="govuk-body">
                      <a class="govuk-notification-banner__link" href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/establishment-of-origin?fromImporterReview=true" id="add-when-no-approved-establishments-link">
                      Add approved establishment details
                      </a>
                    </p>
            </div>
          </div>
  
  
          <h1 class="govuk-heading-xl " id="page-primary-title">Review your notification</h1>
  
  
        <div class="govuk-grid-row audit-flag">
          <div class="govuk-grid-column-one-half">
            <p id="last-updated-date" class="audit-flag__date">Last updated 21 November 2024, 10:44</p>
            <p id="last-updated-by" class="audit-flag__user">by Mark Admin-Tester</p>
          </div>
          <div class="govuk-grid-column-one-half">
            <p id="last-submission-date" class="audit-flag__date">
                Not Submitted
            </p>
          </div>
        </div>
  
  
  
          <hr class="govuk-section-break govuk-section-break--visible">
          <dl class="govuk-summary-list govuk-!-margin-bottom-1" id="review-table-about-notification">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">CHED reference</dt>
              <dd class="govuk-summary-list__value" id="reference-number">DRAFT.GB.2024.1055868</dd>
              <dd class="govuk-summary-list__actions">
                <button data-prevent-double-click="true" type="submit" id="copy-customs-declaration-reference-number" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 copy-button" data-copy-value="DRAFT.GB.2024.1055868">
                  Copy
                </button>
              </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">Customs declaration reference</dt>
              <dd class="govuk-summary-list__value" id="reference-number-customs">GBCHD2024.1055868</dd>
              <dd class="govuk-summary-list__actions">
                <button data-prevent-double-click="true" type="submit" id="copy-customs-declaration-reference-number" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 copy-button" data-copy-value="GBCHD2024.1055868">
                  Copy
                </button>
              </dd>
            </div>
            <div class="govuk-summary-list__row  govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">Customs document code</dt>
              <dd class="govuk-summary-list__value" id="reference-number-document">N853</dd>
              <dd class="govuk-summary-list__actions">
                <button data-prevent-double-click="true" type="submit" id="copy-customs-doc-code" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 copy-button" data-copy-value="N853">
                  Copy
                </button>
              </dd>
            </div>
          </dl>
          
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              You must use the correct reference and code on the customs declaration or your consignment will be delayed.
            </strong>
          </div>
          
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
  
  
  
  
  
  
            <h2 class="govuk-heading-m">About the consignment</h2>
            
            
            
            
            
            
            
            
            <dl class="review-summary-list" id="review-table-about-notification">
              <div class="review-summary-list__row ">
                <dt class="review-summary-list__key" id="importing-header">Import type</dt>
                <dd class="review-summary-list__value" id="importing">Products of animal origin, germinal products or animal by-products</dd>
              </div>
                <div class="review-summary-list__row   review-summary-list__row-no-action ">
                  <dt class="review-summary-list__key">Country of origin</dt>
                  <dd class="review-summary-list__value">New Zealand</dd>
                </div>
                <div class="review-summary-list__row  review-summary-list__row-no-action ">
                  <dt class="review-summary-list__key">Country from where consigned</dt>
                  <dd class="review-summary-list__value">New Zealand</dd>
                </div>
                <div class="review-summary-list__row   review-summary-list__row-no-action ">
                  <dt class="review-summary-list__key">Region of origin code</dt>
                  <dd class="review-summary-list__value" id="region-of-consignment-value">
                    
                  </dd>
                </div>
                  <div class="review-summary-list__row  review-summary-list__row-no-action ">
                  <dt class="review-summary-list__key">Consignment conforms to regulatory requirements</dt>
                  <dd class="review-summary-list__value">Yes</dd>
                </div>
            
                <div class="review-summary-list__row review-summary-list__row-border-bottom  review-summary-list__row-with-action ">
                  <dt class="review-summary-list__key" id="local-reference-number-header">Consignment reference number</dt>
                  <dd class="review-summary-list__value" id="local-reference-number"></dd>
                      <dd class="review-summary-list__action">
                        <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/consignment/page-2?fromImporterReview=true" class="govuk-link" id="country-of-origin-change-link">
                        Change
                        </a>
                      </dd>
                </div>
              <div class="review-summary-list__row     review-summary-list__row-with-action ">
                <dt class="review-summary-list__key" id="purpose-of-consignment-header">
                  Main reason for importing the consignment
                </dt>
                <dd class="review-summary-list__value" id="purpose-of-consignment-value">
                    For internal market
                      </dd>
                  <dd class="review-summary-list__action">
                    <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/consignment/page-5?fromImporterReview=true" class="govuk-link" id="consignment-purpose-change-link">
                      Change
                    </a>
                  </dd>
              </div>
                <div class="review-summary-list__row">
                  <dt class="review-summary-list__key">Purpose in the internal market</dt>
                  <dd class="review-summary-list__value">Human Consumption</dd>
                </div>
                <div>
                  <div class="review-summary-list__row review-summary-list__row-border-top  review-summary-list__row-with-action ">
                    <dt class="review-summary-list__key" id="import-risk-header">Import risk category</dt>
                    <dd class="review-summary-list__value">High risk</dd>
                    <dd class="review-summary-list__action">
                      <form action="review" method="POST">
                        <input name="crumb" type="hidden" value="02huU160oKytkXY9oXeM6MLHf8KFsw0iL6hGs5h-j5p">
                        <input name="etag" type="hidden" value="&quot;00000000000E6070&quot;">
                        <button type="submit" class="link-button" name="change-import-risk-category" value="Change Import Risk Category" id="change-import-risk-category">
                          Change
                        </button>
                      </form>
                    </dd>
                  </div>
                </div>
            </dl>
            
            <div class="govuk-grid-row">
              <h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-grid-column-one-half">Description of the goods</h2>
            </div>
            
              
              <div class="govuk-!-margin-bottom-6 update-commodity-details-link ">
                <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/commodity/details?fromImporterReview=true" class="govuk-link govuk-!-font-size-19" id="commodity-details-link">
                  Check or update commodity details
                </a>
              </div>
            
            
              <div class="heading-with-change-link govuk-!-margin-top-8">
                  <h3 class="govuk-heading-s">Additional details</h3>
                  <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/consignment/details?fromImporterReview=true" class="govuk-link" id="consignment-details-change-link">
                    Change
                  </a>
              </div>
            
            <div class="table-responsive govuk-!-margin-bottom-9">
              <table class="govuk-table presentation-table review-table" role="presentation" id="review-consignment-details-table">
                <tbody>
            
            
                  <tr class="presentation-table__row--no-border ">
                    <td class="govuk-table__header border-bottom-none">Total net weight</td>
                    <td class="govuk-table__cell border-bottom-none" colspan="2">
                      10 kg/units
                    </td>
                  </tr>
            
                  <tr class="presentation-table__section
                  
                  presentation-table__row--no-border">
                    <td class="govuk-table__header border-bottom-none">Total packages</td>
                    <td class="govuk-table__cell border-bottom-none" colspan="2">
                      10
                    </td>
                  </tr>
            
            
                  <tr class="presentation-table__section
                          
                          ">
                    <td class="govuk-table__header" id="gross-weight-header">Total gross weight </td>
                    <td class="govuk-table__cell" id="gross-weight">11 kg/units</td>
                  </tr>
            
            
            
            
                </tbody>
              </table>
            
            
            </div>
            
            
            
              <div class="govuk-!-margin-bottom-9" id="additional-details-section">
                <div class="heading-with-change-link">
                  <h2 class="govuk-heading-m" id="additional-details-heading">Additional details</h2>
                </div>
                <dl class="review-summary-list" id="review-additional-details-table">
                  <div class="review-summary-list__row ">
                    <dt class="review-summary-list__key">Temperature</dt>
                    <dd class="review-summary-list__value">Frozen</dd>
                  </div>
                </dl>
              </div>
            
            <div class="govuk-!-margin-bottom-9" id="accompanying-documents-section">
                <h2 class="govuk-heading-m" id="documents-section-heading">Documents</h2>
                <div class="table-responsive">
                    
                      
                      
                      
                      
                      
                    
                    <div class="heading-with-change-link">
                      <h3 class="govuk-heading-s" id="latest-health-certificate-heading">Latest health certificate</h3>
                          <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/latest-certificate?fromImporterReview=true" class="govuk-link" id="latest-health-certificate-change-link">
                              Change
                            </a>
                    </div>
                    
                    <div class="table-responsive">
                      <p id="latestHealthCertificateTableDesc" class="govuk-visually-hidden">Latest health certificate table</p>
                      <table id="latest-health-certificate-table" aria-describedby="latestHealthCertificateTableDesc" class="govuk-table presentation-table review-latest-health-certificate-table">
                        <thead class="govuk-table__head">
                          <tr>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document type</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document reference</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date of issue</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Attachments</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="presentation-table__section ">
                            <td class="govuk-table__cell" id="latest-health-document-type">
                              Veterinary health certificate
                              <strong class="govuk-!-display-block">(cloned)</strong>
                            </td>
                            <td class="govuk-table__cell break-word" id="latest-health-document-reference">
                              NZL2024/PPCS2/999997
                            </td>
                            <td class="govuk-table__cell" id="latest-health-document-issue-date">
                              2 August 2021
                            </td>
                            <td class="govuk-table__cell">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  
                    
                    <div class="heading-with-change-link">
                      <h3 class="govuk-heading-s" id="cloned-certificate-heading">Cloned documents</h3>
                    </div>
                  
                    <div class="table-responsive">
                      <table id="cloned-documents-table" class="govuk-table presentation-table review-additional-documents-table" aria-labelledby="cloned-certificate-heading">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document type</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document reference</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date of issue</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Attachments</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                              <tr class="govuk-table__row presentation-table__section ">
                                <td class="govuk-table__cell" id="cloned-veterinary-document-type-1">
                                  Other
                                </td>
                                <td class="govuk-table__cell break-word" id="cloned-veterinary-document-reference-1">
                                  GB130.3
                                </td>
                                <td class="govuk-table__cell" id="cloned-veterinary-document-issue-date-1">
                                  2 August 2021
                                </td>
                                <td class="govuk-table__cell">
                                </td>
                              </tr>
                        </tbody>
                      </table>
                    </div>
                  
                  <div class="heading-with-change-link">
                      <h3 class="" id="additional-documents-sub-heading">1 additional document</h3>
                      <a class="govuk-link" id="documents-change-link" href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/documents/page-1?fromImporterReview=true#additional-documents-header">
                         Change
                      </a>
                  </div>
                  
                    <div class="table-responsive">
                      <table id="additional-documents-table" class="govuk-table presentation-table review-additional-documents-table" aria-labelledby="additional-documents-sub-heading">
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document type</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Document reference</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date of issue</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Attachments</th>
                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="presentation-table__section">
                              <td class="govuk-table__cell" colspan="100%" id="veterinary-document-none-attached">
                                No documents attached
                              </td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                  <div class="heading-with-change-link">
                    <h2 id="approved-establishment-header" class="govuk-heading-m">Approved establishment</h2>
                    <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/establishment-of-origin?fromImporterReview=true" class="govuk-link" id="establishment-of-origin-change-link">
                      Change
                    </a>
                  </div>
                  
                <div class="table-responsive">
                  <table class="govuk-table presentation-table" id="review-table-approved-establishments">
                    <caption class="govuk-visually-hidden">
                      Approved establishment
                    </caption>
                    <thead class="govuk-table__head">
                      <tr>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Country</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Type</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter no-wrap">
                          Approval number
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
            </div>
            
            
              <h2 class="govuk-heading-m">Traders</h2>
            
            
            
            <span class="govuk-error-message" id="partone/placeofdestination">What is the place of destination</span>
            <dl class="review-summary-list" id="review-table-traders">
              <div class="review-summary-list__row   review-summary-list__row-with-action ">
                <dt class="review-summary-list__key">Consignor or exporter</dt>
                <dd class="review-summary-list__value" id="consignor">
                  COOPERATIVECa30 Ltd<br>
                  Isle of Man Government Office of Human Resources, Learning Education and Development, The Lodge Education and Training Centre, Braddan Road, Strang, Vienna, 1030, Austria, Not specified, not@specified.com
                </dd>
                    <dd class="review-summary-list__action">
                      <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/traders?fromImporterReview=true" class="govuk-link" id="traders-change-link">
                      Change
                      </a>
                    </dd>
              </div>
              <div class="review-summary-list__row  review-summary-list__row-no-action ">
                <dt class="review-summary-list__key">Consignee</dt>
                <dd class="review-summary-list__value" id="consignee">
                  COOPERATIVECa30 Ltd<br>
                  Isle of Man Government Office of Human Resources, Learning Education and Development, The Lodge Education and Training Centre, Braddan Road, Strang, Vienna, 1030, Austria, Not specified, not@specified.com
                </dd>
              </div>
              <div class="review-summary-list__row  review-summary-list__row-no-action ">
                <dt class="review-summary-list__key">Importer</dt>
                <dd class="review-summary-list__value" id="importer">
                  COOPERATIVECa30 Ltd<br>
                  Isle of Man Government Office of Human Resources, Learning Education and Development, The Lodge Education and Training Centre, Braddan Road, Strang, Vienna, 1030, Austria, Not specified, not@specified.com</dd>
              </div>
              <div class="review-summary-list__row  review-summary-list__row-no-action review-summary-list__error">
                <dt class="review-summary-list__key">
                  Place of destination
                </dt>
                <dd class="review-summary-list__value" id="final-destination">
                  <br>
                  
                </dd>
              </div>
            </dl>
            
              <h2 class="govuk-heading-l">Transport</h2>
              <div class="heading-with-change-link">
                <h2 class="govuk-heading-m">Transport to the port of entry</h2>
                <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/transport/before-bip?fromImporterReview=true" class="govuk-link" id="transport-to-bip-change-link">
                  Change
                </a>
              </div>
              <span class="govuk-error-message" id="partone/pointofentry">Add the port of entry</span>
              
              
              
              <span class="govuk-error-message" id="meansoftransportfromentrypoint/document">Add transport document</span>
              <span class="govuk-error-message" id="partone/arrivaldate">Add the estimated arrival date at port of entry</span>
              <span class="govuk-error-message" id="partone/arrivaltime">Add the estimated arrival time at port of entry</span>
              
              
              <div class="table-responsive govuk-!-margin-bottom-9">
                <table class="govuk-table review-table presentation-table" id="review-table-bip-details">
                  <caption class="govuk-visually-hidden">Summary of transport to border control post</caption>
                  <tbody>
                  <tr class="table-row--error">
                    <th scope="row" class="govuk-table__header">Port of entry</th>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="">
                    <th scope="row" class="govuk-table__header">Means of transport to port of entry</th>
                    <td class="govuk-table__cell">Vessel</td>
                  </tr>
                    <tr class="">
                      <th scope="row" class="govuk-table__header">Transport identification</th>
                      <td class="govuk-table__cell">v0001, Unsinkable II</td>
                    </tr>
                    <tr>
                      <th scope="row" class="govuk-table__header">Using road trailers or containers?</th>
                      <td class="govuk-table__cell" id="imported-in-containers">Yes</td>
                    </tr>
                    
                        <tr class="presentation-table__row--no-border-bottom  ">
                          <th scope="row" class="govuk-table__header">Trailer or container number</th>
                          <td class="govuk-table__cell" id="container-number-0">C12345</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Seal number</th>
                          <td class="govuk-table__cell" id="seal-number-0">S12345</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Official seal</th>
                          <td id="official-seal-present-0" class="govuk-table__cell">
                              No
                          </td>
                        </tr>
                        <tr class="presentation-table__row--no-border-bottom  ">
                          <th scope="row" class="govuk-table__header">Trailer or container number</th>
                          <td class="govuk-table__cell" id="container-number-1">AAAU1111111</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Seal number</th>
                          <td class="govuk-table__cell" id="seal-number-1">12345</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Official seal</th>
                          <td id="official-seal-present-1" class="govuk-table__cell">
                              No
                          </td>
                        </tr>
                        <tr class="presentation-table__row--no-border-bottom  ">
                          <th scope="row" class="govuk-table__header">Trailer or container number</th>
                          <td class="govuk-table__cell" id="container-number-2">CCCZ1111111</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Seal number</th>
                          <td class="govuk-table__cell" id="seal-number-2">54321</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Official seal</th>
                          <td id="official-seal-present-2" class="govuk-table__cell">
                              No
                          </td>
                        </tr>
                        <tr class="presentation-table__row--no-border-bottom  ">
                          <th scope="row" class="govuk-table__header">Trailer or container number</th>
                          <td class="govuk-table__cell" id="container-number-3">BBBU1111111</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Seal number</th>
                          <td class="govuk-table__cell" id="seal-number-3">23456</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Official seal</th>
                          <td id="official-seal-present-3" class="govuk-table__cell">
                              No
                          </td>
                        </tr>
                        <tr class="presentation-table__row--no-border-bottom  ">
                          <th scope="row" class="govuk-table__header">Trailer or container number</th>
                          <td class="govuk-table__cell" id="container-number-4">CCCU1111111</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Seal number</th>
                          <td class="govuk-table__cell" id="seal-number-4">34567</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Official seal</th>
                          <td id="official-seal-present-4" class="govuk-table__cell">
                              No
                          </td>
                        </tr>
                        <tr class="presentation-table__row--no-border-bottom  ">
                          <th scope="row" class="govuk-table__header">Trailer or container number</th>
                          <td class="govuk-table__cell" id="container-number-5">BBBJ1111111</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Seal number</th>
                          <td class="govuk-table__cell" id="seal-number-5">56789</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Official seal</th>
                          <td id="official-seal-present-5" class="govuk-table__cell">
                              No
                          </td>
                        </tr>
                        <tr class="presentation-table__row--no-border-bottom  ">
                          <th scope="row" class="govuk-table__header">Trailer or container number</th>
                          <td class="govuk-table__cell" id="container-number-6">CCCJ1111111</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Seal number</th>
                          <td class="govuk-table__cell" id="seal-number-6">67891</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Official seal</th>
                          <td id="official-seal-present-6" class="govuk-table__cell">
                              No
                          </td>
                        </tr>
                        <tr class="presentation-table__row--no-border-bottom  ">
                          <th scope="row" class="govuk-table__header">Trailer or container number</th>
                          <td class="govuk-table__cell" id="container-number-7">AAAZ1111111</td>
                        </tr>
                        <tr class=" ">
                          <th scope="row" class="govuk-table__header">Seal number</th>
                          <td class="govuk-table__cell" id="seal-number-7">78912</td>
                        </tr>
                        <tr class="presentation-table__row--no-border-top ">
                          <th scope="row" class="govuk-table__header">Official seal</th>
                          <td id="official-seal-present-7" class="govuk-table__cell">
                              No
                          </td>
                        </tr>
                    <tr class="table-row--error">
                        <th scope="row" class="govuk-table__header">Transport document reference</th>
                      <td class="govuk-table__cell"></td>
                    </tr>
                  <tr class="table-row--error">
                    <th scope="row" class="govuk-table__header">Estimated arrival date at port of entry</th>
                    <td class="govuk-table__cell"></td>
                  </tr>
                    <tr class="table-row--error">
                      <th scope="row" class="govuk-table__header">Estimated arrival time at port of entry</th>
                      <td class="govuk-table__cell"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
                     <h2 class="govuk-heading-m">Transport after the Border Control Post (BCP)</h2>
                    
                      
                        <span class="govuk-error-message" id="partone/meansoftransport">Means of transport after the BCP</span>
                        <span class="govuk-error-message" id="partone/departuredate">Add the departure date from BCP</span>
                        <span class="govuk-error-message" id="partone/departuretime">Add the departure time from BCP</span>
                         
                          
                      
                    
                    <div class="table-responsive govuk-!-margin-bottom-9">
                      <p id="transportAfterBipTableDesc" class="govuk-visually-hidden">Means of transport table</p>
                      <table class="govuk-table presentation-table review-table" id="review-table-transport" aria-describedby="transportAfterBipTableDesc">
                        <tbody>
                  
                  <tr class="table-row--error">
                    <th scope="row" class="govuk-table__header">Means of transport after the BCP
                    </th>
                    <td></td>
                    <td class="change">
                          <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/transport/details?fromImporterReview=true" class="govuk-link" id="transport-details-change-link">Change</a>
                    </td>
                  </tr>
                    <tr>
                        <th scope="row" class="govuk-table__header">Transport identification</th>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr>
                          <th scope="row" class="govuk-table__header">Transport document reference</th>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                      <tr class="table-row--error">
                          <th scope="row" class="govuk-table__header">Departure date from BCP</th>
                          <td class="govuk-table__cell"></td>
                          <td class="govuk-table__cell"></td>
                      </tr>
                      <tr class="table-row--error">
                          <th scope="row" class="govuk-table__header">Departure time from BCP</th>
                          <td class="govuk-table__cell"></td>
                          <td class="govuk-table__cell"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                  <h2 class="govuk-heading-m">Transporter</h2>
                    <div class="table-responsive govuk-!-margin-bottom-9">
                      <table class="govuk-table presentation-table review-table" id="review-table-transporter" role="presentation">
                        <tbody>
              <tr id="review-transporter-details" class="presentation-table__section ">
                <td class="govuk-table__header">Name</td>
                <td class="govuk-table__cell" id="transporter-name">COOPERATIVECa30 Ltd</td>
                  <td class="govuk-table__cell change">
                      <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/transport?fromImporterReview=true" class="govuk-link" id="transporter-change-link">Change</a>
                  </td>
              </tr>
              <tr>
                <td class="govuk-table__header">Type</td>
                <td class="govuk-table__cell" id="transporter-type">private transporter</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr>
                <td class="govuk-table__header">Address</td>
                <td class="govuk-table__cell" id="transporter-address">Isle of Man Government Office of Human Resources, Learning Education and Development, The Lodge Education and Training Centre, Braddan Road, Strang, Vienna, 1030, Not specified, not@specified.com</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr>
                <td class="govuk-table__header">Country</td>
                <td class="govuk-table__cell" id="transporter-country">Austria</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr>
                <td class="govuk-table__header">Approval number</td>
                <td class="govuk-table__cell" id="transporter-approval-number"></td>
                <td class="govuk-table__cell"></td>
              </tr>
                  </tbody>
                </table>
              </div>
              <div class="heading-with-change-link">
                <h2 class="govuk-heading-m">Goods movement services</h2>
                  <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/goods-movement-services?fromImporterReview=true" class="govuk-link" id="goods-movement-services-change-link">Change</a>
              </div>
              <span class="govuk-error-message" id="partone/isgvmsroute">Select if using the Goods Vehicle Movement Service (GVMS)</span>
              <span class="govuk-error-message" id="partone/providectcmrn">Select if using the Common Transit Convention (CTC)</span>
              <div class="table-responsive govuk-!-margin-bottom-9">
                <table class="govuk-table presentation-table review-table" id="review-table-goods-movement-services" role="presentation">
                  <tbody>
                    <tr class="table-row--error">
                      <td class="govuk-table__header govuk-table__header--half">Using the Common Transit Convention
                        (CTC)
                      </td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="table-row--error">
                      <td class="govuk-table__header">Using the Goods Vehicle Movement Service (GVMS)
                      </td>
                      <td class="govuk-table__cell" id="goods-movement-services-route"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
                <h2 class="govuk-heading-l">Contact</h2>
              <div class="heading-with-change-link">
                <h3 class="govuk-heading-m">Contact details</h3>
                  <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/responsible-person/contact-details?fromImporterReview=true" class="govuk-link" id="responsible-person-contact-details-change-link">
                    Change
                  </a>
              </div>
              
              <span class="govuk-error-message" id="partone/contactdetails">Enter your contact details</span>
              
              <dl class="review-summary-list govuk-!-margin-bottom-9" id="responsible-person-contact-details-table">
                <div class="review-summary-list__row  review-summary-list__error">
                  <dt class="review-summary-list__key">Name</dt>
                  <dd class="review-summary-list__value" id="responsible-contact-name"></dd>
                </div>
                <div class="review-summary-list__row  review-summary-list__error">
                  <dt class="review-summary-list__key">Email address</dt>
                  <dd class="review-summary-list__value" id="responsible-contact-email"></dd>
                </div>
                <div class="review-summary-list__row review-summary-list__error">
                  <dt class="review-summary-list__key">Phone number</dt>
                  <dd class="review-summary-list__value" id="responsible-contact-telephone"></dd>
                </div>
              </dl>
                  <div class="heading-with-change-link">
                    <h2 class="govuk-heading-m">Nominated contacts</h2>
                        <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/nominated-contact?fromImporterReview=true" class="govuk-link" id="nominated-contact-change-link">
                        Change
                        </a>
                  </div>
                  
                  <div class="govuk-!-margin-bottom-9 table-responsive">
                    <table class="govuk-table presentation-table govuk-!-margin-0" id="nominated-contacts-table">
                      <caption class="govuk-visually-hidden">Summary of nominated contacts</caption>
                      <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" id="name-header">Name</th>
                        <th class="govuk-table__header" scope="col" id="email-header">Email address</th>
                        <th class="govuk-table__header" scope="col" id="phone-header">Mobile number</th>
                      </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell" id="nominated-contact-euchedp-missing" colspan="3">No nominated contacts entered</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                  
              <div class="heading-with-change-link">
                <h2 class="govuk-heading-m" id="organisation-address-section-heading">Contact address for consignment</h2>
              </div>
              <span class="govuk-error-message" id="personresponsible/address">Add the contact address for consignment</span>
              <div class="table-responsive govuk-!-margin-bottom-9">
                <table class="govuk-table presentation-table review-table" id="review-table-organisation-address" role="presentation">
                  <tbody>
                    <tr class="table-row--error">
                      <td class="govuk-table__header" id="organisation-address-header">Contact address</td>
                      <td class="govuk-table__cell" id="organisation-branch-address-address"></td>
                      <td class="govuk-table__cell change">
                              <a href="/notification/vnet/protected/notifications/DRAFT.GB.2024.1055868/organisation-branch-address?fromImporterReview=true" class="govuk-link" id="organisation-branch-address-change-link">Change</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            
            
            
            <form action="#" method="POST">
              <button class="govuk-button" type="submit" value="Save and continue" id="button-save-and-continue" data-prevent-double-click="true">Save and continue</button>
              <input name="crumb" type="hidden" value="02huU160oKytkXY9oXeM6MLHf8KFsw0iL6hGs5h-j5p">
              <input name="etag" type="hidden" value="&quot;00000000000E6070&quot;">
            </form>
      </div>
    </div>
  </main>

{% endblock %}
