
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="navigation-links govuk-!-margin-bottom-9 govuk-!-margin-top-0">
  <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Prototypes</span>
      <h1 class="govuk-heading-xl">Cloning</h1>
      
    
        
   


        <div class="govuk-!-padding-bottom-4">
         
          <h2 class="govuk-heading-m">Cloning from dashboard </h2>
          <p><a href="0-index">Dashboard</a> </p>
          <p><a href="01-select-ched-type">Select ched type</a></p>
          <p><a href="02-select-country-origin">Certifiicate details - Add details to clone </a> &ndash; select country of origin, add health certificate reference, date of issue, commodity code and consignee, consignor or importer</p>
          <p><a href="02a-select-country-origin-all-errors">Certifiicate details - error screen</a></p>
          <p><a href="03a-certificate-found">Health certifiicate details - CHED P</a></p>
          <p><a href="03c-certificate-found-cheda">Health certifiicate details- CHED A</a></p>
          <p><a href="03b-phyto-certificate-found">Phytosanitary certifiicate details - CHED PP</a></p>
          <p><a href="04a-certificate-not-found">Health or ePhytosanitary certifiicate not found</a></p>
          <p><a href="04b-certificate-not-found-error">Health certifiicate not found - error screen</a></p>
          <p><a href="04c-phytosanitary-certificate-not-found">Phytosanitary certifiicate not found - error screen</a></p>
         

          <hr>

          <h2 class="govuk-heading-m">Retrospective cloning - CHEDA only </h2>
          <div class="govuk-inset-text">
          <p>This is for live animal importers who only have access to the health certificate as the animals are boarding the vehicle from the exporting country.</p>
       <p>The notifier must submit a CHED within the timeframe the ports need it by. Then, once the notifier has the digital health certificate, they can clone details from it into the previously submitted notification.</p>
      <p>Theme name: CR37</p> 
      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <th class="govuk-table__cell govuk-!-width-one-third">Page type</th>
            <th class="govuk-table__cell govuk-!-width-two-thirds">Notes</th>

</thead>
<tr class="govuk-table__row">
  <td class="govuk-table__cell"><a href="cheda-retro-clone/00-notification-hub-amend">Notification hub</a></td>
  <td class="govuk-table__cell">Submitted CHEDA- user clicks 'Amend from dashboard' with top clone button</td>
</tr>
<tr class="govuk-table__row">
  <td class=""><a href="cheda-retro-clone/02a-cr37-which-digital-health-certificate">Which digital health certificate</a></td>
  <td class="">includes GDPR cloning theme questions</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell"><a href="cheda-retro-clone/02b-cr37-which-digital-health-certificate-error">Which digital health certificate</a></td>
  <td class="govuk-table__cell">With errors</td>
</tr>

<tr class="govuk-table__row">
  <td class=""><a href="cheda-retro-clone/01-add-health-certificate-more">Confirm</a></a></td>
  <td class="">Confirm digital health certificate and choose data or documents</td>
</tr>

<tr class="govuk-table__row">
  <td class=""><a href="cheda-retro-clone/01-cl-id-list">Animal IDs</a></a></td>
  <td class="">List of all animal IDs when there are more than 10 animals in a consignment</td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell"><a href="cheda-retro-clone/01-cl-doc-list">Documents</a></a></td>
  <td class="govuk-table__cell">List of all documents when there are more than 10 documents in a digital health certificate</td>
</tr>

<tr class="govuk-table__row">
  <td class=""><a href="cheda-retro-clone/07-00-review-clone-success">Review with documents only</a></a></td>
  <td class="">shows successful clone of documents only. shows how the cloned docs and animal IDS are displayed on the review page. <br>Note that the rest of the page is not in sync with the CHEDA baseline.</td>
</tr>

<tr class="govuk-table__row">
  <td class=""><a href="cheda-retro-clone/07-00-review-clone-success-data">Review with documents and data</a></a></td>
  <td class="">shows successful clone of documents and data. shows how the cloned docs and animal IDS are displayed on the review page. <br>Note that the rest of the page is not in sync with the CHEDA baseline.</td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell"><a href="cheda-retro-clone/08-03-review-submitted-editable">Review page with clone button</a></a></td>
  <td class="govuk-table__cell">User clicks 'View details' from dashboard, and then 'Amend' to get to editable state of page. <br>Note that the rest of the page is not in sync with the CHEDA baseline.</td>
</tr>




      </table>

        </div>
     
     
      
    
     
 


 
{% endblock %}
