{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links__left-block">
  <a href="0-index" id="back-link-nojs" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>

<div class="govuk-breadcrumbs breadcrumbs--next-to-back">
  
</div>  </div>

<div class="navigation-links">
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Hyseni</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="/notification/vnet/protected/notifications/address-book">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
</div>


<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row" id="certificate-type">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl" id="page-primary-title">Clone from a digital health or ePhytosantitary 
        certificate</h1>
      <p class="govuk-body">You can copy details from a health or phytosanitary certificate to create a new import notification, depending on the type of commodity and country you're importing from.</p>
      <h2 class="govuk-heading-l">Search for a certificate to clone</h2>
      <p class="govuk-body">Before you start, you'll need these details from the certificate:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>country of origin of the certificate</li>
        <li>certificate reference number</li>
        <li>certificate date of issue</li>
        <li>any commodity code from this consignment</li>
        <li>consignor, consignee or importer name</li>
      </ul>

      <form action="02-select-country-origin" method="POST">
        <input name="crumb" type="hidden" value="BHku9iuH2yW_9S0_XMxSaG4nQahWg-aYRpfwTfnkTgH">
          <div class="govuk-form-group  ">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-label--m">
                  
                  What are you importing?
                  
                </legend>
          
          
              
          
              <div class="govuk-radios govuk-!-width-one-half">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="cert-type" name="cert-type" type="radio" value="CVEDA">
                    <label class="govuk-label govuk-radios__label " for="cert-type">
                      Live animals
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="cert-type-2" name="cert-type" type="radio" value="CVEDP">
                    <label class="govuk-label govuk-radios__label " for="cert-type-2">
                      Products of animal origin, germinal products or animal by-products
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="cert-type-3" name="cert-type" type="radio" value="CHEDPP">
                    <label class="govuk-label govuk-radios__label " for="cert-type-3">
                      Plants, plant products and other objects
                    </label>
                  </div>
              </div>
            </fieldset>
          </div>
        <button class="govuk-button govuk-!-margin-top-7" type="submit" value="Continue" id="continue" data-prevent-double-click="true">Continue</button>
      </form>
    </div>
  </div>
</main>

</div>


{% endblock %}