{% extends "layout.html" %}

{% block pageTitle %}
How do you want to add your commodity details? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}





  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {{ data['certificate-reference'] }}
   
      <h1 class="govuk-heading-xl" id="page-primary-title">Certificate not found</h1>
      <p class="govuk-hint">Check your details to enter them again.</p>
      
      <form class="form" action="02-select-country-origin" method="POST">
        <h2 class="govuk-!govuk-heading-l"> What do you want to do?</h2>
        
        {{ data | log }}
        
        <!-- <p class="govuk-body ">You many save time by completing a notification using your digital health certificate.</p>
        <p class="govuk-body govuk-!-margin-bottom-4">This is also called 'Cloning'.</p> -->
       

        


        <div class="govuk-form-group govuk-!-margin-bottom-7">
          <fieldset class="govuk-fieldset">
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-add-hc-2" name="addhc" type="radio" value="Manual">
                <label class="govuk-label govuk-radios__label" for="how-add-hc-2">
                  Search again
                </label>
                <!-- <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Add commodities manually and copy documents from an electronic phytosanitary certificate (ePhyto).
                </div> -->
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-add-hc" name="addhc" type="radio" value="Clone-info">
                <label class="govuk-label govuk-radios__label" for="how-add-hc">
                  Add  manually 
                </label>
                <!-- <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                 <p class="govuk-hint govuk-!-margin-bottom-1">Later you'll be asked if you want to clone:</p> 
                  <ul class="govuk-list--bullet">
                    <li>documents only</li>
                    <li>information and documents</li>
                  </ul> 
                  
                </div> -->
              </div>
              <!-- <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-add-hc" name="addhc" type="radio" value="Clone-info">
                <label class="govuk-label govuk-radios__label d" for="how-add-hc">
                  Clone documents only 
                </label>
               
              </div> -->
            
             
             
            </div>
          </fieldset>
        </div>

       

      

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
     
    </div>
  </div>

{% endblock %}
