{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="navigation-links" style="margin-top: -46px;">
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Mark Admin-Tester</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="/notification/vnet/protected/notifications/address-book">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
  <div class="navigation-links__left-block">
      <a href="02-select-country-origin" id="back-link-nojs" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
    <div class="navigation-links__divider"></div>
    <div class="govuk-breadcrumbs breadcrumbs--next-to-back">
      
        
      </ol>
    </div>  </div>
</div>


  <div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-three-quarters">
      
      
      <h1 class="govuk-heading-xl">Phytosanitary certificate not found</h1>
      
      <p class="govuk-hint">Check your details to enter them again.</p>
      
      <form class="form" action="01-select-ched-type" method="POST">
        <h2 class="govuk-!govuk-heading-l"> What do you want to do?</h2>
        
       
        
        <!-- <p class="govuk-body ">You many save time by completing a notification using your digital health certificate.</p>
        <p class="govuk-body govuk-!-margin-bottom-4">This is also called 'Cloning'.</p> -->
       

        


        <div class="govuk-form-group govuk-!-margin-bottom-7">
          <fieldset class="govuk-fieldset">
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-add-hc-2" name="addhc" type="radio" value="Manual">
                <label class="govuk-label govuk-radios__label" for="how-add-hc-2">
                  Search again
                </label>
                <!-- <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Add commodities manually and copy documents from an electronic phytosanitary certificate (ePhyto).
                </div> -->
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-add-hc" name="addhc" type="radio" value="Clone-info">
                <label class="govuk-label govuk-radios__label" for="how-add-hc">
                  Create a new notification 
                </label>
                <!-- <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                 <p class="govuk-hint govuk-!-margin-bottom-1">Later you'll be asked if you want to clone:</p> 
                  <ul class="govuk-list--bullet">
                    <li>documents only</li>
                    <li>information and documents</li>
                  </ul> 
                  
                </div> -->
              </div>
              <!-- <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-add-hc" name="addhc" type="radio" value="Clone-info">
                <label class="govuk-label govuk-radios__label d" for="how-add-hc">
                  Clone documents only 
                </label>
               
              </div> -->
            
             
             
            </div>
          </fieldset>
        </div>

       

      

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
     
    </div>
  </div>

{% endblock %}
