
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Prototypes home</a>
     <a href="../start" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs govuk-!-margin-left-2">XCHED home</a>
   
   
    </div> 
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl">GDPR Cloning</h1>

    

        <div class="govuk-!-margin-bottom-4 govuk-!-padding-4 govuk-!-width-one-third" style="background-color: #f6f6f6;">
          
          <p>August 2024</p>
          <p>UX: Kanisha Mistry</p>
          
          <p><a href="https://app.mural.co/t/defra5166/m/defra5166/1716380727606/1d3220b80ae9ffac089ae2996fa75bb02e5f9777?sender=u1adba7192ba60e3c3fd65156" target="_blank">Mural board flow</a></p>
        </div>
  </div>
</div>



<h2 class="govuk-heading-m">Cloning</h2>  
<p><a href="0-index">Dashboard</a> </p>
<p><a href="01-select-ched-type">Select ched type</a></p>
<p><a href="02-select-country-origin">Certifiicate details - Add details to clone </a> &ndash; select country of origin, add health certificate reference, date of issue, commodity code and consignee, consignor or importer</p>
<p><a href="02a-select-country-origin-all-errors">Certifiicate details - error screen</a></p>
<p><a href="03a-certificate-found">Health certifiicate found</a></p>
<p><a href="03b-phyto-certificate-found">ePhytosanitary certifiicate found</a></p>
<p><a href="04a-certificate-not-found">Health certifiicate not found</a></p>
<p><a href="04b-phyto-certificate-not-found">ePhytosanitary certifiicate not found</a></p>

          


       



{% endblock %}
