
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style type="text/css">
  @import url("/public/css/inspector.css");
</style>

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Andrew Inspector-Tester</span>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="address-book" href="/notification/tst/protected/notifications/address-book">
        Address book
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="blank-certificates-link" href="/decision/tst/protected/bip-notifications/CHEDs/blank">
        Blank CHEDs
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
  <a href="#" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  <div class="navigation-links__divider">|</div>
  <div class="govuk-breadcrumbs breadcrumbs--next-to-back">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link govuk" href="../dashboard" id="navigation-dashboard-link">Dashboard</a>
      </li>
    </ol>
  </div></div>

  




<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row" id="import-type-page">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl" id="page-primary-title">My alerts</h1>
      <div class="alert-dashboard-summary" role="alert" tabindex="-1" id="alerts-box">
            <ul class="alert-dashboard-summary-list" id="alert-dashboard-summary-list">
                    <li>
                            <a id="alert-description-ALL" href="01-all">View all</a>
                    </li>
                    <li>
                            <a id="alert-description-INSPECTION_REQUIRED" href="02-inspection-required">576&nbsp;notifications require an inspection</a>
                    </li>
                    <li>
                            <a id="alert-description-SUBMITTED" href="03-new">599&nbsp;notifications in New status</a>
                    </li>
                    <li>
                            <strong id="alert-description-CDS_NOT_MATCHED" class="govuk-!-font-weight-bold">15&nbsp;notifications and customs declarations do not match</strong>
                    </li>
                    <li>
                            <a id="alert-description-REJECTED_FOR_DECISION" href="05-rejected">52&nbsp;notifications changed to Rejected status</a>
                    </li>
                    <li>
                            <a id="alert-description-CONTROL_REQUIRED" href="06-control-required">1&nbsp;notification requires control as the Exit BCP</a>
                    </li>
            </ul>
        </div>
        <h2 class="govuk-heading-m govuk-!-width-three-quarters" id="no-match-title">The commodity details on these notifications and the customs declaration do not match</h2>
        <p class="govuk-body">The details that do not match are (one of the following):</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Commodity code</li>
          <li>Net weight</li>
          <li>Number of animals</li>
        </ul>
      
        <div class="notification-list govuk-!-margin-top-6">
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDPP.GB.2024.1006101
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      06029070
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Estimated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-0">
                      4 June 2024, 19:00
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">FR12345
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDPP.GB.2024.1006101/CHED-overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDPP.GB.2024.1006146
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      06029070
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Estimated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-1">
                      28 May 2024, 19:00
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">FR12345
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDPP.GB.2024.1006146/CHED-overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDP.GB.2024.1006090
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      02042210
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Updated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-2">
                      26 May 2024, 08:30
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">perf-identification
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDP.GB.2024.1006090/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDP.GB.2024.1006081
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      02042210
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Updated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-3">
                      26 May 2024, 04:55
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">perf-identification
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDP.GB.2024.1006081/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDP.GB.2024.1005348
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      020110
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Updated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-4">
                      21 May 2024, 13:25
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">2345
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDP.GB.2024.1005348/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDA.GB.2024.1006096
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      0103
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Estimated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-5">
                      14 May 2024, 22:00
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">1234abc
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDA.GB.2024.1006096/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDP.GB.2024.1006144
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      02102090
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Estimated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-6">
                      14 May 2024, 15:20
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">2345
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDP.GB.2024.1006144/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDP.GB.2024.1006083
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      02109990
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Estimated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-7">
                      14 May 2024, 10:15
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">2345
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDP.GB.2024.1006083/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDP.GB.2024.1003219
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      02042210
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Updated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-8">
                      7 May 2024, 12:05
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">perf-identification
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDP.GB.2024.1003219/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDP.GB.2024.1002845
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      02042210
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Updated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-9">
                      6 May 2024, 07:00
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">perf-identification
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDP.GB.2024.1002845/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDP.GB.2024.1001891
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      02042210
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Updated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-10">
                      5 May 2024, 19:30
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">1
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDP.GB.2024.1001891/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDP.GB.2024.1001884
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      02042210
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Updated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-11">
                      5 May 2024, 19:30
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">perf-identification
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDP.GB.2024.1001884/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDD.GB.2024.1001288
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      070820
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Estimated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-12">
                      1 May 2024, 11:11
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">1
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDD.GB.2024.1001288/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDP.GB.2024.1000503
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      18063290
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Estimated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-13">
                      1 May 2024, 11:11
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">11
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDP.GB.2024.1000503/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDA.GB.2024.1000715
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      0101
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Updated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-14">
                      25 April 2024, 14:35
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">2345
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDA.GB.2024.1000715/overview">View notification
                    </a>
                </div>
              </dl>
              <dl class="notification-list__row govuk-!-margin-top-3">
                <div class="notification-list__grid-row">
                  <div class="notification-list__grid-column-30">
                    <dt class="notification-list__heading" id="reference-number">Reference Number</dt>
                    <dd class="notification-list__value">
                      CHEDA.GB.2024.1000255
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20">
                    <dt class="notification-list__heading" id="commodity">Commodity</dt>
                    <dd class="notification-list__value">
                      03089010
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-20 govuk-!-margin-right-6">
                    <dt class="notification-list__heading">Updated arrival time</dt>
                    <dd class="notification-list__value" id="arrival-date-15">
                      23 April 2024, 16:20
                    </dd>
                  </div>
                  <div class="notification-list__grid-column-25">
                    <dt class="notification-list__heading" id="transport-id">Transport identification</dt>
                    <dd class="notification-list__value">876
                    </dd>
                  </div>
                </div>
                <div class="notification-list__links">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-3" href="/decision/vnet/protected/bip-notifications/CHEDA.GB.2024.1000255/overview">View notification
                    </a>
                </div>
              </dl>
            <nav class="pagination" aria-label="Pagination">
              <ul class="pagination-list">
              </ul>
            </nav>
        </div>
    </div>
  </div>
</main>

{% endblock %}
