{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>


<div class="navigation-links">
    <a href="5-upload-success" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>

   <div class="navigation-links__divider">|</div>
<div class="govuk-breadcrumbs breadcrumbs--next-to-back">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="7-notification-hub">Notification hub</a>
      </li>
    </ol>
  </div>




  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Plants</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="/notification/vnet/protected/notifications/address-book">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
</div>

<div class="govuk-!-padding-top-6">
    <span class="heading-tertiary">
        <span id="reference-number">DRAFT.GB.2022.TEST</span>
            <span> - CHEDPP</span>
    </span>
</div>
 <main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row " id="">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl " id="page-primary-title">Check uploaded commodity details</h1>
      <p class="govuk-body">Ordered by commodity code</p>
      <h2 class="govuk-heading-s cloning-grid-row">10 out of 498 commodity lines</h2>
    </div>
 </div>


 <div class="govuk-grid-row commodities-summary-csv">
        <div class="govuk-grid-column-one-third divider-summary">
          <span class="commodity-header-column" >Commodity code,</span>
          <span class="commodity-header-column-2" >Commodity group</span>
        </div>
        <div class="govuk-grid-column-one-third divider-summary" >
          <span class="commodity-header-column">Genus and species, </span>
          <span class="commodity-header-column-2">EPPO, Variety</span>
        </div>
        <div class="govuk-grid-column-one-third divider-summary">
            <span class="commodity-header-column">Packages, quantities,</span>
            <span class="commodity-header-column-2">Net weight</span>
            {# <span class="commodity-header-column-2" style="font-weight:500;">(Controlled atmosphere container - YES/NO)</span> #}
         
        </div>
  </div>


 <div class="govuk-grid-row commodities-summary-csv">
        <div class="govuk-grid-column-one-third divider-summary">
          <span class="commodity-header-column">06011010</span>
          <span class="commodity-data-column"></span>
          <span class="commodity-data-column-2">Plants for planting</span>
        </div>
        <div class="govuk-grid-column-one-third divider-summary">
          <span class="commodity-header-column">Albuca bracteata</span>
          <span class="commodity-data-column-2">ARBWL</span>
          <span class="commodity-data-column-2">Variety XXXXXX / Class </span>
        </div>
       
         <div class="govuk-grid-column-one-third divider-summary" >
           
            
          <span class="commodity-header-column">5 pallets x 12 stems</span>
        
           <span class="commodity-data-column-2" >30kg</span>
            {# <span class="commodity-data-column-2">(No)</span> #}
          </div>
  </div>

  <div class="govuk-grid-row commodities-summary-csv">
        <div class="govuk-grid-column-one-third divider-summary">
          <span class="commodity-header-column">06011010</span>
          <span class="commodity-data-column"></span>
          <span class="commodity-data-column-2">Plants for planting</span>
        </div>
        <div class="govuk-grid-column-one-third divider-summary">
          <span class="commodity-header-column">Albuca bracteata</span>
          <span class="commodity-data-column-2">ARBWL</span>
          <span class="commodity-data-column-2">Variety XXXXXX / Class </span>
        </div>
       
         <div class="govuk-grid-column-one-third divider-summary" >
           
            
          <span class="commodity-header-column">5 pallets x 12 stems</span>
        
           <span class="commodity-data-column-2" >30kg</span>
            {# <span class="commodity-data-column-2">(No)</span> #}
          </div>
  </div>

  <div class="govuk-grid-row commodities-summary-csv">
        <div class="govuk-grid-column-one-third divider-summary">
          <span class="commodity-header-column">06011010</span>
          <span class="commodity-data-column"></span>
          <span class="commodity-data-column-2">Plants for planting</span>
        </div>
        <div class="govuk-grid-column-one-third divider-summary">
          <span class="commodity-header-column">Albuca bracteata</span>
          <span class="commodity-data-column-2">ARBWL</span>
          <span class="commodity-data-column-2">Variety XXXXXX / Class </span>
        </div>
       
         <div class="govuk-grid-column-one-third divider-summary" >
           
            
          <span class="commodity-header-column">5 pallets x 12 stems</span>
        
           <span class="commodity-data-column-2" >30kg</span>
            {# <span class="commodity-data-column-2">(No)</span> #}
          </div>
  </div>

  <div class="govuk-grid-row commodities-summary-csv">
        <div class="govuk-grid-column-one-third divider-summary">
          <span class="commodity-header-column">06011010</span>
          <span class="commodity-data-column"></span>
          <span class="commodity-data-column-2">Plants for planting</span>
        </div>
        <div class="govuk-grid-column-one-third divider-summary">
          <span class="commodity-header-column">Albuca bracteata</span>
          <span class="commodity-data-column-2">ARBWL</span>
          <span class="commodity-data-column-2">Variety XXXXXX / Class </span>
        </div>
       
         <div class="govuk-grid-column-one-third divider-summary" >
           
            
          <span class="commodity-header-column">5 pallets x 12 stems</span>
        
           <span class="commodity-data-column-2" >30kg</span>
            {# <span class="commodity-data-column-2">(No)</span> #}
          </div>
  </div>
<p></p>

   <div class="commodity-details-commodity-wrapper">
  
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-one-third">
          <span class="commodity-value">Commodity Code:</span>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <span class="commodity-header">0808108090</span>
        </div>
        
      </div>

    

      <div class="govuk-grid-row  ">
        <div class="govuk-grid-column-one-third">
          <span class="commodity-value">Genus and species or EPPO:</span>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <span class="commodity-header">Malus domestica - ABWLA</span>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <span class="commodity-value" style="font-size:16px; padding-top:0;">Commodity group:</span>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <span class="commodity-header" style="font-size:16px; padding-top:0;">Plants for planting</span>
        </div>     
      </div>
       <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <span class="commodity-value" style="font-size:16px; padding-top:0;">Details:</span>
          {# <span class="commodity-value" style="font-size:14px;">Commodity group, Finished or propagating</span> #}
        </div>
        <div class="govuk-grid-column-two-thirds">
          <span class="commodity-header" style="font-size:16px; padding-top:0;">Variety XXXX Class, intended use, Finished</span>
        </div>     
      </div>



      <div class="govuk-grid-row packages-bg">
      
        <div class="govuk-grid-column-one-third">
          <span class="commodity-value">Package number, type:</span>
           <span class="commodity-header">20 cases</span>
        </div>
        
        <div class="govuk-grid-column-one-third">
          <span class="commodity-value">Quantity number, type:</span>
           <span class="commodity-header">26 pieces</span>
        </div>
          
          <div class="govuk-grid-column-one-third" >
            <span class="commodity-value">Net weight:<br>
             <span class="commodity-header">50 kg</span>
            </div>
</div>

           <div class="govuk-grid-row packages-bg" style="padding-top:0;">
            <div class="govuk-grid-column-full" style="padding-top:5px;">
              <span class="commodity-value" style="font-size:16px; padding-top:0;">Not a controlled atmosphere container</span>
            
          </div>
           </div>


      

       
    </div>
    <div class="commodity-details-commodity-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Commodity Code</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">0808108090</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Description</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Other</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Genus and species</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Malus angustifolia</span>
        </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Net weight</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Packages</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Package type</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity</span>
          </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value"> kg/units</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">2</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">Bag</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value"></span>
          </div>
      </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity type</span>
          </div>
        </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value"></span>
          </div>
        </div>
    </div>
    <div class="commodity-details-commodity-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Commodity Code</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">0808108090</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Description</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Other</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Genus and species</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Malus bracteata</span>
        </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Net weight</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Packages</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Package type</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity</span>
          </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value"> kg/units</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">2</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">Bag</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value"></span>
          </div>
      </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity type</span>
          </div>
        </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value"></span>
          </div>
        </div>
    </div>
    <div class="commodity-details-commodity-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Commodity Code</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">0808108090</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Description</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Other</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Genus and species</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Malus brevipes</span>
        </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Net weight</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Packages</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Package type</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity</span>
          </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">929.26 kg/units</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">2</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">Bag</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">929.26</span>
          </div>
      </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity type</span>
          </div>
        </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">Kilograms</span>
          </div>
        </div>
    </div>
    <div class="commodity-details-commodity-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Commodity Code</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">0808108090</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Description</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Other</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Genus and species</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Malus coronaria</span>
        </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Net weight</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Packages</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Package type</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity</span>
          </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">929.26 kg/units</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">2</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">Bag</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">929.26</span>
          </div>
      </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity type</span>
          </div>
        </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">Kilograms</span>
          </div>
        </div>
    </div>
    <div class="commodity-details-commodity-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Commodity Code</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">0808108090</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Description</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Other</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Genus and species</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Malus florentina</span>
        </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Net weight</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Packages</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Package type</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity</span>
          </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">929.26 kg/units</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">2</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">Bag</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">929.26</span>
          </div>
      </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity type</span>
          </div>
        </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">Kilograms</span>
          </div>
        </div>
    </div>
    <div class="commodity-details-commodity-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Commodity Code</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">0808108090</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Description</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Other</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Genus and species</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Malus floribunda</span>
        </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Net weight</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Packages</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Package type</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity</span>
          </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">929.26 kg/units</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">2</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">Bag</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">929.26</span>
          </div>
      </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity type</span>
          </div>
        </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">Kilograms</span>
          </div>
        </div>
    </div>
    <div class="commodity-details-commodity-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Commodity Code</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">0808108090</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Description</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Other</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Genus and species</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Malus formosana</span>
        </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Net weight</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Packages</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Package type</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity</span>
          </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">929.26 kg/units</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">2</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">Bag</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">929.26</span>
          </div>
      </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity type</span>
          </div>
        </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">Kilograms</span>
          </div>
        </div>
    </div>
    <div class="commodity-details-commodity-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Commodity Code</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">0808108090</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Description</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Other</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Genus and species</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Malus fusca</span>
        </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Net weight</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Packages</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Package type</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity</span>
          </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">929.26 kg/units</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">2</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">Bag</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">929.26</span>
          </div>
      </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity type</span>
          </div>
        </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">Kilograms</span>
          </div>
        </div>
    </div>
    <div class="commodity-details-commodity-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Commodity Code</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">0808108090</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Description</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Other</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <span class="commodity-header">Genus and species</span>
        </div>
        <div class="govuk-grid-column-one-half">
          <span class="commodity-value">Malus glabrata</span>
        </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Net weight</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Packages</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-header">Package type</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity</span>
          </div>
      </div>

      <div class="govuk-grid-row cloning-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">929.26 kg/units</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">2</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="commodity-value">Bag</span>
        </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">929.26</span>
          </div>
      </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-header">Quantity type</span>
          </div>
        </div>

        <div class="govuk-grid-row cloning-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="commodity-value">Kilograms</span>
          </div>
        </div>
    </div>

    <nav class="pagination" aria-label="Pagination">
      <ul class="pagination-list">
          <li class="pagination-item pagination-item-next">
              <a href="?ehcRef=188543211234&amp;origin=NL&amp;certType=CHEDPP&amp;page=2#cloning-commodities-summary" class="pagination-link" rel="next" id="next-page">
                <span class="pagination-link-title">
                   Next page
                  <svg class="pagination-link-icon" xmlns="https://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </span>
                <span class="govuk-visually-hidden">:</span>
                <span class="pagination-link-label">2 of 2</span>
              </a>
          </li>
      </ul>
    </nav>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2">What to do if there is incorrect information</h3>
<p class="govuk-!-margin-bottom-9 govuk-!-margin-top-0">If there are any errors, you need to <a href="4-upload">upload a new CSV</a>, which will replace this information.</p>
  
      {# <p class="govuk-!-margin-bottom-9 govuk-!-margin-top-0"><a href="4-upload">
          Re upload CSV 
        </a></p> #}
   <a href="9-additional-details" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
         Continue with your notification
        </a>
</main>

{% endblock %}
