
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style type="text/css">
  @import url("/public/css/inspector.css");
</style>

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Andrew Inspector-Tester</span>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="address-book" href="/notification/tst/protected/notifications/address-book">
        Address book
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="blank-certificates-link" href="/decision/tst/protected/bip-notifications/CHEDs/blank">
        Blank CHEDs
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
  <a href="#" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  <div class="navigation-links__divider">|</div>
  <div class="govuk-breadcrumbs breadcrumbs--next-to-back">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link govuk" href="dashboard-proposed" id="navigation-dashboard-link">Dashboard</a>
      </li>
    </ol>
  </div></div>

  




<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row" id="high-priority-tasks-page">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl" id="page-primary-title">High priority tasks</h1>
      <div class="govuk-tabs" data-module="govuk-tabs">

        <ul class="govuk-tabs__list" role="tablist">
          <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="documentary-proposed" id="tab_" role="tab" aria-controls="" aria-selected="false" tabindex="-1">
              Outstanding documentary checks
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
            <a class="govuk-tabs__tab high-priority-tabs" id="consignment-tab" role="tab" aria-controls="consignments-to-inspect" aria-selected="true" tabindex="1">
              Consignments to inspect
            </a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="consignments-to-inspect" role="tabpanel" aria-labelledby="consignment-tab">
          <p class="govuk-body">
            All of these consignments are on their way to this BCP and require inspection.
          </p>
          <form method="post" class="search-and-filter-form">
              <input name="crumb" type="hidden" value="Ghrh6doX6nIRmsRjAp7RwDAFz09hUnLTIlFKDfRrPrI">
              <div class="govuk-form-group search-panel">
                  <div class="govuk-heading-m">Search consignments</div>
          
                  <div class="govuk-grid-row govuk-!-margin-bottom-5">
                      <div class="govuk-grid-column-one-third">
                          <div class="govuk-form-group" id="arrival-date-filter">
                              <label class="govuk-label--s">Arrival date </label>
          
                              <div class="govuk-radios__item govuk-radios--small">
                                  <input class="govuk-radios__input" id="yesterday" name="dateTemplate" type="radio" value="yesterday">
                                  <label class="govuk-label govuk-radios__label" for="yesterday">
                                      Yesterday
                                      <p class="govuk-label govuk-!-font-size-14"> Overdue or delayed consignments</p>
                                  </label>
                              </div>
                              <div class="govuk-radios__item govuk-radios--small">
                                  <input class="govuk-radios__input" id="today" name="dateTemplate" type="radio" value="today">
                                  <label class="govuk-label govuk-radios__label" for="today">
                                      Today
                                  </label>
                              </div>
                              <div class="govuk-radios__item govuk-radios--small">
                                  <input class="govuk-radios__input" id="tomorrow" name="dateTemplate" type="radio" value="tomorrow">
                                  <label class="govuk-label govuk-radios__label" for="tomorrow">
                                      Tomorrow
                                  </label>
                              </div>
                          </div>
                      </div>
                      <div class="govuk-grid-column-one-third">
                          <div class="govuk-form-group">
                              <div class="govuk-form-group " id="search-time">
                                  <fieldset class="govuk-fieldset">
                                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                          Start time range (optional)
                                          <span class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0"></span>
                                      </legend>
                                      <span class="form-label-bold"></span>
                                      
                                      
                                      <div class="govuk-date-input" id="start-time">
                                          <div class="govuk-date-input__item date-input-hour">
                                              <div class="govuk-form-group">
                                                  <label class="govuk-label govuk-date-input__label" for="start-time-hour">
                                                      Hour
                                                  </label>
                                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-time-hour" name="start-time-hour" type="text" maxlength="2" inputmode="numeric" value="">
                                              </div>
                                          </div>
                                          <div class="govuk-date-input__item date-input-minute">
                                              <div class="govuk-form-group">
                                                  <label class="govuk-label govuk-date-input__label" for="start-time-minute">
                                                      Minutes
                                                  </label>
                                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-time-minute" name="start-time-minute" type="text" maxlength="2" inputmode="numeric" value="">
                                              </div>
                                          </div>
                                      </div>
                                  </fieldset>
                              </div>
                          </div>
                      </div>
                      <div class="govuk-grid-column-one-third">
                          <div class="govuk-form-group">
                              <div class="govuk-form-group " id="search-time">
                                  <fieldset class="govuk-fieldset">
                                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                          End time range (optional)
                                          <span class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0"></span>
                                      </legend>
                                      <span class="form-label-bold"></span>
                                      
                                      
                                      <div class="govuk-date-input" id="end-time">
                                          <div class="govuk-date-input__item date-input-hour">
                                              <div class="govuk-form-group">
                                                  <label class="govuk-label govuk-date-input__label" for="end-time-hour">
                                                      Hour
                                                  </label>
                                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="end-time-hour" name="end-time-hour" type="text" maxlength="2" inputmode="numeric" value="">
                                              </div>
                                          </div>
                                          <div class="govuk-date-input__item date-input-minute">
                                              <div class="govuk-form-group">
                                                  <label class="govuk-label govuk-date-input__label" for="end-time-minute">
                                                      Minutes
                                                  </label>
                                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="end-time-minute" name="end-time-minute" type="text" maxlength="2" inputmode="numeric" value="">
                                              </div>
                                          </div>
                                      </div>
                                  </fieldset>
                              </div>
                          </div>
                      </div>
                  </div>
          
                <div class="govuk-grid-row govuk-!-margin-bottom-5">
                    <div class="govuk-grid-column-one-third">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="bipSelect">BCP</label>
                        <select class="govuk-select govuk-!-width-full" id="bipSelect" name="selectedBcp">
                          <option value="">All</option>
                            <option id="bip-select-option" value="GBBOH4PP">
                              (Hurn) Bournemouth Airport (plants) (undesignated) - GBBOH4PP
                            </option>
                            <option id="bip-select-option" value="GBAHB4PP">
                              Aberdeen Harbour Board (plants) - GBAHB4PP
                            </option>
                            <option id="bip-select-option" value="ESZJF7">
                              Agent 3 Service LTD - ESZJF7
                            </option>
                            <option id="bip-select-option" value="GBABP4PP">
                              Associated British Ports, Ayr (Other Objects) - GBABP4PP
                            </option>
                            <option id="bip-select-option" value="GBAVM4PP">
                              Avonmouth (plants) (undesignated) - GBAVM4PP
                            </option>
                            <option id="bip-select-option" value="GBBCW4PP">
                              Baltic Wharf (plants) (undesignated) - GBBCW4PP
                            </option>
                            <option id="bip-select-option" value="GBBEL1">
                              Belfast Airport - GBBEL1
                            </option>
                            <option id="bip-select-option" value="DRIO">
                              Belfast Pharmaceuticals - DRIO
                            </option>
                            <option id="bip-select-option" value="GBBEL4">
                              Belfast Port - GBBEL4
                            </option>
                            <option id="bip-select-option" value="BEL112">
                              Belfast Port - BEL112
                            </option>
                            <option id="bip-select-option" value="GBBXH4PP">
                              Birmingham International Airport (plants) - GBBXH4PP
                            </option>
                            <option id="bip-select-option" value="GBBRS1">
                              Bristol - GBBRS1
                            </option>
                            <option id="bip-select-option" value="GBPBY017">
                              Bristol - GBPBY017
                            </option>
                            <option id="bip-select-option" value="GB2133">
                              Bristol - GB2133
                            </option>
                            <option id="bip-select-option" value="GBBUC4PP">
                              Buckie Harbour (Other Objects) - GBBUC4PP
                            </option>
                            <option id="bip-select-option" value="GBCTM4PP">
                              Chatham (plants) (undesignated) - GBCTM4PP
                            </option>
                            <option id="bip-select-option" value="REL95">
                              Chicken Solutions - REL95
                            </option>
                            <option id="bip-select-option" value="CONPNT">
                              Control Point - CONPNT
                            </option>
                            <option id="bip-select-option" value="GBBQR4PP">
                              CP - B&amp;Q Redhouse Distribution Centre (plants) (undesignated) - GBBQR4PP
                            </option>
                            <option id="bip-select-option" value="GBBER4PP">
                              CP - Berryplants Ltd. (plants) (undesignated) - GBBER4PP
                            </option>
                            <option id="bip-select-option" value="GBBBL4PP">
                              CP - Bon Bloemen Ltd. (plants) (undesignated) - GBBBL4PP
                            </option>
                            <option id="bip-select-option" value="GBBHN4PP">
                              CP - Bordon Hill Nurseries (plants) (undesignated) - GBBHN4PP
                            </option>
                            <option id="bip-select-option" value="GBDNL4PP">
                              CP - Dingle Nurseries Ltd. (plants) (undesignated) - GBDNL4PP
                            </option>
                            <option id="bip-select-option" value="GBDVA4PP">
                              CP - Distribution Van Services Ltd. (Ashford) (plants) (undesignated) - GBDVA4PP
                            </option>
                            <option id="bip-select-option" value="GBDVM4PP">
                              CP - Distribution Van Services Ltd. (Milton Keynes) (plants) (undesignated) - GBDVM4PP
                            </option>
                            <option id="bip-select-option" value="GBDCE4PP">
                              CP - Dnata City East Unit 2 (plants) (undesignated) - GBDCE4PP
                            </option>
                            <option id="bip-select-option" value="GBDHN4PP">
                              CP - Double H Nurseries (plants) (undesignated) - GBDHN4PP
                            </option>
                            <option id="bip-select-option" value="GBEOL4PP">
                              CP - Earley Ornamentals Ltd. (plants) (undesignated) - GBEOL4PP
                            </option>
                            <option id="bip-select-option" value="GBFLL4PP">
                              CP - FloraLinc Ltd. (plants) (undesignated) - GBFLL4PP
                            </option>
                            <option id="bip-select-option" value="GBFPL4PP">
                              CP - Florna Plants Ltd. (plants) (undesignated) - GBFPL4PP
                            </option>
                            <option id="bip-select-option" value="GBFFL4PP">
                              CP - Flower Freight Ltd. (plants) (undesignated) - GBFFL4PP
                            </option>
                            <option id="bip-select-option" value="GBFLO4PP">
                              CP - Flowervision (Birmingham) Ltd. (plants) (undesignated) - GBFLO4PP
                            </option>
                            <option id="bip-select-option" value="GBFBL4PP">
                              CP - Flowervision (Bristol) Ltd. (plants) (undesignated) - GBFBL4PP
                            </option>
                            <option id="bip-select-option" value="GBFEA4PP">
                              CP - Flowervision (East Anglia) Ltd. (plants) (undesignated) - GBFEA4PP
                            </option>
                            <option id="bip-select-option" value="GBFVL4PP">
                              CP - Flowervision (Lancashire)Ltd. (Plants) (Undesignated) - GBFVL4PP
                            </option>
                            <option id="bip-select-option" value="GBFML4PP">
                              CP - Flowervision (Middlesex) Ltd. (plants) (undesignated) - GBFML4PP
                            </option>
                            <option id="bip-select-option" value="GBFNL4PP">
                              CP - Flowervision (Nottingham) Ltd. (plants) (undesignated) - GBFNL4PP
                            </option>
                            <option id="bip-select-option" value="GBFSO4PP">
                              CP - Flowervision (Southampton) Ltd. (plants) (undesignated) - GBFSO4PP
                            </option>
                            <option id="bip-select-option" value="GBFOR4PP">
                              CP - Forwarding Line Ltd. (plants) (undesignated) - GBFOR4PP
                            </option>
                            <option id="bip-select-option" value="GBFSL4PP">
                              CP - Fresh Service Ltd. (plant products) (undesignated) - GBFSL4PP
                            </option>
                            <option id="bip-select-option" value="GBFRE4PP">
                              CP - FreshLinc Ltd. (plants) (undesignated) - GBFRE4PP
                            </option>
                            <option id="bip-select-option" value="GBGPL4PP">
                              CP - Green Plus Ltd. (plants) (undesignated) - GBGPL4PP
                            </option>
                            <option id="bip-select-option" value="GBGRE4PP">
                              CP - Greenwood Plants (plants) (undesignated) - GBGRE4PP
                            </option>
                            <option id="bip-select-option" value="GBHZL4PP">
                              CP - HZ Logistics UK Ltd. (plants) (undesignated) - GBHZL4PP
                            </option>
                            <option id="bip-select-option" value="GBKIE4PP">
                              CP - Kieft &amp; Sons Ltd (plants) (undesignated) - GBKIE4PP
                            </option>
                            <option id="bip-select-option" value="GBLEM4PP">
                              CP - Lemkes Ltd. (plants) (undesignated) - GBLEM4PP
                            </option>
                            <option id="bip-select-option" value="GBLOW4PP">
                              CP - Lowlands Nursery (plants) (undesignated) - GBLOW4PP
                            </option>
                            <option id="bip-select-option" value="GBMFL4PP">
                              CP - Marilliam Flowers Ltd. (plants) (undesignated) - GBMFL4PP
                            </option>
                            <option id="bip-select-option" value="GBMOR4PP">
                              CP - Morrisons Flowerworld (plants) (undesignated) - GBMOR4PP
                            </option>
                            <option id="bip-select-option" value="GBMWW4PP">
                              CP - MWW - Altitude (plants) (undesignated) - GBMWW4PP
                            </option>
                            <option id="bip-select-option" value="GBPNL4PP">
                              CP - Provender Nurseries Ltd. (plants) (undesignated) - GBPNL4PP
                            </option>
                            <option id="bip-select-option" value="GBRZU4PP">
                              CP - Rijk Zwaan UK Ltd. (plants) (undesignated) - GBRZU4PP
                            </option>
                            <option id="bip-select-option" value="GBSHS4PP">
                              CP - Salad Harvesting Services (other objects) (undesignated) - GBSHS4PP
                            </option>
                            <option id="bip-select-option" value="GBTAM4PP">
                              CP - Tamar Nurseries (plants) (undesignated) - GBTAM4PP
                            </option>
                            <option id="bip-select-option" value="GBTLL4PP">
                              CP - Ted Langley Ltd. (plants) (undesignated) - GBTLL4PP
                            </option>
                            <option id="bip-select-option" value="GBTFB4PP">
                              CP - The Flower Bank Ltd. (plants) (undesignated) - GBTFB4PP
                            </option>
                            <option id="bip-select-option" value="GBTBW4PP">
                              CP - Tom Brown Wholesale Florists Ltd. (plants) (undesignated) - GBTBW4PP
                            </option>
                            <option id="bip-select-option" value="GBVOL4PP">
                              CP - Volmary Ltd. (plants) (undesignated) - GBVOL4PP
                            </option>
                            <option id="bip-select-option" value="GBWSF4PP">
                              CP - Webshopflowers.nl Ltd. (plants) (undesignated) - GBWSF4PP
                            </option>
                            <option id="bip-select-option" value="GBWES4PP">
                              CP - Westflor UK Ltd. (plants) (undesignated) - GBWES4PP
                            </option>
                            <option id="bip-select-option" value="GBYOU4PP">
                              CP - You Garden (plants) (undesignated) - GBYOU4PP
                            </option>
                            <option id="bip-select-option" value="test">
                              Defra - test
                            </option>
                            <option id="bip-select-option" value="GBDSA4P">
                              Doncaster Sheffield Airport - GBDSA4P
                            </option>
                            <option id="bip-select-option" value="DOVERPOE">
                              Dover - POE - DOVERPOE
                            </option>
                            <option id="bip-select-option" value="GBDOV1P">
                              Dover Port - GBDOV1P
                            </option>
                            <option id="bip-select-option" value="GBDOVE2">
                              Dover Port (Eastern) (Plants) - GBDOVE2
                            </option>
                            <option id="bip-select-option" value="GBDOV1PP">
                              Dover Port (Western) (plants) - GBDOV1PP
                            </option>
                            <option id="bip-select-option" value="GBDOV2P">
                              Dover West (Deep Sea Terminal) - GBDOV2P
                            </option>
                            <option id="bip-select-option" value="GBDND4PP">
                              Dundee Port (Other Objects) - GBDND4PP
                            </option>
                            <option id="bip-select-option" value="GBEMA4">
                              East Midlands Airport - GBEMA4
                            </option>
                            <option id="bip-select-option" value="GBEMA4PP">
                              East Midlands Airport (plants) - GBEMA4PP
                            </option>
                            <option id="bip-select-option" value="GBEDI4">
                              Edinburgh Airport (animals) - GBEDI4
                            </option>
                            <option id="bip-select-option" value="GBEDI4PP">
                              Edinburgh Airport (plants) - GBEDI4PP
                            </option>
                            <option id="bip-select-option" value="GBFXT1">
                              Felixstowe - GBFXT1
                            </option>
                            <option id="bip-select-option" value="FL1244">
                              Felixstowe - FL1244
                            </option>
                            <option id="bip-select-option" value="GBFSH4PP">
                              Fishguard Harbour (plants) (undesignated) - GBFSH4PP
                            </option>
                            <option id="bip-select-option" value="GBFOL4PP">
                              Folkestone (plants) (undesignated) - Sevington only - GBFOL4PP
                            </option>
                            <option id="bip-select-option" value="GBLGW1">
                              Gatwick Airport - GBLGW1
                            </option>
                            <option id="bip-select-option" value="GBLGW4">
                              Gatwick Airport (animals) - GBLGW4
                            </option>
                            <option id="bip-select-option" value="GBLGW4PP">
                              Gatwick Airport (plants) - GBLGW4PP
                            </option>
                            <option id="bip-select-option" value="GBGLA4PP">
                              Glasgow Airport (plants) - GBGLA4PP
                            </option>
                            <option id="bip-select-option" value="GBHUL1G">
                              Goole - GBHUL1G
                            </option>
                            <option id="bip-select-option" value="GBGOO4PP">
                              Goole Port (plants) (undesignated) - GBGOO4PP
                            </option>
                            <option id="bip-select-option" value="GBDPE30">
                              Grangemouth - GBDPE30
                            </option>
                            <option id="bip-select-option" value="GBGRP4PP">
                              Grangemouth Port (plants) - GBGRP4PP
                            </option>
                            <option id="bip-select-option" value="GBGOT4PP">
                              Greenock Ocean Terminal (Peel Ports) (Other Objects) - GBGOT4PP
                            </option>
                            <option id="bip-select-option" value="GBIMM20">
                              Grimsby &amp; Immingham - GBIMM20
                            </option>
                            <option id="bip-select-option" value="GBGRM4PP">
                              Grimsby Port (plants) (undesignated) - GBGRM4PP
                            </option>
                            <option id="bip-select-option" value="GBHRT4PP">
                              Hartlepool (plants) (undesignated) - GBHRT4PP
                            </option>
                            <option id="bip-select-option" value="GBHRW1P">
                              Harwich - GBHRW1P
                            </option>
                            <option id="bip-select-option" value="GBHCH4PP">
                              Harwich International Port (plants) - GBHCH4PP
                            </option>
                            <option id="bip-select-option" value="GBLHR1P">
                              Heathrow Airport - APH (products) - GBLHR1P
                            </option>
                            <option id="bip-select-option" value="GBLHR4P">
                              Heathrow Airport - Eurobip (products) - GBLHR4P
                            </option>
                            <option id="bip-select-option" value="GBLHR4A">
                              Heathrow Airport - HARC (animals) - GBLHR4A
                            </option>
                            <option id="bip-select-option" value="GBLHR4PP">
                              Heathrow Airport (plants) - GBLHR4PP
                            </option>
                            <option id="bip-select-option" value="GBHBT1PP">
                              HES Humber Bulk Terminal (Plant products, Other objects) - GBHBT1PP
                            </option>
                            <option id="bip-select-option" value="GBHYS4PP">
                              Heysham Port (plants) (undesignated) - GBHYS4PP
                            </option>
                            <option id="bip-select-option" value="GBHLY4PP">
                              Holyhead Port (plants) (undesignated) - GBHLY4PP
                            </option>
                            <option id="bip-select-option" value="GBHUL21">
                              Hull - GBHUL21
                            </option>
                            <option id="bip-select-option" value="GBHLL4PP">
                              Hull Port (plants) - GBHLL4PP
                            </option>
                            <option id="bip-select-option" value="GBIMM4PP">
                              Immingham Port (plants) - GBIMM4PP
                            </option>
                            <option id="bip-select-option" value="GBIVG1">
                              Invergordon - GBIVG1
                            </option>
                            <option id="bip-select-option" value="GBIVG4PP">
                              Invergordon (Other Objects) - GBIVG4PP
                            </option>
                            <option id="bip-select-option" value="GBIVN4PP">
                              Inverness Harbour (Other Objects) - GBIVN4PP
                            </option>
                            <option id="bip-select-option" value="GBIPS1P">
                              Ipswich - GBIPS1P
                            </option>
                            <option id="bip-select-option" value="GBIPS4PP">
                              Ipswich Port  (plants) (undesignated) - GBIPS4PP
                            </option>
                            <option id="bip-select-option" value="GBKIL05">
                              Killingholme - GBKIL05
                            </option>
                            <option id="bip-select-option" value="GBKLG4PP">
                              Killingholme Port (plants) - GBKLG4PP
                            </option>
                            <option id="bip-select-option" value="GBKLP4PP">
                              Kings Lynn Port (plants) - GBKLP4PP
                            </option>
                            <option id="bip-select-option" value="GBKRK4PP">
                              Kirkcaldy Port (Other Objects) - GBKRK4PP
                            </option>
                            <option id="bip-select-option" value="GBMOW11">
                              Kyleakin - GBMOW11
                            </option>
                            <option id="bip-select-option" value="GBLBA4PP">
                              Leeds Bradford Airport (plants) (undesignated) - GBLBA4PP
                            </option>
                            <option id="bip-select-option" value="GBLTH4PP">
                              Leith Port (Other Objects) - GBLTH4PP
                            </option>
                            <option id="bip-select-option" value="GBLIV1">
                              Liverpool - GBLIV1
                            </option>
                            <option id="bip-select-option" value="GBLPL4PP">
                              Liverpool John Lennon Airport (plants) (undesignated) - GBLPL4PP
                            </option>
                            <option id="bip-select-option" value="GBLIV1PP">
                              Liverpool Port (plants) - GBLIV1PP
                            </option>
                            <option id="bip-select-option" value="GBLGP1">
                              London Gateway - GBLGP1
                            </option>
                            <option id="bip-select-option" value="GBLGP1PP">
                              London Gateway (plants) - GBLGP1PP
                            </option>
                            <option id="bip-select-option" value="GBLSH1">
                              London Sheerness - GBLSH1
                            </option>
                            <option id="bip-select-option" value="GBTHP1">
                              London Thamesport - GBTHP1
                            </option>
                            <option id="bip-select-option" value="ECF123">
                              London Thamesport - ECF123
                            </option>
                            <option id="bip-select-option" value="GBTHP1PP">
                              London Thamesport (plants) - GBTHP1PP
                            </option>
                            <option id="bip-select-option" value="GBTIL1">
                              London Tilbury - GBTIL1
                            </option>
                            <option id="bip-select-option" value="GBTIL09">
                              London Tilbury 2 - GBTIL09
                            </option>
                            <option id="bip-select-option" value="GBLTN4PP">
                              Luton Airport (plants) - GBLTN4PP
                            </option>
                            <option id="bip-select-option" value="GBMNC1">
                              Manchester Airport - GBMNC1
                            </option>
                            <option id="bip-select-option" value="GBMNC4">
                              Manchester Airport (animals) - GBMNC4
                            </option>
                            <option id="bip-select-option" value="GBMNC4PP">
                              Manchester Airport (plants) - GBMNC4PP
                            </option>
                            <option id="bip-select-option" value="GBMEP1P">
                              Manchester Ellesmere port - GBMEP1P
                            </option>
                            <option id="bip-select-option" value="GBMTH4PP">
                              Methil Port (Other Objects) - GBMTH4PP
                            </option>
                            <option id="bip-select-option" value="GBMIL4PP">
                              Milford Haven (plants) (undesignated) - GBMIL4PP
                            </option>
                            <option id="bip-select-option" value="GBMTR4PP">
                              Montrose Port  (Other Objects) - GBMTR4PP
                            </option>
                            <option id="bip-select-option" value="GBNCL4PP">
                              Newcastle Airport (plants) (undesignated) - GBNCL4PP
                            </option>
                            <option id="bip-select-option" value="GBNHV11">
                              Newhaven - GBNHV11
                            </option>
                            <option id="bip-select-option" value="GBNWH4PP">
                              Newhaven Port (plants) - GBNWH4PP
                            </option>
                            <option id="bip-select-option" value="GBPEM4PP">
                              Pembroke Port (plants) (undesignated) - GBPEM4PP
                            </option>
                            <option id="bip-select-option" value="GBPHD1">
                              Peterhead - GBPHD1
                            </option>
                            <option id="bip-select-option" value="GBPLH4PP">
                              Plymouth City Airport (plants) (undesignated) - GBPLH4PP
                            </option>
                            <option id="bip-select-option" value="GBPPO1">
                              Poole - GBPPO1
                            </option>
                            <option id="bip-select-option" value="TOK321">
                              PopCorn Christmas LTD - TOK321
                            </option>
                            <option id="bip-select-option" value="GBBOS4PP">
                              Port of Boston (plants) (undesignated) - GBBOS4PP
                            </option>
                            <option id="bip-select-option" value="GBFXT1PP">
                              Port of Felixstowe (plants) - GBFXT1PP
                            </option>
                            <option id="bip-select-option" value="GBPLY15">
                              Port of Plymouth - GBPLY15
                            </option>
                            <option id="bip-select-option" value="GBPLP4PP">
                              Port of Plymouth (plants) - GBPLP4PP
                            </option>
                            <option id="bip-select-option" value="GBPOP4PP">
                              Port of Poole  (Plants) - GBPOP4PP
                            </option>
                            <option id="bip-select-option" value="GBPOS4PP">
                              Port of Silloth (Other Objects) - GBPOS4PP
                            </option>
                            <option id="bip-select-option" value="GBNCP4PP">
                              Port of Tyne, North Shields (plants) - GBNCP4PP
                            </option>
                            <option id="bip-select-option" value="GBBUR4PP">
                              Port&nbsp;of&nbsp;Burntisland (Other Objects) - GBBUR4PP
                            </option>
                            <option id="bip-select-option" value="GBPTM14">
                              Portsmouth - International Port - GBPTM14
                            </option>
                            <option id="bip-select-option" value="GBPME1P">
                              Portsmouth - Portico Shipping Ltd - GBPME1P
                            </option>
                            <option id="bip-select-option" value="GBPME1PP">
                              Portsmouth (plants) - GBPME1PP
                            </option>
                            <option id="bip-select-option" value="GBPIK4">
                              Prestwick Airport (animals) - GBPIK4
                            </option>
                            <option id="bip-select-option" value="GBPUF04">
                              Purfleet - GBPUF04
                            </option>
                            <option id="bip-select-option" value="GBPFP4PP">
                              Purfleet Port (Plants) - GBPFP4PP
                            </option>
                            <option id="bip-select-option" value="GBROS4PP">
                              Rosyth Port (Other Objects) - GBROS4PP
                            </option>
                            <option id="bip-select-option" value="GBSCR07">
                              Scrabster Harbour - GBSCR07
                            </option>
                            <option id="bip-select-option" value="GBSEV25">
                              Sevington BCP - GBSEV25
                            </option>
                            <option id="bip-select-option" value="GBSNP4PP">
                              Sheerness ((undesignated (Plant Products) - Green Bananas only) - GBSNP4PP
                            </option>
                            <option id="bip-select-option" value="GBSHP4PP">
                              Shoreham Port (plants) - GBSHP4PP
                            </option>
                            <option id="bip-select-option" value="GBSOU1">
                              Southampton - GBSOU1
                            </option>
                            <option id="bip-select-option" value="GBSOU1PP">
                              Southampton (plants) - GBSOU1PP
                            </option>
                            <option id="bip-select-option" value="GBSTN4A">
                              Stansted Airport (animals) - GBSTN4A
                            </option>
                            <option id="bip-select-option" value="GBSTN4PP">
                              Stansted Airport (plants) - GBSTN4PP
                            </option>
                            <option id="bip-select-option" value="GBSTN4P">
                              Stansted Airport (products) - GBSTN4P
                            </option>
                            <option id="bip-select-option" value="GBTEEP1">
                              Teesport - GBTEEP1
                            </option>
                            <option id="bip-select-option" value="GBTES4PP">
                              Teesport (plants) (undesignated) - GBTES4PP
                            </option>
                            <option id="bip-select-option" value="GBTEE4PP">
                              Teesside International Airport Limited (plant products) - GBTEE4PP
                            </option>
                            <option id="bip-select-option" value="GBBPC4PP">
                              The Bristol Port Company - Royal Portbury Dock (plants) - GBBPC4PP
                            </option>
                            <option id="bip-select-option" value="gh123456">
                              thisistest2kelabaal - gh123456
                            </option>
                            <option id="bip-select-option" value="GBTLB4PP">
                              Tilbury 2 Ro-Ro Terminal (plants) - GBTLB4PP
                            </option>
                            <option id="bip-select-option" value="GBTIL1PP">
                              Tilbury Port (plants) - GBTIL1PP
                            </option>
                            <option id="bip-select-option" value="GBTYN08">
                              Tyne - North Shields - GBTYN08
                            </option>
                            <option id="bip-select-option" value="GBTYN4P">
                              Tyne - South Shields - GBTYN4P
                            </option>
                            <option id="bip-select-option" value="GBDNU1">
                              X Do Not Use X - GBDNU1
                            </option>
                        </select>
                      </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
                    <div class="govuk-form-group  ">
                        
                        <label class="govuk-label govuk-label--s" for="riskCategory">
                          Risk category
                        </label>
                        
                    
                    
                      
                    
                      <select class="govuk-select govuk-!-width-full" id="riskCategory" name="riskCategory">
                          <option value="">All</option>
                          <option value="High">High (CHED-P only)</option>
                          <option value="Medium">Medium (CHED-P only)</option>
                          <option value="Low">Low (CHED-P only)</option>
                      </select>
                    </div>
                    
                  </div>
                </div>
          
          
                <div class="govuk-grid-row">
                      <div class="govuk-grid-column-full">
                          <button class="govuk-button govuk-!-margin-0" id="search-consignments" type="submit" data-module="govuk-button" data-prevent-double-click="true">Search</button>
                          <a href="/decision/vnet/protected/bip-notifications/high-priority-tasks-consignments?searchClear=true" class="govuk-link clear-link">Clear</a>
                      </div>
                  </div>
              </div>
          </form>
          <p class="govuk-body govuk-!-font-weight-bold" id="number-of-results">
            <span id="consignment-count">2</span>
            results
          </p>
          
            <div class="table-responsive">
              <table class="govuk-table high-priority-tasks-table" aria-describedby="number-of-results">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Reference number</th>
                    <th class="govuk-table__header" scope="col">BCP</th>
                    <th class="govuk-table__header" scope="col">Estimated arrival time at BCP</th>
                    <th class="govuk-table__header" scope="col">Updated arrival time at BCP</th>
                    <th class="govuk-table__header" scope="col">Documentary check status</th>
                    <th class="govuk-table__header" scope="col">Risk category</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell reference-number-cell" style="width: 260px;">
                        <a rel="noopener noreferrer" class="govuk-link" id="view-details-CHEDA.GB.2024.1007004" href="/decision/vnet/protected/bip-notifications/CHEDA.GB.2024.1007004/hub" target="_self">
                          CHEDA.GB.2024.1007004
                        </a>
                      </td>
                      <td class="govuk-table__cell">MANCHESTER AIRPORT</td>
                      <td class="govuk-table__cell">19 May 2024, 22:00</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell">
                          <strong class="govuk-tag tag tag--to-do">To Do</strong>
                      </td>
                      <td class="govuk-table__cell">

                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell reference-number-cell">
                        <a rel="noopener noreferrer" class="govuk-link" id="view-details-CHEDA.GB.2024.1006996" href="/decision/vnet/protected/bip-notifications/CHEDA.GB.2024.1006996/hub" target="_self">
                          CHEDA.GB.2024.1006996
                        </a>
                      </td>
                      <td class="govuk-table__cell">MANCHESTER AIRPORT</td>
                      <td class="govuk-table__cell">19 May 2024, 22:00</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell">
                          <strong class="govuk-tag tag tag--to-do">To Do</strong>
                      </td>
                      <td class="govuk-table__cell">

                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
            <nav class="pagination" aria-label="Pagination">
              <ul class="pagination-list">
              </ul>
            </nav>
        </div>

      </div>
    </div>
  </div>
</main>

{% endblock %}
