
{% extends "layout.html" %}

{% block pageTitle %}
Accompanying Documents – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}



<div class="govuk-!-padding-top-6">
  <span class="heading-tertiary">
      <span id="reference-number">DRAFT.GB.2023.5925980</span>
          <span> - CHEDP</span>
  </span>
</div>


<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
  </div>
  <div class="govuk-grid-row" id="veterinary-health-certificate">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Documents</span>
      <h1 class="govuk-heading-xl " id="page-primary-title">Accompanying documents</h1>




      <form action="13-approved-est" method="POST">
        <input name="crumb" type="hidden" value="fIzHQMhND_p99j8EJPCB-lVBKf9o9ErXzVPOk9op4pS">
        <input name="etag" type="hidden" value="&quot;000000000537DB02&quot;">
          <!-- <div class="govuk-!-margin-bottom-9 additional-documents-table" id="latest-vet-health-certificate-table">
              <div class="additional-documents__caption govuk-heading-m">
                Add latest health certificate details 
              </div>
            <p class="govuk-body govuk-!-width-three-quarters">Make sure the health certificate covers all commodities in this notification, or the consignment may be rejected.</p>
            <p class="govuk-body govuk-!-width-three-quarters">This is the document that will be shown on the Common Health Entry Document (CHED).
            </p>
            <div class="govuk-warning-text govuk-!-width-three-quarters" id="cveda-row-legal-warning">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                  You must still provide the original health certificate at the Border Control Post.
              </strong>
            </div>
            <div class="additional-documents__grid-row additional-documents__headers">
              <div class="additional-documents__grid-column-15 additional-documents__table-header">
                Document type
              </div>
              <div class="additional-documents__grid-column-15 additional-documents__table-header">
                Document reference
              </div>
              <div class="additional-documents__grid-column-doc-date additional-documents__table-header">
                Date of issue
              </div>
              <div class="additional-documents__grid-column-20 additional-documents__table-header">
                Attachments
              </div>
            </div>
              <div class="additional-documents__grid-row additional-document-info">
                <div class="additional-documents__grid-column-15 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-type-heading-2">Document type</div>
                  <div class="additional-documents__content-value" id="additional-document-type-value-2">
                      Veterinary health certificate
                  </div>
                </div>
                <div class="additional-documents__grid-column-15 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-reference-heading-2">Document reference</div>
                  <div class="additional-documents__content-value" id="additional-document-reference-value-2">
                    4387942
                  </div>
                </div>
                <div class="additional-documents__grid-column-doc-date additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-date-heading-2">
                    Date of issue
                      <div class="additional-documents__date-of-issue-hint">
                        <span class="additional-documents__date-of-issue-hint__day">Day</span>
                        <span class="additional-documents__date-of-issue-hint__month">Month</span>
                        <span class="additional-documents__date-of-issue-hint__year">Year</span>
                      </div>
                  </div>
                  <div class="additional-documents__content-value" id="additional-document-date-value-2">
                    8 August 2023
                  </div>
              
                </div>
                <div class="additional-documents__grid-column-20 additional-document-content">
                  <div class="additional-documents__content-heading" id="additional-document-attachment-heading-2">
                    Attachments 
                  </div>
                  <div class="additional-documents__content-value" id="additional-document-attachment-value-2">
                      <a rel="noopener noreferrer" title="Screenshot 2023-08-09 a(2).png" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5914693/attachment/22a64ff2-2f4e-4926-a778-80de821ce3ea" class="govuk-link ellipsis" id="attachment-view-22a64ff2-2f4e-4926-a778-80de821ce3ea" target="_blank" aria-label="View Screenshot 2023-08-09 a(2).png">
                        Screenshot 2023-08-09 a(2).png
                      </a>
                  </div>
                </div>
              </div>
              <div class="additional-documents__grid-row additional-documents__content-links">
                      <div class="additional-documents__grid-column-20">
                        <button type="submit" class="link-button text-align-left" id="remove-attachment-22a64ff2-2f4e-4926-a778-80de821ce3ea" name="remove-attachment" value="22a64ff2-2f4e-4926-a778-80de821ce3ea" aria-label="Remove attachment Screenshot 2023-08-09 a(2).png">
                          Remove attachment
                        </button>
                      </div>
                      <div class="additional-documents__grid-column-20">
                        <a class="govuk-link link-button" href="/upload/tst/protected/upload/DRAFT.GB.2023.5914693/2/notification/delete-row">
                          Remove row
                        </a>
                      </div>
              </div>
          </div> -->

          <div class="govuk-!-margin-bottom-6 additional-documents-table" id="additional-documents-table">
            <!-- <div class="additional-documents__caption govuk-heading-m" id="add-additional-documents-header">
              Add additional documents
            </div> -->
          <p class="govuk-body">
                            Uploading documentary evidence can speed up checking.
            </p>

            {% if (data['risk-category'] == "low") %}
            <p class="govuk-body">
              You do not need to upload a health certificate for this consignment.
            </p>
            {% endif %}

           
            <details class="govuk-details  govuk-!-width-three-quarters">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Check which  documents you should upload
                </span>
              </summary>
              <div class="govuk-details__text">
                  <p class="govuk-body">Add other documents relating to this consignment, for example:</p>
                  <ul class="govuk-list govuk-list--bullet" id="supporting-details-accordion">
                    <li>an invoice for the consignment</li>
                    <li>travel documents or proof of travel, such as air, sea or rail waybills</li>
                    <li>other documents required for this consignment - this may include catch certificates, storage and processing documents</li>
                  </ul>
                  <!-- <h3 class="govuk-heading-s">Illegal, unreported and regulated (IUU) documents</h3>
                  <p class="govuk-body">If you're importing wild fish, you must upload any required IUU documents such as catch certificates, processing statements and storage documents.</p>
                  <p class="govuk-body">For details of required IUU documents, check the guidance on <a href="https://www.gov.uk/guidance/importing-or-moving-fish-to-the-uk">importing and moving fish into the UK</a>.</p>
                  <p class="govuk-body">You need to use a different section of this notification to <a href="09-iuu-docs">upload catch certificates</a>.</p> -->
                  
                      
              </div>
            </details>

          <p class="govuk-heading-s" id="additional-documents-number-of-documents-message">Showing 4 additional documents</p>

        <div class="additional-documents__grid-row additional-documents__headers">
          <div class="additional-documents__grid-column-15 additional-documents__table-header">
            Document type
          </div>
          <div class="additional-documents__grid-column-15 additional-documents__table-header">
            Document reference
          </div>
          <div class="additional-documents__grid-column-doc-date additional-documents__table-header">
            Date of issue
            <div class="additional-documents__date-of-issue-hint">
              <span class="additional-documents__date-of-issue-hint__day">Day</span>
              <span class="additional-documents__date-of-issue-hint__month">Month</span>
              <span class="additional-documents__date-of-issue-hint__year">Year</span>
            </div>
          </div>
          <div class="additional-documents__grid-column-20 additional-documents__table-header">
            Attachments 
          </div>
        </div>

          <div class="additional-documents__grid-row additional-document-info">
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-type-heading-1">Document type</div>
              <div class="additional-documents__content-value" id="additional-document-type-value-1">
                Processing statement
              </div>
            </div>
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-reference-heading-1">Document reference</div>
              <div class="additional-documents__content-value" id="additional-document-reference-value-1">
                PS-4387474
              </div>
            </div>
            <div class="additional-documents__grid-column-doc-date additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-date-heading-1">
                Date of issue
                  <div class="additional-documents__date-of-issue-hint">
                    <span class="additional-documents__date-of-issue-hint__day">Day</span>
                    <span class="additional-documents__date-of-issue-hint__month">Month</span>
                    <span class="additional-documents__date-of-issue-hint__year">Year</span>
                  </div>
              </div>
              <div class="additional-documents__content-value" id="additional-document-date-value-1">
                20 August 2023
              </div>
          
            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-attachment-heading-1">
                Attachments 
              </div>
              <div class="additional-documents__content-value" id="additional-document-attachment-value-1">
                  <a rel="noopener noreferrer" title="CC-4387474.pdf" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5942705/attachment/af6719e4-071e-4179-9ebd-d5c73b04bf90" class="govuk-link ellipsis" id="attachment-view-af6719e4-071e-4179-9ebd-d5c73b04bf90" target="_blank" aria-label="View CC-4387474.pdf">
                    PS-4387474.pdf
                  </a>
              </div>
            </div>
          </div>
          <div class="additional-documents__grid-row additional-documents__content-links">
                  <div class="additional-documents__grid-column-20">
                    <button type="submit" class="link-button text-align-left" id="remove-attachment-af6719e4-071e-4179-9ebd-d5c73b04bf90" name="remove-attachment" value="af6719e4-071e-4179-9ebd-d5c73b04bf90" aria-label="Remove attachment CC-4387474.pdf">
                      Remove attachment
                    </button>
                  </div>
                  <div class="additional-documents__grid-column-20">
                    <a class="govuk-link link-button" href="/upload/tst/protected/upload/DRAFT.GB.2023.5942705/1/notification/delete-row">
                      Remove row
                    </a>
                  </div>
          </div>
          <div class="additional-documents__grid-row additional-document-info">
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-type-heading-2">Document type</div>
              <div class="additional-documents__content-value" id="additional-document-type-value-2">
                Processing statement
              </div>
            </div>
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-reference-heading-2">Document reference</div>
              <div class="additional-documents__content-value" id="additional-document-reference-value-2">
                PS-4387475
              </div>
            </div>
            <div class="additional-documents__grid-column-doc-date additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-date-heading-2">
                Date of issue
                  <div class="additional-documents__date-of-issue-hint">
                    <span class="additional-documents__date-of-issue-hint__day">Day</span>
                    <span class="additional-documents__date-of-issue-hint__month">Month</span>
                    <span class="additional-documents__date-of-issue-hint__year">Year</span>
                  </div>
              </div>
              <div class="additional-documents__content-value" id="additional-document-date-value-2">
                20 August 2023
              </div>
          
            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-attachment-heading-2">
                Attachments 
              </div>
              <div class="additional-documents__content-value" id="additional-document-attachment-value-2">
                  <a rel="noopener noreferrer" title="CC-4387475.pdf" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5942705/attachment/1595c61f-40f2-447f-8578-7a2670cd06a0" class="govuk-link ellipsis" id="attachment-view-1595c61f-40f2-447f-8578-7a2670cd06a0" target="_blank" aria-label="View CC-4387475.pdf">
                    PS-4387475.pdf
                  </a>
              </div>
            </div>
          </div>
          <div class="additional-documents__grid-row additional-documents__content-links">
                  <div class="additional-documents__grid-column-20">
                    <button type="submit" class="link-button text-align-left" id="remove-attachment-1595c61f-40f2-447f-8578-7a2670cd06a0" name="remove-attachment" value="1595c61f-40f2-447f-8578-7a2670cd06a0" aria-label="Remove attachment CC-4387475.pdf">
                      Remove attachment
                    </button>
                  </div>
                  <div class="additional-documents__grid-column-20">
                    <a class="govuk-link link-button" href="/upload/tst/protected/upload/DRAFT.GB.2023.5942705/2/notification/delete-row">
                      Remove row
                    </a>
                  </div>
          </div>
          <div class="additional-documents__grid-row additional-document-info">
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-type-heading-3">Document type</div>
              <div class="additional-documents__content-value" id="additional-document-type-value-3">
                Processing statement
              </div>
            </div>
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-reference-heading-3">Document reference</div>
              <div class="additional-documents__content-value" id="additional-document-reference-value-3">
                PS-4387476
              </div>
            </div>
            <div class="additional-documents__grid-column-doc-date additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-date-heading-3">
                Date of issue
                  <div class="additional-documents__date-of-issue-hint">
                    <span class="additional-documents__date-of-issue-hint__day">Day</span>
                    <span class="additional-documents__date-of-issue-hint__month">Month</span>
                    <span class="additional-documents__date-of-issue-hint__year">Year</span>
                  </div>
              </div>
              <div class="additional-documents__content-value" id="additional-document-date-value-3">
                20 August 2023
              </div>
          
            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-attachment-heading-3">
                Attachments 
              </div>
              <div class="additional-documents__content-value" id="additional-document-attachment-value-3">
                  <a rel="noopener noreferrer" title="CC-4387476.pdf" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5942705/attachment/13ba0f42-d0a5-497e-b038-4564844e7ca1" class="govuk-link ellipsis" id="attachment-view-13ba0f42-d0a5-497e-b038-4564844e7ca1" target="_blank" aria-label="View CC-4387476.pdf">
                    PS-4387476.pdf
                  </a>
              </div>
            </div>
          </div>
          <div class="additional-documents__grid-row additional-documents__content-links">
                  <div class="additional-documents__grid-column-20">
                    <button type="submit" class="link-button text-align-left" id="remove-attachment-13ba0f42-d0a5-497e-b038-4564844e7ca1" name="remove-attachment" value="13ba0f42-d0a5-497e-b038-4564844e7ca1" aria-label="Remove attachment CC-4387476.pdf">
                      Remove attachment
                    </button>
                  </div>
                  <div class="additional-documents__grid-column-20">
                    <a class="govuk-link link-button" href="/upload/tst/protected/upload/DRAFT.GB.2023.5942705/3/notification/delete-row">
                      Remove row
                    </a>
                  </div>
          </div>
          <div class="additional-documents__grid-row additional-document-info">
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-type-heading-4">Document type</div>
              <div class="additional-documents__content-value" id="additional-document-type-value-4">
                Processing statement
              </div>
            </div>
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-reference-heading-4">Document reference</div>
              <div class="additional-documents__content-value" id="additional-document-reference-value-4">
                PS-4387477
              </div>
            </div>
            <div class="additional-documents__grid-column-doc-date additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-date-heading-4">
                Date of issue
                  <div class="additional-documents__date-of-issue-hint">
                    <span class="additional-documents__date-of-issue-hint__day">Day</span>
                    <span class="additional-documents__date-of-issue-hint__month">Month</span>
                    <span class="additional-documents__date-of-issue-hint__year">Year</span>
                  </div>
              </div>
              <div class="additional-documents__content-value" id="additional-document-date-value-4">
                21 August 2023
              </div>
          
            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-attachment-heading-4">
                Attachments 
              </div>
              <div class="additional-documents__content-value" id="additional-document-attachment-value-4">
                  <a rel="noopener noreferrer" title="CC-4387477.pdf" href="/notification/tst/protected/notifications/DRAFT.GB.2023.5942705/attachment/5fb6acd6-bdbd-42d6-80f9-f5fc94248c20" class="govuk-link ellipsis" id="attachment-view-5fb6acd6-bdbd-42d6-80f9-f5fc94248c20" target="_blank" aria-label="View CC-4387477.pdf">
                    PS-4387477.pdf
                  </a>
              </div>
            </div>
          </div>
          <div class="additional-documents__grid-row additional-documents__content-links">
                  <div class="additional-documents__grid-column-20">
                    <button type="submit" class="link-button text-align-left" id="remove-attachment-5fb6acd6-bdbd-42d6-80f9-f5fc94248c20" name="remove-attachment" value="5fb6acd6-bdbd-42d6-80f9-f5fc94248c20" aria-label="Remove attachment CC-4387477.pdf">
                      Remove attachment
                    </button>
                  </div>
                  <div class="additional-documents__grid-column-20">
                    <a class="govuk-link link-button" href="/upload/tst/protected/upload/DRAFT.GB.2023.5942705/4/notification/delete-row">
                      Remove row
                    </a>
                  </div>
          </div>
         
          <button type="submit" class="link-button additional-documents__add-another-document" id="button-display-additional-document-row" name="display-additional-document-row" value="">
            Add a document
          </button>

          <button type="submit" class="link-button additional-documents__add-another-document" id="button-add-multiple-documents" name="add-multiple-documents" value="">
            Add multiple documents
          </button>
      </div>
        
        <div class="govuk-form-group govuk-!-margin-bottom-9">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Have you completed this section?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="haveYouCompletedThisSection" name="haveYouCompletedThisSection" type="radio" value="yes"checked="">
                <label class="govuk-label govuk-radios__label" for="haveYouCompletedThisSection">
                  Yes, I’ve completed this section
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="haveYouCompletedThisSection-2" name="haveYouCompletedThisSection" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="haveYouCompletedThisSection-2">
                  No, I’ll come back to it later
                </label>
              </div>
            </div>
          </fieldset>
        </div>

          
        <input name="current-page-number" type="hidden" value="1">

        <input class="govuk-button govuk-button--primary govuk-!-margin-right-1" id="save-and-return-button-p" name="save-and-return-button-p" type="submit" value="Save and return to hub" data-module="govuk-button" href="07-check-answers">
        <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-return-button-p" name="save-and-return-button-p" type="submit" value="Save and continue" data-module="govuk-button">
        <p class="govuk-body"><a class="govuk-link" href="07-check-answers">Cancel and return to task list</a></p>
      </form>
    </div>
  </div>
</main>
{% endblock %}
