
{% extends "layout.html" %}

{% block pageTitle %}
Record
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Andrew Inspector-Tester</span>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="address-book" href="/notification/tst/protected/notifications/address-book">
        Address book
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="blank-certificates-link" href="/decision/tst/protected/bip-notifications/CHEDs/blank">
        Blank CHEDs
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
  <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  </div>

  <form action="06b-laboratory" method="POST">
    <input name="crumb" type="hidden" value="ZXu3-G9T0eYRb0P3pwPknvFMnphp-uMc-v98aQwyCeU">
    <input name="etag" type="hidden" value="&quot;000000000540B70D&quot;">
    <table id="status-component" role="presentation" class="govuk-table govuk-!-margin-bottom-0">
      <tbody><tr class="divider-top divider-bottom govuk-table__row">
        <td class="govuk-table__cell">
            <strong class="govuk-tag tag tag--submitted status-label govuk-!-margin-right-2" id="Status-Label">New</strong>
              <button type="submit" class="link-button" name="setInProgress" value="IN_PROGRESS" id="set-in-progress">
                Save and set as in progress
              </button>
        </td>
      </tr>
    </tbody></table>
  

    <main class="govuk-main-wrapper" id="main-content">
      <div class="govuk-grid-row" id="reason-for-testing-page">
          <div class="govuk-grid-column-full">
              <h1 class="govuk-heading-xl">
                <span class="heading-tertiary">
                  <span id="reference-number">CHEDA.GB.2023.5948132</span>
                    <span id="cved-version-number"> - V1</span>
                </span>
                <span id="page-primary-title">Laboratory tests</span>
              </h1>

              <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset reason-for-testing">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Reason for testing</legend>
                      <span id="container-seals-hint" class="govuk-hint govuk-visually-hidden">Choose from:</span>
                      <div class="govuk-radios">
                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="radio-lab-test-reason-random" type="radio" name="labTestReason" value="Random" checked="">
                              <label class="govuk-label govuk-radios__label" for="radio-lab-test-reason-random">Random</label>
                          </div>
                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="radio-lab-test-reason-suspicion" type="radio" name="labTestReason" value="Suspicion">
                              <label class="govuk-label govuk-radios__label" for="radio-lab-test-reason-suspicion">Suspicion</label>
                          </div>
                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="radio-lab-test-reason-intensified" type="radio" name="labTestReason" value="Intensified controls">
                              <label class="govuk-label govuk-radios__label" for="radio-lab-test-reason-intensified">Intensified controls</label>
                          </div>
                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="radio-lab-test-reason-re-enforced" type="radio" name="labTestReason" value="Re-enforced">
                              <label class="govuk-label govuk-radios__label" for="radio-lab-test-reason-re-enforced">
                                  Emergency measures
                              </label>
                          </div>
                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="radio-lab-test-reason-required" type="radio" name="labTestReason" value="Required">
                              <label class="govuk-label govuk-radios__label" for="radio-lab-test-reason-required">Required</label>
                          </div>
                          </div>
                      </fieldset></div>
                  
              </div>

              <button class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="button-save-and-continue" name="save-button" type="submit" data-module="govuk-button" value="Save and continue">
                  Save and continue
              </button>
              <p class="govuk-body"><a class="govuk-link" href="/decision/tst/protected/bip-notifications/CHEDP.GB.2023.5948132/hub">Cancel</a></p>
          </div>
      </main>


</form>
 

{% endblock %}
