
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">CHED A baseline</h1>

    <ul class="govuk-list govuk-list--bullet">  
      <li><a href="part1/0-index.html">Dashboard</a></li>
      <li><a href="part1/00-notification-hub.html">Notification hub</a></li>
      <li><a href="part1/06-02-review">Review your notification</a></li>
      <li><a href="part1/07-00-declaration.html">Declaration</a></li>
      <li><a href="part1/08-00a-submitted-inspection-not-required.html">Confirmation - Inspection not required</a></li>
      <li><a href="part1/08-00b-submitted-inspection-required.html"> Confirmation - Inspection required</a></li>
      <li><a href="part1/08-00c-submitted-gvms.html">Confirmation - Using GVMS</a></li>
    </ul>
 
{% endblock %}
