
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>




<div class="navigation-links">
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Mark Admin-Tester</span>
      <span aria-hidden="true">|</span>
        <a class="govuk-link govuk-!-display-inline-block" id="bcp-admin-link" href="/bcpadmin/vnet/protected/bcp-admin">
          Admin area
        </a>
        <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="address-book" href="/notification/vnet/protected/notifications/address-book">
        Address book
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="blank-certificates-link" href="/decision/vnet/protected/bip-notifications/CHEDs/blank">
        Blank CHEDs
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
  <div class="navigation-links__left-block">
    <a href="#" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
    <div class="navigation-links__divider">|</div>
    <div class="govuk-breadcrumbs breadcrumbs--next-to-back">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link govuk" href="/decision/vnet/protected/bip-notifications" id="navigation-dashboard-link">Dashboard</a>
        </li>
      </ol>
    </div>  </div>
</div>
<table id="status-component" role="presentation" class="govuk-table govuk-!-margin-bottom-0">
  <tbody><tr class="divider-bottom govuk-table__row">
    <td class="govuk-table__cell">
        <strong class="govuk-tag tag tag--validated status-label" id="Status-Label">Valid</strong>
    </td>
  </tr>
</tbody></table>

<main id="main-content" class="govuk-main-wrapper">
  <div class="govuk-grid-row" id="certificate-overview-page">
    <div class="govuk-grid-column-full">
      <div>
        <form method="post" action="/decision/vnet/protected/bip-notifications/CHEDD.GB.2023.1060965/amend-lab-tests">
          <input name="crumb" type="hidden" value="PVbidEZLpMWqD1pqUZEy9SoByJjvwmedOPBhqUZ0emo">
          <input name="etag" type="hidden" value="&quot;00000000001CEC09&quot;">
          <a rel="noopener noreferrer" href="/notification/vnet/protected/notifications/CHEDD.GB.2023.1060965/certificate/pdf" target="_blank" class="govuk-button govuk-button--secondary button-small govuk-!-margin-right-1" id="show-certificate">
            <span>Show CHED</span>
          </a>
              <a rel="noopener noreferrer" class="govuk-button govuk-button--secondary button-small govuk-!-margin-right-1" id="raise-border-notification" href="/bordernotification/vnet/protected/border-notifications/create-border-notification?certificate=CHEDD.GB.2023.1060965">
                Raise border notification
              </a>
                  <a href="/decision/vnet/protected/bip-notifications/CHEDD.GB.2023.1060965/cancel?fromCertificateOverview=true" class="govuk-button govuk-button--warning button-small" id="cancel-button">
                    Cancel CHED</a>
        </form>
      </div>
      <h1 class="govuk-heading-xl ">
          <span class="heading-tertiary">
            <span id="reference-number">CHEDD.GB.2023.1060965</span>
              <span id="cved-version-number"> - V1</span>
          </span>
          <span class="govuk-caption-xl"></span>
          CHED overview
      </h1>      <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list" role="tablist">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#notification" id="tab_notification" role="tab" aria-controls="notification" aria-selected="true" tabindex="0">
              Notification
            </a>
          </li>
            <li class="govuk-tabs__list-item" role="presentation">
              <a class="govuk-tabs__tab" href="#decision" id="tab_decision" role="tab" aria-controls="decision" aria-selected="false" tabindex="-1">
                Checks
              </a>
            </li>
        </ul>
        <section class="govuk-tabs__panel" id="notification" role="tabpanel" aria-labelledby="tab_notification">
          <h2 class="govuk-heading-m govuk-!-margin-top-6">About the consignment</h2>
          
          <table class="govuk-table govuk-!-margin-bottom-8" id="review-table-about-notification" role="presentation">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row table--presentation">
              <td class="govuk-table__header govuk-!-width-one-half divider-top" id="import-type">Import type</td>
              <td class="govuk-table__cell govuk-!-width-one-half divider-top" colspan="2">
                High risk food of non-animal origin
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-!-width-one-half">Responsible person</td>
              <td class="govuk-table__cell govuk-!-width-one-half" id="responsible-person" colspan="2">
                Percy Inspector-Tester
              </td>
            </tr>
            <tr class="govuk-table__row table--presentation">
              <td class="govuk-table__header">Telephone</td>
              <td class="govuk-table__cell" id="responsible-person-telephone" colspan="2">
                020 8225 7295
              </td>
            </tr>
            <tr class="govuk-table__row table--presentation">
              <td class="govuk-table__header">Email</td>
              <td class="govuk-table__cell" id="responsible-person-email">
                DefraTestBIP@anthunt3.33mail.com
              </td>
            </tr>
            <tr class="govuk-table__row table--presentation">
              <td class="govuk-table__header">Organisation Name</td>
              <td class="govuk-table__cell" id="responsible-person-company-name" colspan="2">
                Defra Test BIP
              </td>
            </tr>
            <tr class="govuk-table__row table--presentation">
              <td class="govuk-table__header">Organisation Address</td>
              <td class="govuk-table__cell" id="responsible-person-org-address" colspan="2">
                Animal and Plant Health Agency, Woodham Lane, New Haw, Surrey, Addlestone, KT15 3NB
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Organisation Telephone</td>
              <td class="govuk-table__cell" id="responsible-person-org-telephone" colspan="2">
                020 8225 7295
              </td>
            </tr>
            <tr class="govuk-table__row table--presentation">
              <td class="govuk-table__header">Country of origin</td>
              <td class="govuk-table__cell">Austria</td>
                <td class="change govuk-table__cell badge-right">
                </td>
          
            </tr>
          
              <tr class="govuk-table__row table--presentation">
                <td class="govuk-table__header">Country from where consigned</td>
                <td class="govuk-table__cell">Austria</td>
              </tr>
          
              <tr class="govuk-table__row">
                <td class="govuk-table__header" id="consignment-ref-title">Consignment reference number</td>
                <td class="govuk-table__cell" colspan="2" id="consignment-reference"></td>
              </tr>
            <tr class="govuk-table__row table--presentation divider-top">
              <td class="govuk-form-group  govuk-table__header" id="purpose-of-conignment">
                What is the purpose of the consignment?
              </td>
                <td class="govuk-table__cell" id="primary-purpose">For internal market</td>
                  <td class="change govuk-table__cell badge-right">
              </td>
            </tr>
          
          
          
          
          
            </tbody>
          </table>
          
          <div class="heading-with-change-link">
            <h2 class="govuk-heading-m">Description of the goods</h2>
              <span class="govuk-heading-s">1 of 1</span>
          </div>
          
          
          
              <table class="govuk-table review-table govuk-!-margin-bottom-0" id="review-table-commodity-attributes-0" role="presentation">
                <tbody>
                <tr class="govuk-table__row table--presentation divider-top">
                  <td class="govuk-table__header">Commodity code</td>
                  <td class="govuk-table__cell">09052000 </td>
                  <td class="change govuk-table__cell badge-right">
              
                  </td>
                </tr>
                </tbody>
              </table>
              <table class="govuk-table data-table data-table-commodities govuk-!-margin-bottom-2" id="review-table-consignment-0">
                <caption class="govuk-visually-hidden">Commodity details</caption>
                <thead>
                  <tr class="govuk-table__row table--presentation">
                    <th scope="col" class="govuk-table__header weight">Net weight</th>
                    <th scope="col" class="govuk-table__header packages">Packages</th>
                    <th scope="col" class="govuk-table__header package-type">Package type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="divider-bottom govuk-table__row">
                    <td class="govuk-table__cell govuk-form-group  ">
                      805 kg/units
                    </td>
                    <td class="govuk-table__cell">805</td>
                    <td class="govuk-table__cell">Pail</td>
                  </tr>
                </tbody>
              </table>
          
          
            <table class="govuk-table review-table" id="review-table-commodities-total" role="presentation">
              <tbody>
                <tr class="govuk-table__row table--presentation">
                  <td class="govuk-table__header govuk-!-width-one-half ">
                    Total net weight
                  </td>
                  <td class="govuk-table__cell">805 kg/units</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row table--presentation">
                  <td class="govuk-table__header">Total packages</td>
                  <td class="govuk-table__cell">805</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                  <tr class="divider-bottom govuk-table__row table--presentation">
                    <td class="govuk-table__header " id="total-gross-weight">Total gross weight</td>
                    <td class="govuk-table__cell">1234 kg/units</td>
                    <td class="govuk-table__cell"></td>
                  </tr>
              </tbody>
            </table>
          
            <table class="govuk-table govuk-!-margin-top-3" id="review-table-consignment-details" role="presentation">
              <tbody>
              <tr class="govuk-table__row">
                <td class="govuk-table__row" colspan="3">
                  <div>
                  </div>
                </td>
              </tr>
                </tbody>
            </table>
          
            <div class="heading-with-change-link">
              <h2 class="govuk-heading-m" id="addtional-details-heading">Additional details</h2>
            </div>
            <div class="table-responsive">
              <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-8">
                <caption class="govuk-visually-hidden">Additional details</caption>
                <tbody>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__header govuk-!-width-one-half">Commodity intended for</td>
                    <td class="govuk-table__cell">Feedingstuff</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__header ">
                      Temperature
                    </td>
                    <td class="govuk-table__cell">Ambient</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__header">
                      Imported in shipping containers or road trailers
                    </td>
                    <td class="govuk-table__cell">No</td>
                  </tr>
                </tbody>
              </table>
            </div>
          
          
          
          
          
              <div class="heading-with-change-link">
                <h2 class="govuk-heading-m">Contact details</h2>
              </div>
              
              <div class="govuk-!-margin-bottom-9 table-responsive">
                <table class="govuk-table presentation-table govuk-!-margin-0" id="responsible-person-contact-details-table" role="presentation">
                  <tbody>
                  <tr>
                    <td class="govuk-table__header govuk-table__header--half">Name</td>
                    <td class="govuk-table__cell" id="responsible-contact-name">
                      Percy Inspector-Tester
                    </td>
                  </tr>
                  <tr>
                    <td class="govuk-table__header govuk-table__header--half">Email address</td>
                    <td class="govuk-table__cell break-word" id="responsible-contact-email">
                      defratestbip@anthunt3.33mail.com
                    </td>
                  </tr>
                  <tr>
                      <td class="govuk-table__header govuk-table__header--half">Phone number</td>
                    <td class="govuk-table__cell" id="responsible-contact-telephone">
                      020 8225 7295
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
          
          <h2 class="govuk-heading-m" id="documents-section-heading">
              Documents
          </h2>
          
          <table class="govuk-table govuk-!-margin-bottom-0" role="presentation">
            <tbody><tr class="govuk-table__row table--presentation">
                <td class="govuk-heading-s" id="additional-documents-heading">Accompanying documents</td>
                  <td class="change govuk-table__header badge-right">
              </td>
            </tr>
          </tbody></table>
          
            <div class="overflow-x-auto govuk-!-margin-bottom-8">
              <table class="govuk-table table--fixed review-additional-documents-table" id="accompanying-documents-table">
                <caption class="govuk-visually-hidden">Documents</caption>
                <thead>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-!-width-one-quarter govuk-table__header">Document type</th>
                    <th scope="col" class="govuk-!-width-one-quarter govuk-table__header">Document reference</th>
                    <th scope="col" class="govuk-!-width-one-quarter govuk-table__header">Date of issue</th>
                    <th scope="col" class="govuk-!-width-one-quarter govuk-table__header">Attachments</th>
                  </tr>
                </thead>
                <tbody>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Commercial invoice</td>
                        <td class="govuk-table__cell break-word">Architecto et quidem</td>
                        <td class="govuk-table__cell">7 October 1992</td>
                        <td class="govuk-table__cell">
                          <a rel="noopener noreferrer" title="Screenshot 2023-07-24 a.png" href="/decision/vnet/protected/bip-notifications/CHEDD.GB.2023.1060965/attachment/b2790a36-0595-4721-a29e-b93a6e891342?source=CHED-overview" class="govuk-link ellipsis" id="attachment-b2790a36-0595-4721-a29e-b93a6e891342" target="_blank">
                            Screenshot 2023-07-24 a.png</a>
                        </td>
                      </tr>
                </tbody>
              </table>
            </div>
          
          
          
          
          <h2 class="govuk-heading-m">Traders</h2>
          
          
          
          
          <table class="govuk-table table--presentation" id="review-table-traders" role="presentation">
            <tbody>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half ">
                  Consignor or exporter
                </th>
                <td class="govuk-table__cell">
                  9b5a836fd2aa4e829d21ffeef1d85b8a<br>8351 Edgardo Alley, Apt. 638, Vermont, South Ceasar, 64824, Poland, 01615555555, ukoperator@email.com</td>
                <td class="change govuk-table__cell badge-right">
                </td>
              </tr>    <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half ">
                  Consignee
                </th>
                <td colspan="2" class="govuk-table__cell" id="consignee">
                  c30712fdc40f4192ade63ac4645707ae<br>755 Lockman Manors, Apt. 052, Florida, Scottyland, 26312, United Kingdom of Great Britain and Northern Ireland, 01615555555, ukoperator@email.com
                </td>
              </tr>    <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half ">
                  Importer
                </th>
                <td colspan="2" class="govuk-table__cell" id="importer">
                  c30712fdc40f4192ade63ac4645707ae<br>755 Lockman Manors, Apt. 052, Florida, Scottyland, 26312, United Kingdom of Great Britain and Northern Ireland, 01615555555, ukoperator@email.com
                </td>
              </tr>    <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header ">
                  Place of destination
                </th>
                <td colspan="2" class="govuk-table__cell">
                  c30712fdc40f4192ade63ac4645707ae<br>755 Lockman Manors, Apt. 052, Florida, Scottyland, 26312, United Kingdom of Great Britain and Northern Ireland, 01615555555, ukoperator@email.com
                </td>
              </tr>  </tbody>
          </table>
          
            <div class="heading-with-change-link">
              <h2 class="govuk-heading-m" id="transport-to-bcp">Transport to the port of entry</h2>
            </div>
            
            
            
            
            
            
            
            
            
            
            
            <div class="table-responsive">
              <table class="govuk-table presentation-table" id="review-table-bip-details" role="presentation">
                <tbody>
                  <tr class="">
                    <td class="govuk-table__header govuk-!-width-one-half">Port of entry</td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="">
                    <td class="govuk-table__header">Means of transport to port of entry</td>
                    <td class="govuk-table__cell">Road vehicle</td>
                  </tr>
                  <tr class="">
                      <td class="govuk-table__header">Transport identification</td>
                    <td class="govuk-table__cell" id="identification-consignment">Ipsam animi volupta</td>
                  </tr>
                  <tr class="">
                      <td class="govuk-table__header">Transport document reference</td>
                    <td class="govuk-table__cell">Consequatur quos iur</td>
                  </tr>
                  <tr class="">
                    <td class="govuk-table__header">Using the Goods Vehicle Movement Service (GVMS)</td>
                  <td class="govuk-table__cell">Yes</td>
                </tr>
                    <tr class="">
                      <td class="govuk-table__header">Estimated arrival date at port of entry</td>
                      <td class="govuk-table__cell">23 March 2024</td>
                    </tr>
                      <tr class="">
                        <td class="govuk-table__header">Estimated arrival time at port of entry</td>
                        <td class="govuk-table__cell" id="estimated-arrival-time-at-bip">
                          13:13
                        </td>
                      </tr>
                </tbody>
              </table>
            </div>
          
          
          
            <h2 class="govuk-heading-m govuk-!-margin-top-9">Contact address for consignment</h2>
            
            <div class="table-responsive">
              <table class="govuk-table presentation-table review-table" id="review-table-organisation-address">
                <caption class="govuk-visually-hidden">Contact address for consignment</caption>
                <tbody>
                <tr class="govuk-table__row ">
                  <th scope="row" class="govuk-table__header">Contact address</th>
                  <td class="govuk-table__cell" id="organisation-branch-address-address">
                    Animal and Plant Health Agency, Woodham Lane, New Haw, Surrey, Addlestone, KT15 3NB
                  </td>
                  <td class="govuk-table__cell change">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          
            <table class="govuk-table presentation-table review-table">
              <caption class="govuk-table__caption govuk-heading-m">
                Submission information
              </caption>
              <tbody>
                <tr class="govuk-table__row divider-top">
                  <th scope="row" class="govuk-table__header">Notification submitted by</th>
                  <td class="govuk-table__cell" id="submitted-by">Percy Inspector-Tester</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Submission date</th>
                  <td class="govuk-table__cell" id="submission-date"> 27 July 2023</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Submission time</th>
                  <td class="govuk-table__cell" id="submission-time">13:24</td>
                </tr>
              </tbody>
            </table>
        </section>
          <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="decision" role="tabpanel" aria-labelledby="tab_decision">
            <div role="main" class="govuk-main-wrapper">
              <div class="govuk-grid-row" id="bip-review-checks-page">
              <div class="govuk-grid-column-full">
            
                  <table class="govuk-table review-table govuk-!-margin-top-6" id="reference-table">
                    <caption class="govuk-visually-hidden">
                      Border Control Post reference number table
                    </caption>
                    <tbody>
                    <tr class="divider-top divider-bottom govuk-table__row" id="reference-row-1">
                      <th scope="row" class="check-type govuk-table__header">Border Control Post reference number</th>
                      <td class="check-status govuk-table__cell">820</td>
                      <td class="change govuk-table__cell">
                      </td>
                    </tr>
                    </tbody>
                  </table>
            
            
            
                    <h2 class="govuk-heading-m">Documentary check</h2>
                    <table class="review-table govuk-table govuk-!-margin-top-4" id="documentary-check-table">
                      <caption class="govuk-visually-hidden">
                        Documentary check table
                      </caption>
                      <tbody>
                            <tr class="govuk-table__row documentary-check-row-0
                              divider-top divider-bottom " id="parttwo/consignmentcheck">
                              <th scope="col" class="check-type govuk-table__header">Documentary check</th>
                              <td class="check-status govuk-table__cell">Satisfactory</td>
                              <td class="govuk-table__cell"></td>
                                <td class="change govuk-table__cell">
                                </td>
                            </tr>
                      </tbody>
                    </table>
            
                    <h2 class="govuk-heading-m">Identity and physical checks</h2>
                    <table class="review-table govuk-table govuk-!-margin-top-4" id="identity-physical-checks-table">
                      <caption class="govuk-visually-hidden">
                        Identity and physical checks table
                      </caption>
                      <tbody>
                              <tr class="govuk-table__row divider-top identity-physical-checks-row-0 " id="consignmentcheck/identitycheckdone">
                            <th scope="col" class="check-type govuk-table__header">Identity check</th>
                            <td class="check-status govuk-table__cell">Not Satisfactory</td>
                            <td class="govuk-table__cell"></td>
                              <td class="change govuk-table__cell">
                            </td>
                          </tr>
                                <tr class="govuk-table__row divider-bottom identity-physical-checks-row-1 " id="consignmentcheck/physicalcheckdone">
                            <th scope="col" class="check-type govuk-table__header">Physical check</th>
                            <td class="check-status govuk-table__cell">Not Satisfactory</td>
                            <td class="govuk-table__cell"></td>
                              <td></td>
                          </tr>
                      </tbody>
                    </table>
            
                  <table class="review-table govuk-table govuk-!-margin-top-4" id="seal-numbers-table">
                    <caption class="govuk-visually-hidden">seal numbers table</caption>
                    <tbody><tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"><p class="govuk-heading-m">Seal numbers</p></th>
                      <td class="change govuk-table__cell">
                      </td>
                    </tr>
                  </tbody></table>
            
                    <p class="govuk-body divider-top divider-bottom govuk-!-margin-bottom-5 govuk-!-padding-top-2 govuk-!-padding-bottom-2" id="notifications-not-found">
                      No new seal numbers have been entered
                    </p>
            
                  
                  <h2 class="govuk-heading-m">Laboratory tests</h2>
                  <table class="govuk-table review-table govuk-!-margin-top-4" id="review-table-lab-tests" role="presentation">
                    <tbody>
                          <tr class="govuk-table__row divider-top lab-test-required " id="parttwo/laboratorytestsrequired">
                          <td class="govuk-table__cell check-type">Required</td>
                          <td class="govuk-table__cell check-status">No</td>
                              <td class="govuk-table__cell change">
                              </td>
                          </tr>
                    </tbody>
                  </table>
            
                  <div class="govuk-!-margin-bottom-6 " id="parttwo/documents">
                    
                    <table class="govuk-table govuk-!-margin-top-4 govuk-!-margin-bottom-0">
                  
                        <caption class="govuk-table__caption govuk-heading-m ">
                          
                        </caption>
                  
                      <tbody><tr class="govuk-table__row table--presentation">
                          <th scope="row" class="govuk-table__header">Additional documents</th>
                      </tr>
                    </tbody></table>
                      <div class="overflow-x-auto">
                        <table class="govuk-table table--fixed review-additional-documents-table" id="accompanying-documents-table">
                          <thead>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-!-width-quarter govuk-table__header" id="importer-documents-table-header-document-type">Document type</th>
                            <th scope="row" class="govuk-!-width-quarter govuk-table__header" id="importer-documents-table-header-document-reference">Document reference</th>
                            <th scope="row" class="govuk-!-width-quarter govuk-table__header" id="importer-documents-table-header-document-date-of-issue">Date of issue</th>
                            <th scope="row" class="govuk-!-width-quarter govuk-table__header" id="importer-documents-table-header-document-attachments">Attachments</th>
                          </tr>
                          </thead>
                          <tbody>
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell">Commercial invoice</td>
                                  <td class="govuk-table__cell break-word">Architecto et quidem</td>
                                  <td class="govuk-table__cell">7 October 1992</td>
                                  <td class="govuk-table__cell">
                                      <a rel="noopener noreferrer" title="Screenshot 2023-07-24 a.png" href="/decision/vnet/protected/bip-notifications/CHEDD.GB.2023.1060965/attachment/b2790a36-0595-4721-a29e-b93a6e891342?source=CHED-overview" class="govuk-link ellipsis" id="attachment-b2790a36-0595-4721-a29e-b93a6e891342" target="_blank">
                                        Screenshot 2023-07-24 a.png</a>
                                  </td>
                                </tr>
                          </tbody>
                        </table>
                      </div>
                  
                    <div class="overflow-x-auto">
                      <table class="govuk-table table--fixed review-additional-documents-table govuk-!-margin-bottom-0" id="inspector-review-table-documents">
                          <caption class="govuk-table__caption">Inspector</caption>
                        <thead>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-!-width-quarter govuk-table__header" id="inspector-documents-table-header-document-type">Document type</th>
                          <th scope="row" class="govuk-!-width-quarter govuk-table__header" id="inspector-documents-table-header-document-reference">Document reference</th>
                          <th scope="row" class="govuk-!-width-quarter govuk-table__header" id="inspector-documents-table-header-document-date-of-issue">Date of issue</th>
                          <th scope="row" class="govuk-!-width-quarter govuk-table__header" id="inspector-documents-table-header-document-attachments">Attachments</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell" colspan="4" id="attachment-inspector-none-attached">
                                No documents attached
                              </td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
            
                  <table class="govuk-table presentation-table review-table" id="decision-table">
                    <caption class="govuk-table__caption govuk-heading-m">
                      Decision information
                    </caption>
                    <tbody>
                    <tr class="govuk-table__row divider-top" id="decision-row-1">
                      <th id="decision-result" scope="row" class="govuk-table__header check-type">Decision result</th>
                      <td class="govuk-table__cell check-status" id="acceptance-decision">Internal market</td>
                      <td class="govuk-table__cell change">
                      </td>
                    </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__header check-type">Decision recorded by</td>
                        <td class="govuk-table__cell check-status">Percy Inspector-Tester</td>
                        <td></td>
                      </tr>
                        <tr class="govuk-table__row">
                          <td id="decision_date" class="govuk-table__header check-type">Decision recorded date</td>
                          <td id="official-veterinarian-date" class="govuk-table__cell check-status">5 September 2024</td>
                          <td></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td id="decision_time" class="govuk-table__header">Decision recorded time</td>
                          <td id="official-veterinarian-time" class="govuk-table__cell check-status">14:14</td>
                          <td></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__header check-type">Declaration date</td>
                          <td class="govuk-table__cell check-status" id="declaration-date">27 July 2023</td>
                          <td></td>
                        </tr>
                      <tr class="divider-bottom" id="decision-row-2">
                        <td class="check-type">Release decision</td>
                        <td class="check-status">Animal feeding stuff</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  
            
            
                </div>
            
              </div>
            </div>
          </section>
      </div>
    </div>
  </div>
</main>

</div>
{% endblock %}
