{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}


{% block content %}

<span class="heading-tertiary">DRAFT.GB.2023.2987635-CHEDD</span>
<div class="govuk-hint govuk-!-margin-bottom-6"></div>
<div class="govuk-grid-row">
  <form class="form" action="contact-address" method="post">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Transport</span>
      <h1 class="govuk-heading-xl " id="page-primary-title">Transport to the port of entry</h1>
      <div class="govuk-!-width-one-half">
        <label class="govuk-label govuk-label--m" for="bcp">
          Port of entry
        </label>
    
        <input class="govuk-input govuk-!-margin-bottom-5" id="port-name" name="event-name" type="text" aria-describedby="event-name-hint">

        <label class="govuk-label govuk-label--m" for="event-name-1">
          Means if transport to port of entry
        </label>
        <select class="govuk-select govuk-!-margin-bottom-5" id="event-name-1" name="means" aria-label="Document type">
          <option value="">Select means of transport to port of entry</option>
          <option value="plane">Airplane</option>
          <option value="rail">Railway</option>
          <option value="road">Road vehicle</option>
          <option value="ship">Vessel</option>
        </select>

        <label class="govuk-label govuk-label--m" for="identification">
          Identification
        </label>
        <p class="govuk-hint">Flight number, vessel name or vehicle registration</p>
        <input class="govuk-input govuk-!-margin-bottom-5" id="identification" name="id" type="text" aria-describedby="event-name-hint">

        <label class="govuk-label govuk-label--m" for="event-name-2">
          Document
        </label>
        <p class="govuk-hint">Air Waybill, Bill of lading or ship manifest</p>
        <input class="govuk-input govuk-!-margin-bottom-5" id="event-name-2" name="manifest" type="text" aria-describedby="event-name-hint">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-width-two-thirds">
              <h1 class="govuk-fieldset__heading ">
                Will the transport use the Goods Vehicle Movement Service (GVMS)?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="gvms-yes" name="gvms" type="radio" value="Yes" aria-describedby="gvms-yes-hint">
                <label class="govuk-label govuk-radios__label" for="gvms-yes">
                  Yes – GVMS will notify the driver about all inspections
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="gvms-no" name="gvms" type="radio" value="No" aria-describedby="gvms-no-hint">
                <label class="govuk-label govuk-radios__label" for="gvms-no">
                  No – IPAFFS will notify you about all inspections
                </label>
              </div>
            </div>
          </fieldset>
          <details class="govuk-details govuk-!-margin-top-4 govuk-!-width-two-thirds" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What is the GVMS?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">The GVMS helps to speed up customs clearance at some UK ports.</p>
              <p class="govuk-body">To move your goods, you need to:</p>
              <ol class="govuk-list govuk-list--number">
                <li><a href="https://www.gov.uk/guidance/list-of-ports-using-the-goods-vehicle-movement-service" target="_blank">Find out which ports use the GVMS (opens in new tab)</a></li>
                <li><a href="https://www.gov.uk/guidance/register-for-the-goods-vehicle-movement-service" target="_blank">Register for the GVMS (opens in new tab)</a></li>
                <li><a href="https://www.gov.uk/guidance/get-a-goods-movement-reference" target="_blank">Get a goods movement reference (GMR) (opens in new tab)</a></li>
              </ol>
              <p class="govuk-body">The GMR is a single reference that brings together multiple declarations. Without it, you cannot move your goods through UK ports which use the GVMS and you may face delays.</p>
              <p class="govuk-body">The driver must check the GVMS if an inspection is required before they disembark.</p>
            </div>
          </details>
        </div>
        
        <h2 class="govuk-heading-m">Estimated arrival at port of entry</h2>

        <div class="govuk-form-group ">
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-5">
            <legend class="hidden govuk-visually-hidden">Date entry:</legend>
            <span class="govuk-hint">For example, 15 8 2020</span>

            <div class="govuk-date-input" id="departure-date" data-module="accessible-datepicker">
              <div class="govuk-date-input__item date-input-day">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departure-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-day" id="departure-date-day" name="departure-date-day" type="text" maxlength="2" inputmode="numeric" value="21">
                </div>
              </div>
              <div class="govuk-date-input__item date-input-month">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departure-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-month" id="departure-date-month" name="departure-date-month" type="text" maxlength="2" inputmode="numeric" value="06">
                </div>
              </div>
              <div class="govuk-date-input__item date-input-year">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departure-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4 date-picker-year" id="departure-date-year" name="departure-date-year" type="text" maxlength="4" inputmode="numeric" value="2023">
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="govuk-fieldset">
            <legend class="hidden govuk-visually-hidden">Time entry:</legend>
            <span class="govuk-hint">24 hour format, for example 14 50</span>
            <div class="govuk-date-input" id="departure-time">
              <div class="govuk-date-input__item date-input-hour">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departure-time-hour">
                    Hour
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="departure-time-hour" name="departure-time-hour" type="text" maxlength="2" inputmode="numeric" value="12">
                </div>
              </div>
              <div class="govuk-date-input__item date-input-minute">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departure-time-minutes">
                    Minutes
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="departure-time-minutes" name="departure-time-minutes" type="text" maxlength="2" inputmode="numeric" value="12">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="save-and-submit-buttons">
        <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-return-button" name="save-and-return-button" type="submit" value="Save and return to hub" data-module="govuk-button">
        <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="button-save-and-continue" name="button-save-and-continue" type="submit" value="Save and continue" data-module="govuk-button">
        <p class="govuk-body"><a class="govuk-link" href="check-answers">Cancel and return to hub</a></p>
      </div>
    </div>
  </form>
</div>


{% endblock %}
