
{% extends "layout.html" %}

{% block pageTitle %}
Accompanying Documents – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "x-ched/cuc-oi/ur/includes/back.html" %} 
{% endblock %}

{% block content %}



<div class="govuk-!-padding-top-0">
  <span class="heading-tertiary">
      <span id="reference-number">DRAFT.GB.2024.1098634</span>
          <span> - CHEDPP</span>
  </span>
</div>


 <main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row" id="traders-page">
    <div class="govuk-grid-column-full">
          <span class="govuk-caption-xl">Traders</span>
      <h1 class="govuk-heading-xl " id="page-primary-title">Importer, Packer, Delivery address and Consignor</h1>
      <form action="../billing-details/01-add-billing-details?ched-type=chedpp" method="POST">
        <input name="crumb" type="hidden" value="f7oXRgAyjBToZv6unQMrxEepc20vr89dFouSrRHYril">
        <input name="etag" type="hidden" value="&quot;0000000002C9ABA8&quot;">

          <div class="govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-m">
              Importer 
            </h2>
            <p class="govuk-hint"></p>
            <div class="table-responsive">
              <table class="govuk-table govuk-!-margin-bottom-2 trader-table" id="traders-table-importer">
                <thead class="govuk-table__head">
                  <tr>
                    <th class="govuk-table__header col-name" id="importer-name">Name</th>
                    <th class="govuk-table__header col-address" id="importer-address">Address</th>
                      <th class="govuk-table__header col-country" id="importer-country">Country</th>
                    <th class="govuk-table__header col-edit" id="importer-edit">
                      <span class="govuk-visually-hidden">Change link</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="govuk-table__cell col-name" headers="importer-name">
                          Plants and Trees Nursery
                        </td>
                        <td class="govuk-table__cell col-address" headers="importer-address">
                          North Prospects Retail Park, Daffodil Road, Basingstoke, RG21 7DB
                        </td>
                          <td class="govuk-table__cell col-country" headers="importer-country">
                            England
                          </td>
                        <td class="govuk-table__cell col-edit text-align-right" headers="importer-edit">
                        </td>
                    </tr>
                </tbody>
              </table>
            </div>
          
          </div>
          
          <div class="govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-m">
              Packer (optional) 
            </h2>
            <p class="govuk-hint"></p>
            <div class="table-responsive">
              <table class="govuk-table govuk-!-margin-bottom-2 trader-table" id="traders-table-packer">
                <thead class="govuk-table__head">
                  <tr>
                    <th class="govuk-table__header col-name" id="packer-name">Name</th>
                    <th class="govuk-table__header col-address" id="packer-address">Address</th>
                      <th class="govuk-table__header col-country" id="packer-country">Country</th>
                    <th class="govuk-table__header col-edit" id="packer-edit">
                      <span class="govuk-visually-hidden">Change link</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% if (data['packer-page'] == "yes") %}
                    <tr>
                        <td class="govuk-table__cell" headers="packer-name" style="vertical-align: top;">Bloemen en Bloembollen Nederland</td>
                        <td class="govuk-table__cell" headers="packer-address" style="vertical-align: top;">Pompstraat 101, Rotterdam, 3082 RN</td>
                        <td class="govuk-table__cell" headers="packer-country" style="vertical-align: top;">Netherlands</td>
                        <td class="govuk-table__cell" headers="packer-edit">
                          <a href="04-02-addresses-search?addressType=packer" class="govuk-link" id="edit-delivery-address">
                            Change
                          </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="govuk-table__cell" headers="packer-name">&nbsp;</td>
                        <td class="govuk-table__cell" headers="packer-address"></td>
                        <td class="govuk-table__cell" headers="packer-country"></td>
                        <td class="govuk-table__cell" headers="packer-edit"></td>
                    </tr>
                    {% endif %}
                </tbody>
              </table>
            </div>
              {% if (data['packer-page'] != "yes") %}
              <a href="04-02-addresses-search?addressType=packer" class="govuk-link govuk-!-font-size-19" id="add-packer">Add a packer (optional) </a>
              {% endif %}
          </div>
          
          <div class="govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-m">
              Delivery address 
            </h2>
            <p class="govuk-hint"></p>
            <div class="table-responsive">
              <table class="govuk-table govuk-!-margin-bottom-2 trader-table" id="traders-table-delivery-address">
                <thead class="govuk-table__head">
                  <tr>
                    <th class="govuk-table__header col-name" id="delivery-address-name">Name</th>
                    <th class="govuk-table__header col-address" id="delivery-address-address">Address</th>
                      <th class="govuk-table__header col-country" id="delivery-address-country">Country</th>
                    <th class="govuk-table__header col-edit" id="delivery-address-edit">
                      <span class="govuk-visually-hidden">Change link</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% if (data['delivery-page'] == "yes") %}
                    <tr>
                        <td class="govuk-table__cell" headers="delivery-address-name" style="vertical-align: top;">Plants and Trees Nurseries</td>
                        <td class="govuk-table__cell" headers="delivery-address-address" style="vertical-align: top;">North Prospects Retail Park, Daffodil Road, Basingstoke, RG21 7DB</td>
                        <td class="govuk-table__cell" headers="delivery-address-country" style="vertical-align: top;">England</td>
                        <td class="govuk-table__cell" headers="delivery-address-edit">
                          <a href="04-02-addresses-search?addressType=delivery%20address" class="govuk-link" id="edit-delivery-address">
                            Change
                          </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="govuk-table__cell" headers="delivery-address-name">&nbsp;</td>
                        <td class="govuk-table__cell" headers="delivery-address-address"></td>
                        <td class="govuk-table__cell" headers="delivery-address-country"></td>
                        <td class="govuk-table__cell" headers="delivery-address-edit"></td>
                    </tr>
                    {% endif %}
                </tbody>
              </table>
            </div>
              {% if (data['delivery-page'] != "yes") %}
              <a href="04-02-addresses-search?addressType=delivery%20address" class="govuk-link govuk-!-font-size-19" id="add-place-of-destination">Add a delivery address </a>
              {% endif %}
          </div>
          
          <div class="govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-m">
              Consignor or exporter 
            </h2>
            <p class="govuk-hint"></p>
            <div class="table-responsive">
              <table class="govuk-table govuk-!-margin-bottom-2 trader-table" id="traders-table-consignor">
                <thead class="govuk-table__head">
                  <tr>
                    <th class="govuk-table__header col-name" id="consignor-name">Name</th>
                    <th class="govuk-table__header col-address" id="consignor-address">Address</th>
                      <th class="govuk-table__header col-country" id="consignor-country">Country</th>
                    <th class="govuk-table__header col-edit" id="consignor-edit">
                      <span class="govuk-visually-hidden">Change link</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% if (data['consignor-page'] == "yes") %}
                    <tr>
                        <td class="govuk-table__cell" headers="consignor-name" style="vertical-align: top;">Bloemen en Bloembollen Nederland</td>
                        <td class="govuk-table__cell" headers="consignor-address" style="vertical-align: top;">Pompstraat 101, Rotterdam, 3082 RN</td>
                        <td class="govuk-table__cell" headers="consignor-country" style="vertical-align: top;">Netherlands</td>
                        <td class="govuk-table__cell" headers="consignor-edit">
                          <a href="04-02-addresses-search?addressType=consignor%20or%20exporter" class="govuk-link" id="edit-delivery-address">
                            Change
                          </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="govuk-table__cell" headers="consignor-name">&nbsp;</td>
                        <td class="govuk-table__cell" headers="consignor-address"></td>
                        <td class="govuk-table__cell" headers="consignor-country"></td>
                        <td class="govuk-table__cell" headers="consignor-edit"></td>
                    </tr>
                    {% endif %}
                </tbody>
              </table>
            </div>
              {% if (data['consignor-page'] != "yes") %}
              <a href="04-02-addresses-search?addressType=consignor%20or%20exporter" class="govuk-link govuk-!-font-size-19" id="add-consignor">Add a consignor or exporter </a>
              {% endif %}
          </div>
          

            <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-return-button" name="save-and-return-button" type="submit" value="Save and return to hub" data-module="govuk-button">
            <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="button-save-and-continue" name="button-save-and-continue" type="submit" value="Save and continue" data-module="govuk-button">
            <p class="govuk-body"><a class="govuk-link" href="01-no-check-answers">Cancel and return to hub</a></p>
      </form>
    </div>
  </div>
</main>

{% endblock %}
