
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> 
  </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

 
  <h3 class="govuk-heading-l">Transit override CHEDA</h3>
  <p class='govuk-body'><a href="0-index">Start - dashboard</a></p>
  <p class='govuk-body'><a href="06-about-consignment">Main reason for importing</a> &ndash; &bull; removed MRN from internal market option &bull; removed hint text from Temporary admission horses</a></p>
  <p class='govuk-body'><a href="07-notification">Notification hub</a> &ndash; added link to 'Goods movement services' page</p>
  <p class='govuk-body'><a href="09-additional-details.html">Additional details</a> &ndash; removed shipping containers or road trailers question</p>
  <p class='govuk-body'><a href="11-transport-details">Transport details</a> &ndash; &bull; 'Means of transport to POA' now radio buttons enabling details to be enterred &bull; Removed GVMS question &bull; Added road trailer question with options to add now or later &bull; Added shipping containers question, moved from additional details page</p>
  <p class='govuk-body'><a href="11b-goods-movement-services">Goods movement services</a> &ndash; new page including CTC and GVMS questions (previously on 'Transport details' page)</p>
  <p class='govuk-body'><a href="18-review">Review</a> &ndash; updated to reflect new journey e.g section for 'Goods movement services'</p>
  <p class='govuk-body'><a href="18-review-add-MRN-later">Review &ndash; add MRN later</a> &ndash; messaging for where user selects to add MRN later</p>
  <p class='govuk-body'><a href="18-review-error-mrn">Review &ndash; error &ndash; no MRN entered</a> &ndash; error message for where user selects to add MRN but does not enter one</p>
  <details class="govuk-details govuk-!-margin-top-9">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Previous iterations
      </span>
    </summary>
    <div class="govuk-details__text">
      <h3 class="govuk-heading-m">Transit override &ndash; iteration 2</h3>
      <p class='govuk-body'><a href="../part-1-transit-override-iteration-02/0-index">Start - dashboard</a></p>
      <p class='govuk-body'><a href="../part-1-transit-override-iteration-02/06-about-consignment">Main reason for importing</a> &ndash; removed MRN from internal market option</a></p>
      <p class='govuk-body'><a href="../part-1-transit-override-iteration-02/07-notification">Notification hub</a> &ndash; added link to 'Goods movement services' page</p>
      <p class='govuk-body'><a href="../part-1-transit-override-iteration-02/11-transport-details">Transport details</a> &ndash; 'Means of transport to POA' now radio buttons. Removed GVMS question</p>
      <p class='govuk-body'><a href="../part-1-transit-override-iteration-02/11b-goods-movement-services">Goods movement services</a> &ndash; new page including CTC and GVMS questions</p>
      <p class='govuk-body'><a href="../part-1-transit-override-iteration-02/18-review">Review</a> &ndash; updated to reflect new journey e.g section for 'Goods movement services'</p>
      <p class='govuk-body'><a href="../part-1-transit-override-iteration-02/18-review-add-MRN-later">Review &ndash; add MRN later</a> &ndash; messaging for scenario where user selects to add MRN later</p>
      <hr>
      <h3 class="govuk-heading-m">Transit override &ndash; iteration 1</h3>
      <p class='govuk-body'><a href="../part-1-transit-override-iteration-01/0-index">Start - dashboard</a></p>
      <p class='govuk-body'><a href="../part-1-transit-override-iteration-01/03-origin-of-import">Origin of the import</a> &ndash; added CTC question</p>
      <p class='govuk-body'><a href="../part-1-transit-override-iteration-01/06-about-consignment">Main reason for importing</a> &ndash; removed MRN from internal market option</a></p>
      <p class='govuk-body'><a href="../part-1-transit-override-iteration-01/18-review">Review</a> &ndash; added answer to CTC question. If answer is 'yes', then displays MRN too</a></p>
  
    </div>
  </details>
  <hr>
 
  
</div>


</div>
   
{% endblock %}
