{% extends "layout.html" %}

{% block pageTitle %}
What are you importing – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}

<div class="govuk-!-padding-top-6">
  <span class="heading-tertiary">
      <span id="reference-number">DRAFT.GB.2023.5925980</span>
          <span> - CHEDP</span>
  </span>
</div>

<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row" id="commodity-search-page">
    <div class="govuk-grid-column-full">
          <span class="govuk-caption-xl">Description of the goods</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" id="page-primary-title">Commodity</h1>


        <p class="govuk-caption-m govuk-!-margin-bottom-4">You can only add 500 commodity lines (commodity code and genus/species) to a notification. If you want to add more commodity lines, you can raise another notification.</p>

      <form method="post" action="05-commodity-genus">
        <input name="crumb" type="hidden" value="2PV89JtB8VaplnH3tu65ZntQTvpaFW0v_2rJbUMdRUS">
        <input name="etag" type="hidden" value="&quot;000000000537DC3C&quot;">
        <input name="commodityDetailsPage" type="hidden" value="">

      </form>

          <div class="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" id="commodity-code-search-tab-link" href="page-3?tab=commodity-code-search">
                  Commodity code search
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" id="species-search-tab-link" href="page-3?tab=species-search">
                  Species search
                </a>
              </li>
            </ul>
            <div class="govuk-tabs__panel" id="commodity-code-search-tab">
              <form method="post" action="05-commodity-genus">
                <input name="crumb" type="hidden" value="2PV89JtB8VaplnH3tu65ZntQTvpaFW0v_2rJbUMdRUS">
                <input name="etag" type="hidden" value="&quot;000000000537DC3C&quot;">
                <input name="selectedCommodity" type="hidden" value="root">
                <input name="commodityDetailsPage" type="hidden" value="">
              
                <div class="search-panel govuk-!-margin-bottom-6">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Search commodities</h2>
                      </legend>
              
                      <div class="govuk-form-group  ">
                          
                          <label class="govuk-label " for="commodity-code-search">
                            Enter commodity code
                          </label>
                          
                      
                      
                          
                      
                        <input class="govuk-input govuk-!-width-one-third " id="commodity-code-search" name="commodity-text-input" type="text" value="" inputmode="numeric">
                      </div>
                    </fieldset>
                  </div>
              
                  <button class="govuk-button govuk-!-margin-bottom-0" id="commodity-search" name="action" value="search" data-module="govuk-button">
                    Search
                  </button>
                </div>
              
                  <h3 class="govuk-heading-m">
                    Find the commodity in the commodity tree
                  </h3>
                
                  <div class="search-panel">
                    <div class="commodity-selection-breadcrumb">
                      <nav id="tree-nav">
                          <a class="govuk-link all-sections-link" href="04-commodity">
                            All commodities
                          </a>
                  
                        <div class="commodity-list">
                          <ul>
                            <li id="commodity-03">
                              <p class="box-margin">
                                  <strong class="commodity-code-box">
                                    <button type="submit" name="parent_03" value="03" class="link-button">
                                      03
                                    </button>
                                  </strong>
                                <span class="commodity-description-links-container">
                                  <button type="submit" name="parent_03" value="03" class="link-button commodity-description-link">
                                    FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUATIC INVERTEBRATES
                                  </button>
                                </span>
                              </p>
                                <ul class="commodity-tree">
                                    <li>
                                      <nav>
                                          <div id="details-content-0301-parent" aria-hidden="false">
                                            <p class="box-margin">
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0301" value="0301" class="link-button">
                                                    03
                                                  </button>
                                                </strong>
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0301" value="0301" class="link-button">
                                                    01
                                                  </button>
                                                </strong>
                                              <span class="commodity-description-links-container">
                                                <button type="submit" name="parent_0301" value="0301" class="link-button commodity-description-link">
                                                  Live fish
                                                </button>
                                              </span>
                                            </p>
                                          </div>
                                      </nav>
                                    </li>
                                    <li>
                                      <nav>
                                          <div id="details-content-0302-parent" aria-hidden="false">
                                            <p class="box-margin">
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0302" value="0302" class="link-button">
                                                    03
                                                  </button>
                                                </strong>
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0302" value="0302" class="link-button">
                                                    02
                                                  </button>
                                                </strong>
                                              <span class="commodity-description-links-container">
                                                <button type="submit" name="parent_0302" value="0302" class="link-button commodity-description-link">
                                                  Fish, fresh or chilled, excluding fish fillets and other fish meat of heading|0304
                                                </button>
                                              </span>
                                            </p>
                                          </div>
                                      </nav>
                                    </li>
                                    <li>
                                      <nav>
                                          <div id="details-content-0303-parent" aria-hidden="false">
                                            <p class="box-margin">
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0303" value="0303" class="link-button">
                                                    03
                                                  </button>
                                                </strong>
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0303" value="0303" class="link-button">
                                                    03
                                                  </button>
                                                </strong>
                                              <span class="commodity-description-links-container">
                                                <button type="submit" name="parent_0303" value="0303" class="link-button commodity-description-link">
                                                  Fish, frozen, excluding fish fillets and other fish meat of heading|0304
                                                </button>
                                              </span>
                                            </p>
                                          </div>
                                      </nav>
                                    </li>
                                    <li>
                                      <nav>
                                          <div id="details-content-0304-parent" aria-hidden="false">
                                            <p class="box-margin">
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0304" value="0304" class="link-button">
                                                    03
                                                  </button>
                                                </strong>
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0304" value="0304" class="link-button">
                                                    04
                                                  </button>
                                                </strong>
                                              <span class="commodity-description-links-container">
                                                <button type="submit" name="parent_0304" value="0304" class="link-button commodity-description-link">
                                                  Fish fillets and other fish meat (whether or not minced), fresh, chilled or frozen
                                                </button>
                                              </span>
                                            </p>
                                          </div>
                                      </nav>
                                    </li>
                                    <li>
                                      <nav>
                                          <div id="details-content-0305-parent" aria-hidden="false">
                                            <p class="box-margin">
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0305" value="0305" class="link-button">
                                                    03
                                                  </button>
                                                </strong>
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0305" value="0305" class="link-button">
                                                    05
                                                  </button>
                                                </strong>
                                              <span class="commodity-description-links-container">
                                                <button type="submit" name="parent_0305" value="0305" class="link-button commodity-description-link">
                                                  Fish, dried, salted or in brine; smoked fish, whether or not cooked before or during the smoking process; flours, meals and pellets of fish, fit for human consumption
                                                </button>
                                              </span>
                                            </p>
                                          </div>
                                      </nav>
                                    </li>
                                    <li>
                                      <nav>
                                          <div id="details-content-0306-parent" aria-hidden="false">
                                            <p class="box-margin">
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0306" value="0306" class="link-button">
                                                    03
                                                  </button>
                                                </strong>
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0306" value="0306" class="link-button">
                                                    06
                                                  </button>
                                                </strong>
                                              <span class="commodity-description-links-container">
                                                <button type="submit" name="parent_0306" value="0306" class="link-button commodity-description-link">
                                                  Crustaceans, whether in shell or not, live, fresh, chilled, frozen, dried, salted or in brine; crustaceans, in shell, cooked by steaming or by boiling in water, whether or not chilled, frozen, dried, salted or in brine; flours, meals and pellets of crustaceans, fit for human consumption
                                                </button>
                                              </span>
                                            </p>
                                          </div>
                                      </nav>
                                    </li>
                                    <li>
                                      <nav>
                                          <div id="details-content-0307-parent" aria-hidden="false">
                                            <p class="box-margin">
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0307" value="0307" class="link-button">
                                                    03
                                                  </button>
                                                </strong>
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0307" value="0307" class="link-button">
                                                    07
                                                  </button>
                                                </strong>
                                              <span class="commodity-description-links-container">
                                                <button type="submit" name="parent_0307" value="0307" class="link-button commodity-description-link">
                                                  Molluscs, whether in shell or not, live, fresh, chilled, frozen, dried, salted or in brine; smoked molluscs, whether in shell or not, whether or not cooked before or during the smoking process; flours, meals and pellets of molluscs, fit for human consumption
                                                </button>
                                              </span>
                                            </p>
                                          </div>
                                      </nav>
                                    </li>
                                    <li>
                                      <nav>
                                          <div id="details-content-0308-parent" aria-hidden="false">
                                            <p class="box-margin">
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0308" value="0308" class="link-button">
                                                    03
                                                  </button>
                                                </strong>
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0308" value="0308" class="link-button">
                                                    08
                                                  </button>
                                                </strong>
                                              <span class="commodity-description-links-container">
                                                <button type="submit" name="parent_0308" value="0308" class="link-button commodity-description-link">
                                                  Aquatic invertebrates other than crustaceans and molluscs, live, fresh, chilled, frozen, dried, salted or in brine; smoked aquatic invertebrates other than crustaceans and molluscs, whether or not cooked before or during the smoking process; flours, meals and pellets of aquatic invertebrates other than crustaceans and molluscs, fit for human consumption
                                                </button>
                                              </span>
                                            </p>
                                          </div>
                                      </nav>
                                    </li>
                                    <li>
                                      <nav>
                                          <div id="details-content-0309-parent" aria-hidden="false">
                                            <p class="box-margin">
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0309" value="0309" class="link-button">
                                                    03
                                                  </button>
                                                </strong>
                                                <strong class="commodity-code-box">
                                                  <button type="submit" name="parent_0309" value="0309" class="link-button">
                                                    09
                                                  </button>
                                                </strong>
                                              <span class="commodity-description-links-container">
                                                <button type="submit" name="parent_0309" value="0309" class="link-button commodity-description-link">
                                                  Flours, meals and pellets of fish, crustaceans, molluscs and other aquatic invertebrates, fit for human consumption
                                                </button>
                                              </span>
                                            </p>
                                          </div>
                                      </nav>
                                    </li>
                                </ul>
                            </li>
                          </ul>
                        </div>
                  
                      </nav>
                    </div>
                  </div>
              </form>
            </div>
          </div>

    </div>
  </div>
</main>

{% endblock %}
