{% extends "layout.html" %}

{% block pageTitle %}
Commodity details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}



<div class="govuk-!-padding-top-6">
  <span class="heading-tertiary">
      <span id="reference-number">DRAFT.GB.2023.5925980</span>
          <span> - CHEDP</span>
  </span>
</div>
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row" id="commodity-details-page">
    <div class="govuk-grid-column-full">
          <span class="govuk-caption-xl">Description of the goods</span>
        <h1 class="govuk-heading-xl " id="page-primary-title">Commodity</h1>

      <form action="09-catch-certificates" method="post">
        <input name="" id="" class="js-hidden" type="submit" value="Keyboard submit">
        <input name="crumb" type="hidden" value="0">
        <input name="etag" type="hidden" value="&quot;00000000053B49A0&quot;">
        <input name="commodityDetailsPage" type="hidden" value="1">

        <div class="govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-m">Commodities</h2>
          <div class="table-responsive">
            <table class="govuk-table commodity-overview govuk-!-margin-bottom-1" id="commodity-table">
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Commodity</th>
                <th scope="col" class="govuk-table__header" colspan="2">Description</th>
              </tr>
              </thead>
              <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell " id="commodity-03043100">03043100</td>
                <td class="govuk-table__cell" id="commodity-description-03043100">Of tilapia (Oreochromis spp.)</td>
                <td class="govuk-table__cell remove">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          
          <input class="link-button" id="add-commodity" name="add-commodity" value="Add commodity" type="submit" aria-label="Add commodity">
          
        </div>

          <div class="govuk-!-margin-bottom-8">
            <div class="table-responsive">
              <table class="govuk-table species-table govuk-!-margin-bottom-1">
                <caption class="govuk-table__caption">
                  <h2 class="govuk-heading-m">Of tilapia (Oreochromis spp.)</h2>
                </caption>

                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header species   ">Species, type,<br>class and family</th>
                    <th scope="col" class="govuk-table__header">Net weight<br>(kg/units)</th>
                  <th scope="col" class="govuk-table__header">Number of<br>packages</th>
                    <th scope="col" class="govuk-table__header">Type of package</th>
                  <td class="govuk-table__header"></td>
                </tr>
                </thead>

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row" id="species-03043100-121418">
                    <td class="govuk-table__cell   " id="03043100-121418">Oreochromis niloticus, Wild stock</td>
                    <td class="govuk-table__cell">
                            <div class="">
                              <div class="govuk-form-group govuk-!-margin-bottom-0  ">
                              
                              
                              
                                <input class="govuk-input net-weight " id="03043100-121418.net-weight" name="03043100-121418.net-weight" type="[object Object]" value="" aria-label="Net weight for Oreochromis niloticus 1-1">
                              </div>
                            </div>
                    </td>
                    <td class="govuk-table__cell">
                            <div class="">
                              <div class="govuk-form-group govuk-!-margin-bottom-0  ">
                              
                              
                              
                                <input class="govuk-input number-of-packages " id="03043100-121418.num-packages" name="03043100-121418.num-packages" type="[object Object]" value="" aria-label="Number of packages for Oreochromis niloticus 1-1">
                              </div>
                            </div>
                    </td>
                      <td class="govuk-table__cell">
                        <div class=" ">
                          <select class="govuk-select type-of-package govuk-!-width-full" aria-label="Package type for Oreochromis niloticus 1-1" name="03043100-121418.package-type" id="03043100-121418.package-type">
                              <option value="" selected="">Select type of package</option>
                              <option>Bag</option>
                              <option>Bale</option>
                              
                                <option>Balloon Protected</option>
                              
                              <option>Block</option>
                              <option>Box</option>
                              <option>Can</option>
                              <option>Carton</option>
                              <option>Case</option>
                              <option>Cask</option>
                              <option>Coffer</option>
                              <option>Container, not otherwise specified as transport equipment</option>
                              <option>Crate</option>
                              <option>Drum</option>
                              <option>In Bulk</option>
                              <option>Jar</option>
                              <option>Other</option>
                              <option>Package</option>
                              <option>Pail</option>
                              <option>Pallet</option>
                              
                                <option>Pallet Box</option>
                              
                              <option>Polystyrene Box</option>
                              <option>Tank</option>
                              <option>Tote</option>
                              <option>Tray</option>
                              <option>Tube</option>
                              <option>Vial</option>
                          </select>
                        </div>
                      </td>
                    <td class="govuk-table__cell remove">
                    </td>
                  </tr>
                </tbody>

                <tfoot>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header   ">Subtotal</th>
                    <td class="govuk-table__cell govuk-!-font-weight-bold">
                        0
                    </td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold">
                      0
                    </td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                </tfoot>
              </table>
            </div>

              <input type="submit" name="add-species_03043100" value="Add species" class="link-button" id="add-species-03043100">
          </div>

          <div>
            <h2 class="govuk-heading-m">Total for this consignment</h2>
          
            <div class="table-responsive govuk-!-width-one-half">
              <table class="govuk-table" role="presentation">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-full" id="net-weight-total-header">Net weight (kg/units)</th>
                    <td class="govuk-table__cell">0</td>
                  </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-full">Number of packages</th>
                  <td class="govuk-table__cell">0</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="govuk-!-margin-bottom-8">
              <input class="govuk-button govuk-button--secondary" type="submit" value="Update total" name="update-total" id="update-total-desktop">
            </div>
          </div>

            <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-return-button-p" name="save-and-return-button-p" type="submit" value="Save and return to hub" data-module="govuk-button">
            <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="button-save-and-continue-p" name="button-save-and-continue-p" type="submit" value="Save and continue" data-module="govuk-button">
            <p class="govuk-body"><a class="govuk-link" href="07-check-answers">Cancel and return to hub</a></p>
      </form>
    </div>
  </div>
</main>
{% endblock %}
