
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">CHEDP</h1>

   
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#part-1">
            Part 1 - Importer
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-2">
            Part 2  - Inspector
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-3">
            Part 3 - Control
          </a>
        </li>
       
      </ul>
      <div class="govuk-tabs__panel" id="part-1">
        <h2 class="govuk-heading-l">Part 1 - Importer</h2>
        
   


    
     
      <div govuk-body govuk-!-padding-bottom-9>
        <h3>Landbridge - August 2023</h3>
        <p class='govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3'>Conforming goods</p>
        <p class='govuk-body'><a href="/chedp/0-index">Start</a></p>
        <p><a href="/chedp/07-check-answers">Notification hub</a></p>

        <p class='govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3 govuk-!-padding-top-3'>Non conforming goods</p>
        <p class='govuk-body'><a href="/chedp-non-conforming-goods/0-index">Start</a></p>
        <p><a href="/chedp-non-conforming-goods/07-check-answers">Notification hub</a></p>

        <h4>Landbridge</h4>
        <p><a href="/chedp/20-submitted-inspection-required-entry">Submitted - Inspection required on entry</a></p>
        <p><a href="/chedp/20-submitted-inspection-required-exit">Submitted - Inspection required on exit</a></p>
        <p><a href="/chedp/20-submitted-inspection-not-required">Submitted - Inspection not required</a></p>
      <h4>Landbridge emails</h4>
      <p><a href="/part1-landbridge-emails/override-sanitary-inspection-required-on-entry">Override sanitary inspection required on entry</a></p>
      <p><a href="/part1-landbridge-emails/override-sanitary-inspection-required-on-exit">Override sanitary inspection required on exit</a></p>
      <p><a href="/part1-landbridge-emails/sanitary-inspection-no-longer-required-on-entry">Sanitary inspection no longer required on entry</a></p>
      <p><a href="/part1-landbridge-emails/sanitary-inspection-no-longer-required-on-exit">Sanitary inspection no longer required on exit</a></p>
      <p><a href="/part1-landbridge-emails/sanitary-inspection-required-on-entry">Sanitary inspection required on entry</a></p>
      <p><a href="/part1-landbridge-emails/sanitary-inspection-required-on-exit">Sanitary inspection required on exit</a></p>
     
      <hr>

    <h3 id="for-dev">IUU final  - October 2023</h3>
    <h4>Part 1 </h4>
    <p class='govuk-body'><a href="/part-1-chedp/iuu-final/0-index">Start</a> - no changes (given for reference of journey)</p>
    <p><a href="/part-1-chedp/iuu-final/07-check-answers">Notification hub</a></p>
    <p><a href="/part-1-chedp/iuu-final/09-iuu-docs">CC-00 - Do you need catch certificates</a></p>
    <p><a href="/part-1-chedp/iuu-final/09aa-multi-upload-catch">CC-01.1 - Upload catch certificates</a></p>
    <p><a href="/part-1-chedp/iuu-final/09-catch-certificates">CC-02 - Manage catch certificates no details</a> - <strong>final</strong></p>
    <p class="govuk-!-margin-left-4">- <a href="/part-1-chedp/iuu-final/09-catch-certificates-dev">CC-02 - Manage catch certificates no details</a> - interim dev</p>
    <p><a href="/part-1-chedp/iuu-final//09-catch-certificates-complete">CC-02.01 - Manage catch certificates - details entered</a> - <strong>final</strong> </p>
    <p class="govuk-!-margin-left-4">- <a href="/part-1-chedp/iuu-final//09-catch-certificates-complete-dev">CC-02.01 - Manage catch certificates - details entered</a> - interim dev</p>
    <p><a href="/part-1-chedp/iuu-final/09bb-multi-doc-details-catch">CC-03.01 - Add catch certificate details</a> - <strong>final</strong></p>
    <p class="govuk-!-margin-left-4">- <a href="/part-1-chedp/iuu-final/09bb-multi-doc-details-catch-dev">CC-03.01 - Add catch certificate details</a> - interim dev</p>
    <p><a href="/part-1-chedp/iuu-final/09bb-multi-doc-details-catch">CC-03.01 - Add catch certificate details</a> - multiple certificates</p>
    <p><a href="/part-1-chedp/iuu-final/09e-iuu-confirmation">CC-04 - Confirm exempt species</a></p>
    <p><a href="/part-1-chedp/iuu-final/12-accompanying-docs">AD-01 - Accompanying documents</a> (shown with no health cert)</p>
    <p><a href="/part-1-chedp/iuu-final/18-review">RV-01 - Review page</a> (shown with no health cert)</p>
    <h4>Part 2 - final  </h4>
    <p><a href="/part-2/iuu/01-decision-hub-spain">Pt2-01 - Decision hub</a> - no changes (given for reference of journey)</p>
    <p><a href="/part-2/iuu/11-documents-spain">Pt2-03 - Attachments</a> (shown with health cert)</p>
    <p><a href="/part-2/iuu/01-notification-overview-spain">Pt2-04 - Notification overview</a> (shown with health cert)</p>
    <p><a href="/part-2/iuu/03-iuu">Pt2-05 - IUU checks</a></p>
    <p><a href="/part-2/iuu/08-review-decision">Pt2-10 - Review outcome decision</a></p>
    <p><a href="/part-2/iuu/12-ched-overview">Pt2-11.01 &amp; Pt2-11.02 - CHED overview</a></p>
    
    <hr>

    <h3>IUU User research prototype - round 2 - September 2023</h3>
    
    <p class='govuk-body'><a href="/part-1-chedp/iuu-round-2/0-index">Start</a> -  (this journey bifurcates between low and medium risk)</p>
    <p><a href="/part-1-chedp/iuu-round-2/07-check-answers">Notification hub</a> - no health cert</p>
    <p><a href="/part-1-chedp/iuu-round-2/07-check-answers-vhc">Notification hub</a> - with a health cert</p>

    


    <hr>

    <h3>IUU User research prototype round 1 - August 2023</h3>

    <p class='govuk-body'><a href="/part-1-chedp/iuu/0-index">Start</a></p>
        <p><a href="/part-1-chedp/iuu/07-check-answers">Notification hub</a></p>

        <p><a href="/part-1-chedp/iuu/18-review-100-docs">Review page - 100 docs</a></p>


    </div>
    
  
 


 <!-- tabs end -->

</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-2">
  <h2 class="govuk-heading-l">Part 2 -  Inspector</h2>
  <h3>Landbridge  - August 2023</h3>
  
  <!--<p><a href="/part-2/chedp-landbridge/">Dashboard</a></p>-->
  <p><a href="/part-2/chedp-landbridge/index">Dashboard</a></p>
  <p><a href="/part-2/chedp-landbridge/01-decision-hub-inspection-required">Decision Hub – inspection required on entry screen</a></p>
  <p><a href="/part-2/chedp-landbridge/01-notification-overview">Notification Overview</a></p>
  <p><a href="/part-2/chedp-landbridge/00-ched-overview">CHED overview</a></p>


  <!--<H4>Possible variations</H4>
  <p><a href="/part-2/chedp-landbridge/01-decision-hub-plain">Decision hub - plain</a></p>-->
  
<hr>
<h3>IUU  - August 2023</h3>
<p><a href="/part-2/iuu/dashboard">Dashboard</a></p>
<p><a href="/part-2/iuu/dashboard">IUU alerts</a></p>


<H4>Spain</H4>
<p><a href="/part-2/iuu/01-decision-hub-spain">Decision hub</a></p>

<h4>Bulgaria</h4>
<p><a href="/part-2/iuu/01-decision-hub-bulgaria">Decision hub</a></p>

<h4>Montenegro</h4>
<p><a href="/part-2/iuu/01-decision-hub-montenegro">Decision hub</a></p>

<h4>Algeria</h4>
<p><a href="/part-2/iuu/01-decision-hub-algeria">Decision hub</a></p>

<!-- <h5>Other statuses</h5>
<p><a href="/part-2/iuu/01-decision-hub-notice">Decision hub - intensified control</a></p>
<p><a href="/part-2/iuu/01-decision-hub-iuu-ae">Decision hub - approved est and IUU docs missing</a></p> -->


<!-- <H4>Notification overview</H4>

  <p><a href="/part-2/iuu/01-notification-overview-all-docs">Notification overview - All docs added</a></p>
 
  <p><a href="/part-2/iuu/01-notification-overview-no-catch-certs">Notification overview - IUU - no catch certificates</a></p> -->

</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-3">
  <h2 class="govuk-heading-l">Part 3 - Control</h2>
  <h3>Landbridge  - August 2023</h3>
  <p><a href="/part-3/chedp-landbridge/record-control">Record control page</a></p>
  <p><a href="/part-3/chedp-landbridge/notification">CHED overview (notification and control tabs updated)</a></p>
  <h4>View of consignments</h4>
  <p><a href="/part-3/chedp-landbridge/dashboard-02">Dashboard with 1 alert only</a></p>
  <p><a href="/part-3/chedp-landbridge/exit-inspections">Consignments requiring exit inspection</a></p>
  <p><a href="/part-3/chedp-landbridge/exit-inspections-option-01">Enhanced version</a></p>
  <p>&nbsp;</p>
  <p><a href="/part-3/chedp-landbridge/dashboard">Dashboard with 2 alerts</a></p>
  <p><a href="/part-3/chedp-landbridge/my-alerts">My Alerts page</a></p>
  <p><a href="/part-3/chedp-landbridge/my-alerts-option-01">Enhanced version</a></p>
 
</div>

</div>
   
{% endblock %}
