
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">IPAFFS - CHEDP</h1>

   
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#part-1">
            Part 1 - Importer
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-2">
            Part 2  - Inspector
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-3">
            Part 3 - Control
          </a>
        </li>
       
      </ul>
      <div class="govuk-tabs__panel" id="part-1">
        <h2 class="govuk-heading-l">Part 1 - Importer</h2>
        
   


    
     
      <div govuk-body govuk-!-padding-bottom-9>
        <h3>Landbridge - August 2023</h3>
        <p class='govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3'>Conforming goods</p>
        <p class='govuk-body'><a href="/chedp/0-index">Start</a></p>
        <p><a href="/chedp/07-check-answers">Notification hub</a></p>

        <p class='govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3 govuk-!-padding-top-3'>Non conforming goods</p>
        <p class='govuk-body'><a href="/chedp-non-conforming-goods/0-index">Start</a></p>
        <p><a href="/chedp-non-conforming-goods/07-check-answers">Notification hub</a></p>

        <h4>Landbridge</h4>
        <p><a href="/chedp/20-submitted-inspection-required-entry">Submitted - Inspection required on entry</a></p>
        <p><a href="/chedp/20-submitted-inspection-required-exit">Submitted - Inspection required on exit</a></p>
        <p><a href="/chedp/20-submitted-inspection-not-required">Submitted - Inspection not required</a></p>
      <h4>Landbridge emails</h4>
      <p><a href="/part1-landbridge-emails/override-sanitary-inspection-required-on-entry">Override sanitary inspection required on entry</a></p>
      <p><a href="/part1-landbridge-emails/override-sanitary-inspection-required-on-exit">Override sanitary inspection required on exit</a></p>
      <p><a href="/part1-landbridge-emails/sanitary-inspection-no-longer-required-on-entry">Sanitary inspection no longer required on entry</a></p>
      <p><a href="/part1-landbridge-emails/sanitary-inspection-no-longer-required-on-exit">Sanitary inspection no longer required on exit</a></p>
      <p><a href="/part1-landbridge-emails/sanitary-inspection-required-on-entry">Sanitary inspection required on entry</a></p>
      <p><a href="/part1-landbridge-emails/sanitary-inspection-required-on-exit">Sanitary inspection required on exit</a></p>
     
    <hr>

    <h3>IUU  - August 2023</h3>

    <p class='govuk-body'><a href="/part-1-chedp/iuu/0-index">Start</a></p>
        <p><a href="/part-1-chedp/iuu/07-check-answers">Notification hub</a></p>
    </div>
    
  
 


 <!-- tabs end -->

</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-2">
  <h2 class="govuk-heading-l">Part 2 -  Inspector</h2>
  <h3>Landbridge  - August 2023</h3>
  
  <p><a href="/part-2/chedp-landbridge/">Dashboard</a></p>


  <H4>Possible variations</H4>
  <p><a href="/part-2/chedp-landbridge/01-decision-hub-plain">Decision hub - plain</a></p>
  
<hr>
<h3>IUU  - August 2023</h3>
<p><a href="/part-2/iuu/dashboard">Dashboard</a></p>


<H4>Decision hub</H4>
<p><a href="/part-2/iuu/01-decision-hub">Decision hub - plain</a></p>
<p><a href="/part-2/iuu/01-decision-hub-iuu-docs">Decision hub - IUU - no catch certificates</a></p>
<p><a href="/part-2/iuu/01-decision-hub-iuu-list">Decision hub - country not on approved list</a></p>



<!-- <h5>Other statuses</h5>
<p><a href="/part-2/iuu/01-decision-hub-notice">Decision hub - intensified control</a></p>
<p><a href="/part-2/iuu/01-decision-hub-iuu-ae">Decision hub - approved est and IUU docs missing</a></p> -->


<H4>Notification overview</H4>

  <p><a href="/part-2/iuu/01-notification-overview-all-docs">Notification overview - All docs added</a></p>
 
  <p><a href="/part-2/iuu/01-notification-overview-no-catch-certs">Notification overview - IUU - no catch certificates</a></p>

</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-3">
  <h2 class="govuk-heading-l">Part 3 - Control</h2>
  <h3>Landbridge  - August 2023</h3>
  <p><a href="/part-3/chedp-landbridge/dashboard">Dashboard</a></p>
  <p><a href="/part-3/chedp-landbridge/exit-inspections">Exit inspection dashboard</a></p>

  

 
 
</div>

</div>
   
{% endblock %}
