{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}


{% block content %}

<span class="heading-tertiary">DRAFT.GB.2023.2987635-CHEDD</span>
<div class="govuk-grid-row">
  <form class="form" action="addresses" method="post">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Documents</span>
      <h1 class="govuk-heading-xl " id="page-primary-title">Accompanying documents</h1>
      <p class="govuk-hint"> Upload any required documents, for example:</p>
      <ul>
        <li>if applicable, a health or phytosanitary certificate (also known as the ‘official certificate’) and laboratory sample results</li>
        <li>transport documents, such as a road consignment (CMR) note or air, sea or rail waybills</li>
        <li>commercial documents, such as bill of lading, invoice and packing list</li>
        </ul>
      

        <div class="govuk-!-margin-bottom-6 additional-documents-table" id="additional-documents-table">
          <div class="additional-documents__caption govuk-heading-m" id="additional-documents-header">
            Additional documents
          </div>
          <div class="additional-documents__grid-row additional-documents__headers">
            <div class="additional-documents__grid-column-15 additional-documents__table-header">
              Document type
            </div>
            <div class="additional-documents__grid-column-15 additional-documents__table-header">
              Document reference
            </div>
            <div class="additional-documents__grid-column-doc-date additional-documents__table-header">
              Date of issue
              <div class="additional-documents__date-of-issue-hint">
                <span class="additional-documents__date-of-issue-hint__day">Day</span>
                <span class="additional-documents__date-of-issue-hint__month">Month</span>
                <span class="additional-documents__date-of-issue-hint__year">Year</span>
              </div>
            </div>
            <div class="additional-documents__grid-column-20 additional-documents__table-header">
              Attachments (optional)
            </div>
          </div>

          <div class="additional-documents__grid-row additional-document-info">
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-type-heading-0">Document type</div>
              <div class="additional-documents__content-value" id="additional-document-type-value-0">
                Sea Waybill
              </div>
            </div>
            <div class="additional-documents__grid-column-15 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-reference-heading-0">Document reference</div>
              <div class="additional-documents__content-value" id="additional-document-reference-value-0">
                DOC-11921
              </div>
            </div>
            <div class="additional-documents__grid-column-doc-date additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-date-heading-0">
                Date of issue
                <div class="additional-documents__date-of-issue-hint">
                  <span class="additional-documents__date-of-issue-hint__day">Day</span>
                  <span class="additional-documents__date-of-issue-hint__month">Month</span>
                  <span class="additional-documents__date-of-issue-hint__year">Year</span>
                </div>
              </div>
              <div class="additional-documents__content-value" id="additional-document-date-value-0">
                26 March 2022
              </div>

            </div>
            <div class="additional-documents__grid-column-20 additional-document-content">
              <div class="additional-documents__content-heading" id="additional-document-attachment-heading-0">
                Attachments (optional)
              </div>
              <div class="additional-documents__content-value" id="additional-document-attachment-value-0">
                <button type="submit" class="link-button no-wrap" id="add-attachment-0" name="add-attachment" value="0">
                  Add attachment
                </button>
              </div>
            </div>
          </div>
          <div class="additional-documents__grid-row additional-documents__content-links">
            <div class="additional-documents__grid-column-50">
              <button type="submit" class="link-button" id="button-remove-additional-document-0" name="remove-additional-document" value="0">
                Remove
              </button>
            </div>
          </div>
          <div class="additional-documents__grid-row additional-documents__add-document">
            <div class="additional-documents__grid-column-15">
              <div class="govuk-form-group govuk-!-margin-bottom-0 ">
                <select class="custom-select" id="document-type" name="document-type" aria-label="Document type">
                  <option value="">Select document type</option>
                  <option value="veterinaryHealthCertificate">Veterinary health certificate</option>
                  <option value="airWaybill">Air Waybill</option>
                  <option value="importPermit">Import permit</option>
                  <option value="letterOfAuthority">Letter of authority (Directive 2008/61/EC)</option>
                  <option value="commercialInvoice">Commercial invoice</option>
                  <option value="seaWaybill">Sea Waybill</option>
                  <option value="railwayBill">Railway bill</option>
                  <option value="customsDeclaration">Customs declaration</option>
                  <option value="billOfLading">Bill of lading</option>
                  <option value="catchCertificate">Catch certificate</option>
                  <option value="laboratorySamplingResultsForAflatoxin">Laboratory Sampling results for Aflatoxin (Reg 2019/1793)</option>
                  <option value="healthCertificate">Health certificate</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
            <div class="additional-documents__grid-column-15">
              <div class="govuk-form-group govuk-!-margin-bottom-0 ">
                <input class="govuk-input  " id="document-reference" name="document-reference" type="text" value="" aria-label="Document reference">
              </div>
            </div>
            <div class="additional-documents__grid-column-doc-date">
              <div class="govuk-form-group govuk-!-margin-bottom-0 ">
                <fieldset class="govuk-fieldset" role="group">
                  <legend class="govuk-fieldset__legend govuk-visually-hidden">
                    Document issue date
                  </legend>

                    <div class="govuk-date-input__item date-input-day">
                      <div class="govuk-form-group">
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-day" id="document-issue-date-day" name="document-issue-date-day" type="text" value="" inputmode="numeric" maxlength="2" aria-label="Day">
                      </div>
                    </div>
                    <div class="govuk-date-input__item date-input-month">
                      <div class="govuk-form-group">
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-month" id="document-issue-date-month" name="document-issue-date-month" type="text" value="" inputmode="numeric" maxlength="2" aria-label="Month">
                      </div>
                    </div>
                    <div class="govuk-date-input__item date-input-year">
                      <div class="govuk-form-group">
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4 date-picker-year" id="document-issue-date-year" name="document-issue-date-year" type="text" value="" inputmode="numeric" maxlength="4" aria-label="Year">
                      </div>
                    </div>
<!--                  <svg aria-hidden="true" role="img">-->
<!--                    <use href="#calendar">-->
<!--                      <svg viewBox="0 0 24 24" id="calendar" xmlns="http://www.w3.org/2000/svg">-->
<!--                        <path d="M0 0h24v24H0z" fill="none"></path>-->
<!--                        <path d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"></path>-->
<!--                      </svg>-->
<!--                    </use>-->
<!--                  </svg>-->
                </fieldset>
              </div>
            </div>
            <div class="additional-documents__grid-column-20 additional-documents__add-document-attachment">
              <button type="submit" class="link-button no-wrap" id="add-attachment" name="add-attachment" value="">
                Add attachment
              </button>
            </div>
          </div>
          <input name="is-additional-document-row-shown" type="hidden" value="true">
          <button type="submit" class="link-button additional-documents__add-another-document" id="button-add-additional-document" name="add-additional-document" value="">
            Add another document
          </button>
        </div>

      <div class="save-and-submit-buttons">
        <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-return-button" name="save-and-return-button" type="submit" value="Save and return to hub" data-module="govuk-button">
        <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="button-save-and-continue" name="button-save-and-continue" type="submit" value="Save and continue" data-module="govuk-button">
        <p class="govuk-body"><a class="govuk-link" href="check-answers">Cancel and return to hub</a></p>
      </div>
    </div>
  </form>
</div>
{% endblock %}
