{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}


{% block content %}

<span class="heading-tertiary">DRAFT.GB.2023.2987635-CHEDD</span>
<div class="govuk-hint govuk-!-margin-bottom-6"></div>
<div class="govuk-grid-row">
  <form class="form" action="12-accompanying-docs" method="post">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Description of the goods</span>
      <h1 class="govuk-heading-xl " id="page-primary-title">Contact details</h1>

      <div class="govuk-hint govuk-!-margin-bottom-6" id="responsible-person-contact-details-page-hint">
        <p>These are the details we have for you. Make sure they are up to date.</p>
        <p>We will use these details if your consignment is chosen for inspection.</p>
      </div>
      
<div class="govuk-form-group  ">
              
           


      <div class="govuk-!-width-two-thirds">
        <label class="govuk-label--s" for="event-name">
          Name
        </label>
        <input class="govuk-input govuk-!-margin-bottom-5" id="event-name" name="contact-name" type="text" value="Percy-Inspector Tester" aria-describedby="event-name-hint">
        <label class="govuk-label--s" for="event-name-1">
          Email address
        </label>
        <input class="govuk-input govuk-!-margin-bottom-5" id="event-name-1" name="contact-email" type="text" value="ImporterABC@goods.com" aria-describedby="event-name-hint">
        <label class="govuk-label--s" for="event-name-2">
          Mobile number
        </label>
        <input class="govuk-input govuk-!-margin-bottom-5" id="event-name-2" name="contact-mobile" type="text" value="020 8225 7295" aria-describedby="event-name-hint">
      </div>
      <div class="govuk-!-margin-bottom-6"></div>
      <div class="save-and-submit-buttons">
        <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-return-button" name="save-and-return-button" type="submit" value="Save and return to hub" data-module="govuk-button">
        <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="button-save-and-continue" name="button-save-and-continue" type="submit" value="Save and continue" data-module="govuk-button">
        <p class="govuk-body"><a class="govuk-link" href="check-answers">Cancel and return to hub</a></p>
      </div>
    </div>
  </form>
</div>


{% endblock %}
