
{% extends "layout.html" %}

{% block pageTitle %}
Record
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Andrew Inspector-Tester</span>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="address-book" href="/notification/tst/protected/notifications/address-book">
        Address book
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="blank-certificates-link" href="/decision/tst/protected/bip-notifications/CHEDs/blank">
        Blank CHEDs
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
  <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  
</div>

  <form action="submitted-no-inspection-required-overriden" method="POST">
    <input name="crumb" type="hidden" value="ZXu3-G9T0eYRb0P3pwPknvFMnphp-uMc-v98aQwyCeU">
    <input name="etag" type="hidden" value="&quot;000000000540B70D&quot;">
    <table id="status-component" role="presentation" class="govuk-table govuk-!-margin-bottom-0">
      <tbody><tr class="divider-top divider-bottom govuk-table__row">
        <td class="govuk-table__cell">
            <strong class="govuk-tag tag tag--submitted status-label govuk-!-margin-right-2" id="Status-Label">New</strong>
              <button type="submit" class="link-button" name="setInProgress" value="IN_PROGRESS" id="set-in-progress">
                Save and set as in progress
              </button>
        </td>
      </tr>
    </tbody></table>
  
    



<main id="main-content" class="govuk-main-wrapper">
  <div class="govuk-error-summary govuk-!-margin-top-3" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">
        Please fix the following errors
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list govuk-!-margin-left-0">
          <li>
            <a href="#sealcheck-error">Select if you are sure you want to override this risk decision</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row" id="iuu-status-page">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="nationality-hint nationality-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Are you sure you want to override this risk decision?
            </h1>
          </legend>
          <p class="govuk-body-l govuk-!-margin-top-3">You cannot undo this action.</p>

          <p class="govuk-body">If you override this risk decision:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>it will change to <strong>seal check required</strong></li>
            <li>the responsible person will be notified</li>
            <li>the consignment will be brought to the BCP for inspection</li>
          </ul>
          <p id="nationality-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you are sure you want to override this risk decision
          </p>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" data-target="container-iuu">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-iuu-selected-yes" type="radio" name="iuuCheckRequired" value="true" aria-controls="container-iuu" aria-expanded="false">
              <label class="govuk-label govuk-radios__label" for="radio-iuu-selected-yes">Yes I'm sure – override the risk decision</label>
            </div>
            <div class="govuk-radios__item govuk-!-margin-top-4">
              <input class="govuk-radios__input" id="radio-iuu-selected-no" type="radio" name="iuuCheckRequired" value="false" >
              <label class="govuk-label govuk-radios__label" for="radio-iuu-selected-no">No</label>
            </div>
          </div>
        </fieldset>
      </div>

      
        <div>
          <input class="govuk-button govuk-!-margin-top-6 govuk-!-margin-right-1" type="submit" name="save-button" value="Save and continue" id="button-save-and-continue">
        </div>

    </div>
  </div>
</main>
</form>

{% endblock %}
