{% extends "layout.html" %}

{% block pageTitle %}
Notifcation hub – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}

<div class="govuk-!-padding-top-6">
  <span class="heading-tertiary">
      <span id="reference-number">DRAFT.GB.2023.5925980</span>
          <span> - CHEDP</span>
  </span>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-xl " id="page-primary-title">
    Your import notification task list</h1>

  <p class="govuk-body govuk-!-margin-bottom-8">
    These sections can be completed in any order. You can save your progress and return at any time.
  </p>

  <form action="overview-p" method="POST">

    <div class="table-responsive">
      <table class="govuk-table govuk-!-margin-bottom-8" id="prerequisites-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          About the consignment
        </caption>
        <tbody>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="03-origin-import" class="govuk-link" id="origin-of-the-import">
              Origin of the import
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag " id="origin-of-import">
              STARTED
            </strong>
          </td>
        </tr>
        <tr>
          <td class="govuk-table__cell" id="purpose-of-consignment">
            <a href="06-about-consignment" class="govuk-link">
              Main reason for importing the consignment
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag " id="consignment-purpose">
              STARTED
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="govuk-table govuk-!-margin-bottom-8" id="consignment-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          Description of the goods
        </caption>
        <tbody>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="08-commodity-details" class="govuk-link" id="commodity-details-link">
              Commodity
            </a>
          </td>

          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
       
        <tr>
          <td class="govuk-table__cell">
            <a href="10-additional-details" class="govuk-link">
              Additional details
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
       
 
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="govuk-table govuk-!-margin-bottom-8" id="documents-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          Documents
        </caption>
        <tbody>
          <tr class="table__row--border-top">
            <td class="govuk-table__cell">
              <a href="09-catch-certificates-complete" class="govuk-link" id="commodity-details-link">
                Catch certificates
              </a>
            </td>
  
            <td class="govuk-table__cell badge-right">
              <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
                TO DO
              </strong>
            </td>
          </tr>
      

          <tr class="table__row--border-top">
            <td class="govuk-table__cell">
              <a href="12-accompanying-docs" class="govuk-link">
                Accompanying documents
              </a>
            </td>
            <td class="govuk-table__cell badge-right">
              <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
                TO DO
              </strong>
            </td>
          </tr>
          <tr class="table__row--border-top">
            <td class="govuk-table__cell">
              <a href="13-approved-est" class="govuk-link">
                Approved establishment of origin (where required)
              </a>
            </td>
            <td class="govuk-table__cell badge-right">
              <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
                TO DO
              </strong>
            </td>
          </tr>
         
        

      

      
        </tbody>
      </table>
    </div>

   


    <div class="table-responsive">
      <table class="govuk-table govuk-!-margin-bottom-8" id="traders-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          Traders
        </caption>
        <tbody>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="14-addresses" class="govuk-link">
              Addresses
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="govuk-table govuk-!-margin-bottom-8" id="traders-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          Transport
        </caption>
        <tbody>
          <tr>
            <td class="govuk-table__cell">
              <a href="11-transport-to-bcp" class="govuk-link">
                Transport to the Border Control Post (BCP)
              </a>
            </td>
            <td class="govuk-table__cell badge-right">
              <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
                TO DO
              </strong>
            </td>
          </tr>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="15-transporter" class="govuk-link">
              Transporter 
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        <tr class="table__row--border-top">
          <td class="govuk-table__cell">
            <a href="16-transport-after-bcp" class="govuk-link">
              Means of transport after Border Control Post (BCP) 
            </a> 
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="govuk-table" id="review-table" role="presentation">
        <caption class="govuk-table__caption govuk-heading-m">
          Complete notification
        </caption>
        <tbody class="table__row--border-top">
          <tr>
            <td class="govuk-table__cell">
              <a href="17a-contact" class="govuk-link" id="review-link">
                Contact details
              </a>
            </td>
            <td class="govuk-table__cell badge-right">
              <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
                TO DO
              </strong>
            </td>
          </tr>
          <tr>
            <td class="govuk-table__cell">
              <a href="17b-nominated-contacts" class="govuk-link" id="review-link">
                Nominated contacts (optional)
              </a>
            </td>
            <td class="govuk-table__cell badge-right">
              <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
                TO DO
              </strong>
            </td>
          </tr>
          <tr>
            <td class="govuk-table__cell">
              <a href="17c-contact-consignment" class="govuk-link" id="review-link">
                Contact address for consignment
              </a>
            </td>
            <td class="govuk-table__cell badge-right">
              <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
                TO DO
              </strong>
            </td>
          </tr>
        <tr>
          <td class="govuk-table__cell">
            <a href="18-review" class="govuk-link" id="review-link">
              Review and submit
            </a>
          </td>
          <td class="govuk-table__cell badge-right">
            <strong class="govuk-tag phase-tag govuk-tag--grey" id="review">
              TO DO
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
</div>
{% endblock %}
