
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h3 class="govuk-heading-l" id="for-dev">IUU final  - October 2023</h3>
    <p>Responsible UX: Millie Guest</p>
    <h4 class="govuk-heading-s">Part 1 </h4>
    <p class='govuk-body'><a href="/part-1-chedp/iuu-final/0-index">Start</a> - no changes (given for reference of journey)</p>
    <p><a href="/part-1-chedp/iuu-final/07-check-answers">Notification hub</a></p>
    <p><a href="/part-1-chedp/iuu-final/09-iuu-docs">CC-00 - Do you need catch certificates</a></p>
    <p><a href="/part-1-chedp/iuu-final/09aa-multi-upload-catch">CC-01.1 - Upload catch certificates</a></p>
    <p><a href="/part-1-chedp/iuu-final/09-catch-certificates">CC-02 - Manage catch certificates no details</a> - <strong>final</strong></p>
    <p class="govuk-!-margin-left-4">- <a href="/part-1-chedp/iuu-final/09-catch-certificates-dev">CC-02 - Manage catch certificates no details</a> - interim dev</p>
    <p><a href="/part-1-chedp/iuu-final//09-catch-certificates-complete">CC-02.01 - Manage catch certificates - details entered</a> - <strong>final</strong> </p>
    <p class="govuk-!-margin-left-4">- <a href="/part-1-chedp/iuu-final//09-catch-certificates-complete-dev">CC-02.01 - Manage catch certificates - details entered</a> - interim dev</p>
    <p><a href="/part-1-chedp/iuu-final/09bb-multi-doc-details-catch">CC-03.01 - Add catch certificate details</a> - <strong>final</strong></p>
    <p class="govuk-!-margin-left-4">- <a href="/part-1-chedp/iuu-final/09bb-multi-doc-details-catch-dev">CC-03.01 - Add catch certificate details</a> - interim dev</p>
    <p><a href="/part-1-chedp/iuu-final/09bb-multi-doc-details-catch">CC-03.01 - Add catch certificate details</a> - multiple certificates</p>
    <p><a href="/part-1-chedp/iuu-final/09h-remove-2">CC-02.03 - Remove catch certificate attachment</a></p>
    <p><a href="/part-1-chedp/iuu-final/09h-remove">CC-02.03.01 - Remove catch certificate infromation</a></p>
    <p><a href="/part-1-chedp/iuu-final/09e-iuu-confirmation">CC-04 - Confirm exempt species</a></p>
    <p><a href="/part-1-chedp/iuu-final/12-accompanying-docs">AD-01 - Accompanying documents</a> (shown with no health cert)</p>
    <p><a href="/part-1-chedp/iuu-final/18-review">RV-01 - Review page</a> (shown with no health cert)</p>
    <h4 class="govuk-heading-s">Part 2 - final  </h4>
    <p><a href="/part-2/iuu/dashboard">Pt2-00 - Dashboard</a> - no changes (given for reference of journey)</p>
    <p><a href="/part-2/iuu/01-decision-hub-spain">Pt2-01 - Decision hub</a> - no changes (given for reference of journey)</p>
    <p><a href="/part-2/iuu/11-documents-spain">Pt2-03 - Attachments</a> (shown with health cert)</p>
    <p><a href="/part-2/iuu/01-notification-overview-spain">Pt2-04 - Notification overview</a> (shown with health cert)</p>
    <p><a href="/part-2/iuu/03-iuu">Pt2-05 - IUU checks</a></p>
    <p><a href="/part-2/iuu/08-review-decision">Pt2-10 - Review outcome decision</a></p>
    <p><a href="/part-2/iuu/12-ched-overview">Pt2-11.01 &amp; Pt2-11.02 - CHED overview</a></p>
    
    <hr>

    <h3 class="govuk-heading-m">IUU User research prototype - round 2 - September 2023</h3>
    
    <p class='govuk-body'><a href="/part-1-chedp/iuu-round-2/0-index">Start</a> -  (this journey bifurcates between low and medium risk)</p>
    <p><a href="/part-1-chedp/iuu-round-2/07-check-answers">Notification hub</a> - no health cert</p>
    <p><a href="/part-1-chedp/iuu-round-2/07-check-answers-vhc">Notification hub</a> - with a health cert</p>

    


    <hr>

    <h3 class="govuk-heading-m">IUU User research prototype round 1 - August 2023</h3>

    <p class='govuk-body'><a href="/part-1-chedp/iuu/0-index">Start</a></p>
        <p><a href="/part-1-chedp/iuu/07-check-answers">Notification hub</a></p>

        <p><a href="/part-1-chedp/iuu/18-review-100-docs">Review page - 100 docs</a></p>


  
    
  
 
<hr>
<h3>Part 2 IUU  - August 2023</h3>
<p><a href="/part-2/iuu/dashboard">Dashboard</a></p>
<p><a href="/part-2/iuu/dashboard">IUU alerts</a></p>


<H4>Spain</H4>
<p><a href="/part-2/iuu/01-decision-hub-spain">Decision hub</a></p>

<h4>Bulgaria</h4>
<p><a href="/part-2/iuu/01-decision-hub-bulgaria">Decision hub</a></p>

<h4>Montenegro</h4>
<p><a href="/part-2/iuu/01-decision-hub-montenegro">Decision hub</a></p>

<h4>Algeria</h4>
<p><a href="/part-2/iuu/01-decision-hub-algeria">Decision hub</a></p>

<hr>


</div>

</div>
   
{% endblock %}
