
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Prototypes home</a>
     <a href="../start" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs govuk-!-margin-left-2">XCHED home</a>
   
   
    </div> 
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl">Landbridge / transit / GVMS</h1> 

        <div class="govuk-!-margin-bottom-4 govuk-!-padding-4 govuk-!-width-one-third" style="background-color: #f6f6f6;">
          
          <p>May 2024</p>
          <p>UX: Graham Riley</p>
          
          <p><a href="https://app.mural.co/t/defra5166/m/defra5166/1710156798518/d975aa5a1354e3dd8849b05fef1b82f7f042a66f?wid=0-1714035359476" target="_blank">Mural board flow</a></p>
        </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h4 class="govuk-heading-m">Landbridge/transit &amp; GMVS journey &ndash; for CHED P</h4>
    <p class="govuk-body"><a href="confirmation/chedp-gvms/20-submitted-entry-yesandno-exit-no">Confirmation – entry inspection not required and exit inspection not required</a></p>
    <p class="govuk-body"><a href="confirmation/chedp-gvms/20-submitted-entry-yesandno-exit-no">Confirmation – entry inspection required and exit inspection not required</p>
    <p class="govuk-body"><a href="confirmation/chedp-gvms/20-submitted-entry-yesandno-exit-yes">Confirmation – entry inspection not required and exit inspection required</a></p>
    <p class="govuk-body"><a href="confirmation/chedp-gvms/20-submitted-entry-yesandno-exit-yes">Confirmation – entry inspection required and exit inspection required</a></p>
    

    <h4 class="govuk-heading-m">Landbridge/transit &amp; non-GMVS journey &ndash; for CHED P</h4>
    <p class="govuk-body">For development later (after 'transit overrides' theme)</p>
    <p class="govuk-body"><a href="confirmation/chedp-non-gvms/20-submitted-entry-no-exit-no">Confirmation – entry inspection not required and exit inspection not required</p>
    <p class="govuk-body"><a href="confirmation/chedp-non-gvms/20-submitted-entry-yes-exit-no">Confirmation – entry inspection required and exit inspection not required</a></p>
    <p class="govuk-body"><a href="confirmation/chedp-non-gvms/20-submitted-entry-no-exit-yes">Confirmation – entry inspection not required and exit inspection required</p>
    <p class="govuk-body"><a href="confirmation/chedp-non-gvms/20-submitted-entry-yes-exit-yes">Confirmation – entry inspection required and exit inspection required</a></p>

    <h4 class="govuk-heading-m">All CHED messaging for non-transits</h4>
    <p class="govuk-body"><a href="confirmation/all-ched-non-transits/20-submitted-chedp-and-pp-no">Confirmation – CHED P &amp; PP inspection not required</p>
    <p class="govuk-body"><a href="confirmation/all-ched-non-transits/20-submitted-cheda-no">Confirmation – CHED A inspection not required</p>
    <p class="govuk-body"><a href="confirmation/all-ched-non-transits/20-submitted-ched-d-p-and-pp-yes">Confirmation – CHED D, P &amp; PP inspection required</p>
    <p class="govuk-body"><a href="confirmation/all-ched-non-transits/20-submitted-cheda-yes">Confirmation – CHED A inspection required</p>
    <p class="govuk-body"><a href="confirmation/all-ched-non-transits/20-submitted-ched-d-and-p-gvms">Confirmation – CHED D &amp; P GVMS</p>
    <p class="govuk-body"><a href="confirmation/all-ched-non-transits/20-submitted-chedpp-gvms">Confirmation – CHED PP GVMS</p>
    <p class="govuk-body"><a href="confirmation/all-ched-non-transits/20-submitted-cheda-gvms">Confirmation – CHED A GVMS</a></p>
    

    <h4 class="govuk-heading-m">Emails</h4>
    <p class="govuk-body"><a href="emails/email-health-inspection-required">Email - health inspection - required</a></p>
    <p class="govuk-body"><a href="emails/email-health-inspection-override-now-required">Email - health inspection - override to now required</a></p>
    <p class="govuk-body"><a href="emails/email-health-inspection-override-no-longer-required">Email - health inspection - override to no longer required</a></p>
    <br>
    <p class="govuk-body"><a href="emails/email-entry-health-inspection-required">Email - health inspection on entry - required</a></p>
    <p class="govuk-body"><a href="emails/email-entry-health-inspection-override-now-required">Email - health inspection on entry - override to now required</a></p>
    <p class="govuk-body"><a href="emails/email-entry-health-inspection-override-no-longer-required">Email - health inspection on entry - override to no longer required</a></p>
    <br>
    <p class="govuk-body"><a href="emails/email-entry-seal-check-required">Email - seal check on entry - required</a></p>
    <p class="govuk-body"><a href="emails/email-entry-seal-check-override-now-required">Email - seal check on entry - override to now required</a></p>
    <p class="govuk-body"><a href="emails/email-entry-seal-check-override-no-longer-required">Email - seal check on entry - override to no longer required</a></p> 
    <br>
    <p class="govuk-body"><a href="emails/email-exit-seal-check-required">Email - seal check on exit - required</a></p>
    <p class="govuk-body"><a href="emails/email-exit-seal-check-override-now-required">Email - seal check on exit - override to now required</a></p>
    <p class="govuk-body"><a href="emails/email-exit-seal-check-override-no-longer-required">Email - seal check on exit - override to no longer required</a></p> 
  </div>
 
</div>
          


       



{% endblock %}
