
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
  <a href="javascript:history.back()" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Andrew Inspector-Tester</span>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="address-book" href="/notification/tst/protected/notifications/address-book">
        Address book
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="blank-certificates-link" href="/decision/tst/protected/bip-notifications/CHEDs/blank">
        Blank CHEDs
      </a>
      <span aria-hidden="true">|</span>
      <a class="govuk-link govuk-!-display-inline-block" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
</div>

<main class="govuk-main-wrapper govuk-!-padding-top-5" id="main-content">
  <div class="govuk-grid-row" id="notification-overview-page">
    <div class="govuk-grid-column-full">
      <!-- <div>
        <a rel="noopener noreferrer" href="/notification/tst/protected/notifications/CHEDP.GB.2023.5790850/certificate/pdf" target="_blank" class="govuk-button govuk-button--secondary govuk-!-margin-right-1" id="show-certificate" data-module="govuk-button">
          <span>Show CHED</span>
        </a>
          <a href="record-exit-inspection" class="govuk-button govuk-button--secondary" id="record-control" data-module="govuk-button">
            <span>Record exit inspection</span>
          </a>
      </div> -->
      <div>
        <h1 class="govuk-heading-xl ">
        <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-margin-top-0 govuk-!-font-size-27">
            <span id="reference-number">CHEDP.GB.2023.5790850</span>
            <span id="cved-version-number"> - V1</span>
        </span>
        
        CHED overview
        </h1>      
      </div>

      <a href="record-exit-inspection" class="govuk-button govuk-button" id="record-control" data-module="govuk-button">
        <span>Record exit inspection</span>
      </a>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list" role="tablist">
          <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#notification" id="tab_notification" role="tab" aria-controls="notification" aria-selected="false" tabindex="-1">
              Notification
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
            <a class="govuk-tabs__tab" href="#decision" id="tab_decision" role="tab" aria-controls="decision" aria-selected="true" tabindex="0">
              Checks
            </a>
          </li>
        </ul>
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="notification" role="tabpanel" aria-labelledby="tab_notification">
          <table class="govuk-table govuk-!-margin-bottom-2 review-table">
            <caption class="govuk-table__caption govuk-heading-m">About the consignment</caption>
          
            <tbody>
            <tr class="table__row--border-top divider-top">
              <th scope="row" class="govuk-table__cell govuk-!-font-weight-bold">What are you importing?</th>
              <td class="govuk-table__cell" id="about-importing">Products of animal origin</td>
            </tr>
            <tr class="divider-top">
              <td class="govuk-table__cell govuk-!-font-weight-bold">Responsible person</td>
              <td class="govuk-table__cell" id="responsible-person">Gary Admin-Tester</td>
            </tr>
            <tr class="divider-top">
              <td class="govuk-table__cell govuk-!-font-weight-bold">Telephone</td>
              <td class="govuk-table__cell" id="responsible-person-telephone">020 8225 7295</td>
            </tr>
            <tr>
              <td class="govuk-table__cell govuk-!-font-weight-bold">Email</td>
              <td class="govuk-table__cell" id="responsible-person-email">DefraTestBIP@anthunt3.33mail.com</td>
            </tr>
            <tr>
              <td class="govuk-table__cell govuk-!-font-weight-bold">Organisation Name</td>
              <td class="govuk-table__cell" id="responsible-person-company-name">Defra Test BIP</td>
            </tr>
            <tr>
              <td class="govuk-table__cell govuk-!-font-weight-bold">Organisation Address</td>
              <td class="govuk-table__cell" id="responsible-person-org-address">Animal and Plant Health Agency, Woodham Lane, New Haw, Surrey, Addlestone, KT15 3NB</td>
            </tr>
            <tr>
              <td class="govuk-table__cell govuk-!-font-weight-bold">Organisation Telephone</td>
              <td class="govuk-table__cell" id="responsible-person-org-telephone">020 8225 7295</td>
            </tr>
              <tr class="divider-top">
                <td class="govuk-table__cell govuk-!-font-weight-bold">Reference number for this consignment</td>
                <td class="govuk-table__cell" id="consignment-reference">09u8iygfh</td>
              </tr>
            <tr>
              <td class="govuk-table__cell govuk-!-font-weight-bold">Country of origin</td>
              <td class="govuk-table__cell" id="country-of-origin">Aland Islands</td>
            </tr>
          
              <tr>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Country from where consigned</td>
                <td class="govuk-table__cell" id="country-of-consignment">Aland Islands</td>
              </tr>
          
          
            <tr>
              <td class="govuk-table__cell govuk-!-font-weight-bold">Region code</td>
              <td class="govuk-table__cell" id="region-code"></td>
            </tr>
          
              <tr>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Does this consignment conform to regulatory requirements?</td>
                <td class="govuk-table__cell" id="conforms-to-regulations">No</td>
              </tr>
          
            <tr class="divider">
              <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
              <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
            </tr>
          
            <tr>
              <td class="govuk-table__cell govuk-!-font-weight-bold">
                What is the purpose of the consignment?
              </td>
                  <td class="govuk-table__cell" id="primary-purpose">For transit</td>
                </tr>
          
                <tr>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">Exit Border Control Post</td>
                  <td class="govuk-table__cell" id="exit-bip-transit">Belfast Pharmaceuticals - BelfPort2</td>
                </tr>
                <tr>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">Transited country</td>
                  <td class="govuk-table__cell" id="transited-country">
                      Albania<br>
                  </td>
                </tr>
                <tr>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">Destination country</td>
                  <td class="govuk-table__cell" id="destination-country">Aland Islands</td>
                </tr>
          
          
          
          
          
          
            <tr class="divider">
              <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
              <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
            </tr>
          
            </tbody>
          </table>
          
          <h2 id="desc-goods-table" class="govuk-heading-m">Description of the goods</h2>
          
              <table class="govuk-table govuk-!-margin-bottom-2 review-table" id="review-table-commodity-attributes-0" role="presentation">
                <tbody>
                  <tr class="divider-top">
                  <td class="govuk-table__cell govuk-!-font-weight-bold">Commodity code</td>
                  <td class="govuk-table__cell">16056900 </td>
                  <td class="govuk-table__cell change">
                  </td>
                </tr>
                </tbody>
              </table>
          
              <table class="govuk-table govuk-!-margin-bottom-6 review-table" aria-describedby="desc-goods-table">
                <thead>
                <tr class="divider-bottom">
                  <th scope="col" class="govuk-table__cell govuk-!-font-weight-bold">Species</th>
                  <th scope="col" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">Net weight</th>
                  <th scope="col" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">Packages</th>
                  <th scope="col" class="govuk-table__cell govuk-!-font-weight-bold">Package type</th>
                </tr>
                </thead>
                <tbody>
                  <tr class="divider-bottom">
                    <td class="govuk-table__cell" id="commodity-0-species-0-name">Annelida</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" id="commodity-0-species-0-net-weight">1 kg/units</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" id="commodity-0-species-0-number-of-packages">1</td>
                    <td class="govuk-table__cell" id="commodity-0-species-0-package-type">Carton</td>
                    <td class="govuk-table__cell" id="commodity-0-species-0-product-type"></td>
                  </tr>
                  <tr class="divider-bottom">
                    <td class="govuk-table__cell" id="commodity-0-species-1-name">Coelenterae</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" id="commodity-0-species-1-net-weight">1 kg/units</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" id="commodity-0-species-1-number-of-packages">1</td>
                    <td class="govuk-table__cell" id="commodity-0-species-1-package-type">In Bulk</td>
                    <td class="govuk-table__cell" id="commodity-0-species-1-product-type"></td>
                  </tr>
                  <tr class="divider-bottom">
                    <td class="govuk-table__cell" id="commodity-0-species-2-name">Echinodermae</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" id="commodity-0-species-2-net-weight">1 kg/units</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" id="commodity-0-species-2-number-of-packages">1</td>
                    <td class="govuk-table__cell" id="commodity-0-species-2-package-type">Tray</td>
                    <td class="govuk-table__cell" id="commodity-0-species-2-product-type"></td>
                  </tr>
                  <tr class="divider-bottom">
                    <td class="govuk-table__cell" id="commodity-0-species-3-name">Porifera</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" id="commodity-0-species-3-net-weight">1 kg/units</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" id="commodity-0-species-3-number-of-packages">1</td>
                    <td class="govuk-table__cell" id="commodity-0-species-3-package-type">Drum</td>
                    <td class="govuk-table__cell" id="commodity-0-species-3-product-type"></td>
                  </tr>
                  <tr class="divider-bottom">
                    <td class="govuk-table__cell" id="commodity-0-species-4-name">Radiata</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" id="commodity-0-species-4-net-weight">1 kg/units</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" id="commodity-0-species-4-number-of-packages">1</td>
                    <td class="govuk-table__cell" id="commodity-0-species-4-package-type">Pail</td>
                    <td class="govuk-table__cell" id="commodity-0-species-4-product-type"></td>
                  </tr>
                </tbody>
                <tfoot>
                <tr class="divider-bottom">
                  <td class="govuk-table__cell govuk-!-font-weight-bold">Subtotal</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" id="commodity-0-net-weight-subtotal">5 kg/units</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" id="commodity-0-number-of-packages-subtotal">5</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
                </tr>
                </tfoot>
              </table>
            <table class="govuk-table govuk-!-margin-bottom-2 review-table" aria-describedby="desc-goods-table">
              <tbody>
              <tr class="divider-bottom">
                <th scope="row" class="govuk-table__cell govuk-!-font-weight-bold">Total net weight</th>
                <td class="govuk-table__cell" id="total-net-weight">5 kg/units</td>
              </tr>
              <tr class="divider-bottom">
                <td class="govuk-table__cell govuk-!-font-weight-bold">Total packages</td>
                <td class="govuk-table__cell" id="total-number-of-packages">5</td>
              </tr>
              </tbody>
            </table>
          
          
          <table class="govuk-table govuk-!-margin-bottom-2 review-table" role="presentation">
            <tbody>
              <tr class="table__row--border-top">
                <td class="govuk-table__cell govuk-!-font-weight-bold">Total gross weight (kg / units)</td>
                <td class="govuk-table__cell" id="total-gross-weight">111</td>
              </tr>
              <tr>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Temperature</td>
                <td class="govuk-table__cell" id="temperature">Ambient</td>
              </tr>
            </tbody>
          </table>
          
          <table class="govuk-table review-table" id="review-table-goods-imported-in-containers" role="presentation">
            <tbody>
              <tr class="divider-bottom">
                <td class="govuk-table__cell govuk-!-font-weight-bold">Will your goods be imported in shipping containers?</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="divider">
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
          
          
          
          
          
            <h2 class="govuk-heading-m" id="transport-to-bcp-title">Transport to the Border Control Post (BCP)</h2>
            <table class="govuk-table govuk-!-margin-bottom-6 review-table" role="presentation">
              <tbody>
              <tr class="divider-top">
                <td class="govuk-table__cell govuk-!-font-weight-bold">Border Control Post</td>
                <td class="govuk-table__cell" id="designated-bip">BelfPort2</td>
              </tr>
              <tr>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Means of transport to the BCP</td>
                <td class="govuk-table__cell" id="means-of-transport-to-bip">Airplane</td>
              </tr>
              <tr>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Identification</td>
                <td class="govuk-table__cell" id="identification">23432434</td>
              </tr>
              <tr>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Document</td>
                <td class="govuk-table__cell" id="document">fd3324</td>
              </tr>
              <tr>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Estimated arrival date at BCP</td>
                <td class="govuk-table__cell" id="estimated-arrival-date">23 June 2023</td>
              </tr>
              <tr class="divider-bottom">
                <td class="govuk-table__cell govuk-!-font-weight-bold">Estimated arrival time at BCP</td>
                <td class="govuk-table__cell" id="estimated-arrival-time">03:23</td>
              </tr>
              </tbody>
            </table>
          
          <table class="govuk-table govuk-!-margin-bottom-0" role="presentation">
            <caption class="govuk-table__caption govuk-heading-m">Documents</caption>
          </table>
          
          
          
              <h3 class="govuk-heading-s" id="latest-health-certificate-sub-heading">Latest health certificate</h3>
              <div class="overflow-x-auto">
                <table class="govuk-table table--fixed review-additional-documents-table" id="latest-health-document-table">
                  <caption class="govuk-table__caption govuk-visually-hidden">Latest health certificate
                    table
                  </caption>
                  <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-!-width-quarter govuk-table__header" id="latest-health-certificate-table-heading-type">Document type</th>
                    <th scope="row" class="govuk-!-width-quarter govuk-table__header" id="latest-health-certificate-table-heading-reference">Document reference</th>
                    <th scope="row" class="govuk-!-width-quarter govuk-table__header" id="latest-health-certificate-table-heading-date-of-issue">Date of issue</th>
                    <th scope="row" class="govuk-!-width-quarter govuk-table__header" id="latest-health-certificate-table-heading-attachments">Attachments</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" id="latest-health-certificate-type">
                          Veterinary health certificate
                        </td>
                        <td class="govuk-table__cell break-word" id="latest-health-certificate-reference">3243243</td>
                        <td class="govuk-table__cell" id="latest-health-certificate-date">23 June 2023</td>
                        <td class="govuk-table__cell">
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>    <h3 class="govuk-heading-s" id="additional-documents-sub-heading">Showing 1 additional document</h3>
              <table class="govuk-table display-additional-documents-table table--fixed govuk-!-margin-bottom-6" id="accompanying-documents-table">
                <caption class="govuk-table__caption govuk-visually-hidden">Accompanying documents table</caption>
                <thead>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Document type </th>
                  <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Document reference</th>
                  <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Date of issue</th>
                  <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Attachments</th>
                </tr>
                </thead>
                <tbody>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" id="accompanying-document-type-0">Veterinary health certificate</td>
                        <td class="govuk-table__cell break-word" id="accompanying-document-reference-0">5464y7</td>
                        <td class="govuk-table__cell" id="accompanying-document-date-0">22 June 2023</td>
                        <td class="govuk-table__cell">
                        </td>
                      </tr>
                </tbody>
              </table>
          
          
            <table class="govuk-table" id="review-table-approved-establishments">
              <caption class="govuk-table__caption">Approved establishment</caption>
          
              <thead class="govuk-table__head">
              <tr>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Country</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Type</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter no-wrap">
                  Approval number
                </th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="govuk-table__cell" id="establishment-of-origin-0-name">Global Life Sciences Solutions New Zealand</td>
                  <td class="govuk-table__cell" id="establishment-of-origin-0-country">New Zealand</td>
                  <td class="govuk-table__cell" id="establishment-of-origin-0-type">
                      Category 3
                      
                  </td>
                  <td class="govuk-table__cell" id="establishment-of-origin-0-approval-number">BBP7</td>
                </tr>
                <tr>
                  <td class="govuk-table__cell" id="establishment-of-origin-1-name">Blanket JSC 'YAMSy'</td>
                  <td class="govuk-table__cell" id="establishment-of-origin-1-country">Russian Federation</td>
                  <td class="govuk-table__cell" id="establishment-of-origin-1-type">
                      Factory Vessel
                      
                  </td>
                  <td class="govuk-table__cell" id="establishment-of-origin-1-approval-number">06A</td>
                </tr>
              </tbody>
            </table>
          
          
          <table class="govuk-table govuk-!-margin-bottom-2 review-table" role="presentation">
            <caption class="govuk-table__caption govuk-heading-m">Traders</caption>
            <tbody>
            <tr class="divider-top">
              <td class="govuk-table__cell govuk-!-font-weight-bold divider-top">Consignor or exporter</td>
              <td class="govuk-table__cell" id="consignor">SLConsignor<br>SLAddressLine1, SLCity, SL12345, Sierra Leone, 12345678, SL@gmail.com</td>
            </tr>
            <tr>
              <td class="govuk-table__cell govuk-!-font-weight-bold">Consignee</td>
              <td class="govuk-table__cell" id="consignee">GHConsignor<br>GHAddressLineOne, GHCity, GH1235, Ghana, 12345678, GHabc@gmail.com</td>
            </tr>
            <tr>
              <td class="govuk-table__cell govuk-!-font-weight-bold">Importer</td>
              <td class="govuk-table__cell" id="importer">GHConsignor<br>GHAddressLineOne, GHCity, GH1235, Ghana, 12345678, GHabc@gmail.com</td>
            </tr>
            <tr>
              <td class="govuk-table__cell govuk-!-font-weight-bold" id="final-destination-heading">Place of destination</td>
              <td class="govuk-table__cell" id="final-destination">GHConsignor<br>GHAddressLineOne, GHCity, GH1235, Ghana, 12345678, GHabc@gmail.com</td>
            </tr>
            <tr class="divider">
              <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
              <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
            </tr>
            </tbody>
          </table>
          
          
          
          
            <table class="govuk-table presentation-table review-table" id="submission-table">
              <caption class="govuk-table__caption govuk-heading-m">
                Submission information
              </caption>
              <tbody>
                <tr class="govuk-table__row divider-top">
                  <th scope="row" class="govuk-table__header">Notification submitted by</th>
                  <td class="govuk-table__cell" id="submitted-by-name">Gary Admin-Tester</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Submission date</th>
                  <td class="govuk-table__cell" id="submission-date"> 22 June 2023</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Submission time</th>
                  <td class="govuk-table__cell" id="submission-time">13:05</td>
                </tr>
              </tbody>
            </table>
        </section>
        <section class="govuk-tabs__panel" id="decision" role="tabpanel" aria-labelledby="tab_decision">
          <table class="govuk-table govuk-!-margin-bottom-4 review-table" role="presentation">
            <tbody>
            <tr class="table__row--border-top divider-bottom">
              <td class="govuk-table__header" id="bip-local-reference-number-heading">Border Control Post reference number</td>
              <td class="govuk-table__cell" id="bip-local-reference-number"></td>
            </tr>
            </tbody>
          </table>
          
            <table class="govuk-table govuk-!-margin-bottom-4 review-table" role="presentation">
              <caption class="govuk-table__caption govuk-!-margin-top-2 govuk-heading-m">IUU</caption>
              <tbody>
              <tr class="divider-top divider-bottom">
                <td class="govuk-table__header">IUU</td>
                <td class="govuk-table__cell" id="iuu-status"></td>
              </tr>
              </tbody>
            </table>
          
          <table class="govuk-table govuk-!-margin-bottom-4 review-table" role="presentation">
            <caption class="govuk-table__caption govuk-!-margin-top-2 govuk-heading-m">Checks</caption>
            <tbody>
                    <tr class="divider-top checks-row-0">
                    <td class="govuk-table__header" id="check-0-type">Documentary check</td>
                    <td class="govuk-table__cell" id="check-0-status">Satisfactory</td>
                    <td class="govuk-table__cell" id="check-0-unit-value"></td>
                  </tr>
                    <tr class="checks-row-1">
                            <td class="govuk-table__header" id="check-1-type">Identity check</td>
                    <td class="govuk-table__cell" id="check-1-status">Not Done</td>
                    <td class="govuk-table__cell" id="check-1-unit-value"></td>
                  </tr>
                    <tr class="checks-row-2">
                            <td class="govuk-table__header" id="check-2-type">Physical check</td>
                    <td class="govuk-table__cell" id="check-2-status">Satisfactory</td>
                    <td class="govuk-table__cell" id="check-2-unit-value"></td>
                  </tr>
                    <tr class="divider-bottom checks-row-3">
                    <td class="govuk-table__header" id="check-3-type">Reason physical check not done</td>
                    <td class="govuk-table__cell" id="check-3-status"></td>
                    <td class="govuk-table__cell" id="check-3-unit-value"></td>
                  </tr>
            </tbody>
          </table>
          
          <table class="govuk-table govuk-!-margin-bottom-4 review-table" role="presentation">
            <caption class="govuk-table__caption govuk-!-margin-top-2 govuk-heading-m">Seal numbers</caption>
            <tbody>
              <tr class="divider-bottom">
                <td class="govuk-table__cell" id="resealed-containers">No new seal numbers have been entered</td>
              </tr>
            </tbody>
          </table>
          
          <table class="govuk-table govuk-!-margin-bottom-4 review-table" role="presentation">
            <caption class="govuk-table__caption govuk-!-margin-top-2 govuk-heading-m">Laboratory tests</caption>
            <tbody>
                <tr class="lab-test-row-0 divider-top divider-bottom lab-test-required">
                  <td class="govuk-table__header" id="lab-test-0-type">Required</td>
                  <td class="govuk-table__cell" id="lab-test-0-status">No</td>
                </tr>
            </tbody>
          </table>
          
          <table class="govuk-table govuk-!-margin-bottom-0" role="presentation">
            <caption class="govuk-table__caption govuk-heading-m">Accompanying documents</caption>
            <tbody><tr class="table__row--border-top">
              <td class="govuk-heading-s">Additional documents</td>
            </tr>
          </tbody></table>
          <table class="govuk-table display-additional-documents-table table--fixed govuk-!-margin-bottom-6">
            <thead>
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-quarter">Document type</th>
              <th class="govuk-table__header govuk-!-width-one-quarter">Document reference</th>
              <th class="govuk-table__header govuk-!-width-one-quarter">Date of issue</th>
              <th class="govuk-table__header govuk-!-width-one-quarter">Attachments</th>
            </tr>
            </thead>
          </table>
          <table class="govuk-table govuk-!-margin-bottom-4 review-table" role="presentation">
            <caption class="govuk-table__caption govuk-!-margin-top-2 govuk-heading-m">
              Decision information
            </caption>
            <tbody>
            <tr class="divider-top">
              <td id="decision" class="govuk-table__header">Decision result</td>
              <td class="govuk-table__cell" id="acceptance-decision">Acceptable for transit</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Decision recorded by</td>
              <td class="govuk-table__cell" id="decision-recorded-by">Gary Admin-Tester</td>
              <td></td>
            </tr>
              <tr class="govuk-table__row">
                <td id="decision_date" class="govuk-table__header">Decision recorded date</td>
                <td id="official-veterinarian-date" class="govuk-table__cell">22 June 2023</td>
              </tr>
              <tr class="govuk-table__row">
                  <td id="decision_time" class="govuk-table__header">Decision recorded time</td>
                <td id="official-veterinarian-time" class="govuk-table__cell">05:09</td>
              </tr>
              <tr>
                <td class="govuk-table__header" id="date-of-declaration-heading">Declaration date</td>
                <td class="govuk-table__cell" id="date-of-declaration">22 June 2023</td>
              </tr>
                <tr>
                  <td class="govuk-table__header" id="third-country-heading">Transited country</td>
                  <td class="govuk-table__cell" id="third-country">AL</td>
                </tr>
                <tr>
                  <td class="govuk-table__header" id="exit-bip-heading">Exit Border Control Post</td>
                  <td class="govuk-table__cell" id="exit-bip">BelfPort2</td>
                </tr>
                <tr class="divider-bottom">
                  <td class="govuk-table__header" id="destination-country-heading">Destination country</td>
                  <td class="govuk-table__cell" id="destination-country">AX</td>
                </tr>
            </tbody>
          </table>
          
          
        </section>
      </div>
    </div>
  </div>
</main>

{% endblock %}
