{% extends "layout.html" %}

{% block pageTitle %}
Origin of the animal or product – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}





<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-xl">Health certificate look up</span>
        <h1 class="govuk-heading-xl">
              Health certificate details to copy
        </h1>
          
      
    </div>
  </div>
</main>

{% endblock %}
