/* 
  These are changes made as part of work on accessible responsive pages.
  Note - this code for prototype purposes only. It is not production code.
*/

/* 
  The following code affects: 
  - Addresses search page
  - Approved establishment search page
  - Transporter search page
  - Transporter added page
*/
.addresses-search__grid-row {
  padding: 10px 0;
  border-bottom: 1px solid #b1b4b6
}

.addresses-search__list {
  margin-bottom: 0;
}

@media (max-width: 40.0525em) {
  .addresses-search__headers .addresses-search__table-header {
    display: none
  }
  .addresses-search__list .addresses-search__content-heading {
    display: block
  }
}

@media (min-width: 40.0625em) {
  .addresses-search__headers .addresses-search__table-header {
    font-weight: bold;
    display: block
  }
  .addresses-search__list .addresses-search__content-heading {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
  }
}

.addresses-search__grid-row .addresses-search__content-value {
  margin-left: 0
}

.addresses-search__grid-row .addresses-search__grid-column-5,
.addresses-search__grid-row .addresses-search__grid-column-7,
.addresses-search__grid-row .addresses-search__grid-column-10,
.addresses-search__grid-row .addresses-search__grid-column-12,
.addresses-search__grid-row .addresses-search__grid-column-15,
.addresses-search__grid-row .addresses-search__grid-column-17,
.addresses-search__grid-row .addresses-search__grid-column-20,
.addresses-search__grid-row .addresses-search__grid-column-25,
.addresses-search__grid-row .addresses-search__grid-column-30,
.addresses-search__grid-row .addresses-search__grid-column-35,
.addresses-search__grid-row .addresses-search__grid-column-40,
.addresses-search__grid-row .addresses-search__grid-column-45,
.addresses-search__grid-row .addresses-search__grid-column-50 {
  box-sizing: border-box;
  margin-bottom: 1em;
  width: 100%
}

@media (min-width: 40.0625em) {
  .addresses-search__grid-row .addresses-search__grid-column-5,
  .addresses-search__grid-row .addresses-search__grid-column-7,
  .addresses-search__grid-row .addresses-search__grid-column-10,
  .addresses-search__grid-row .addresses-search__grid-column-12,
  .addresses-search__grid-row .addresses-search__grid-column-15,
  .addresses-search__grid-row .addresses-search__grid-column-17,
  .addresses-search__grid-row .addresses-search__grid-column-20, 
  .addresses-search__grid-row .addresses-search__grid-column-25, 
  .addresses-search__grid-row .addresses-search__grid-column-30, 
  .addresses-search__grid-row .addresses-search__grid-column-35,
  .addresses-search__grid-row .addresses-search__grid-column-40,
  .addresses-search__grid-row .addresses-search__grid-column-45, 
  .addresses-search__grid-row .addresses-search__grid-column-50 {
    float: left;
    margin-bottom: 0
  }
  .addresses-search__grid-row .addresses-search__grid-column-5 {
    width: 5%
  }
  .addresses-search__grid-row .addresses-search__grid-column-7 {
    width: 7%
  }
  .addresses-search__grid-row .addresses-search__grid-column-10 {
    width: 10%
  }
  .addresses-search__grid-row .addresses-search__grid-column-12 {
    width: 12%
  }
  .addresses-search__grid-row .addresses-search__grid-column-15 {
    width: 15%
  }
  .addresses-search__grid-row .addresses-search__grid-column-17 {
    width: 17%
  }
  .addresses-search__grid-row .addresses-search__grid-column-20 {
    width: 20%
  }
  .addresses-search__grid-row .addresses-search__grid-column-25 {
    width: 25%
  }
  .addresses-search__grid-row .addresses-search__grid-column-30 {
    width: 30%
  }
  .addresses-search__grid-row .addresses-search__grid-column-35 {
    width: 35%
  }
  .addresses-search__grid-row .addresses-search__grid-column-40 {
    width: 40%
  }
  .addresses-search__grid-row .addresses-search__grid-column-45 {
    width: 45%
  }
  .addresses-search__grid-row .addresses-search__grid-column-50 {
    width: 50%
  }
}

.addresses-search__grid-row:after {
  content: "";
  display: block;
  clear: both
}

.addresses-search__approval-number {
  word-break: break-word
}

/* 
  The following code affects: 
  - Accompanying documents page
*/
@media (max-width: 40.0525em) {
.additional-documents-table .additional-documents__table-header {
    display: none
  }

.additional-documents-table .additional-documents__content-heading {
    display: block
  } 
}

@media (min-width: 40.0625em) {
.additional-documents-table .additional-documents__table-header {
    display: block
  }
.additional-documents-table .additional-documents__content-heading {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
  }
}

.additional-documents-table .additional-documents__date-of-issue-hint__day {
  margin-right: 30px
}

.additional-documents-table .additional-documents__date-of-issue-hint__month {
  margin-right: 8px
}
.additional-documents-table .additional-documents__content-links .link-button {
  margin-right: 30px
}

.additional-documents-table .additional-documents__grid-row {
  border-bottom: 0;
  margin-bottom: 0
}

.additional-documents-table .additional-documents__headers {
  border-bottom: 1px solid #b1b4b6
}

.additional-documents-table .additional-documents__content-links {
  border-bottom: 1px solid #b1b4b6
}

.additional-documents-table .additional-documents__add-document {
  padding-bottom: 10px;
  border-bottom: 1px solid #b1b4b6
}
