
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl" style="color: pink;">IPAFFS - test</h1>

    <h2 class="govuk-heading-l">Alpha</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Sprint</th>
          <th class="govuk-table__header" scope="col">Date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
          <td class="govuk-table__cell">
          <h3>Article 72 work - doc upload page </h3>
          <ul>
            <li class="govuk-!-margin-bottom-4"> <a href="/v2-art72/documents">UC2,UC3,UC4 -  Mixed and non-art72 / ROW</a>
           
                     
<details class="govuk-details govuk-!-margin-bottom-0 govuk-!-margin-top-0" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <h4>Changes and rationale:</h4>
    </span>
  </summary>
  <div class="govuk-details__text">
    Problem: Currently the page is very unclear as it says 'optional' in the table under 'attachment'; whereas the phyto certificate is required for these use cases. 
    <br/><br/>
    Solution: Added a new table for the phytosanitary certificate which is always requiredd in these cases, to disamiguate from the other documents. Optional has been removed as if a document is requited then the attachment is also.  'Attachment' is now singular instead of plural.
            
  </div>
</details>


            </li>
           
            <li>  <a href="/v2-art72/documents-art72only">UC1 - Article 72 from EU only </a>

<details class="govuk-details govuk-!-margin-bottom-0 govuk-!-margin-top-0" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <h4>Changes and rationale:</h4>
    </span>
  </summary>
  <div class="govuk-details__text">
    Problem: The user may think that it is a permanent state of affairs that a phyto is not required (leading them to potentially be caught out in July). <br/><br/>
            Solution: Added help text and a link to the relevant APHA page.<br/>
            'Attachment' is now singular instead of plural.
  
  </div>
</details>

            
            
            </li>
          </ul>
          </td>
          <td class="govuk-table__cell vertical-align-top">
           <br/> <br/>
            Jan to Feb 2022
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
          <h3>API</h3>
            <a href="/v1/index-drafts">API journey</a>
          </td>
          <td class="govuk-table__cell vertical-align-middle">
            September to October 2021
          </td>
        </tr>

       

        

      </tbody>
    </table>

{% endblock %}
