
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl" style="color: pink;">IPAFFS - test</h1>

    <h2 class="govuk-heading-l">Alpha</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Sprint</th>
          <th class="govuk-table__header" scope="col">Date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
          <td class="govuk-table__cell">
          <h3>Doc upload page</h3>
          <ul>
            <li class="govuk-!-margin-bottom-4"> <a href="/v2-art72/documents">UC2,UC3,UC4 -  Mixed and non-art72 / ROW</a>
            <h4>Changes and rationale:</h4>
            <p>Currently the page is very unclear as it says optional in the table under 'attachment'; whereas the phyto certificate is required. Added a new table for the required document (phytosanitary certificate), to disamiguate from the other documents. In this way the optional text is now correct.  </p>
            
            </li>
           
            <li>  <a href="/v2-art72/documents-art72only">UC1 - Article 72 from EU only </a>
             <h4>Changes and rationale:</h4>
            <p>The user may think that it is a permanent state of affairs that a phyto is not required (leading them to potentially be caught out in July). 
            Added a details 'hide/reveal' element, which takes user to the relevant Apha page.<br/>
            Additionally added '(optional)' to the table heading (caption) to let user know that it's not required to upload a document.
            </p>
            
           
            </li>
          </ul>
          </td>
          <td class="govuk-table__cell vertical-align-top">
           <br/> <br/>
            Jan to Feb 2022
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/v1/index-drafts">API journey</a>
          </td>
          <td class="govuk-table__cell vertical-align-middle">
            September to October 2021
          </td>
        </tr>

       

        

      </tbody>
    </table>

{% endblock %}
