
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl" style="color: pink;">IPAFFS - test</h1>

    <h2 class="govuk-heading-l">Alpha</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Sprint</th>
          <th class="govuk-table__header" scope="col">Date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/v1/index-drafts">API journey</a>
          </td>
          <td class="govuk-table__cell">
            September to October 2021
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/v2">Sprint 02 - test</a>
          </td>
          <td class="govuk-table__cell">
            XX August - XX September
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/v2">Sprint 3 - test</a>
          </td>
          <td class="govuk-table__cell">
            XX August - XX September
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/v2">Sprint 4 - test</a>
          </td>
          <td class="govuk-table__cell">
            XX October - XX November
          </td>
        </tr>

      </tbody>
    </table>

{% endblock %}
