@import "node_modules/govuk-frontend/govuk/helpers/typography";
@import "node_modules/govuk-frontend/govuk/settings/colours-applied";

.summary-section-header {
  padding-bottom: 20px;
  margin-bottom: 0;
}

.actionable-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  &__action {
    @include govuk-typography-weight-bold($important: false);
  }
}
