
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">CHEDA</h1>

   
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#part-1">
            For development
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-2">
            For user research
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-3">
            Latest copy
          </a>
        </li>
       
      </ul>
      <div class="govuk-tabs__panel" id="part-1">
        <h2 class="govuk-heading-l">Prototypes for development</h2>
        
   
        <div class="govuk-body govuk-!-padding-bottom-4">
          <h3 class="govuk-heading-m">Live copy</h3>
  
        <p class="govuk-hint">Copied from live Feb 2024</p>
          
      
          <p class='govuk-body'><a href="part-1-latest/0-index">Dashboard</a></p>
          <p class='govuk-body'><a href="part-1-latest/07-notification">Notification hub</a></p>
          
  
        
      
    
   
  
  
   <!-- tabs end -->
  
  </div>

    
     
 
       

      
    
  
 


 <!-- tabs end -->

</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-2">
  <h2 class="govuk-heading-l">User research prototypes</h2>
  <h3 class="govuk-heading-m">Transit override</h3>
  <p class='govuk-body'><a href="part-1-transit-override/0-index">Start - dashboard</a></p>
  <p class='govuk-body'><a href="part-1-transit-override/06-about-consignment">Main reason for importing</a> &ndash; removed MRN from internal market option</a></p>
  <p class='govuk-body'><a href="part-1-transit-override/07-notification">Notification hub</a> &ndash; added link to 'Goods movement services' page</p>
  <p class='govuk-body'><a href="part-1-transit-override/11-transport-details">Transport details</a> &ndash; 'Means of transport to POA' now radio buttons. Removed GVMS question</p>
  <p class='govuk-body'><a href="part-1-transit-override/11b-goods-movement-services">Goods movement services</a> &ndash; new page including CTC and GVMS questions</p>
  <p class='govuk-body'><a href="part-1-transit-override/18-review">Review</a> &ndash; added answer to CTC question. If answer is 'yes', then displays MRN too</a></p>
  <details class="govuk-details govuk-!-margin-top-9">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Previous iterations
      </span>
    </summary>
    <div class="govuk-details__text">
      <h3 class="govuk-heading-m">Transit override</h3>
  <p class='govuk-body'><a href="part-1-transit-override/0-index">Start - dashboard</a></p>
  <p class='govuk-body'><a href="part-1-transit-override/03-origin-of-import">Origin of the import</a> &ndash; added CTC question</p>
  <p class='govuk-body'><a href="part-1-transit-override/06-about-consignment">Main reason for importing</a> &ndash; removed MRN from internal market option</a></p>
  <p class='govuk-body'><a href="part-1-transit-override/18-review">Review</a> &ndash; added answer to CTC question. If answer is 'yes', then displays MRN too</a></p>
  
    </div>
  </details>
  <hr>
 
  
</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-3">
  <h2 class="govuk-heading-l">Latest copy of the CHEDA prototype to copy</h2>
 
 
</div>

</div>
   
{% endblock %}
