
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">CHEDA</h1>

   
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#part-1">
            Part 1 - Importer
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-2">
            Part 2  - Inspector
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#part-3">
            Part 3 - Control
          </a>
        </li>
       
      </ul>
      <div class="govuk-tabs__panel" id="part-1">
        <h2 class="govuk-heading-l">Part 1 - Importer</h2>
        
   


    
     
      <div govuk-body govuk-!-padding-bottom-9>
        <h3 class="govuk-heading-m">Old CHEDA high risk - Feb 2022</h3>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Needs to be updated with all changes made for Imp to Ched A
          </strong>
        </div>
        
    
        <p class='govuk-body'><a href="create-cheda/">Dashboard</a></p>
        <p class="govuk-body"><a href="07-notification">Notification hub</a></p>

      
    
  
 


 <!-- tabs end -->

</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-2">
  <h2 class="govuk-heading-l">Part 2 -  Inspector</h2>
 
  
</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="part-3">
  <h2 class="govuk-heading-l">Part 3 - Control</h2>
 
 
</div>

</div>
   
{% endblock %}
