{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
      <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="navigation-links">
    <a href="/index" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>

    <div id="sign-out-section" class="information-banner">
      <p class="information-banner__content">
        <span>Percy-Inspector Tester</span>
        <span>|</span>
        <a class="govuk-link govuk-link--no-visited-state"
           id="address-book-link"
           href="/protected/notifications/address-book">
          Address book
        </a>
        <span>|</span>
        <a class="govuk-link govuk-link--no-visited-state"
           id="sign-out-link"
           href="/protected/logout">
          Sign out
        </a>
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}

<span class="heading-tertiary">DRAFT.GB.2023.2987635-CHEDD</span>
<div class="govuk-grid-row">
  <form class="form" action="/IMPtoCHEDD/contact-address" method="post">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Transport</span>
      <h1 class="govuk-heading-xl " id="page-primary-title">Transport to the port of entry</h1>
      <div class="govuk-!-width-one-half">
        <label class="govuk-label--s" for="port-name">
          Port of entry
        </label>
        <input class="govuk-input govuk-!-margin-bottom-5" id="port-name" name="event-name" type="text" aria-describedby="event-name-hint">

        <label class="govuk-label--s" for="event-name-1">
          Means if transport to port of entry
        </label>
        <select class="govuk-select govuk-!-margin-bottom-5" id="event-name-1" name="means" aria-label="Document type">
          <option value="">Select means of transport to port of entry</option>
          <option value="plane">Airplane</option>
          <option value="rail">Railway</option>
          <option value="road">Road vehicle</option>
          <option value="ship">Vessel</option>
        </select>

        <label class="govuk-label--s" for="identification">
          Identification
        </label>
        <p class="govuk-hint">Flight number, vessel name or vehicle registration</p>
        <input class="govuk-input govuk-!-margin-bottom-5" id="identification" name="id" type="text" aria-describedby="event-name-hint">

        <label class="govuk-label--s" for="event-name-2">
          Document
        </label>
        <p class="govuk-hint">Air Waybill, Bill of lading or ship manifest</p>
        <input class="govuk-input govuk-!-margin-bottom-5" id="event-name-2" name="manifest" type="text" aria-describedby="event-name-hint">

        <h2 class="govuk-heading-m">Estimated arrival at port of entry</h2>

        <div class="govuk-form-group ">
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-5">
            <legend class="hidden govuk-visually-hidden">Date entry:</legend>
            <span class="govuk-hint">For example, 15 8 2020</span>

            <div class="govuk-date-input" id="departure-date" data-module="accessible-datepicker">
              <div class="govuk-date-input__item date-input-day">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departure-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-day" id="departure-date-day" name="departure-date-day" type="text" maxlength="2" inputmode="numeric" value="21">
                </div>
              </div>
              <div class="govuk-date-input__item date-input-month">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departure-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 date-picker-month" id="departure-date-month" name="departure-date-month" type="text" maxlength="2" inputmode="numeric" value="06">
                </div>
              </div>
              <div class="govuk-date-input__item date-input-year">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departure-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4 date-picker-year" id="departure-date-year" name="departure-date-year" type="text" maxlength="4" inputmode="numeric" value="2023">
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="govuk-fieldset">
            <legend class="hidden govuk-visually-hidden">Time entry:</legend>
            <span class="govuk-hint">24 hour format, for example 14 50</span>
            <div class="govuk-date-input" id="departure-time">
              <div class="govuk-date-input__item date-input-hour">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departure-time-hour">
                    Hour
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="departure-time-hour" name="departure-time-hour" type="text" maxlength="2" inputmode="numeric" value="12">
                </div>
              </div>
              <div class="govuk-date-input__item date-input-minute">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departure-time-minutes">
                    Minutes
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="departure-time-minutes" name="departure-time-minutes" type="text" maxlength="2" inputmode="numeric" value="12">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="save-and-submit-buttons">
        <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="save-and-return-button" name="save-and-return-button" type="submit" value="Save and return to hub" data-module="govuk-button">
        <input class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-4" id="button-save-and-continue" name="button-save-and-continue" type="submit" value="Save and continue" data-module="govuk-button">
        <p class="govuk-body"><a class="govuk-link" href="/IMPtoCHEDD/check-answers">Cancel and return to hub</a></p>
      </div>
    </div>
  </form>
</div>


{% endblock %}
