
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
   

   
  
        

        <div class="govuk-!-padding-bottom-4">
          <h3 class="govuk-heading-l">Transit overrides - CHEDPP</h3>
          <p>Responsible UX: Graham Riley</p>           
          <p class="govuk-body"><a href="01-ac-05-purpose">Main reason for importing</a> &ndash; removed all radio options apart from internal market and re-entry. Removed MRN from internal market</p>
          <p class="govuk-body"><a href="11b-goods-movement-services">Goods movement services</a> &ndash; different to other cheds = control point on CTC question</p>
          <hr>
        </div>


       

    




   
{% endblock %}
