
{% extends "layout.html" %}

{% block pageTitle %}
Review your notification  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner" style="margin-top: -46px;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a rel="noopener noreferrer" class="govuk-link" id="link-feedback" target="_blank" href="/notification/vnet/feedback">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="navigation-links">
    <a href="07-check-answers" id="back-link" class="govuk-back-link back-link--next-to-breadcrumbs">Back</a>
  <div class="navigation-links__divider">|</div>
  <div class="govuk-breadcrumbs breadcrumbs--next-to-back">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="0-index">Dashboard</a>
      </li>
          
    </ol>
  </div>  <div id="sign-out-section" class="information-banner">
    <p class="information-banner__content">
      <span>Percy Hyseni</span>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="address-book-link" href="/notification/vnet/protected/notifications/address-book">
        Address book
      </a>
      <span>|</span>
      <a class="govuk-link govuk-link--no-visited-state" id="sign-out-link" href="/protected/logout">
        Sign out
      </a>
    </p>
  </div>
</div>
<table id="status-component" role="presentation" class="govuk-table govuk-!-margin-bottom-0">
  <tbody><tr class="divider-bottom govuk-table__row">
    <td class="govuk-table__cell">
        <strong class="govuk-tag tag tag--validated status-label" id="Status-Label">Valid</strong>
    </td>
  </tr>
</tbody></table>

<main id="main-content" class="govuk-main-wrapper">
  <div class="govuk-grid-row" id="certificate-overview-page">
    <div class="govuk-grid-column-full">
      <div>
        <form method="post" action="/decision/vnet/protected/bip-notifications/CHEDP.GB.2024.1097559/amend-lab-tests">
          <input name="crumb" type="hidden" value="Tp_QXV6zhd_uTWh3N9bBsbOw6q73wJ8aheOHXaA_Fen">
          <input name="etag" type="hidden" value="&quot;000000000023A6F0&quot;">
          <a rel="noopener noreferrer" href="/notification/vnet/protected/notifications/CHEDP.GB.2024.1097559/certificate/pdf" target="_blank" class="govuk-button govuk-button--secondary button-small govuk-!-margin-right-1" id="show-certificate">
            <span>Show notification</span>
          </a>
          <a rel="noopener noreferrer" href="/notification/vnet/protected/notifications/CHEDP.GB.2024.1097559/certificate/pdf" target="_blank" class="govuk-button govuk-button--secondary button-small govuk-!-margin-right-1" id="show-certificate">
            <span>Record control</span>
          </a>
                
        </form>
      </div>
      <h1 class="govuk-heading-xl ">
        
          <span class="heading-tertiary">
            <span id="reference-number">CHEDD.GB.2024.1097559</span>
              <span id="cved-version-number"> - V1</span>
          </span>
          
          <span class="govuk-caption-xl"></span>
          CHED overview
      </h1>
      
                
      <div class="audit-flag">
        <div id="last-submission-date">Submitted on: 26 January 2024, 11:29</div>
        <div id="submitted-by">Submitted by: Mark Admin-Tester</div>
        <div id="last-updated-date">Last updated: 26 January 2024, 11:31</div>
        <div id="last-updated-by">Last updated by: Mark Admin-Tester</div>
    </div>
    <div class="table-responsive">
      <table class="govuk-table presentation-table review-table govuk-!-margin-bottom-0" id="review-table-about-notification">
        <caption class="govuk-visually-hidden">
          Customs declaration reference and document code table
        </caption>
        <tbody>
        <tr class="presentation-table__row--no-border ">
          <th scope="row" class="govuk-table__header border-top-none">CHED reference</th>
          <td class="govuk-table__cell border-top-none" id="reference-number">CHEDD.GB.2024.1000014</td>
          <td class="govuk-table__cell change border-top-none">
            <button data-prevent-double-click="true" id="copy-notification-reference-number" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 copy-button" data-copy-value="CHEDD.GB.2024.1000014">
              Copy
            </button>
          </td>
        </tr>
        <tr class="presentation-table__section">
          <th scope="row" class="govuk-table__header">Customs declaration reference</th>
          <td class="govuk-table__cell" id="reference-number-customs">GBCHD2024.1000014</td>
          <td class="govuk-table__cell change">
            <button data-prevent-double-click="true" type="submit" id="copy-customs-declaration-reference-number" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 copy-button" data-copy-value="GBCHD2024.1000014">
              Copy
            </button>
          </td>
        </tr>
        <tr class="presentation-table__row--no-border-bottom">
          <th scope="row" class="govuk-table__header border-top-none">Customs document code</th>
          <td class="govuk-table__cell border-top-none" id="reference-number-document">C678</td>
          <td class="govuk-table__cell change border-top-none">
            <button data-prevent-double-click="true" type="submit" id="copy-customs-doc-code" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 copy-button" data-copy-value="C678">
              Copy
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You must use the correct reference and code on the customs declaration or your consignment will be delayed.
        </strong>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible section-break-margin">
    </div>
  </div>
</div>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#notification">
        Notification
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#checks">
        Checks
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="notification">
      <h2 class="govuk-heading-l govuk-!-margin-top-6">About the consignment</h2>
 
            <table class="govuk-table presentation-table review-table" id="review-table-about-notification" role="presentation">
              <tbody>
                <tr class="presentation-table__section">
                  <td class="govuk-table__header" id="import-risk-header">Import type</td>
                    <td>High risk food of non-animal origin</td>
                      <td class="govuk-table__cell change">
                       
                  </td>
                </tr>
                <tr class="presentation-table__section">
                  <td class="govuk-table__header">Responsible person</td>
                  <td class="govuk-table__cell" id="importing">Andrew Inspector-Tester</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                
                
                  <tr class="presentation-table__section">
                  
                  </tr>
                  <td class="govuk-table__header">Telephone</td>
                    <td class="govuk-table__cell">020 8225 7295
                    </td>
                  <tr>
                  </tr>
                  <td class="govuk-table__header">Email</td>
                    <td class="govuk-table__cell">DefraTestBIP@anthunt3.33mail.com
                    </td>
                  <tr>
                  </tr>
                  <td class="govuk-table__header">Organisation Name</td>
                    <td class="govuk-table__cell">Defra Test BIP
                    </td>
                  <tr>
                  </tr>
                  <td class="govuk-table__header">Organisation Address</td>
                    <td class="govuk-table__cell">Animal and Plant Health Agency, Woodham Lane, New Haw, Surrey, Addlestone, KT15 3NB
                    </td>
                    <tr class="presentation-table__section "></tr>
                    <tr class="govuk-table__row table--presentation"></tr>
                  
                    <tr class="presentation-table__section">
                      <td class="govuk-table__header">Country of origin</td>
                      <td class="govuk-table__cell" id="importing">Spain</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                  
                    <tr>
                    <td class="govuk-table__header">Country from where consigned</td>
                    <td class="govuk-table__cell">Spain
                      {% if (data['consigned-country'] == "same") %}
                        {{ data['origin-country'] }}
                      {% elif (data['consigned-country'] == "different") %}
                        {{ data['consigned-country-selected'] }}
                      {% endif %}
                    </td>
                    
                      
                    </td>
                    <td class="govuk-table__cell"></td>
                  
                  
                    <td class="govuk-table__cell">
                      {% if (data['conform-uk-regulations'] == "ncg") %}
                        No
                      {% elseif (data['conform-uk-regulations'] == "cg") %}
                        Yes
                      {% endif %}
                    </td>
                    <td class="govuk-table__cell"></td>
                
                  
                    <td class="govuk-table__cell"></td>
                  </tr>



                 
                    <tr>
                      <td class="govuk-table__header">Consignment reference number</td>
                      <td class="govuk-table__cell" id="region-of-consignment-value">
                        
                      </td>
                    <td class="govuk-table__cell"></td>
                  </tr>
          <tr class="govuk-table__row table--presentation">
                <tr class="presentation-table__section ">
                  <td class="govuk-table__header">Main reason for importing the consignment</td>
                  <td class="govuk-table__cell" id="purpose-of-consignment-value">
                    For internal market
                            </td>
                  <td class="govuk-table__cell change">
                        <a href="06-about-consignment-{{ data['conform-uk-regulations'] or "both" }}" class="govuk-link" id="consignment-purpose-change-link">
                          
                        </a>
                  </td>
                </tr>
            
 
              </tbody>
            </table>
      
      
      
        </tbody>
      </table>
      
      <div class="heading-with-change-link">
        <h2 class="govuk-heading-l">Description of the goods</h2>
          
      </div>
      
      
            <table class="govuk-table review-table govuk-!-margin-bottom-0" id="review-table-commodity-attributes-0" role="presentation">
              <tbody>
              <tr class="govuk-table__row table--presentation divider-top">
                <td class="govuk-table__header">Commodity code</td>
                <td class="govuk-table__cell">020110 </td>
                <td class="change govuk-table__cell badge-right">
            
                </td>
              </tr>
             
              </tbody>
            </table>
            <div class="table-responsive">
              <table class="govuk-table presentation-table data-table-commodities" id="review-table-consignment-0">
                <thead class="govuk-table__head">
                  <tr>
                    <th scope="col" class="govuk-table__header weight">Net weight</th>
                    <th scope="col" class="govuk-table__header packages">Packages</th>
                    <th scope="col" class="govuk-table__header package-type">Package type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class=" ">
                    <td class="govuk-table__cell">
                      1 kg/units
                    </td>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell">Box</td>
                  </tr>
                </tbody>
              </table>
            </div>
      
            <div class="table-responsive govuk-!-margin-bottom-9">
              <table class="govuk-table presentation-table review-table" role="presentation" id="review-consignment-details-table">
                <tbody>
            
            
                  <tr class=" ">
                    <td class="govuk-table__header">Total net weight</td>
                    <td class="govuk-table__cell" colspan="2">
                      1 kg/units
                    </td>
                  </tr>
            
                  <tr>
                    <td class="govuk-table__header">Total packages</td>
                    <td class="govuk-table__cell" colspan="2">
                      2
                    </td>
                  </tr>
            
            
                  <tr class="
                          
                          ">
                    <td class="govuk-table__header" id="gross-weight-header">Total gross weight </td>
                    <td class="govuk-table__cell" id="gross-weight">5 kg/units</td>
                      <td class="govuk-table__cell change">
                      </td>
                  </tr>
                </tbody>
              </table>
            </div> 
      
      
        <table class="govuk-table govuk-!-margin-top-3" id="review-table-consignment-details" role="presentation">
          <tbody>
          <tr class="govuk-table__row">
            <td class="govuk-table__row" colspan="3">
              <div>
              </div>
            </td>
          </tr>
            </tbody>
        </table>
      
        <div class="govuk-!-margin-bottom-9" id="additional-details-section">
          <div class="heading-with-change-link">
            <h2 class="govuk-heading-m" id="additional-details-heading">Additional details</h2>
          </div>
          <table class="govuk-table presentation-table review-table" role="presentation" id="review-additional-details-table">
            <tbody>
                <tr class="">
                  <td class="govuk-table__header">Commodity intended for</td>
                  <td class="govuk-table__cell" colspan="2">
                    Feedingstuff
                  </td>
                </tr>
              <tr class="">
                <td class="govuk-table__header">Temperature</td>
                <td class="govuk-table__cell" colspan="2">Ambient</td>
              </tr>
              <tr class="presentation-table__section">
                <td class="govuk-table__header">Imported in shipping containers or road trailers</td>
                <td class="govuk-table__cell" id="imported-in-containers" colspan="2">
                  No
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
      
      
      
      
      
      <h2 class="govuk-heading-l" id="documents-section-heading">
          Documents
      </h2>
        
      <table class="govuk-table govuk-!-margin-bottom-0" role="presentation">
        <tbody><tr class="govuk-table__row table--presentation">
            <td class="govuk-heading-m" id="chedp-additional-documents-heading">Showing 0 additional documents</td>
          <td class="change govuk-table__header badge-right">
          </td>
        </tr>
      </tbody></table>
      
        <div class="overflow-x-auto govuk-!-margin-bottom-8">
          <table class="govuk-table table--fixed review-additional-documents-table" id="accompanying-documents-table">
            <caption class="govuk-visually-hidden">Accompanying documents</caption>
            <thead>
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-!-width-one-quarter govuk-table__header">Document type</th>
                <th scope="col" class="govuk-!-width-one-quarter govuk-table__header">Document reference</th>
                <th scope="col" class="govuk-!-width-one-quarter govuk-table__header">Date of issue</th>
                <th scope="col" class="govuk-!-width-one-quarter govuk-table__header">Attachments</th>
              </tr>
            </thead>
            <tbody>
                <tr class="presentation-table__section">
                  <td class="govuk-table__cell" colspan="100%" id="additional-documents-none-attached">
                    No documents attached
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      
      
        
      
      
      <h2 class="govuk-heading-l">Traders</h2>
      
      
      
      
      <div class="table-responsive govuk-!-margin-bottom-9">
        <table class="govuk-table presentation-table review-table" id="review-table-traders" role="presentation">
          <tbody>
            <tr class="">
              <td class="govuk-table__header govuk-!-width-one-half">Consignor or exporter</td>
              <td class="govuk-table__cell" id="consignor">
                Produkty Mięsne Fm<br>
                San Martin 230, Piso 5 Dpto 8, Y0000HGH Villa Maria, Argentina
              </td>
              <td class="govuk-table__cell change">
                    <a href="14-addresses" class="govuk-link" id="traders-change-link">
                      
                    </a>
              </td>
            </tr>
            <tr class="">
              <td class="govuk-table__header govuk-!-width-one-half">Consignee</td>
              <td class="govuk-table__cell" id="consignee">
                ABC goods Ltd<br>
                112 Thiel Causeway, Apt. 388, Nevada, Grimesport, GM6 7BY, United Kingdom of Great Britain and Northern Ireland BHabc@gmail.com
              </td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="">
              <td class="govuk-table__header govuk-!-width-one-half">Importer</td>
              <td class="govuk-table__cell" id="importer">
                ABC goods Ltd<br>
                112 Thiel Causeway, Apt. 388, Nevada, Grimesport, GM6 7BY, United Kingdom of Great Britain and Northern Ireland BHabc@gmail.com</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="">
              <td class="govuk-table__header govuk-!-width-one-half">
                Place of Destination
              </td>
              <td class="govuk-table__cell" id="final-destination">
                ABC goods Ltd<br>
                112 Thiel Causeway, Apt. 388, Nevada, Grimesport, GM6 7BY, United Kingdom of Great Britain and Northern Ireland BHabc@gmail.com BHabc@gmail.com
              </td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      
      <h2 class="govuk-heading-l">Transport</h2>
        <div class="heading-with-change-link">
          <h2 class="govuk-heading-m" id="transport-to-bcp">Transport to the port of entry</h2>
        </div>
     
        <div class="table-responsive govuk-!-margin-bottom-9">
          <table class="govuk-table review-table presentation-table" id="review-table-bip-details" role="presentation" style="border-top: 0;">
            <caption class="govuk-visually-hidden">Summary of transport to the port of entry</caption>

            <tbody>
              <tr class="">
                <th scope="row" class="govuk-table__header">Port of entry</th>
                <td class="govuk-table__cell">Southampton - GBSOU1</td>
              </tr>
              <tr class="">
                <th scope="row" class="govuk-table__header">Means of transport to port of entry</th>
                <td class="govuk-table__cell">Vessel</td>
              </tr>                      
              <tr class="">
                <th scope="row" class="govuk-table__header">Transport identification</th>
                <td class="govuk-table__cell">4322</td>
              </tr>
              <tr class="">
                <th scope="row" class="govuk-table__header">Transport document reference</th>
                <td class="govuk-table__cell">SHP-6893598ADR</td>
              </tr>
              <tr class="">
                <th scope="row" class="govuk-table__header">Using the Goods Vehicle Movement Service (GVMS)</th>
                <td class="govuk-table__cell">{{ data['gvms'] }}</td>
              </tr>
              <tr class="">
                <th scope="row" class="govuk-table__header">Estimated arrival date at port of entry</th>
                <td class="govuk-table__cell">26 August 2023</td>
              </tr>
                <tr class="">
                  <th scope="row" class="govuk-table__header">Estimated arrival time at port of entry</th>
                  <td class="govuk-table__cell">11:00</td>
                </tr>
              </tbody>
            <!-- <tbody>
              <tr>
           
              <th scope="row" class="govuk-table__header">Entry border Control Post</th>
            
              <td class="govuk-table__cell change"> <a href="11-transport-to-poe" class="govuk-link" id="transport-to-bip-change-link">
                Change
              </a></td>
            </tr>
            <tr >
              <th scope="row" class="govuk-table__header">Means of transport to the BCP</th>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr >
              <th scope="row" class="govuk-table__header">Identification</th>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Document</th>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr >
              <th scope="row" class="govuk-table__header">Estimated arrival date at BCP</th>
              <td class="govuk-table__cell"></td>
            </tr>
              <tr >
                <th scope="row" class="govuk-table__header">Estimated arrival time at BCP</th>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody> -->
          </table>
        <!-- </div>
        <div class="table-responsive govuk-!-margin-bottom-9"> -->
     
        </div>


       
      
        <h2 class="govuk-heading-l">Contacts</h2>
        <div class="heading-with-change-link">
          <h2 class="govuk-heading-m">Contact details</h2>
        </div>
        
        <div class="govuk-!-margin-bottom-9 table-responsive">
          <table class="govuk-table presentation-table govuk-!-margin-0" id="responsible-person-contact-details-table" role="presentation">
            <tbody>
            <tr>
              <td class="govuk-table__header govuk-table__header--half">Name</td>
              <td class="govuk-table__cell" id="responsible-contact-name">
                Andrew Inspector-Tester
              </td>
            </tr>
            <tr>
              <td class="govuk-table__header govuk-table__header--half">Email address</td>
              <td class="govuk-table__cell break-word" id="responsible-contact-email">
                defratestbip@anthunt3.33mail.com
              </td>
            </tr>
            <tr>
                <td class="govuk-table__header govuk-table__header--half">Phone number</td>
              <td class="govuk-table__cell" id="responsible-contact-telephone">
                020 8225 7295
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="heading-with-change-link">
          <h2 class="govuk-heading-m">Nominated contacts</h2>
        </div>
        
        <div class="govuk-!-margin-bottom-9 table-responsive">
          <table class="govuk-table presentation-table govuk-!-margin-0" id="nominated-contacts-table">
            <caption class="govuk-visually-hidden">Summary of nominated contacts</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col" id="name-header">Name</th>
              <th class="govuk-table__header" scope="col" id="email-header">Email address</th>
              <th class="govuk-table__header" scope="col" id="phone-header">Mobile number</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" id="nominated-contact-name-0">
                  Maher
                </td>
                <td class="govuk-table__cell break-word" id="nominated-contact-email-0">
                  m.askary@kainos.com
                </td>
                <td class="govuk-table__cell" id="nominated-contact-telephone-0">
                  07440311981
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
        <h2 class="govuk-heading-m govuk-!-margin-top-9" id="contact-address-for-consignment-header">Contact address for consignment</h2>
        
        <div class="table-responsive">
          <table class="govuk-table presentation-table review-table" id="review-table-organisation-address">
            <caption class="govuk-visually-hidden">Contact address for consignment</caption>
            <tbody>
            <tr class="govuk-table__row ">
              <th scope="row" class="govuk-table__header">Contact address</th>
              <td class="govuk-table__cell" id="organisation-branch-address-address">
                Animal and Plant Health Agency, Woodham Lane, New Haw, Surrey, Addlestone, KT15 3NB
              </td>
              <td class="govuk-table__cell change">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      
        <table class="govuk-table presentation-table review-table">
          <caption class="govuk-table__caption govuk-heading-m">
            Submission information
          </caption>
          <tbody>
            <tr class="govuk-table__row divider-top">
              <th scope="row" class="govuk-table__header">Notification submitted by</th>
              <td class="govuk-table__cell" id="submitted-by">Andrew Inspector-Tester</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Submission date</th>
              <td class="govuk-table__cell" id="submission-date"> 12 January 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Submission time</th>
              <td class="govuk-table__cell" id="submission-time">11:33</td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="checks">
    <table class="govuk-table presentation-table" id="reference-table" role="presentation">
      <tbody>
        <tr class="govuk-table__row" id="reference-row-1">
          <td class="govuk-table__header govuk-table__header--half">Border Control Post reference number</td>
          <td class="govuk-table__cell" id="bip-local-reference-number">1212</td>
        </tr>
      </tbody>
    </table>
    
    
    
    <h2 class="govuk-heading-m">Checks</h2>
    <table class="govuk-table presentation-table" id="checks-table" role="presentation">
      <tbody>
              <tr class="govuk-table__row checks-row-0" id="parttwo/consignmentcheck">
              <td class="govuk-table__header govuk-table__header--half">Documentary check</td>
              <td class="govuk-table__cell">Satisfactory</td>
              <td class="govuk-table__cell"></td>
            </tr>
                <tr class="govuk-table__row checks-row-1" id="consignmentcheck/identitycheckresult">
              <td class="govuk-table__header govuk-table__header--half">Full identity Check</td>
              <td class="govuk-table__cell">Satisfactory</td>
              <td class="govuk-table__cell"></td>
            </tr>
                <tr class="govuk-table__row checks-row-2" id="consignmentcheck/physicalcheckresult">
              <td class="govuk-table__header govuk-table__header--half">Physical check</td>
              <td class="govuk-table__cell">Satisfactory</td>
              <td class="govuk-table__cell"></td>
            </tr>
      </tbody>
    </table>
    
    <h2 class="govuk-heading-m">Seal numbers</h2>
    <table class="govuk-table presentation-table" role="presentation">
        <tbody>
          <tr class="govuk-table__row" id="seal-numbers-row-1">
            <td colspan="3" class="govuk-table__header">No new seal numbers have been entered</td>
          </tr>
        </tbody>
    </table>
    
    <h2 class="govuk-heading-m">Laboratory tests</h2>
    <table class="govuk-table presentation-table" id="review-table-lab-tests" role="presentation">
      <tbody>
            <tr class="govuk-table__row lab-test-required" id="parttwo/laboratorytestsrequired">
              <td class="govuk-table__header govuk-table__header--half">Required</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row lab-test-reason" id="parttwo/laboratorytests/testreason">
              <td class="govuk-table__header govuk-table__header--half">Reason</td>
              <td class="govuk-table__cell">Random</td>
            </tr>
                <tr class="govuk-table__row presentation-table__section" id="laboratory-test-analysis-type-0">
                  <td class="govuk-table__header govuk-table__header--half">Analysis type</td>
                  <td class="govuk-table__cell">Second expert analysis</td>
                </tr>
                <tr class="govuk-table__row " id="laboratory-test-commodity-code-sampled-0">
                  <td class="govuk-table__header govuk-table__header--half">Commodity code</td>
                  <td class="govuk-table__cell">02041000</td>
                </tr>
                <tr class="govuk-table__row " id="laboratory-test-commodity-name-sampled-0">
                  <td class="govuk-table__header govuk-table__header--half">Commodity description</td>
                  <td class="govuk-table__cell">Carcases and half-carcases of lamb, fresh or chilled</td>
                </tr>
                <tr class="govuk-table__row " id="laboratory-test-commodity-species-sampled-0">
                  <td class="govuk-table__header govuk-table__header--half">Species</td>
                  <td class="govuk-table__cell">Ovis aries</td>
                </tr>
                <tr class="govuk-table__row " id="laboratory-test-name-0">
                  <td class="govuk-table__header govuk-table__header--half">Laboratory test</td>
                  <td class="govuk-table__cell">.AMINOGLYCOSIDE/AMINOSIDE</td>
                </tr>
                <tr class="govuk-table__row " id="sample-date-0">
                  <td class="govuk-table__header govuk-table__header--half">Sample date</td>
                  <td class="govuk-table__cell">26 January 2024</td>
                </tr>
                <tr class="govuk-table__row " id="sample-time-0">
                  <td class="govuk-table__header govuk-table__header--half">Sample time</td>
                  <td class="govuk-table__cell">11:30</td>
                </tr>
                <tr class="govuk-table__row " id="laboratory-test-conclusion-0">
                  <td class="govuk-table__header govuk-table__header--half">Conclusion</td>
                  <td class="govuk-table__cell">Satisfactory</td>
                </tr>
      </tbody>
    </table>
    
    <h2 class="govuk-heading-m">Accompanying documents</h2>
    <h5 class="govuk-heading-s">Additional documents</h5>
    <div class="table-responsive">
      <table class="govuk-table table--fixed review-additional-documents-table" id="accompanying-documents-table">
        <thead>
          <tr class="govuk-table__row">
            <th class="govuk-!-width-quarter govuk-table__header">Document type</th>
            <th class="govuk-!-width-quarter govuk-table__header">Document reference</th>
            <th class="govuk-!-width-quarter govuk-table__header">Date of issue</th>
            <th class="govuk-!-width-quarter govuk-table__header">Attachments</th>
          </tr>
        </thead>
      </table>
    </div>
    <table class="govuk-table presentation-table review-table" id="decision-table">
      <caption class="govuk-table__caption govuk-heading-m">
        Decision information
      </caption>
      <tbody>
        <tr class="govuk-table__row" id="decision-row-1">
          <th id="decision" scope="row" class="govuk-table__header">Decision result</th>
          <td class="govuk-table__cell" id="acceptance-decision">Acceptable for internal market</td>
          <td></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Decision recorded by</th>
          <td class="govuk-table__cell check-status">Mark Admin-Tester</td>
          <td></td>
        </tr>
          <tr class="govuk-table__row">
            <th id="decision_date" scope="row" class="govuk-table__header">Decision recorded date</th>
            <td id="official-veterinarian-date" class="govuk-table__cell check-status">26 January 2024</td>
            <td></td>
          </tr>
          <tr class="govuk-table__row">
              <th id="decision_recorded_time" scope="row" class="govuk-table__header">Decision recorded time</th>
            <td id="official-veterinarian-time" class="govuk-table__cell check-status">01:01</td>
            <td></td>
          </tr>
          <tr class="govuk-table__row">
            <th id="declaration_date" scope="row" class="govuk-table__header">Declaration date</th>
            <td class="govuk-table__cell check-status">26 January 2024</td>
            <td></td>
          </tr>
            <tr class="govuk-table__row" id="decision-row-2">
              <th id="consignment_use_2" scope="row" class="govuk-table__header">Consignment use</th>
              <td class="govuk-table__cell">Animal feeding stuff</td>
              <td></td>
            </tr>
      </tbody>
    </table>
  </div>
</div>
      

  
          
          
    </div>
  </div>
</main>
      
      {% endblock %}
