{% extends "layout.html" %}

{% block pageTitle %}
How do you want to add your commodity details? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.html" %}
    {% include "includes/back.html" %} 
{% endblock %}

{% block content %}


<main class="govuk-main-wrapper" id="main-content">
 
  
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Health certificate not found</h2>
    <p class="govuk-body">Check the health certificate number and country of origin are correct.</p>

  

      <a class="govuk-button button-margin-right" href="01-cl-01">Search for health certificate</a>

      <a class="govuk-button" href="../v4/01-01-ched-type">Create a new notification</a>
  </div>

</main>

{% endblock %}
