
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    <a  href="/index" id="back-link" class="govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-back-link back-link--next-to-breadcrumbs">Back to prototypes home</a>
    </div> </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
 
  
        <h3  class="govuk-heading-l">CR38:Single CHED-P January 2024 - Part 2</h3>
        <p class="govuk-body"><a href="/chedp/2024-cr38-part-2/00-dashboard">Dashboard</a></p>
        <p class="govuk-body"><a href="/chedp/2024-cr38-part-2/01-hp-outstanding-documentry-check">High priority task tabs</a></p>
        <p class="govuk-body"><a href="/chedp/2024-cr38-part-2/01-notification-overview-spain">Notification overview</a></p>
        <hr>
        


   
</div>

</div>
   
{% endblock %}
